body{margin:0;line-height:1;font-family: sans-serif; -webkit-text-size-adjust: 100%;}
a{text-decoration:none;}
a:link, a:visited, a:hover, a:active, a:focus {text-decoration:none;}
ul, ol, li,dl,dt,dd{list-style:none;padding:0;margin:0;}
fieldset{border:0;padding:0;margin:0;}
h1, h2, h3, h4, h5, h6, p{margin:0;font-weight:normal;}
input, textarea, button, select, option, {line-height:1;font-family: sans-serif;border:0;outline:0;background:none;font-size: 13px;}
table{border-collapse:collapse;border-spacing:0;}
img{border:none}
textarea{resize: none;}
caption{visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0;}
a{color:#666;}

/* card type 에 영향이 있어 주석처리 20160713 이인경
*, *:before, *:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
*/
.hide{visibility:hidden;overflow: hidden; position:absolute; width:0; height:0; margin:0 !important; padding:0 !important; font-size: 0 !important;}
.wrapper{/*background:#e0e0e0;l*/letter-spacing:-0.5px;font-size: 13px;min-height: 100%;}
.container{position: relative;width:100%;z-index: 0;}

.header{width:100%;min-height:45px;background:#fff;}
.header .logo{display:inline-block;}
.header .logo:after{content:'';display: inline-block;vertical-align: middle;width: 10px;height: 6px;background: url('../images/drop_menu.png') no-repeat;background-size: 100%;}
.header .logo h1{display:inline-block;width:109px;height:45px;padding:0 13px;vertical-align: middle;}
.header .logo img{width:100%;vertical-align:top;margin-top:15px;}
.header .gnbBtn,
.header .searchBtn,
.header .bagBtn{position:absolute;top:0;height:45px;}
.header .gnbBtn{ right:0;width:45px;background:url("../images/ico_gnb_btn.png") no-repeat center center;background-size:18px;}
.header .searchBtn{ display:block;right:0;width:45px;background:url("../images/ico_gnb_btn.png") no-repeat 14px 15px;background-size:18px;}
.header .searchBtn span.cancelBtn {display:none;}
.header .searchBtn.open {z-index:10; background:none;}
.header .searchBtn.open,
.login .header .searchBtn.open {top:13px;right:15px;}
.header .bagBtn{display:none;right:0;width:34px;background:url("../images/ico_bag.png") no-repeat center center;background-size:18px;}
.header .bagBtn span{padding-top:21px;text-align:center;display:block;color:#ff463b;font-weight:bold;font-size:11px;}
.login .header .bagBtn{ display:block; }

.is-scrolling .header {position:fixed; top:0; z-index:90; opacity: 0.96; background:#fff;}
.is-scrolling .fixWrap {position:fixed; z-index:90; top:45px; opacity: 0.96; border-bottom:1px solid #ccc; background:#fff;}
.fixWrap {width:100%; position:relative;}
.is-scrolling .myCartTotal,
.is-scrolling .btmFix {position:fixed; bottom:0; left:0; z-index:10;}

.gnb{overflow: auto;position:fixed;right:-300px;top:0;bottom:0;height: 100%;z-index:91;width:300px;height:100%;background:#fff;display:block;}
.gnb .topArea{position:relative;}
.gnb .userBox{text-align:center;padding-top:25px;background:#ff466c;}
.gnb .userBox .thumb{width:60px;height:60px;display:inline-block;overflow:hidden;border-radius:100%;}
.gnb .userBox .thumb img{width:100%;height:100%;vertical-align:top;}
.gnb .userBox p{position:relative;line-height:1.4em;}
.gnb .userBox .thumb + p{margin-top: 5px;color:#fff;font-size:15px;font-weight:bold;}
.gnb .userBox .thumb + p em{font-style: normal}
.gnb .userBox .thumb + p + p{color:#ffa6b8;font-size:12px;}

.gnb .myCommon{position:relative;height:86px;background:url("../images/bg_gnb.png") no-repeat 0 0;background-size:100%;text-align:center;}
.gnb .myCommon .downBtn{position:absolute;left:50%;bottom:0;margin-left:-18px;width:36px;height:41px;display:block;background:url("../images/ico_down_btn.png") no-repeat 0 0;background-size:100%;}

.gnb .myBtn{position:absolute;left:50%;top:211px;z-index:5;background:#ff466c;text-align:center;margin-left:-70px;width:140px;height:25px;display:inline-block;border:1px solid #fff;border-radius:17px;text-align:center;}
.gnb .myBtn span{display:block;padding-top:6px;color:#fff;}
.gnb .myBtn.btnMypage {top:230px;margin-left:-50px;width:102px; }

.menuhWrap{-webkit-overflow-scrolling:touch; overflow: auto;position: fixed;top: 0;width: 100%;height: 100%;background: rgba(0,0,0,.9) url('../images/bg_menu.png') no-repeat;background-size: cover;z-index: 1}
.menuhWrap .btnClose{z-index: 1;position:absolute;top:13px;right:15px;display: block;width:37px;height: 42px;font-size: 0;background: url('../images/close.png') no-repeat;background-size: 100%;}
.menuhWrap .btmArea{padding:30px 25px;}
.menuhWrap .colMenu li a{height:40px;line-height:40px;display:block;font-size:14px;letter-spacing:-1px;color:#fff;}
.menuhWrap .colMenu li a em{margin-right: 5px;font-size: 35px;color: #fff;}
.menuhWrap .colMenu li:nth-child(1) a{color: #c19d7d}
.menuhWrap .colMenu li:nth-child(2) a{color: #f0b7fe;margin-top: 30px;}
.menuhWrap .colMenu li:nth-child(3) a{color: #fab19e}
.menuhWrap .colMenu li:nth-child(4) a{color: #b9cafa}
.menuhWrap .colMenu li:nth-child(5) a{color: #b7e3d2;margin-top: 30px;}
.menuhWrap .colMenu li:nth-child(6) a{color: #fdb0b0}
.menuhWrap .colMenu li:nth-child(7) a{color: #ffe9cf}
.menuhWrap .colMenu li:nth-child(8) a{color: #a4dbe6}

.menuhWrap .rowMenu{margin-top: 30px;}
.menuhWrap .rowMenu li a{height:40px;line-height:40px;display:block;color:#fff;font-size:15px;}

.gnb .topMenu{padding:35px 15px 0;padding-bottom: 15px;background:#ff466c;}
.gnb .topMenu ul:after{content:"";display:block;clear:both;}
.gnb .topMenu ul li{position:relative;width:20%;float:left;text-align:center;}
.gnb .topMenu ul li:after{position:absolute;left:-1px;top:5px;content:"";display:block;width:1px;height:30px;background:#eb4466;}
.gnb .topMenu ul li:first-child:after{display:none;}
.gnb .topMenu ul li:last-child a{letter-spacing:-1px;}
.gnb .topMenu ul li a{position:relative;height:42px;display:block;color:#fff;font-size:12px;}
.gnb .topMenu ul li a:before{content:"";width:25px;height:18px;overflow:hidden;display:inline-block;}
.gnb .topMenu ul li a span{display:block;padding-top:6px;}
.gnb .topMenu ul li a i{position:absolute;left:29px;top:-6px;width:16px;height:16px;display:block;background:url("../images/ico_n02.png") no-repeat 0 0;background-size:100%;}

.gnb .topMenu ul li:nth-child(1) a:before{background:url("../images/ico_gnb_top.png") no-repeat 5px 0;background-size:127px;}
.gnb .topMenu ul li:nth-child(2) a:before{background:url("../images/ico_gnb_top.png") no-repeat -21px 0;background-size:127px;}
.gnb .topMenu ul li:nth-child(3) a:before{background:url("../images/ico_gnb_top.png") no-repeat -45px 0;background-size:127px;}
.gnb .topMenu ul li:nth-child(4) a:before{background:url("../images/ico_gnb_top.png") no-repeat -71px 0;background-size:127px;}
.gnb .topMenu ul li:nth-child(5) a:before{background:url("../images/ico_gnb_top.png") no-repeat -102px 0;background-size:127px;}

.hiddenMenu{padding:50px 20px 0 20px;background:#ff466c;display:none;}
.hiddenMenu.active{display:block;}
.hiddenMenu ul li{border-top:1px solid #ffb5c4;}
.hiddenMenu ul li:first-child{border-top:0;}
.hiddenMenu ul li:nth-child(2),
.hiddenMenu ul li:nth-child(4),
.hiddenMenu ul li:nth-child(6){border-color:#ff597b;}
.hiddenMenu ul li a{height:45px;line-height:45px;display:block;color:#fff;background:url("../images/ico_gnb_arrow.png") no-repeat right center;background-size:8px;font-size:15px;}
.hiddenMenu ul li a span{display:block;}
.hiddenMenu ul li a span:first-child{float:left;}
.hiddenMenu ul li a span:last-child{float:right;padding-right:26px;}
.hiddenMenu ul li a span.off{color:#ff7895;}
.gnb .closeBtn{position:absolute;top:0;right:0;width:45px;height:45px;display:block;background:url("../images/ico_gnb_close.png") no-repeat center center;background-size:16px;}

.gnb.acitve{display:block !important;}
.container.fix{position:fixed;left:0;top:45px;}
.header.fix{position:fixed;left:0;top:0;}
.dimBg{position:fixed;left:0;top:0;right:0;z-index:9;width:100%;height:100%;background:#000;opacity:0.5;}

.gnbWrap{padding: 10px;}
.searchWrap{padding: 10px 0;}
.searchWrap .searchForm{position: relative;padding-right: 32px;margin-bottom: 13px;}
.searchWrap #keyword{width: 100%;height: 30px;padding: 7px 10px;border:0;background: #f3f3f3;font-size: 13px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.searchWrap .btnSearch{position: absolute;top:0;right: 0;width: 32px;height: 30px;border:0;background: #2d427a url('../images/ico_search_on.png') center no-repeat;background-size: 13px;font-size: 0;}
.searchWrap .keyword{padding-bottom: 15px;text-align: center;}
.searchWrap .keywordList{overflow: hidden;text-align: left;}
.searchWrap .keywordDel{display: inline-block;margin:0 auto;padding:0 10px;background: #f3f3f3;border-radius: 13px;line-height: 25px;}
.searchWrap .keywordDel:before{content:'';display: inline-block;vertical-align: middle;width: 10px;height: 10px;margin-right: 10px;background: url('../images/ico_close.png') no-repeat;background-size: 100%;}

.gnbWrap .slidWrap{border-bottom: 1px solid #ccc}

.gnbWrap .btnToggle{position: relative;display: block;line-height: 45px;font-size: 15px;color: #333;}
.gnbWrap .btnToggle:after{content: '';position: absolute;right: 6px;top: 19px;width: 10px;height: 6px;background: url('../images/ico_toggleL.png') no-repeat 0 -6px;background-size: 100%;}
.gnbWrap .btnToggle.open:after{background-position:0 0 }
.gnbWrap .slideCon{overflow: hidden;}
.gnbWrap li{width: 50%;float: left;line-height: 35px;font-size: 13px;color:#666;}

.gnb .stateArea ul{overflow:hidden;}
.gnb .stateArea ul li a{height:45px;padding-left:40px;line-height:45px;display:block;color:#666;}
.gnb .stateArea ul li:nth-child(1) a{background:url("../images/ico_tel.png") no-repeat 20px center;background-size:14px;}
.gnb .stateArea ul li:nth-child(2) a{background:url("../images/ico_logout.png") no-repeat 20px center;background-size:14px;}


.wrap {background:#fff; overflow:hidden;}
.wrapT {padding:25px 15px; background:#fff; overflow:hidden;}
.wrapT + .wrapT,
.wrapT + .myWrap,
.myWrap + .wrapT,
.wrapT + p.setTit,
.listWrap + .listWrap {margin-top:10px;}
.myWrap {padding:0 15px; background:#fff; overflow:hidden;}
.myWrap + .myWrap {margin-top:10px;}
.wrapT.listWrap,
.myWrap.listWrap {padding:0; overflow:hidden; background:transparent;}
