.mt20 {margin-top:20px;}
.mt30 {margin-top:30px;}
.mt40 {margin-top:40px;}

.t_r {text-align:right}
.t_l {text-align:left;}

.checkAgree label{display:inline-block;font-size: 16px;color: #000;}
.checkAgree input[type="checkbox"] {position: absolute;opacity: 0;width:25px;height:24px;margin:0;padding:0;z-index:-1}
.checkAgree label:before{content: '';display: inline-block;width: 25px;height: 24px;background: #ccc url('../images/ico_check.png') no-repeat center;border-radius: 50%;vertical-align: middle;}
.checkAgree label.on:before{background-color: #a9c700}

.arrayWrap{clear: both;height: 37px;}
.arrayWrap .arrayDrop{position: relative;overflow: hidden;display: inline-block;height: 37px;border-radius: 10px;background:#fff;box-shadow:0px 3px rgba(0,0,0,0.12)}
.arrayWrap .arrayDrop:after{content:'';position: absolute;top: 15px;right: 10px;width:12px;height:8px;background:url('../images/ico_lnb.png') no-repeat;}
.arrayWrap .arrayDrop li{width: 100%;height:100%;}
.arrayWrap .arrayDrop li a{display: block;padding:12px 40px 12px 15px;color:#666;font-size: 13px;}
.arrayWrap .arrayDrop.arrayCount{float: right;}

.bx-wrapper .bx-controls-direction a{position: absolute;top:50%;margin-top:-29px;height: 58px;background: url('../images/ico_slide_nav.png') no-repeat;font-size: 0;}
.bx-wrapper .bx-controls-direction .bx-next{background-position: -32px 0}

.record.record03 th, .my .record.record03 td {padding:20px 0;}
.record.record03 td.recordInfo {padding:20px 0 20px 10px;}
.record.record03 .recordThumb {float:right;}
.record.record03 .orderState {padding:20px}

.wrapper .tableStyle02{text-align: left;border-top: 1px solid #e8e8e8}
.wrapper .tableStyle02 th{padding:15px 35px;background: #f7f7f7;border-bottom: 1px solid #e8e8e8;color: #000;}
.wrapper .tableStyle02 td{padding:15px 20px;border-bottom: 1px solid #e8e8e8}
.wrapper .tableStyle02 .wrapScroll{display: block;padding:30px 20px;}
.wrapper .tableStyle02 .popScroll{max-height: 440px;margin-top:0;}
.wrapper .tableStyle02 .popScroll img{display: block;max-width: 100%;}
.wrapper .tableStyle02 .bar:before{content: '';display: inline-block;width: 1px;height: 10px;margin: 0 7px;background: #999;vertical-align: middle;}
.wrapper .tableStyle02 .tag{height: 36px;overflow: hidden;}
.wrapper .tableStyle02 .tag li{display: inline-block;margin-left: 5px;}
.wrapper .tableStyle02 .tag li:first-child{margin:0;}
.wrapper .tableStyle02 .tag a{display: block;padding:0 20px;line-height: 34px;border-radius: 17px;border:1px solid #d1d1d1;color: #666;}

.grade{display: inline-block;position: relative;height: 27px;background: url('../images/ico_star.png') no-repeat 0 -27px;}
.grade span{position: absolute;top:0;left: 0;display: block;height: 100%;background: url('../images/ico_star.png') no-repeat}
.grade span.grade01{right: 112px}
.grade span.grade02{right: 84px}
.grade span.grade03{right: 56px}
.grade span.grade04{right: 28px}
.grade span.grade05{right: 0}
.grade span.grade15{right: 126px}
.grade span.grade25{right: 98px}
.grade span.grade35{right: 70px}
.grade span.grade45{right: 42px}


a.pointLink {color:#f1645c;text-decoration:underline;}
/* tab */
.scrollWrap{overflow-x: auto;}
.scrollWrap li{float: left;}
.tabType01{background: #f6f6f6;box-shadow: 0px 3px 5px rgba(0,0,0,0.1);}
.tabType01 ul{height: 49px;overflow: hidden;}
.tabType01 li{text-align: center;}
.tabType01 a{position: relative;display: block;padding: 0 25px;color: #333;font-family:'RobotoL','NotoSansL', sans-serif;font-size: 13px;line-height: 49px;}
.tabType01 .on a{color: #000;font-family:'RobotoM','NotoSansM', sans-serif;}
.tabType01 .on a:after{content: '';position: absolute;left:0;bottom: -2px;width: 100%;height: 3px;background: #a9c700}

.tabType02{overflow: hidden;margin:0 auto;border-radius: 10px 10px 0 0;border:1px solid #e3e3e3;border-bottom: 0;}
.tabType02 li{position: relative;float: left;background: #f7f7f7;text-align: center;border-bottom: 2px solid #333;}
.tabType02 .on{background: #fff;border-bottom:0;}
.tabType02 a{display: block;width:100%;padding:15px 0;color: #666;font-family:'RobotoM','NotoSansM', sans-serif;font-size: 20px;}
.tabType02 .on:before{content: '';position: absolute;top: 0;left: 0;right:0;height: 100%;border:2px solid #333;border-radius: 0 10px 0 0}
.tabType02 .on:first-child:before{border-radius: 10px 0 0 0}
.tabType02 .on a{color: #333;}

/* button */
.btnWrap{text-align: center;}
a[class^="btnSize"], .btn{display: inline-block;padding:0 20px;color: #fff;outline: 0;border: 0;font-family: 'RobotoM','NotoSansM', sans-serif;text-align: center;}

.btnSizeS{height:25px;font-size: 14px;border-radius: 13px;line-height: 25px;}
.btnSizeM{height:35px;font-size: 14px;border-radius: 17px;line-height: 35px;}
.btnSizeL{height:40px;font-size: 20px;border-radius: 20px;line-height: 40px;}

.btnColor01{background:#a9c700} /*green*/
.btnColor02{background:#f1645c} /*red*/
.btnColor03{background:#999} /*light grey*/
.btnColor04{background:#666} /*dark grey*/

.btnborder01{border:1px solid #e3e3e3;color: #666;} /*border*/
.btnShadow{box-shadow: 0px 2px rgba(0,0,0,0.1);}

.loginSns{color: #666;border:1px solid #e3e3e3;}
.loginSns:before{content: '';display: inline-block;height: 18px;border-right: 1px solid #c2c2c2;margin-right:20px;background: url('../images/ico_login.png') no-repeat;vertical-align: middle;}
#loginN:before{background-position: -35px 0}
#loginKs:before{background-position: -70px 0}

/* form */
.formWrap{margin:60px auto 0;font-size: 14px;font-family:'RobotoM','NotoSansM', sans-serif;color: #999;}
.formWrap b{color: #f1645c}
.formWrap .alert{/*display: none;*/color: #f1645c}
.formWrap .subTxt{display: block;width: 100%;}
.inputWrap{line-height: 60px;} 
.inputWrap01{margin-top:30px;}
.inputWrap label{display: inline-block;text-align: left;margin-right: 20px;color: #000;font-size: 16px;}
.inputWrap label strong{color: #999;}

.formList > li{overflow: hidden;border-bottom:1px solid #e8e8e8;}
.formList .inputTit{display: inline-block;margin-right: 25px;padding: 25px 40px;vertical-align: middle;background: #f7f7f7;font-size: 16px;color: #000}
.formList  select{padding: 10px 10px;border:1px solid #d6d6d6; border-radius: 7px;color: #999;}
.formList .joinBirth{margin-right:15px;}
.formList .birth .inputTit{float: left;padding: 25px 40px 50px;}
.formList .birth > div{float: left;margin:10px 0;}
.formList .birth .note{display: block;margin-top:15px;}

.container input[type="checkbox"]{position: absolute;opacity: 0;top:0;left: -20px;}
.container input[type="text"], .container input[type="password"], .container input[type="email"]
{width:100%;padding: 8px;border:1px solid #d6d6d6; border-radius: 7px;color: #999;font-size: 13px;line-height: 35px;}

.radioBox{position: relative;line-height: 30px;}
.radioBox input{position: absolute;opacity: 0;left: 0;}
.radioBox label:before{content: '';display: inline-block;height: 18px;margin-right:5px;background: url('../images/ico_radio.png') no-repeat;vertical-align: middle;}
.radioBox label.on:before{background-position: 0 -18px;}

.checkWrap{padding: 10px 0 35px;border-bottom: 1px solid #e8e8e8;}
.checkbox {position: relative;margin-top:18px;}
.checkbox label{font-size: 16px;color: #000;}
.checkbox label:before{content: '';display: inline-block;height: 24px;margin-right: 10px;background: #ccc url('../images/ico_check.png') no-repeat center;border-radius: 50%;vertical-align: middle;}
.checkbox label.on:before{background-color: #a9c700}


.listSquare{font-family:'RobotoM','NotoSansM', sans-serif;font-size: 14px;}
.listSquare li{position: relative;margin-top:8px;padding-left: 10px;line-height: 1.3em;}
.listSquare li:first-child{margin:0;}
.listSquare li:before{content: '';position: absolute;top: 5px;left: 0;height: 2px;background: #999;}
