/* 공통 css */

.mt0 {margin-top:0 !important;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mt25 {margin-top:25px;}
.mt30 {margin-top:30px;}
.mt40 {margin-top:40px;}
.mb0 {margin-bottom:0 !important;}
.mb15 {margin-bottom:15px;}
.ml4 {margin-left:4px;}

.pt0{padding-top:0 !important;}
.pt25{padding-top:25px !important;}

.t_r {text-align:right !important;}
.t_l {text-align:left !important;}
.t_c {text-align:center !important;}

.fl_l{float: left;}
.fl_r{float: right;}

.noBorder{border:0 !important;}
.italic {font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif !important;font-style: italic;font-weight: 900;}

legend {width:0; height:0; overflow:hidden; position:absolute; top:-999; left:-999; line-height:100%; visibility:hidden;}
.italicNum{font-family: "Times New Roman", Times, Baskerville, Georgia, serif !important;font-style: italic;font-weight: 900;}

.arrayWrap{clear: both;height: 37px;}
.arrayWrap .arrayDrop{position: relative;overflow: hidden;display: inline-block;height: 37px;border-radius: 10px;background:#fff;box-shadow:0px 3px rgba(0,0,0,0.12)}
.arrayWrap .arrayDrop:after{content:'';position: absolute;top: 15px;right: 10px;width:12px;height:8px;background:url('../images/ico_lnb.png') no-repeat;}
.arrayWrap .arrayDrop li{width: 100%;height:100%;}
.arrayWrap .arrayDrop li a{display: block;padding:12px 40px 12px 15px;color:#666;font-size: 13px;}
.arrayWrap .arrayDrop.arrayCount{float: right;}

.bx-wrapper .bx-controls-direction a{position: absolute;top:50%;margin-top:-29px;height: 58px;background: url('../images/ico_slide_nav.png') no-repeat;font-size: 0;}
.bx-wrapper .bx-controls-direction .bx-next{background-position: -32px 0}

.record.record03 th, .my .record.record03 td {padding:20px 0;}
.record.record03 td.recordInfo {padding:20px 0 20px 10px;}
.record.record03 .recordThumb {float:right;}
.record.record03 .orderState {padding:20px}

.grade{display: inline-block;position: relative;width: 70px;height: 14px;background: url('../images/ico_star.png') no-repeat 0 -14px;background-size: 70px;}
.grade span{position: absolute;top:0;left: 0;display: block;height: 100%;background: url('../images/ico_star.png') no-repeat  0 0;background-size: 70px;}
.grade span.grade01{right: 56px}
.grade span.grade02{right: 42px}
.grade span.grade03{right: 28px}
.grade span.grade04{right: 14px}
.grade span.grade05{right: 0}
.grade span.grade15{right: 63px}
.grade span.grade25{right: 49px}
.grade span.grade35{right: 35px}
.grade span.grade45{right: 21px}

.gradeBig{display: inline-block;position: relative;width: 114px;height: 22px;background: url('../images/ico_star_big.png') no-repeat 0 -22px;background-size: 114px;}
.gradeBig span{position: absolute;top:0;left: 0;display: block;height: 100%;background: url('../images/ico_star_big.png') no-repeat  0 0;background-size: 114px;}

.gradeBig span.grade01{right: 93px}
.gradeBig span.grade02{right: 60px}
.gradeBig span.grade03{right: 37px}
.gradeBig span.grade04{right: 13px}
.gradeBig span.grade05{right: -10px}

.gradeBig span.grade15{right: 102px}
.gradeBig span.grade25{right: 70px}
.gradeBig span.grade35{right: 47px}
.gradeBig span.grade45{right: 24px}

.grade + .gradeTxt{margin-left: 5px;vertical-align:top;font-weight: bold;}

a.pointLink {color:#2d427a;text-decoration:underline;}

/* tab */
.scrollWrap{overflow-x: auto;}
.scrollWrap li{float: left;}
.tabType01{background: #f9fafc;/*box-shadow: 0px 3px 5px rgba(0,0,0,0.1);*/}
.tabType01 ul{height: 49px;overflow: hidden;}
.tabType01 li{text-align: center;}
.tabType01 a{position: relative;display: block;padding: 0 25px;color: #333;font-size: 13px;line-height: 49px;}
.tabType01 .on a{color: #000;}
.tabType01 .on a:after{content: '';position: absolute;left:0;bottom: -2px;width: 100%;height: 3px;background: #2d427a}

.tabType02{overflow: hidden;background: #f9fafc;}
.tabType02 li{float: left;width: 50%;border-bottom: 2px solid #e5e5e5;text-align: center;}
.tabType02 .on{border-bottom-color: #2d427a}
.tabType02 a{position: relative;display: block;padding: 0 25px;color: #666;font-size: 13px;line-height: 49px;}
.tabType02 .on a{color: #000;}

.tabType03{background: #f9fafc; border-bottom:1px solid #ccc;}
.tabType03 ul{height: 49px;overflow: hidden;}
.tabType03 li{text-align: center;}
.tabType03 a{position: relative;display: block;padding: 0 24.9px;color: #333;font-size: 13px;line-height: 49px;}
.tabType03 .on a{color: #000;}
.tabType03 .on a:after{content: '';position: absolute;left:0;bottom: -2px;width: 100%;height: 3px;background: #2d427a}

.tabType03Fix {overflow:hidden;background: #f9fafc; border-bottom:1px solid #ccc;}
.tabType03Fix span{display:block;float:left;width:33.33%;background: #f9fafc;text-align: center;height: 49px;overflow: hidden;}
.tabType03Fix a{position: relative;display: block;padding: 0 25px;color: #666;font-size: 13px;line-height: 49px;}
.tabType03Fix span.on a{color: #1a1a1a;}
.tabType03Fix span.on a:after{content: '';position: absolute;left:0;bottom: -2px;width: 100%;height: 3px;background: #2d427a}


/* button */
.btnWrap{text-align: center;} 
.btnWrapLeft{text-align:left;} 
.btnWrap02{overflow: hidden;}
.btnWrap02 a{float: left;width: 49%;}
.btnWrap02 a:first-child{margin-right: 2%;}
.btnWrap03 a {width:32.3%; float:left;}
.btnWrap03 a + a {margin-left:5px;}
.btnWrap03 a span {}
a[class^="btnSize"], .btn{display: inline-block;color: #fff;outline: 0;border: 0;text-align: center;letter-spacing:-1px;font-size:12px;box-sizing: border-box;-webkit-appearance: none;}
.btnSizeS{height:30px;padding:0 12px;font-size: 13px;border-radius: 15px;line-height: 30px;}
.btnSizeL{height:35px;padding:0 17px;font-size: 15px;border-radius: 20px;line-height: 35px;}
.btnSizeB{width: 100%;height: 55px;font-size: 18px;line-height: 55px;}
.btnSizeW{width: 100%;}
a.btnSizeB{width: 100%;height: 55px;font-size: 18px;line-height: 55px;}
.fileBtn {width:auto; position:relative; display:inline-block; color:#fff; font-size:12px;}
.fileBtn input[type=file]{position:absolute;left:0;top:8px;width:100%;height:18px;overflow:hidden;opacity:0;}
.btnColor01{background:#2d427a} /*green*/
.btnColor02{background:#2d427a} /*blue*/
.btnColor03{background:#666} /*dark grey*/
.btnColor04{background:#2d427a} /* cyan */
.btnColor05{background:#999} /*grey*/
.btnColor06{background:#333} /*dark grey*/
.btnColor07{background:#293145;}/*dark blue*/
a.btnFollow{min-width:106px;padding-right:22px; border:1px solid #adc427;border-radius:17px;color:#adc427; text-align:center; position:relative; background:#fff;}
a.btnFollow:after{content:''; width:12px; height:12px; margin-top:-6px; background:url("../images/ico_follow_off.png") no-repeat 0 0;background-size:12px; position:absolute; top:50%; right:23px;}
a.btnFollow.active{background:#adc427;color:#fff;}
a.btnFollow.active:after{background:url("../images/ico_follow_on.png") no-repeat 0 0;background-size:12px;}
@media (max-width:320px){
	.btnWrap03 a {width:31.3%;}
	a.btnFollow{min-width:auto;}
	a.btnFollow:after {right:17px;}
}
.btnborder01{border:1px solid #e3e3e3;color: #666;} /*border*/

.tag li{display: inline-block;margin: 10px 5px 0 0;}
.tag li a{display: inline-block;height:25px;padding:0 10px;background: #fff;line-height:25px;color:#333;text-align: center;box-shadow: 0px 2px rgba(0,0,0,0.1);border-radius: 13px;font-size: 11px;}

.loginSns{color: #666;border:1px solid #e3e3e3;}
.loginSns:before{content: '';display: inline-block;height: 18px;border-right: 1px solid #c2c2c2;margin-right:20px;background: url('../images/ico_login.png') no-repeat;vertical-align: middle;}
#loginN:before{background-position: -35px 0}
#loginKs:before{background-position: -70px 0}

/* text color */
.pointRed {color:#f1645c !important;}
.pointCyan {color:#436ebb !important;}
.pointGreen {color:#adc427 !important;}
.pointBrown {color:#b08967 !important;}
.underTxt {color:#666; font-size:11px; line-height:130%;}
.underTxtMark {display:block; padding-left:20px; color:#666; font-size:11px; line-height:130%; position:relative; text-align:left;}
.underTxtMark:before {content:''; width:14.5px; height:14.5px; border-radius:50%; background:url('../images/ico_qMark.png') center no-repeat #999; background-size:5px 9px; position:absolute; top:0; left:0;}
.pointBox {padding:10px;background:#f8f8f8;}

/* bottom fix
.btmFix a{font-size:18px !important;}
.btmFix + .container{padding-bottom: 55px;}
.btmFix + .layerPopup{padding-bottom: 55px;}*/
.btmFix{position:relative;bottom: 0;left: 0;right: 0;z-index: 1;text-align: center;}
.btmFix.fixwrap ul{overflow:hidden;}
.btmFix.fixwrap ul li{width:50%;float:left;}

/* form */
input[type="checkbox"],
.layerPopup input[type="checkbox"]{position: absolute;opacity: 0;top:0;left: -20px;}
.container input[type="text"], .container input[type="password"], .container input[type="email"], .container input[type="tel"], select, .layerPopup input[type="text"],.layerPopup input[type="password"]{width:100%;padding: 5px;border:1px solid #d1d1d1; border-radius: 0;color: #999;font-size: 13px;line-height: 18px;box-sizing:border-box;-webkit-appearance: none;}
.selectBox {width:100%; vertical-align:top; padding:5px 10px; border:1px solid #ccc; display:inline-block; vertical-align:middle; position:relative; z-index:0; box-sizing: border-box;}
.selectBox:after {content:''; width:10.5px; height:6px; margin-top:-3px; background:url(../images/select_arrow.png) 0 0 no-repeat; background-size:10.5px 6px; position:absolute; top:50%; right:10px; z-index:-1;}
.selectBox select {width:100%; text-align:center; padding:0; border:0; margin:0; color:#666; border:0;-webkit-appearance: none; -moz-appearance: none; appearance: none; background:transparent; text-align:left;}
.selectBox.select100 {width:100%; background:#fff;}
.selectBox.select100 select {width:100%;}
.phone {vertical-align:middle;}
.phone .selectBox{width:30%; vertical-align:middle;}
.phone .selectBox select {width:100%; vertical-align:middle; line-height:110%;}
.phone input[type="tel"]{width: 28%; vertical-align:middle;}
.phone label.hide{opacity: 0;}
.phone label{display: inline-block;width: 5px;height: 1px;background: #999;vertical-align: middle;font-size: 0;}
.radioBox{position: relative;line-height: 30px;}
.radioBox input{position: absolute;opacity: 0;left: 0;}
.radioBox label:before{content: '';display: inline-block; width:16px; height: 16px;margin-right:5px;background: url('../images/ico_radio.png') 0 0 no-repeat;vertical-align:text-top; background-size: 16px 32px;}
.radioBox label.on:before{background-position: 0 -16px;}

.checkWrap{padding: 10px 0 35px;border-bottom: 1px solid #e8e8e8;}
.checkbox {position: relative;/*margin-top:18px;*/}
ul.checkbox{overflow: hidden;}
.checkbox li{float: left;width: 50%;margin-top: 15px;}
.checkbox label{display:inline-block;position: relative;padding-left: 30px;font-size: 13px;color: #666; line-height:25px}
.checkbox label:before{content: '';position: absolute;left: 0;top: 0;width:25px;height:25px;border-radius:50%; margin-right:10px;vertical-align:middle; background:url('../images/ico_follow_on.png') center no-repeat #ccc; background-size:13px 9px}
.checkbox label.on:before{background-color:#2d427a;}
.checkAll label {color:#333; font-size:13px;}
.checkAll label:before{content: '';display:inline-block;width:25px;height:25px;border-radius:50%; margin-right:10px;vertical-align:middle; background:url('../images/ico_follow_on.png') center no-repeat #ccc; background-size:13px 9px; color:#333;}
.checkAll label.on:before{background-color:#2d427a;}

.listSquare{font-size: 14px;}
.listSquare li{position: relative;margin-top:8px;padding-left: 10px;line-height: 1.3em;}
.listSquare li:first-child{margin:0;}
.listSquare li:before{content: '';position: absolute;top: 5px;left: 0;height: 2px;background: #999;}

textarea{padding: 10px;border:1px solid #d0d0d0;width: 100%;box-sizing: border-box;}

/* popup */
.layerPopup{background:#fff;font-family:'RobotoR','NotoSansR', sans-serif;font-size:13px;}
.layerPopup .popTop{position:relative;color:#000;text-align:center;line-height:46px;font-size:18px;}
.layerPopup .closeBtn{position:absolute;top:0;right:0;width:45px;height:45px;display:block;background:url("../images/ico_close.png") no-repeat center center;background-size:16px;}
.layerPopup .popCon{}
.layerPopup .wrapT:first-child{padding-top:0;}
.layerPopup .popTit{font-size:18px;background:#fff;}
.layerPopup .popScroll{height:385px;overflow-y:auto;}

.infoTop{position: relative;padding: 15px 20px;background: #fff;color: #666;}
.infoTop .infoPic{display: inline-block;overflow: hidden;width: 48px;height: 48px;margin-right: 10px;border-radius: 50%;vertical-align: middle;}
.infoTop .infoPic img{display: block;width: 100%;}
.infoTop .infoWrap{display: inline-block;vertical-align: middle;}
.infoTop .infoTit{color: #000;font-size: 18px;line-height: 1.1em}
.infoTop .infoId{margin-top:5px;color: #666;font-size: 11px;}
.infoTop .infoDetail{margin-left: 64px;font-size: 14px;}
.infoTop .infoDetail:before{content: '';display: block;width: 25px;height: 1px;background: #c7c7c7;margin:9px 0 9px;}
.infoTop .infoDetail span:before{content: '';display: inline-block;width: 12px;height: 12px;margin-right: 3px;background: url('../images/ico_card_popular.png');vertical-align: middle;}
.infoTop .infoDetail span.area:before{background-position: -35px -14px;}
.infoTop .infoDetail span.star{margin-left: 10px;}
.infoTop .infoDetail span.star:before{background-position: 0 -14px;}
.infoTop .infoSub{margin-top:15px;font-size: 14px;line-height: 1.4em}

.infoTop .infoBtn{position: absolute;bottom: 40px;left: 0;width: 100%;}
.myRate{display: inline-block;margin-right: 25px;color: #666;vertical-align: middle;text-align: center;line-height: 1.3em;font-size: 11px;}
.myRate b{display: block;color: #000;font-size: 15px;}
.new:after{content: '';display: inline-block;width:5px;height: 5px;background: url('../images/ico_n.png') no-repeat;background-size: 100%;vertical-align: super;}
.infoTop .infoBtn #btnFollow{margin-right: 10px;background:#2d427a}
.infoTop .infoBtn #btnMsg{background: #706a69}

.colWrap{overflow: hidden;}
.col{width:50%;float: left;}
.rowwrap{padding:0 15px;}

.pageTit + .plate{margin-top: 0}
.plate{padding: 23px 15px;margin-top:10px;background: #fff;}
.plate02{padding: 23px 15px 0}
.plate03{padding:0 15px 25px;margin-top: 15px;}
.plateBg{width:100%; overflow:hidden; background:#e0e0e0;}
.plate .plateTit{position:relative;padding-bottom: 10px;border-bottom: 1px solid #000;font-size: 15px;color: #000;}
.plate .plateTit.icoN:after{width:5px;height:5px;display:inline-block;content:"";background:url("../images/ico_n.png") no-repeat 0 top;background-size:100%;margin-top:-10px;vertical-align:super;}
.plate .more{position: relative;margin-top:-10px;float: right;padding: 12px;font-size: 11px;color: #666;z-index: 1;}
.plate .more:after{content: '';position: absolute;top:13px;right: 0;width: 6px;height: 11px;margin-left: 7px;background: url('../images/ico_arrowG.png') no-repeat;background-size: 100%;}
.plateTxt{margin-top: 15px;line-height: 1.3em;color: #333;}

.noContent{display: none;padding: 70px 0 50px;text-align: center;font-size: 15px;color: #666;}
.tabSquare{overflow: hidden;width: 100%;padding: 15px 0;}
.tabSquare li{position: relative;float: left;width: 50%;border:1px solid #ccc;background:#fff;box-sizing: border-box;}
.tabSquare li:first-child{border-right: 0;/*border-radius: 8px 0  0 8px;*/}
.tabSquare li:last-child{border-left: 0;/*border-radius: 0 8px 8px 0;*/}
.tabSquare a{display: block;text-align: center;font-size: 13px;color: #999;line-height: 30px;}
.tabSquare .on{border-color:#2d427a;background: #2d427a;}
.tabSquare .on a{color: #fff;}

.tabParents{padding:0 15px;}
.tabParents .tabSquare{border-bottom:0;}
.tabParents.pdNon,
.tabParents.pdNon .tabSquare {padding:0;}

.selectwrap{padding:10px 15px;background:#f9fafc;}
.selectwrap ul{overflow:hidden;}
.selectwrap ul li{width:49.5%;float:left;margin-left:1%;}
.selectwrap ul li:first-child{margin-left:0;}
.selectwrap.col1 ul li{width:100%;}

.previewList > li{overflow: hidden;position: relative;width: 100%;padding: 20px 0;border-top:1px solid #ccc;}
.previewList .previewWrap{overflow: hidden;}
.previewList > li:first-child{border:0;}
.previewList > li:last-child {padding-bottom:0;}
.previewList > li > a{position:relative;display:inline-block;}
.previewList > li span.hexa{position:absolute;top:20px;right:0;width:29.5px;height:35px;line-height:35px;color:#fff;display:block;background:url("../images/blue_hexagon.png") no-repeat 0 0;background-size:100%;text-align:center;}
.previewList .pic{overflow: hidden;float: left;width: 50px;height: 50px;margin-right: 8px;border-radius: 50%;}
.previewList .pic img{display: block;width: 50px;height: 50px;}
.previewList .thumb{overflow: hidden;float: left;width: 78px;height: 78px;margin-right: 10px;}
.previewList .thumb img{display: block;width: 78px;height: 78px;}
.previewList .except{max-height: 2.4em;line-height: 1.2em;display: block;}
.previewList .except a{color:#333;}
.previewList .listTit{margin-bottom:3px;font-size: 15px;font-weight: bold;color: #000;}
.previewList .listTit b{color: #2d427a}
.previewList .date{font-size: 11px;color: #999;}
.previewList .dateR{float: right;}
.previewList .count{position: absolute;right: 0;bottom: 20px;display: inline-block;width: 30px;height: 33px;padding:0 10px;background: url('../images/bg_hexagon.png');background-size:250px;line-height: 33px;color: #fff;font-size: 15px;text-align: center;}
.previewList .txtWrap {width:100%; overflow:hidden;}
.previewList .txt{margin-top:15px;padding:15px;background:#f8f8f8; overflow:hidden;}
.previewList .txt p{width:100%; line-height:1.4em;margin-bottom:15px; }

.previewList .info{display: inline-block;margin-right: 5px;padding: 0 5px;/*border-radius: 8px;*/border:1px solid #999;color: #666;line-height: 15px;}
.previewList .done .info{color: #436ebb;border-color: #436ebb;}
.previewList .count02{float: right;color:#333;font-size: 11px;}
.previewList .count02 b{color:#436ebb;}
.previewList .op{margin-top: 3px;font-size: 11px;color: #999;}
.previewList .op02{margin-top: 3px;font-size: 11px;color: #b08967;}
.previewList .price {margin-top:12px;;}
.previewList .price span{color:#999;}
.previewList .price b {font-size:15px;}
.previewList .reply{margin-top: 8px;background: #f8f8f8;padding: 15px;}
.previewList .reply .except{color: #666;}


.previewList .reply .date{margin-top: 3px;}
.previewList .reply .galleryThumb{overflow: hidden;margin-top: 10px;}
.previewList .reply .galleryThumb li{float: left;width: 31%;margin-left: 3.5%;}
.previewList .reply .galleryThumb li:first-child{margin:0;}
.previewList .reply .galleryThumb li img{display: block;width: 100%;}
.previewList .reply .grade{margin-bottom: 5px;}
.previewList .reply .except02{max-height: 2.4em;line-height: 1.2em;}
.previewList .reply .readmore{color: #a9c700 }

.previewList.reviewType > li{background:#f8f8f8;padding:0;}
.previewList.reviewType .except{margin-top:12px;}

.pageWrap{background: #fff;}
.pageTit{padding:0 15px;color: #fff;text-align: center;background: #2d427a;line-height: 30px;font-size: 15px;}
.pageWrap .wrap{padding:0 15px;}

.slideCon{display: none;}

.formWrap{width: 100%;margin-top:20px;border-top:1px solid #666;border-bottom: 1px solid #e8e8e8;}
.formWrap th, .formWrap td{padding: 10px;border-top:1px solid #e8e8e8;}
.formWrap th{width: 26%;background: #f8f8f8;color: #000;text-align: center; line-height:130%;}
.formWrap td {line-height:130%;}
.formWrap tr:first-child th, .formWrap tr:first-child td{border-top:0;}
.formWrap thead th {border-bottom:1px solid #e1e1e1;}
.formWrap.tbL th,
.formWrap.tbL td {text-align:left;}
.formWrap.tbL2 th {text-align:center;}
.formWrap.tbL2 td {text-align:left;}
.formWrap.tbR th {text-align:left;}
.formWrap.tbR td {text-align:right;}
.formWrap.tbR td.t_l {text-align:left;}
.formWrap.tbC th,
.formWrap.tbC td {text-align:center;}
.formWrap td.infoTd {border-top:1px dashed #ccc; color:#999; text-align:left; font-size:12px;}
.shipAddress p{margin-top: 10px;}
.shipAddress p + p {margin-bottom:10px;}
.zipCode{position: relative;padding-right: 100px;}
.zipCode a{position: absolute;left: 0;bottom: 0;right: 0;top:0;}
.zipCode label{position: absolute;top: 0;right: 0;padding:0 20px;;background: #666;border-radius: 15px;font-size: 13px; line-height:30px;color: #fff;}

.textWrap{margin-top: 10px;padding:15px 10px;border-top: 1px solid #666;border-bottom: 1px solid #c4c4c4; position:relative;}
.textWrap textarea{width: 100%;min-height: 90px;margin-top: 10px;padding: 10px;font-size: 13px;}
.textWrap .countTxt{margin-top:7px;text-align: right;color: #666; position:absolute; bottom:25px; right:20px; background:#fff;}
.textWrap .countTxt span{color: #999}

.tb01{width: 100%;border-bottom: 1px solid #d1d1d1;line-height: 1.3em;}
.tb01 th{width: 30%;height: 50px;padding:0 15px;border-top: 1px solid #e8e8e8;color: #000;text-align: left;background: #f8f8f8;line-height: 15px;font-weight: normal}
.tb01 td{padding:10px 0;border-top: 1px solid #e8e8e8;color: #666;text-align: right;}
.tb01 tr:first-child th{border:0;}

.bBox{border:2px solid #333;color:#333;line-height: 1.2em;}
.bBox .strongMsg{padding:15px;}
.strongMsg{font-size: 15px;}
.strongMsg strong{color: #2d427a}
.bBox .bgTxt{padding: 15px;background:#f8f8f8;font-size: 13px;}

.boxTit{margin-top: 15px;padding: 0 10px;background: #f8f8f8;border-top:1px solid #333;border-bottom:1px solid #333;font-size: 13px;color: #333;line-height: 30px;}
.boxTit .fl_r{color: #666;}

.dotList{padding: 10px 0;border-bottom: 1px solid #ccc;color:#666;font-size: 13px; line-height: 1.3em;}
.dotList li{position: relative;margin-top: 5px;padding-left: 10px;}
.dotList li:first-child{margin:0;}
.dotList > li:before{content: '';position: absolute;left: 4px;top:7px;width: 2px;height: 2px;border-radius: 2px;background:#666; }
.dotList b{color: #2d427a;}
.dotList em{display: block;margin-top: 3px;color: #999;font-style: normal}
.dotList.dark{color:#333;}

.dotList .abcList{margin: 5px 0;}
.abcList li{padding-left: 17px;}
.abcList i{position: absolute;left: 0;top: 0;font-style: normal}

/* title */
.pageTit{padding:0 15px;color: #fff;text-align: center;background: #2d427a;line-height: 32px;font-size: 15px;}
.conTit{padding-bottom:10px;border-bottom:1px solid #666;font-size:15px;font-weight:bold;}
.conTit:after{content:"";display:block;clear:both;}
.conTit a{float:right;padding-right: 14px;background: url("../images/ico_arrowG.png") no-repeat right 2px;background-size: 6px;font-size:13px;font-weight:normal;}
.pageTit + .myWrap{margin-top:10px;}
.conSubTit {font-size:13px;color:#333;font-family:'NotoSansR', sans-serif;}
.upLineDot {padding-top:15px;margin-top:20px;border-top:1px dotted #ccc;}

h2.secTit {width:auto; padding-bottom:11.5px; margin-bottom:20px; font-size:18px; font-family:'NotoSansR', 'RobotoR', sans-serif; border-bottom:1px solid #666; color:#000;}
h3.subTit {width:auto; font-size:15px; font-family:'NotoSansR', 'RobotoR', sans-serif;}
.partTit{margin-top: 20px;font-size: 15px;color: #1a1a1a; font-weight:bold;}
h4.partTit {font-size:12px;}
.orderState{height:80px;background:#333;font-family:'NotoSansR', 'RobotoR', sans-serif;}
.orderState ul{overflow:hidden;padding-top:20px;}
.orderState ul li{width:25%;float:left;color:#999;text-align:center;background:url("../images/ico_arrowG.png") no-repeat right center;background-size:8px;}
.orderState ul li:last-child{background-image:none;}
.orderState ul li.active{color:#fff;}
.orderState ul li em{display:block;margin-top:5px;font-size:20px;font-weight:bold;}

.orderRow{margin-top:8px;}
.myOrderstate{background:#fff;padding:25px 15px 0;font-family:'NotoSansR', 'RobotoR', sans-serif;}
.orderNum{overflow:hidden;font-size:15px;}
.orderNum span,
.orderNum a{display:inline-block;}
.orderNum span{float:left;}
.orderNum a{float:right;padding-right:12px;background:url("../images/ico_arrowG.png") no-repeat right center;background-size:6px;}
.payPrice{margin-top:5px;color:#2d427a;font-size:18px;padding-bottom:10px;border-bottom:1px solid #666;}
.payPrice em{font-family:'NotoSansB', 'RobotoB', sans-serif;}
.bundle{height:20px;line-height:20px;background:#f8f8f8;text-align:center;border-bottom:#e5e5e5;color:#666;font-size:12px;}
.productList{}
.productList > li{overflow:hidden;padding:15px 0;border-top:1px solid #666; position:relative;}
.productList > li:first-child{border-top:0;}
.productList > li:last-child{padding-bottom:0;}
.productList .thumb{width:78px;height:78px;display:block;overflow:hidden;float:left;margin-right:10px;}
.productList .thumb img{width:100%;vertical-align:top;}
.productList .info + .cancelArea{margin-top:44px;}
.productList .info span{padding:4px 6px; font-size:11px; border:1px solid #436ebb; color:#436ebb; display:inline-block;}
.productList .info p{line-height:1.4em;margin-top:6px;font-family:'NotoSansB', 'RobotoB', sans-serif;font-size:15px;color:#333;}
.productList .info p a{color:#333;}
.productList .productData{clear:both;}
.productList .productData li{padding:15px 0;border-top:1px dashed #ccc;}
.productList .productData li:first-child{border-top:0;}
.productList .productData li p{line-height:1.4em;}
.productList .productData li p.name{color:#999;}
.productList .productData li p.name + p.count{margin-top:10px;}
.productList .productData li p.count{text-align:right;font-size:15px;}
.productList .productData li p.count select{width:68px;display:inline-block;margin-right:30px;}
.productList .productData li p.count span{display:inline-block;}
.productList .productData li p.count span:first-child{position:relative;padding-right:10px;}
.productList .productData li p.count span:first-child:after{position:absolute;right:2px;top:4px;content:"";display:block;width:1px;height:12px;background:#ccc;}
.productList .productData li p.count span:last-child{color:#666;}
.productList .productData li p.count span em{font-style:normal;font-family:'NotoSansB', 'RobotoB', sans-serif;font-weight:bold;}
.productList .cancelArea{padding:12px 15px;background:#f8f8f8;overflow:hidden;}
.productList .cancelArea .state,
.productList .cancelArea .cancel{display:inline-block;float:left;padding:2px 20px 2px 0;margin-top:5px;}
.productList .cancelArea .state{position:relative;}
.productList .cancelArea .state:after {content:''; width:14.5px; height:15.5px; background:url("../images/ico_info.png") no-repeat right 1px;background-size:14.5px 30px; color:#b08967; font-weight:bold; position:absolute; top:0px; right:0;}
.productList .cancelArea .btnSizeS{float:right;margin-left:4px;}
.productList .workInfo{padding-top:10px;margin-top:40px;clear:both;border-top:1px solid #ccc;clear:both;}
.productList .workInfo .addr p{line-height:1.4em;}
.productList .workInfo .addr p:first-child + p{color:#666;}
.productList .workInfo ul{margin-top:15px;}
.productList .workInfo ul li{line-height:1.4em;color:#666;font-size:14px;}
.productList .workInfo ul li span{position:relative;display:inline-block;padding-right:17px;color:#000;}
.productList .workInfo ul li span:after{position:absolute;right:8px;top:3px;content:"";display:block;width:1px;height:10px;background:#d5d5d5;}

.productList .btnToggle{display: block;position: absolute;top:15px;right: 0;width: 20px;height: 15px;background: url('../images/ico_toggleL.png') no-repeat;background-size: 15px;background-position:2px -7px;}
.productList .btnToggle.open{background-position: 2px 5px;}
.productList .productBtnWrap {width:100%; overflow:hidden; padding-top:15px; }
.productList .productBtnWrap .newAddress {width:100%; padding:15px 0; border-top:1px dashed #ccc; overflow:hidden;}
.productList .productBtnWrap + .productBtnWrap {padding-top:0;}
.productList li .selectWrap {width:100%; overflow:hidden; margin-top:15px; padding-top:15px; border:1px dashed #ccc;}
.productList li ul.addressList li {padding:0; border:0;}
.productList li .textWrap {border:0; padding:0; margin:0;}

ul.optList {background:#fff;}
ul.optList > li {width:100%; padding:15px 0; position:relative; font-family:'NotoSansB', 'RobotoB', sans-serif;}
ul.optList > li + li {border-top:1px solid #666;}
ul.optList > li:last-child {padding-bottom:0;}
ul.optList li > a {padding-left:121px; display:inline-block; position:relative; font-size:15px;}
ul.optList li .cont {width:100%; min-height:78.5px; overflow:hidden;}
ul.optList li .cont p {color:#333; line-height:130%;}
ul.optList li .cont span {padding:4px 6px; font-size:11px; border:1px solid #2d427a; color:#2d427a; display:inline-block;}
ul.optList li .cont span + p {margin-top:6px;}
ul.optList li p.checkbox {position:absolute; top:0; left:0;}
ul.optList li p.photo,
ul.optList li p.photo img {width:78.5px; height:78.5px; }
ul.optList li p.photo {position:absolute; top:0; left:34px;}
ul.optList li p.listPrice {padding:10px 34px 0 0; overflow:hidden; text-align:right; font-size:15px; color:#333; position:relative;}
ul.optList li p.listPrice b {}
ul.optList li p.listPrice span {width:100%; min-height:24px; display:inline-block; line-height:24px;}
ul.optList li p.listPrice a.btnDel {width:25px; height:25px; font-size:0; position:absolute; bottom:-1px; right:0; display:inline-block;}
ul.optList li p.listPrice a.btnDel:after {content:''; width:24px; height:24px; border:1px solid #ccc; background:url('../images/ico_close03.png') 50% no-repeat; background-size:11.5px 11.5px; position:absolute; top:0; left:0;}
ul.optList li p.listPrice select {width:50px; height:26px; position:absolute; top:8px; left:121px;}
ul.optList li p.listTxt {margin-top:12.5px; color:#999; font-size:15px;}
ul.optList li .option {width:100%; overflow:hidden;}
ul.optList li .option + .option {border-top:1px solid #ccc; margin-top:10px;}
ul.priceBox {margin-top:15px; padding:15px; background:#f8f8f8;}
ul.priceBox > li {width:100%; overflow:hidden;}
ul.priceBox > li p {color:#333; line-height:130%;}
ul.priceBox > li + li {margin-top:5px;}
ul.priceBox > li.check p {color:#2d427a;}
ul.priceBox > li.check p.priceBoxCont b {font-size:18px; font-family:TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, sans-serif; font-style:italic;}
ul.priceBox > li.check p.priceBoxTit {font-weight:bold;}
ul.priceBox li p.priceBoxTit {width:40%; float:left;}
ul.priceBox li p.priceBoxCont {width:60%; float:right; text-align:right;}
ul.priceBox li p.priceBoxCont b {}
ul.productList li ul.productData + ul.priceBox {margin-top:0;}

p.setTit {width:100%; overflow:hidden; text-align:center; background:#f8f8f8; border-bottom:1px solid #e5e5e5; color:#666; font-size:11px; line-height:19px;}
.setPrice {width:100%; overflow:hidden; padding-bottom:21px; background:#e0e0e0;}
.setPrice .setP {padding:15px; overflow:hidden; background:#f8f8f8; border-top:1px solid #ccc; border-bottom:1px solid #ccc;}
.setPrice p {color:#333;}
.setPrice p.setPriceTit {width:40%; float:left; }
.setPrice p.setPriceCont {width:60%; float:right; text-align:right;}
.setPrice p.setPriceCont b {font-family:TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, sans-serif; font-style:italic; font-size:18px;}

.tagBox{border:1px solid #ccc;margin-top:6px;font-family:'NotoSansR', 'RobotoR', sans-serif; overflow:hidden;}
.tagBox .txt{padding:14px 14px 14px;}
.tagBox .txt p{min-height:34px;font-family:'NotoSansR', 'RobotoR', sans-serif;color:#999;}
.tagBox .tag{padding:15px;background:#f8f8f8;border-top:1px solid #ccc;}
.tagBtn{height:30px;padding:0 15px;display:inline-block;background:#fff;border:1px solid #d1d1d1;border-radius:15px;margin:4px 0;}
.tagBtn.active{background:#2d427a;border-color:#2d427a;color:#fff;}
.tagBtn.close:after{width:12px;height:12px;overflow:hidden;display:inline-block;content:"";background:url("../images/ico_close02.png") no-repeat center center;background-size:12px;vertical-align:middle;margin-left:7px;}
.tagBtn span{display:inline-block; line-height:28px;}
.reviewTxt{line-height:1.4em;color:#999;font-family:'NotoSansR', 'RobotoR', sans-serif;margin-top:15px;padding-bottom:32px;}
