.mt20 {margin-top:20px;}
.mt30 {margin-top:30px;}
.mt40 {margin-top:40px;}

.t_r {text-align:right}
.t_l {text-align:left;}

.hide, legend {width:0; height:0; overflow:hidden; position:absolute; top:-999; left:-999; line-height:100%; visibility:hidden;}

.checkAgree label{display:inline-block;font-size: 16px;color: #000;}
.checkAgree input[type="checkbox"] {position: absolute;opacity: 0;width:25px;height:24px;margin:0;padding:0;z-index:-1}
.checkAgree label:before{content: '';display: inline-block;width: 25px;height: 24px;background: #ccc url('../images/ico_check.png') no-repeat center;border-radius: 50%;vertical-align: middle;}
.checkAgree label.on:before{background-color: #a9c700}

.arrayWrap{clear: both;height: 37px;}
.arrayWrap .arrayDrop{position: relative;overflow: hidden;display: inline-block;height: 37px;border-radius: 10px;background:#fff;box-shadow:0px 3px rgba(0,0,0,0.12)}
.arrayWrap .arrayDrop:after{content:'';position: absolute;top: 15px;right: 10px;width:12px;height:8px;background:url('../images/ico_lnb.png') no-repeat;}
.arrayWrap .arrayDrop li{width: 100%;height:100%;}
.arrayWrap .arrayDrop li a{display: block;padding:12px 40px 12px 15px;color:#666;font-size: 13px;}
.arrayWrap .arrayDrop.arrayCount{float: right;}

.bx-wrapper .bx-controls-direction a{position: absolute;top:50%;margin-top:-29px;height: 58px;background: url('../images/ico_slide_nav.png') no-repeat;font-size: 0;}
.bx-wrapper .bx-controls-direction .bx-next{background-position: -32px 0}

.record.record03 th, .my .record.record03 td {padding:20px 0;}
.record.record03 td.recordInfo {padding:20px 0 20px 10px;}
.record.record03 .recordThumb {float:right;}
.record.record03 .orderState {padding:20px}

.grade{display: inline-block;position: relative;width: 70px;height: 14px;background: url('../images/ico_star.png') no-repeat 0 -14px;background-size: 70px;}
.grade span{position: absolute;top:0;left: 0;display: block;height: 100%;background: url('../images/ico_star.png') no-repeat  0 0;background-size: 70px;}
.grade span.grade01{right: 56px}
.grade span.grade02{right: 42px}
.grade span.grade03{right: 28px}
.grade span.grade04{right: 14px}
.grade span.grade05{right: 0}
.grade span.grade15{right: 63px}
.grade span.grade25{right: 49px}
.grade span.grade35{right: 35px}
.grade span.grade45{right: 21px}

.gradeBig{display: inline-block;position: relative;width: 114px;height: 22px;background: url('../images/ico_star_big.png') no-repeat 0 -22px;background-size: 114px;}
.gradeBig span{position: absolute;top:0;left: 0;display: block;height: 100%;background: url('../images/ico_star_big.png') no-repeat  0 0;background-size: 114px;}

.gradeBig span.grade01{right: 93px}
.gradeBig span.grade02{right: 60px}
.gradeBig span.grade03{right: 37px}
.gradeBig span.grade04{right: 13px}
.gradeBig span.grade05{right: -10px}

.gradeBig span.grade15{right: 102px}
.gradeBig span.grade25{right: 70px}
.gradeBig span.grade35{right: 47px}
.gradeBig span.grade45{right: 24px}

.grade + .gradeTxt{margin-left: 5px;vertical-align:top;font-weight: bold;}

a.pointLink {color:#f1645c;text-decoration:underline;}

/* tab */
.scrollWrap{overflow-x: auto;}
.scrollWrap li{float: left;}
.tabType01{background: #f6f6f6;/*box-shadow: 0px 3px 5px rgba(0,0,0,0.1);*/}
.tabType01 ul{height: 49px;overflow: hidden;}
.tabType01 li{text-align: center;}
.tabType01 a{position: relative;display: block;padding: 0 25px;color: #333;font-size: 13px;line-height: 49px;}
.tabType01 .on a{color: #000;}
.tabType01 .on a:after{content: '';position: absolute;left:0;bottom: -2px;width: 100%;height: 3px;background: #a9c700}

.tabType02{overflow: hidden;background: #f6f6f6;}
.tabType02 li{float: left;width: 50%;border-bottom: 2px solid #e5e5e5;text-align: center;}
.tabType02 .on{border-bottom-color: #a9c700}
.tabType02 a{position: relative;display: block;padding: 0 25px;color: #666;font-size: 13px;line-height: 49px;}
.tabType02 .on a{color: #000;}

.tabType03{background: #f6f6f6; border-bottom:1px solid #ccc;}
.tabType03 ul{height: 49px;overflow: hidden;}
.tabType03 li{text-align: center;}
.tabType03 a{position: relative;display: block;padding: 0 25px;color: #333;font-size: 13px;line-height: 49px;}
.tabType03 .on a{color: #000;}
.tabType03 .on a:after{content: '';position: absolute;left:0;bottom: -2px;width: 100%;height: 3px;background: #a9c700}

/* button */
.btnWrap{text-align: center;}
a[class^="btnSize"], .btn{display: inline-block;color: #fff;outline: 0;border: 0;text-align: center;font-weight: bold}
.btnSizeS{height:30px;padding:0 12px;font-size: 13px;border-radius: 15px;line-height: 30px;}
.btnSizeM{height:28px;padding:0 14px;font-size: 13px;border-radius: 17px;line-height: 28px;}
.btnSizeL{height:35px;padding:0 17px;font-size: 15px;border-radius: 20px;line-height: 35px;}
.btnSizeB{width: 100%;height: 55px;font-size: 18px;line-height: 55px;}

.btnColor01{background:#a9c700} /*green*/
.btnColor02{background:#f1645c} /*red*/
.btnColor03{background:#666} /*dark grey*/
.btnColor04{background:#00aeb9} /* cyan */

.btnborder01{border:1px solid #e3e3e3;color: #666;} /*border*/
.btnShadow{box-shadow: 0px 2px rgba(0,0,0,0.1);}
.tag li{display: inline-block;margin: 10px 5px 0 0;}
.tag li a{display: inline-block;height:25px;padding:0 10px;background: #fff;line-height:25px;color:#333;text-align: center;box-shadow: 0px 2px rgba(0,0,0,0.1);border-radius: 13px;}

.loginSns{color: #666;border:1px solid #e3e3e3;}
.loginSns:before{content: '';display: inline-block;height: 18px;border-right: 1px solid #c2c2c2;margin-right:20px;background: url('../images/ico_login.png') no-repeat;vertical-align: middle;}
#loginN:before{background-position: -35px 0}
#loginKs:before{background-position: -70px 0}

/* text color */
.pointRed {color:##f1645c;}
.pointCyan {color:#00aeb9;}

/* bottom fix*/
.btmFix{position: fixed;bottom: 0;left: 0;right: 0;z-index: 1;text-align: center;}
.btmFix + .container{padding-bottom: 55px;}
.btmFix.fixwrap ul{overflow:hidden;}
.btmFix.fixwrap ul li{width:50%;float:left;}

/* form */
.container input[type="checkbox"],
.layerPopup input[type="checkbox"]{position: absolute;opacity: 0;top:0;left: -20px;}
.container input[type="text"], .container input[type="password"], .container input[type="email"],select, .layerPopup input[type="text"],.layerPopup input[type="password"]{width:100%;padding: 5px;border:1px solid #d1d1d1; /*border-radius: 7px;*/color: #999;font-size: 13px;line-height: 18px;}

.phone select{width: 30%;}
.phone input[type="text"]{width: 28%;}
.phone label.hide{opacity: 0;}
.phone label{display: inline-block;width: 5px;height: 1px;background: #999;vertical-align: middle;font-size: 0;}

.radioBox{position: relative;line-height: 30px;}
.radioBox input{position: absolute;opacity: 0;left: 0;}
.radioBox label:before{content: '';display: inline-block;height: 18px;margin-right:5px;background: url('../images/ico_radio.png') no-repeat;vertical-align: middle;}
.radioBox label.on:before{background-position: 0 -18px;}

.checkWrap{padding: 10px 0 35px;border-bottom: 1px solid #e8e8e8;}
.checkbox {position: relative;/*margin-top:18px;*/}
.checkbox label{font-size: 13px;color: #666;}
.checkbox label:before{content: '';display:inline-block;width:24px;height:24px;border:1px solid #ccc;margin-right:10px;vertical-align:middle;background:#fff;}
.checkbox label.on:before{background:#fff url('../images/ico_check.png') no-repeat center center;background-size:14px;}
.checkAll label {color:#333; font-size:13px;}
.checkAll label:before{background:url('../images/ico_checkBox.png') no-repeat center center #fff; background-size:14px; color:#333;}
.checkAll label.on:before{background:url('../images/ico_checkBox_on.png') no-repeat center center #fff; background-size:14px;}

.listSquare{font-size: 14px;}
.listSquare li{position: relative;margin-top:8px;padding-left: 10px;line-height: 1.3em;}
.listSquare li:first-child{margin:0;}
.listSquare li:before{content: '';position: absolute;top: 5px;left: 0;height: 2px;background: #999;}

textarea{border:1px solid #d0d0d0;width: 100%;border-radius: 7px;}

/* popup */
.layerPopup{background:#fff;font-family:'RobotoR','NotoSansR', sans-serif;font-size:13px;}
.layerPopup .popTop{position:relative;color:#000;text-align:center;line-height:45px;border-bottom:1px solid #000;font-size:18px;}
.layerPopup .closeBtn{position:absolute;top:0;right:0;width:45px;height:45px;display:block;background:url("../images/ico_close.png") no-repeat center center;background-size:16px;}
.layerPopup .popcon{padding-top:25px;}
.layerPopup .popTit{font-size:18px;}
.layerPopup .popScroll{height:385px;padding:0 15px;overflow-y:auto;}
