/* hexagon css */
.hexagon{position: relative;top:83.72px;width: 100%;background-position: center;background-repeat: no-repeat;margin:0 0 83.72px;}
.hexTop, .hexBottom {overflow: hidden;position: absolute;z-index: 1;background: inherit;left: 41.7373px;width: 201.525px;height: 201.525px;transform: scaleY(0.57735) rotate(-45deg);}
.hexTop{top: -101.76px}
.hexBottom{bottom: -101.76px;}
.hexTop span,.hexBottom span {position: absolute;left: 0;width: 285px;height: 164.545px;transform: rotate(45deg) scaleY(1.73205) translateY(-82.2724px);-webkit-transform-origin: 0 0;-ms-transform-origin: 0 0;transform-origin: 0 0;background: inherit; }
.hexTop span {background-position: center top;}
.hexBottom span {background-position: center bottom;}
.hexagon:after {content:'';position: absolute;top: 0px;left: 0;width: 100%;height: 100%; z-index: 2;background: inherit;}

.lyPop{z-index: 999 !important;}
.lyPop .hexagon{position: absolute;top:85px;left: 0;width: 100%;background-position: center;background-repeat: no-repeat;margin: 82.27px 0;}
/* 육각형 팝업 */
.popHex .hexagon{background: #fff; top:0;}
.popHex:before{content: '';display: inline-block;width: 0;height: 100%;margin-right: -5px;vertical-align: middle;}
#cboxLoadedContent .popHex:before{margin-right:0;}
.popHex .cardCon{position:relative; display: inline-block;padding:0 30px;width: 220px;vertical-align: middle;text-align: center;color: #000; z-index: 4}
#cboxLoadedContent .popHex .popSub{margin-top: 18px;}
.popHex .popTit{line-height: 1.2em;font-size:20px;font-family:'RobotoM','NotoSansM', sans-serif;}
.hexAlert #cboxClose{position: absolute;top:20px;left: 127px;width: 32px;height: 32px;background: url('../images/btn_closeG.png') no-repeat center;z-index: 9;border:0;font-size: 0;}

#colorbox.hexAlert #cboxLoadedContent { overflow-x:hidden !important; padding:0 }
/* card size 01~04 */
.popHex.cardSize01{height:330px;}
.popHex.cardSize01 .cardCon{height:170px;}
.popHex.cardSize01 .hexagon{height: 163.545px;}
.popHex.cardSize01 .hexagon,
.popHex.cardSize01 .hexagon .hexTop
.popHex.cardSize01 .hexagon .hexBottom {background-size:285px 330px;}


.cardFull{width: 290px;}
.cardFull .hexagon{width: 290px; height: 167.43px;margin:0 0 83.72px;background-size: auto 334.8632px;}
.cardFull .hexTop, .cardFull .hexBottom{width: 205.06px;height: 205.06px;left: 42.47px;}
.cardFull .hexTop{top: -102.5305px}
.cardFull .hexBottom{bottom: -102.5305px;}
.cardFull .hexTop span, .cardFull .hexBottom span {width: 290px;height: 167.43157806499147px;}

.cardWrap{overflow: hidden;min-width:1220px;margin:40px -20px 0 0;z-index: 0}
.cardWrap > li{overflow: hidden;float: left;width:285px;margin-bottom: 10px;background-color:#fff;text-align: center;color:#fefefe;background-size: 100%;background-position: center;border-radius: 10px;box-shadow: 0px 3px rgba(0,0,0,0.1);}
.main .cardWrap > li{box-shadow: none;}

#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:99; overflow:hidden; -webkit-transform:translate3d(0,0,0);}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;background:#000;filter:alpha(opacity = 50);}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;overflow:visible;font-family:'RobotoR','NotoSansR', sans-serif;color:#000;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling:touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

#colorbox {outline:0;z-index: 20}
#cboxError {padding:50px; border:1px solid #ccc; }
#cboxLoadedContent {position: relative;padding-bottom: 60px;line-height:1.4em;font-size:14px; word-break: keep-all;}
#cboxLoadedContent .popScroll {overflow:auto;padding-right: 25px;}
#cboxLoadedContent .popScroll2 {overflow:auto; max-height:518px;}
#cboxLoadedContent .popScroll3 {overflow:auto; max-height:470px;}
#cboxLoadedContent p {margin-top:30px;}
#cboxLoadedContent p:first-child {margin-top:0; }
#cboxLoadedContent .cardCon .btnWrap{margin-top: 30px;}
#cboxLoadedContent .cardCon {height: auto;}

.cardWrap .cardCon{position: relative;display: block;width:265px;padding:80px 10px;color:#fefefe;}
.cardWrap .cardTop{position: absolute;top:0;left:0;z-index: 1}
.cardWrap .cardBtm{position: absolute;bottom:0;left:0;z-index: 1}
.cardWrap .cardCon .hoverCon{display: none;}
.cardWrap .cardEnter{position: absolute;left:50%;bottom:30px;margin-left: -32px;z-index: 2}
.cardWrap .cardEnter img{display: block;}
.cardWrap .cardRemove{position: absolute;top:20px;left: 50%;display: block;width: 30px;height: 30px;margin-left:-15px;background:url('../images/btn_close.png') no-repeat center;z-index: 2}
.cardWrap .cardTit{font-family:'RobotoR','NotoSansR', sans-serif;font-size: 34px;line-height: 1.2em;}
.cardWrap .cardSub{font-family:'RobotoM','NotoSansM', sans-serif;font-size: 14px;line-height: 1.2em;}
.cardWrap .cardIntro{font-family:'RobotoR','NotoSansR', sans-serif;font-size: 14px;line-height: 1.2em;}
.cardWrap .cardInfo{font-family:'RobotoR','NotoSansR', sans-serif;font-size: 20px;line-height: 1.2em;}
.cardWrap .cardThumb{overflow: hidden;width: 180px;height:180px;border-radius:50%;margin:15px auto;}
.cardWrap .cardThumb img{display: block;width: 100%;}
.cardWrap .cardIntro:before{content:'';display:block;width: 25px;height: 1px;margin:18px auto;background: #fff}
.cardWrap .cardCat{position: relative;top:-30px;margin-bottom:10px;font-family:'RobotoR','NotoSansR', sans-serif;font-size: 14px;}
.cardWrap .cardCat:before{content: '';display: block;width: 28px;height:28px;margin:0 auto;background: url('/images/ico_card_type.png') no-repeat;}
.cardWrap .cardType01 .cardCat:before{background-position:0 0}
.cardWrap .cardType02 .cardCat:before{background-position:-28px 0}
.cardWrap .cardType03 .cardCat:before{background-position:-56px 0}
.cardWrap .cardType11 .cardCat:before{background-position:-84px 0}
.cardWrap .cardDetail{position: absolute;left:0;bottom:13px;width:100%;height:130px;z-index:1;}
.cardWrap .cardDetail:before{content:'';display: inline-block;width:0;height: 100%;vertical-align: middle;}
.cardWrap .cardDetailWrap{display: inline-block;margin-left: -5px;vertical-align: middle;}
.cardWrap .cardAuthorPic{overflow: hidden;width:63px;height:64px;border-radius:50%;margin:10px auto 0;}
.cardWrap .cardAuthorPic img{display: block;width: 100%;}
.cardWrap .cardAuthorInfo{padding-bottom:20px;font-family:'RobotoR','NotoSansR', sans-serif;font-size: 14px;line-height: 1.2em;color:#ccc;}
.cardWrap .cardAuthorInfo b{color:#fff}
.cardWrap .cardDetail span:before{content:'';display: inline-block;width: 12px;height: 13px;margin:0 7px;background:url('../images/ico_card_popular.png') no-repeat;}
.cardWrap .cardDetail .comt:before{background-position:-12px 0}
.cardWrap .cardDetail .scrap:before{background-position:-25px -10px}
.cardWrap .cardCollect {overflow: hidden;width:148px;margin:10px auto 0;}
.cardWrap .cardCollect li{overflow: hidden;position: relative;float: left;width:64px;height: 64px;margin:5px;font-size: 0;}
.cardWrap .cardCollect label{display: block;width: 100%;height: 100%;cursor: pointer;background-color: #fff;border-radius: 50%;}
.cardWrap .cardCollect input{position: absolute;top: -100px;left: -100px}
.cardWrap .cardCollect label:hover, .cardWrap .cardCollect .on label{background-color: #a9c700}
.cardWrap .cardCollect .collect01 label{background-position:0 0}
.cardWrap .cardCollect .collect01 label:hover, .cardWrap .cardCollect .collect01.on label{background-position:0 -64px;}
.cardWrap .cardCollect .collect02 label{background-position:-64px 0}
.cardWrap .cardCollect .collect02 label:hover, .cardWrap .cardCollect .collect02.on label{background-position:-64px -64px}
.cardWrap .cardCollect .collect03 label{background-position:-128px 0}
.cardWrap .cardCollect .collect03 label:hover, .cardWrap .cardCollect .collect03.on label{background-position:-128px -64px}
.cardWrap .cardCollect .collect04 label{background-position:-192px 0}
.cardWrap .cardCollect .collect04 label:hover, .cardWrap .cardCollect .collect04.on label{background-position:-192px -64px}

.cardWrap .cardCollect.pet label{background-image: url('../images/btn_card_pet.png')} 
.cardWrap .cardCollect.fam label{background-image: url('../images/btn_card_fam.png')} 

.cardWrap .cardCollect02{width: 228px;}
.cardWrap .cardCollect02 li{font-size:14px;font-family:'RobotoM','NotoSansM', sans-serif;color: #a9c700;}
.cardWrap .cardCollect02 li:hover, .cardWrap .cardCollect02 li.on{color: #fff;}
.cardWrap .cardCollect02 label:before{content: '';display: inline-block;width:0;height: 100%;margin-right: -5px;vertical-align: middle;}
.cardWrap .cardCollect02 label span{display: inline-block;vertical-align: middle;}



.cardWrap .tag{margin-top:15px;}
.cardWrap .tag li{display: inline-block;font-size:14px;font-family:'RobotoR','NotoSansR', sans-serif;color: #c3d656}

.cardWrap .cardSize01 .cardCon{height:160px;}
.cardWrap .cardSize02 .cardCon{height:330px;}
.cardWrap .cardSize03 .cardCon{height:500px;}
.cardWrap .cardSize04{width:590px;}
.cardWrap .cardSize04 .cardCon{width:570px;height:585px;}
.cardWrap .cardSize04.cardType06 {background-color: #fff;}
.cardWrap .cardSize04.cardType06 .cardCon, .cardWrap .cardType11 .cardCon {color:#000;}

.cardWrap .cardType04 .cardTit{font-size: 20px;}
.cardWrap .cardType04 .cardSub{margin-top:10px;font-family:'RobotoL','NotoSansL', sans-serif; }
.cardWrap .cardType04 .cardIntro{font-size: 20px;}
.cardWrap .cardType04 .cardIntro b{font-size: 40px;}
.cardWrap .cardType04 a.cardCon:hover, .cardWrap .cardType05 a.cardCon:hover{background: url('../images/bg_dim.png')}

.cardWrap .cardType05 .cardCon{color: #000;}
.cardWrap .cardType05 .cardTit02{float: left;width:102px;padding:50px 10px 0 20px;font-size: 14px;font-family:'RobotoM','NotoSansM', sans-serif;text-align: left;word-break: keep-all}
.cardWrap .cardType05 .cardAuthorInfo {float: left;width:100px;padding-left: 20px;color: #666;}
.cardWrap .cardType05 .cardAuthorInfo b{color: #000;}
.cardWrap .cardType05 .cardSub{display: none;font-family: 'RobotoL','NotoSansL', sans-serif;}
.cardWrap .cardType05 .union{margin:-20px auto 160px;font-family:'RobotoM','NotoSansM', sans-serif;font-size: 14px;color: #fff;}
.cardWrap .cardType05 .union span{display: inline-block;padding:7px 20px;border:1px solid #fff;border-radius: 20px;}
.cardWrap .cardType05 .cardDetail{color: #999;font-size: 14px;}
.cardWrap .cardType05 .cardDetail .like:before{background-position:0 -13px}
.cardWrap .cardType05 .cardDetail .comt:before{background-position:-12px -12px}
.cardWrap .cardType05 .cardIntro{color: #666;font-size: 20px;margin-bottom:10px}
.cardWrap .cardType05 .cardIntro b{font-size:40px;}
.cardWrap .cardType05 .cardIntro:before{display: none;}

.cardWrap .cardType05 .cardCon:hover{color: #fff;}
.cardWrap .cardType05 .cardCon:hover .cardTit02{float: none;width:auto;padding:0 10px;margin:0px auto 5px;font-family:'RobotoR','NotoSansR', sans-serif;font-size: 20px;text-align: center;}
.cardWrap .cardType05 .cardCon:hover .cardAuthorInfo{width: 100%;padding: 0;color: #ccc}
.cardWrap .cardType05 .cardCon:hover .cardAuthorInfo b{color: #fff}

.cardWrap .cardType06{background-color: #f1645c;}
.cardWrap .cardType06 .cardDate{display: inline-block;margin-bottom:20px;padding:7px 20px;border:1px solid #b2b2b2;border-radius:15px;font-family:'RobotoM', sans-serif;font-size: 16px;color: #b2b2b2;}
.cardWrap .cardType06 .cardThum{margin-top: 15px;font-family:'RobotoR','NotoSansR', sans-serif;font-size: 14px;line-height: 1.3em;}
.cardWrap .cardType06 .cardThum img{display: block;margin: 0 auto 15px;}

.cardWrap .cardType07{background: #f0f0f0;}
.cardWrap .cardType07 .cardTit{color: #000;}
.cardWrap .cardType07 .cardIntro{color: #666}
.cardWrap .cardType07 .cardIntro:before{background:#666;}
.cardWrap .cardType07 .cardEnter{bottom:40px;margin-left:-38px;padding:10px 25px;background:#999;color: #fff;font-size:14px;font-family:'RobotoR','NotoSansR', sans-serif;border:0;outline:0;border-radius: 20px;cursor: pointer;}

.cardWrap .cardType08{background-color: #f1645c;}

.cardWrap .cardType10{background: #f0f0f0;}
.cardWrap .cardType10 .cardRemove{background-image: url('../images/btn_closeG.png');}
.cardWrap .cardType10 .cardCon a{display: inline-block;width:64px;height: 64px;margin:20px 5px 0;position: relative;z-index: 2}
.cardWrap .cardType10 .cardCon .btn02{background-position:-64px 0 }
.cardWrap .cardType10 .cardCon a:hover{background-position:0 -64px; }
.cardWrap .cardType10 .cardCon .btn02:hover{background-position:-64px -64px; }
.cardWrap .cardType10 .share a{background: url('../images/btn_card_fb.png');}
.cardWrap .cardType10 .share {color: #4862a3;}
.cardWrap .cardType10 .share .cardSub span{color: #808080;font-family: 'RobotoR','NotoSansR', sans-serif;}
.cardWrap .cardType10 .app {color: #333;}
.cardWrap .cardType10 .app a{background: url('../images/btn_card_app.jpg');}
.cardWrap .cardType10 .app .cardSub{color: #808080;}
.cardWrap .cardType10 .tag{color: #000}
.cardWrap .cardType10 .tag .cardIntro{color: #666;}
.cardWrap .cardType10 .tag .cardIntro:before{background: #666}
.cardWrap .cardType10 .tag ul{margin-top:20px;}
.cardWrap .cardType10 .tag a{overflow: hidden;width:auto;height: auto;padding: 10px 15px;margin:3px;border:1px solid #f3918b;color: #f1645c;border-radius: 17px;}

.cardWrap .cardType11 .cardIntro:before{background:#000;}
.cardWrap .expert .cardSub{margin-top:5px;color: #f1645c;}
.cardWrap .expert .cardIntro{color: #666;}
.cardWrap .expert .cardIntro:before{display: none;}
