.members .pageTit{padding:0 15px;color: #fff;text-align: center;background: #f1645c;line-height: 32px;font-size: 15px;}
.members .pageTit:before, .members .pageTit:after{background: #fff;}
.members .subTit{width:100%;font-family:'RobotoR','NotoSansR', sans-serif;color: #000;font-size: 30px;}
.members .singleCard .subTit{padding-bottom:25px;border-bottom:1px solid #545454; text-align: center;}
.members .container .subTit .note{margin-top:8px;text-align: center;font-size: 14px;color: #666;}
.members .container .subTxt{font-size: 16px;color: #000;}
.members .container .subTxt02{margin-top:25px;font-size: 16px;color: #000;font-family:'RobotoR','NotoSansR', sans-serif;}

.members .btnPop{display: inline-block;margin:0 10px;padding: 5px 20px;border-radius: 12px;background: #999;font-family:'RobotoR','NotoSansR', sans-serif;font-size: 13px;color: #fff;}
.members .btnSizeL{display: block;/*width: 290px;margin:40px auto 0;*/}
.members .btnSelect{margin:40px 3px 0;}
.members .btnDefault{margin:40px 3px 0;padding: 0 25px;}

.members .conWrap{width: 600px;margin:60px auto 0;padding-bottom: 40px;border-bottom:1px solid #e8e8e8;text-align: center;}
.members .inform{margin-top:40px;font-family:'RobotoR','NotoSansR', sans-serif;font-size: 20px;color: #000;line-height: 1.2em;}
.members .inform b{font-family:'RobotoM','NotoSansM', sans-serif;color: #a9c700}
.members .inform strong{font-family:'RobotoM','NotoSansM', sans-serif;}
.members .subInform{margin-top:10px;font-family:'RobotoM','NotoSansM', sans-serif;color: #666;font-size: 14px;line-height: 1.4em;}

.members .membershipInfo{width:540px;margin:80px auto 0;padding:30px 25px;border:0;background: #f5f5f5 url('../images/bg_join.jpg') no-repeat right center;text-align: left;font-family:'RobotoM','NotoSansM', sans-serif;}
.members .membershipInfo .infoTit{font-size: 16px;color: #333;}
.members .membershipInfo p{margin-top:10px;font-size: 14px;color: #666;line-height: 1.4em;}
.members .membershipInfo p a{color: #f1645c;text-decoration: underline;}

.members #findPW .inputWrap01 input{width:286px;margin-right: 0;}
.members #findPW .inputWrap02 input{width:160px;}
.members #findPW .inputWrap03 input{width:160px;}
#findPW .btnPhone{width:114px;padding: 10px 0;border-radius: 20px;color: #fff;font-size: 14px;font-family:'RobotoM','NotoSansM', sans-serif;outline: 0;border: 0;}
#findPW .inputWrap02 .btnPhone{background: #999;}
#findPW .inputWrap03 .btnPhone{background: #a9c700;}

.members .doubleCard.login{width:590px;padding: 0;background: none;}
.members .doubleCard.login #addMV{border:10px solid #000;border-radius: 10px;box-shadow: 0px 2px rgba(0,0,0,0.1);}
.members .doubleCard.login .subTit{display: inline-block;width:auto;margin-top:20px;padding:7px 5px;background: rgba(255,255,255,0.6);}
.members .doubleCard.login .inform{margin-top: 20px;color: #666;}

.members .formWrap02{width: 510px;margin-top: 0;text-align: left;}
.members .doubleCard .subTit{font-size: 20px;}
.members .doubleCard:first-child .subTit{font-size: 34px;}
.members .doubleCard > .subTit{margin-top:50px;}
.members .container .formWrap02 input[type="text"], .members .container .formWrap02 input[type="password"], .members .container .formWrap02 input[type="email"]
{width: 470px;margin:15px 0 0 0;padding: 18px 20px;font-size: 16px;}
.members .doubleCard .btn{width: 510px;margin-top:30px;}
.members .doubleCard .loginSns{display: block;width:auto;margin-top:15px;padding:0 25px;}

.members .saveInfo{margin-top:10px;font-family:'RobotoR','NotoSansR', sans-serif;color: #666;}
.members .saveInfo label:before{content: '';display: inline-block;width: 26px;height: 26px;margin-right: 10px;border:1px solid #c8ccd6;border-radius: 6px;vertical-align: middle;}
.members .saveInfo label.on:before{background: url('../images/ico_checkG.png') no-repeat center;}
.members .saveInfo a{float: right;margin-top: 5px;color: #666}

.members .methodWrap{border:0;}
.members .method01{overflow: hidden;margin-top:25px;font-family:'RobotoM','NotoSansM', sans-serif;font-size: 14px;color: #333;text-align: center;}
.members .method01 li{overflow: hidden;float: left;width: 283px;border-radius: 10px;border:1px solid #e3e3e3;}
.members .method01 li:first-child{margin-right: 20px;}
.members .method01 .methodTit{margin-bottom: 20px;padding: 20px;background: #f7f7f7;}
.members .method01 p{color:#999; line-height: 1.3em;}
.members .method01 p b{font-size: 16px;color: #333;}
.members .method01 a{margin:25px 0;}

.members .accountList{margin-top: 30px;font-family:'RobotoM','NotoSansM', sans-serif;}
.members .accountList li{position: relative;overflow: hidden;border-radius: 10px;margin-top:10px;border:1px solid #e3e3e3;}
.members .accountList li:first-child{margin:0;}
.members .accountList .methodTit{position: absolute;top: 0;left: 0;width: 140px;background: #f7f7f7;height: 100%;color: #666;} 
.members .accountList .methodTit:before{content: '';display: inline-block;width: 0;height: 100%;vertical-align: middle;}
.members .accountList .accountSummary{overflow: hidden;margin:0 30px 0 170px;padding: 30px 0;text-align: left;border-top: 1px solid #e8e8e8;}
.members .accountList .accountSummary:first-child{border:0;}
.members .accountList .accountSummary p{display: inline-block;line-height: 1.4em;color: #999;}
.members .accountList .accountSummary p b{color: #333}
.members .accountList .btn{float: right;width:160px;}
.members .accountList .loginSns:before{width:25px;margin-right: 10px;}

.members .lifeStyle{width:188px;padding-top:30px;margin:0 auto;}
.members .lifeStyle p{line-height:1.4em;font-size:22px;font-family:'RobotoR','NotoSansR', sans-serif;color:#333;}
.members .lifeStyle img{width:187px;margin-top:8px;}
.members .loginForm{padding:0 30px;margin-top:30px;}
.members .loginForm > div{padding-bottom:20px;border-bottom:1px solid #ccc;}
.members .loginForm > div > p{text-align:center;font-family:'RobotoB','NotoSansB', sans-serif;}
.members .loginForm ul{margin-top:12px;}
.members .loginForm ul li{margin-top:6px;}
.members .loginForm ul li:first-child{margin-top:0;}
.members .loginForm .btnSizeL{width:100%;margin-top:12px;}
.members .stateBox{margin-top:12px;}
.members .stateBox:after{content:"";display:block;clear:both;}
.members .stateBox p{float:left;}
.members .stateBox a{float:right;padding:4px 0;}
.members .policy{margin-top:20px;padding:0 10px;letter-spacing:-1px;text-align:center;line-height:1.4em;color:#333;font-family:'RobotoR','NotoSansR', sans-serif;}
.members .policy span{color:#00aeb9;text-decoration:underline;}

.snsList{margin-top:20px;}
.snsList li{padding:0 30px;margin-top:6px;}
.snsList li:first-child{margin-top:0;}
.snsBtn{position:relative;display:block;border:1px solid #ccc;border-radius:20px;text-align:center;font-family:'RobotoB','NotoSansB', sans-serif;}
.snsBtnS{height:30px;font-size:12px;text-align:left !important;}
.snsBtnS span{display:block;padding-top:7px;padding-left:50px;}
.snsBtnS:before{position:absolute;left:40px;top:8px;content:"";display:block;width:1px;height:12px;background:#ccc;}
.snsBtnS.facebook{background:url("../images/ico_sns.png") no-repeat 17px 6px;background-size:10px;}
.snsBtnS.naver{background:url("../images/ico_sns.png") no-repeat 17px -42px;background-size:10px;}
.snsBtnS.kakao{background:url("../images/ico_sns.png") no-repeat 17px -84px;background-size:10px;}
.snsBtnM{height:34px;font-size:14px;}
.snsBtnM span{display:block;padding-top:8px;}
.snsBtnM:before{position:absolute;left:55px;top:11px;content:"";display:block;width:1px;height:12px;background:#ccc;}
.snsBtnM.facebook{background:url("../images/ico_sns.png") no-repeat 26px 10px;background-size:10px;}
.snsBtnM.naver{background:url("../images/ico_sns.png") no-repeat 26px -37px;background-size:10px;}
.snsBtnM.kakao{background:url("../images/ico_sns.png") no-repeat 26px -81px;background-size:10px;}

.members .accTxt{text-align:center;margin-top:25px;}
.members .accTxt em,
.members .accTxt span{display:block;}
.members .accTxt em{font-style:normal;font-size:15px;font-family:'RobotoR','NotoSansR', sans-serif;color:#000;}
.members .accTxt span{margin-top:14px;line-height:1.4em;color:#666;font-size:12px;}
.members .accountArea{padding:0 16px;margin-top:20px;}
.members .accountArea dl{border:1px solid #ccc;text-align:center;margin-top:10px;}
.members .accountArea dl:first-child{margin-top:0;}
.members .accountArea dt{height:30px;line-height:30px;background:#f8f8f8;color:#000;}
.members .accountArea dd{padding:0 20px;}
.members .accountArea dd div{padding:20px 0;}
.members .accountArea dd div.bdt{border-top:1px solid #e5e5e5;}
.members .accountArea .date strong,
.members .accountArea .date span{display:block;}
.members .accountArea .date strong{color:#333;font-family:'RobotoB','NotoSansB', sans-serif;font-size:14px;}
.members .accountArea .date span{margin:6px 0 16px;color:#999;font-size:12px;}
.members .accountArea .date + p{line-height:1.4em;margin:16px 0 16px;color:#666;}
.members .accountArea .btn,
.members .accountArea .snsBtn{width:150px;margin:0 auto;}
.members .currentAccount{height:55px;display:block;margin-top:36px;text-align:center;background:#464646;color:#fff;}
.members .currentAccount span{display:block;padding-top:14px;font-size:18px;font-family:'RobotoR','NotoSansR', sans-serif;}

.members .restAccount{text-align:center;padding:25px 15px 0}
.members .restAccount div{padding-bottom:20px;border-bottom:1px solid #ccc;}
.members .restAccount p{line-height:1.4em;font-family:'RobotoR','NotoSansR', sans-serif;}
.members .restAccount p:first-child{color:#000;font-size:16px;}
.members .restAccount p:first-child span{color:#00aeb9;}
.members .restAccount p:first-child + p{margin-top:14px;color:#666;font-size:12px;}
.members .btnWrap{text-align:center;margin-top:20px;}
.members .btnWrap .btn{width:140px;display:inline-block;}

.members .certification{padding:0 15px;text-align:center;}
.members .certification div{padding-bottom:20px;border-bottom:1px solid #ccc;}
.members .certification.bd0 div{border:0;}
.members .certification p{line-height:1.4em;}
.members .certification p:first-child{font-size:16px;}
.members .certification p:last-child{margin-top:15px;font-size:12px;color:#666;}
.members .certification p:first-child span,
.members .certification p:last-child span{color:#00aeb9;}
.members .numInput{padding:0 15px;margin-top:20px;}

.members .terms h4{font-size:15px;}
.members .terms h5{margin-top:18px;color:#666;font-size:13px;}
.members .terms p{line-height:1.4em;margin-top:15px;color:#666;}

.members .emailSend{padding:20px 6px;background:#f8f8f8;border-top:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;text-align:center;}
.members .emailSend p{line-height:1.4em;letter-spacing:-1px;}
.members .emailSend p:first-child{color:#000;font-family:'RobotoB','NotoSansB', sans-serif;}
.members .emailSend p:first-child + p{color:#999;margin-bottom:20px;}
.members .emailSend .btn{width:140px;}
.members .commonMain{padding:0 15px;margin-top:20px;}
.members .commonMain .btn{width:100%;}
