@charset "utf-8";
@font-face {
	font-family:"NotoSansT";
	font-style:normal;
	src:url("../font/NotoSansKR-Thin-Hestia.eot");
	src:url("../font/NotoSansKR-Thin-Hestia.eot?#iefix") format("embedded-opentype"),
	url("../font/NotoSansKR-Thin-Hestia.woff") format("woff"),
	url("../font/NotoSansKR-Thin-Hestia.otf") format("opentype");
}
@font-face {
	font-family:"NotoSansL";
	font-style:normal;
	src:url("../font/NotoSansKR-Light-Hestia.eot");
	src:url("../font/NotoSansKR-Light-Hestia.eot?#iefix") format("embedded-opentype"),
	url("../font/NotoSansKR-Light-Hestia.woff") format("woff"),
	url("../font/NotoSansKR-Light-Hestia.otf") format("opentype");
}
@font-face {
	font-family:"NotoSansR";
	font-style:normal;
	src:url("../font/NotoSansKR-Regular-Hestia.eot");
	src:url("../font/NotoSansKR-Regular-Hestia.eot?#iefix") format("embedded-opentype"),
	url("../font/NotoSansKR-Regular-Hestia.woff") format("woff"),
	url("../font/NotoSansKR-Regular-Hestia.otf") format("opentype");
}
@font-face {
	font-family:"NotoSansM";
	font-style:normal;
	src:url("../font/NotoSansKR-Medium-Hestia.eot");
	src:url("../font/NotoSansKR-Medium-Hestia.eot?#iefix") format("embedded-opentype"),
	url("../font/NotoSansKR-Medium-Hestia.woff") format("woff"),
	url("../font/NotoSansKR-Medium-Hestia.otf") format("opentype");
}
@font-face {
	font-family:"NotoSansB";
	font-style:normal;
	src:url("../font/NotoSansKR-Bold-Hestia.eot");
	src:url("../font/NotoSansKR-Bold-Hestia.eot?#iefix") format("embedded-opentype"),
	url("../font/NotoSansKR-Bold-Hestia.woff") format("woff"),
	url("../font/NotoSansKR-Bold-Hestia.otf") format("opentype");
}
