/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden; -webkit-transform:translate3d(0,0,0);}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling:touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {background:#000; opacity:0.2; filter:alpha(opacity = 20);}
#colorbox {outline:0;}
    #cboxContent {overflow:visible; background:#fff; padding:30px; border-radius:10px; font-family:'RobotoR','NotoSansR', sans-serif;color:#000; -moz-animation-play-state: }
        #cboxError { padding:50px; border:1px solid #ccc; }
        #cboxLoadedContent { padding:10px 0 0px;color:#666;line-height:1.4em;font-size:14px; }
        #cboxLoadedContent .popTit { top:0; padding-bottom:20px; border-bottom:1px solid #666; font-size:30px; }
        #cboxLoadedContent .popTit span.count{color:#f1645c;}
        #cboxLoadedContent .subTit { font-size:20px;color:#000; }
        #cboxLoadedContent .popScroll { overflow:auto;margin-top:30px; }
        #cboxLoadedContent p { margin-top:20px; }
        #cboxLoadedContent p:first-child { margin-top:0; }

        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxClose { display:block;position:absolute;top:30px;right:30px;width:40px;height:40px;border:0;padding:0;text-indent:-9999px;background:url('../images/btn_closeG.png') no-repeat center;  }
        #cboxClose:active {outline:0;}

#colorbox .btnHome{display: inline-block;margin:35px auto 0;padding: 9px 25px;background: #f1645c;color: #fff;font-family: 'RobotoM','NotoSansM', sans-serif;font-size: 14px;border-radius: 20px;}

.popCon input[type="text"]{width:230px; padding:10px 20px; border:1px solid #d6d6d6; border-radius:7px; font-family:'RobotoM','NotoSansM', sans-serif; color: #999; margin:0;}
.popCon select{padding:10px 10px; border:1px solid #d6d6d6; border-radius:7px;color: #999;}
.popCon fieldset legend {width:0; height:0; overflow:hidden; position:absolute; top:-999; left:-999; line-height:100%; visibility:hidden;}
.popCon textarea {width:87%; padding:10px 20px; border:1px solid #d6d6d6; border-radius:7px; font-family:'RobotoM','NotoSansM', sans-serif; color: #999;}
.popCon h5.popSubTit {width:100%; overflow:hidden; font-size:20px; font-family:'NotoSansR','RobotoR', sans-serif; line-height:130%;}
.popCon h5.popSubTit + .popTb,
.popCon h5.popSubTit + .tbSet,
.popCon .popTb + h5.popSubTit {margin-top:20px;}
.popCon .popBtnS {width:110px; height:40px; background:#999; color:#fff; border-radius:7px; overflow:hidden; display:inline-block; line-height:40px; text-align:center; outline:0; border:0;}

.popCon .popTb {width:100%; display:inline-block; border-top:1px solid #545454;}
.popCon .popTb table{width:100%; border-bottom:1px solid #ccc; font-family:'RobotoR','NotoSansR', sans-serif; font-size: 14px; text-align: center; line-height: 1.2em}
.popCon .popTb table.tbL td {text-align:left;}
.popCon .popTb table.tbL td.txtC {text-align:center;}
.popCon .popTb table tr.basic td {background:#fefff5;}
.popCon .popTb table tr th {padding:15px; background:#f8f8f8; color:#333; font-family:'NotoSansR','RobotoR', sans-serif;}
.popCon .popTb table tr td {padding:15px; border-top:1px solid #e1e1e1;}
.popCon .popTb table tbody tr th {border-bottom:1px solid #e1e1e1;}
.popCon .popTb table td + td {border-left:1px solid #e1e1e1;}
.popCon .popTb table td a {color:#333;}
.popCon .popTb table td a.btnSizeS {color:#fff;}
.popCon .popTb table td em {padding:5px 8px; margin-bottom:9px; border:1px solid #333; border-radius:15px; text-align:center; color:#333; font-style:normal; display:inline-block; line-height:98%; font-size:12px;}
.popCon .popTb table td span.adrList {width:100%; display:inline-block;}
.popCon .popTb table td span.adrList span {width:100%; display:inline-block; font-family:'NotoSansL','RobotoL', sans-serif; color:#333;}
.popCon .popTb table td span.adrList span b {padding-right:5px; margin-right:5px; background:url('../images/bul_bar.png') 100% 50% no-repeat; font-family:'NotoSansR','RobotoR', sans-serif; display:inline-block; color:#333;}
.popCon .popTb table td.btnZone .btnSizeS + .btnSizeS {margin-top:4px;}
.popCon .popTb + .popTb {margin-top:47px;}
.popCon .popTb table tr td a.pointRed {color:#f1645c;}

.popCon .popForm {width:100%; overflow:hidden; text-align:center;}
.popCon .popFormLine {width:100%; padding-bottom:40px; overflow:hidden; text-align:center; border-bottom:1px solid #e8e8e8;}
.popCon .popFormLine select + button,
.popCon .popFormLine input[type=text] + button {margin-left:5px;}
.popCon .popDel {width:100%; overflow:hidden; text-align:center;}
.popCon .popDel p {font-size:16px; color:#666;}
.popCon .titList {width:100%; overflow:hidden; padding:25px 0 40px;}
.popCon .titList p.tit {width:12%; float:left; color:#999; text-align:center;}
.popCon .titList ul.popList {width:88%; float:left;}
.popCon ul.addressForm {width:100%; overflow:hidden;}
.popCon ul.addressForm li + li {margin-top:10px;}
.popCon .adrBtnG {width:100%; overflow:hidden; margin-bottom:10px;}
.popCon .adrBtnG .infoTxt {font-size:14px; font-family:'NotoSansL','RobotoL', sans-serif; display:inline-block;}
.popCon .adrBtnG a.btnSizeM + .infoTxt {margin-left:10px;}
.popCon .underTxt {font-size:14px; color:#999; font-family:'NotoSansR','RobotoR', sans-serif;}
.popCon input + .underTxt {width:100%; margin-top:10px; display:inline-block;}
.popCon .searchBtnM {width:90px; height:40px; font-size:14px; border-radius:20px; line-height:40px;}
.popCon .checkbox + .btnWrap,
.popCon .popTb + .btnWrap {margin-top:24px;}
.popCon .checkPw {width:100%; text-align:center;}
.popCon .checkPw p.tit {font-size:20px; color:#000; letter-spacing:-1px; font-family:'NotoSansR','RobotoR', sans-serif;}
.popCon .expertInfo {width:100%; overflow:hidden;}
.popCon .expertInfo .ePic {width:180px; height:180px; margin-left:15px; border-radius:50%; overflow:hidden; float:left;}
.popCon .expertInfo .ePic img {width:180px; height:180px;}
.popCon .expertInfo .eCon {width:583px; float:left; overflow:hidden; padding:30px 0; margin-left:40px;}
.popCon .expertInfo .eCon .infoWrap {width:100%; overflow:hidden; position:relative;}
.popCon .expertInfo .eCon .infoWrap p {line-height:130%;}
.popCon .expertInfo .eCon .infoWrap p.infoTit {font-size:30px; font-family:'NotoSansR','RobotoR', sans-serif; color:#000;}
#cboxLoadedContent .popCon .expertInfo .eCon .infoWrap p.infoId {margin-top:5px; font-size:16px;  font-family:'RobotoL','NotoSansL', sans-serif; color:#666;}
.popCon .expertInfo .eCon .infoWrap a.expertMore {width:99px; height:28px; padding:0 15px; border:1px solid #999; border-radius:13px; position:absolute; top:0; right:0; display:inline-block; line-height:28px; font-size:14px; text-align:center; color:#666;  font-family:'NotoSansR','RobotoR', sans-serif;}
.popCon .expertInfo .eCon .infoDetail {width:100%; min-height:40px; overflow:hidden; position:relative;}
.popCon .expertInfo .eCon .infoDetail:before {content:''; width:50px; height:1px; background:#c7c7c7; position:absolute; top:0; left:0; display:inline-block;}
.popCon .expertInfo .eCon .infoDetail .eTxt {width:50%; margin-top:20px; min-height:40px; float:left;}
.popCon .expertInfo .eCon .infoDetail .eTxt span {font-family:'NotoSansL','RobotoL', sans-serif; display:inline-block; position:relative;}
.popCon .expertInfo .eCon .infoDetail .eTxt span:before {content:''; display:inline-block; position:absolute;}
.popCon .expertInfo .eCon .infoDetail .eTxt span.eAddress {padding-left:13px;}
.popCon .expertInfo .eCon .infoDetail .eTxt span.eAddress:before { width:10px; height:16px; background:url('../images/ico_card_popular.png') -35px -10px no-repeat; top:1px; left:0;}
.popCon .expertInfo .eCon .infoDetail .eTxt span.eStar {padding-left:15px;}
.popCon .expertInfo .eCon .infoDetail .eTxt span.eStar:before {width:13px; height:14px; background:url('../images/ico_card_popular.png') 0 -10px no-repeat; top:2px; left:0;}
.popCon .expertInfo .eCon .infoDetail .eTxt span + span {margin-left:13px;}
.popCon .expertInfo .eCon .infoDetail .eBtn {width:50%; margin-top:10px; float:right; text-align:right;}
.popCon .expertInfo .eCon .infoDetail .eBtn a + a {margin-left:5px;}
.popCon .expertInfo + .popTb {margin-top:32px;}
.popCon .popMail input[type=text] {width:67px;}
.popCon .popMail select {width:141px;}
.popCon .messageRadio {width:100%;}
.popCon .messageRadio span.radioBox + span.radioBox {margin-left:30px;}
.popCon .popUnderTxt {width:100%; text-align:center; color:#000;}
.popCon .popUnderTxt span.pointRed {color:#f1645c;}
.popCon .popSearch {width:100%; overflow:hidden; text-align:center; margin-bottom:20px;}

ul.popList {width:100%; overflow:hidden;}
ul.popList li span b {font-family:'RobotoB', 'NotoSansB', sans-serif;}
ul.popList li {width:97%; padding-left:11px; background:url('../images/bul_dot2.png') 0 8px no-repeat; text-align:left; display:inline-block; color:#999; letter-spacing:-1px;}
ul.popList li + li {margin-top:10px;}
ul.popList + .btnWrap,
.popCon form + .btnWrap,
.popCon .tbSet + .btnWrap,
.popCon .popForm + .btnWrap,
.popCon .popFormLine + .btnWrap,
.popCon .popDel + .btnWrap {margin-top:40px;}

/* category */
.category .subTop {}
.catSorting{width:100%; text-align: center;}
.catSorting .wrap{width:100%; overflow: hidden;padding:32px 0; max-width:1150px;}
.catSorting .catSort {width:25%; float:left;}
.catSorting .catSort .sortCont {height:377px; padding:0 15px; overflow:hidden; margin-top:20px;}
.catSorting .catSort +.catSort .sortCont {border-left:1px solid #d9d9d9;}
.catSorting .catSort h3.sortTit{color: #666;font-size: 16px;}
.catSorting .catSort h3.sortTit span{color:#f1645c; }
.catSorting .catSort .sortCont ul{width:100%; overflow: hidden; font-family:'RobotoR','NotoSansR', sans-serif;}
.catSorting .catSort .sortCont ul li{float: left;width:50%;margin-bottom:10px;}
.catSorting .catSort .sortCont ul li a{width:113px; display:inline-block; position: relative; margin: 0 5px;padding: 9px 0px;background:#f2f2f2; border-radius: 20px;color: #666;font-size: 14px; border:4px solid #f2f2f2; text-align:center;}
.catSorting .catSort .sortCont ul li a.on{color: #f1645c;border:4px solid #f1645c; background:#fff; }
.catSorting .catSort .sortCont ul li a:before{content: ''; width:15px; height:15px; position: absolute; left:10px; top:12px; border-radius: 50%;}
.catSorting .catSort .sortCont ul li #colorAll:before{background:url(../images/all_color.png) 0 0 no-repeat;}
.catSorting .catSort .sortCont ul li #color01:before{width:13px; height:13px; border:1px solid #999; background:#fff; overflow:hidden;}
.catSorting .catSort .sortCont ul li #color02:before{background:#999;}
.catSorting .catSort .sortCont ul li #color03:before{background:#4d4d4d;}
.catSorting .catSort .sortCont ul li #color04:before{background:#825f52;}
.catSorting .catSort .sortCont ul li #color05:before{background:#eac294;}
.catSorting .catSort .sortCont ul li #color06:before{background:#92278f;}
.catSorting .catSort .sortCont ul li #color07:before{background:#ff80ab;}
.catSorting .catSort .sortCont ul li #color08:before{background:#e1594b;}
.catSorting .catSort .sortCont ul li #color09:before{background:#f68c0b;}
.catSorting .catSort .sortCont ul li #color10:before{background:#ffc814;}
.catSorting .catSort .sortCont ul li #color11:before{background:#9ccc66;}
.catSorting .catSort .sortCont ul li #color12:before{background:#48c7ff;}
.catSorting .btnSort{width:100%; overflow:hidden; text-align:center;}
.catSorting .btnSort a{display: inline-block;width: 140px;margin:30px 8px 0;padding:12px 0;color: #fff;font-family:'RobotoM','NotoSansM', sans-serif;border-radius: 20px;}
.catSorting .btnSort #btnReset{background:#666; }
.catSorting .btnSort #btnConfirm{background: #f1645c;}
.catSorting .catSort .sortCont .sortGraph {width:100%; height:12px; margin:54px 0 59px; display:inline-block; border-radius:5px; background:#e1e1e1;}
.catSorting .catSort .sortCont .sortGraph .graphBar {width:100%; height:12px; background:#f1645c; position:relative;}
.catSorting .catSort .sortCont .sortGraph .graphBar a.graphBtn {width:0; height:0; padding:41px 41px 0 0; overflow:hidden; display:inline-block; position:absolute; top:-17px;}
.catSorting .catSort .sortCont .sortGraph .graphBar a.graphBtn.leftBtn {background:url('../images/detail_arrow.png') 0 0 no-repeat; left:-20px;}
.catSorting .catSort .sortCont .sortGraph .graphBar a.graphBtn.rightBtn {background:url('../images/detail_arrow.png') 0 -41px no-repeat; right:-20px;}
.catSorting .catSort .sortCont .sortGraph .graphBar span.graphData {width:84px; height:12px; margin-left:-47px; padding:7px; background:#f1645c; color:#fff; border-radius:11px; position:absolute; top:-40px; left:50%; display:inline-block; line-height:100%; font-size:13px;}
.catSorting .catSort .sortCont .sortGraph .graphBar span.graphData:after {content:''; width:11px; height:6px; margin-left:-5px; background:url('../images/detail_bg.png') 0 0 no-repeat; position:absolute; bottom:-6px; left:50%;}
.catSorting .catSort .sortCont .sortGraph .won {width:100%; overflow:hidden; margin-top:15px;}
.catSorting .catSort .sortCont .sortGraph .won span {width:50%; float:left; display:inline-block; letter-spacing:-1px;}
.catSorting .catSort .sortCont .sortGraph .won span.wonL {text-align:left;}
.catSorting .catSort .sortCont .sortGraph .won span.wonR {text-align:right;}
.catSorting .catSort .sortCont ul + h3.sortTit {margin-top:20px;}

a.btnDetail {padding:10px 0 0 50px; position:relative; color:#666; float:left;}
a.btnDetail:before {content:''; width:40px; height:40px; border-radius:50%; overflow:hidden; background:url('../images/ico_DetailedMore.png') 50% 50% no-repeat #fff; position:absolute; top:0; left:0; box-shadow:0 3px rgba(0,0,0,.12);}


.lyPop.orderPop .popCon {padding:20px 0;}
.lyPop.categoryPop .popCon {padding:0;}
