body{margin:0;line-height:1;font-family:'RobotoL','NotoSansL', sans-serif}
a{text-decoration:none;}
a:link, a:visited, a:hover, a:active, a:focus {text-decoration:none;}
ul, ol, li{list-style:none;padding:0;margin:0;}
fieldset{border:0;padding:0;margin:0;}
h1, h2, h3, h4, h5, h6, p{margin:0;font-weight:normal;}
input, textarea, button, select, option, {line-height:1;font-family:'RobotoL','NotoSansL', sans-serif;border:0;outline:0;background:none}
b,strong{font-weight:normal;}
ul, li{list-style:none;}
.hide{overflow: hidden; position:absolute; width:0; height:0; margin:0 !important; padding:0 !important; font-size: 0 !important;}

.wrapper{min-width:1220px;background:#e0e0e0 url('../images/bg.jpg') center repeat-y;letter-spacing:-0.5px;}
.topBanner{display: none;}
.main .topBanner{display: block;}

.topMenu{position: fixed;left: 0;top: 0;right: 0;height: 60px;background: #fff;box-shadow:0px 2px #c9c9c9;z-index: 2;}
.topMenu .topL{float: left;width:55%;height: 100%;}
.topMenu .topL .btnLnb{float: left;width: 80px;height:60px;background:url('../images/btn_menu.png') no-repeat center;}
.topMenu .topL .logo{float: left;vertical-align: top;}
.topMenu .topL .logo a{display: block;padding: 15px 0;}
.topMenu .topL .menu{overflow: hidden;margin-left: 25%;}
.topMenu .topL .menu li{float: left;width:20%;text-align: center;}
.topMenu .topL .menu li a{display: block;padding: 22px 0;font-family:'RobotoM','NotoSansB', sans-serif;color:#333;font-size:16px;}

.topMenu .topR{float: left;width:45%;height: 100%;text-align: center;}
.topMenu .topR .searchOpen{overflow: hidden;display: inline-block;float: right;width: 40px;height: 40px;margin-top:10px;background: #f1645c url('../images/iso_search.png') no-repeat center;border-radius: 50%;}

.topMenu .topR .searchWrap{position: absolute;top: 60px;left: 0;width: 100%;background: #fff;text-align: left;}
.topMenu .topR .searchWrap .keyWrap{overflow: hidden;padding:10px 0;font-size:14px;}
.topMenu .topR .searchWrap .wrap{max-width:1500px;margin:0 auto;}
.topMenu .topR .searchWrap .keyTit{float: left;margin-top:14px;font-family:'RobotoM','NotoSansM', sans-serif;font-size: 14px;}
.topMenu .topR .searchWrap .keyword{margin-left: 90px;}
.topMenu .topR .searchWrap .keyword li{display: inline-block;margin-left: 10px;}
.topMenu .topR .searchWrap .keyword li:first-child{margin:0;}
.topMenu .topR .searchWrap .keyword li a{font-family:'RobotoM','NotoSansM', sans-serif;vertical-align: middle;}
.topMenu .topR .searchWrap .keyword .del{display: inline-block;width: 30px;height: 30px;background: url('../images/btn_closeS.png') no-repeat center;vertical-align: middle;cursor: pointer;}
.topMenu .topR .searchWrap .keyword .delAll{background: #999;}
.topMenu .topR .searchWrap .keyword .delAll a{color: #fff;}
.topMenu .topR .searchWrap .keyword .delAll .del{background:url('../images/btn_closeW.png') no-repeat center;}

.topMenu .topR .searchWrap .searchSet{position: relative;float: right;width: 35%;padding:5px 40px 5px 20px;background: #fff;border-radius:20px;}
.topMenu .topR .searchWrap #searchTxt{width: 100%;border:0;height: 28px;line-height: 28px;}
.topMenu .topR .searchWrap button{position: absolute;top:6px;right: 3px;width:40px;height:30px;font-size:0;background: url('../images/ico_search.png') no-repeat center;border:0;vertical-align: middle;}

.topMenu .topR .searchWrap .recomand{background: #f1645c;}
.topMenu .topR .searchWrap .recomand .keyTit {color: #fff;}
.topMenu .topR .searchWrap .recomand a{color: #fff}
.topMenu .topR .searchWrap .recomand .keyword{padding-top: 14px;}
.topMenu .topR .searchWrap .recently .keyTit {color: #333;}
.topMenu .topR .searchWrap .recently li{border-radius: 20px;border:1px solid #d9d9d9;}
.topMenu .topR .searchWrap .recently a{display: inline-block;padding: 12px 14px;color: #666;}

.topMenu .topR .member{display: none;float:right;margin-right:30px;padding: 10px 0;}
.login .topMenu .topR .member{display: block;}
.topMenu .topR .member a{display: inline-block;vertical-align: middle;}
.topMenu .topR .member .name{font-family:'RobotoR','NotoSansR', sans-serif;color: #737373;}
.topMenu .topR .member .pic{overflow:hidden;width: 40px;height: 40px;border-radius:50%;}
.topMenu .topR .member .pic img{width: 100%;}
.topMenu .topR .member .btnAlarm{overflow: hidden;display: inline-block;width: 40px;height: 40px;margin-left:10px;background: #a9c700 url('../images/ico_alarm.png') no-repeat center;border-radius: 50%;}
.topMenu .topR .btnLogin{float:right;display: inline-block;margin:12px 30px 12px 10px;padding:11px 20px 9px;border-radius: 20px;background:#a9c700;color: #fff;font-family:'RobotoR','NotoSansR', sans-serif;font-size:14px;}
.login .topR .btnLogin{display: none;}

.lnb{overflow: auto;position: fixed;top: 0;bottom: 0;left: -285px;width:285px;height: 100%;background:#fff;z-index:2;box-shadow:0px 6px 6px rgba(0,0,0,0.12);text-align: center;}
.lnb .profile{min-height:420px;background: #f1645c url('../images/bg_lnb.jpg') no-repeat bottom;}
.lnb .profile .count{border-radius:10px;padding:4px 7px;color:#fff;font-size:13px;font-family:'RobotoM',sans-serif;}
.lnb .profile .close{float: left;display: block;width: 80px;height:60px;background: url('../images/btn_close.png') no-repeat center}
.lnb .profile .setting{float: right;display: block;width: 80px;height:60px;background: url('../images/btn_set.png') no-repeat center}
.lnb .profile .logoL{display: block;margin:0 80px;padding:17px 0;text-align: center;}
.lnb .profile .pic{overflow: hidden;width:100px;height:100px;border-radius: 50%;margin:20px auto;}
.lnb .profile .pic img{display: block;width: 100%;}
.lnb .profile .profileInfo{color:#fff;font-size:13px;line-height: 1.3em}
.lnb .profile .profileInfo span{font-size:16px;}
.lnb .profile .btnList{margin-top:10px;font-size: 0;}
.lnb .profile .btnList li{position: relative;display: inline-block;width:22px;height: 22px;margin:0 7px;background-image: url('../images/btn_profile.png');}
.lnb .profile .btnList li a{display: block;width: 100%;height: 100%;}
.lnb .profile .btnList .btnList01{background-position: 0 0;}
.lnb .profile .btnList .btnList02{background-position: -22px 0;}
.lnb .profile .btnList .btnList03{background-position: -44px 0;}
.lnb .profile .btnList .btnList04{background-position: -66px 0;}
.lnb .profile .btnList .count{position: absolute;top:-10px;right:-20px;background:#a11b13;}
.lnb .profile .btnMypage{display: inline-block;margin-top:20px;padding:11px 30px;background:#fff;border-radius:20px;font-size:13px;font-family:'RobotoM','NotoSansM', sans-serif;text-align: center;color: #000;}
.lnb .profile .btnMypage:after{content:'';display: inline-block;width: 20px;height: 18px;margin-left:5px;background: url('../images/ico_home.png') no-repeat;vertical-align: bottom; }
.lnb .profile .myMenu{display: none;margin-top:18px;padding:0 30px;text-align: left;}
.lnb .profile .myMenu li{position: relative;border-top:1px solid #f4837d;}
.lnb .profile .myMenu li:first-child{border:0;}
.lnb .profile .myMenu li a{display:block; padding:10px 0 10px 10px;color: #fff;font-size:14px;}
.lnb .profile .myMenu .count{float: right;margin-top: -2px;background: #d64e48;}
.lnb .profile .menuToggle{display: block;padding:20px 0;}
.lnb .profile .menuToggle img{display: block;margin: 0 auto}
.lnb .leftMenu{margin-top:13px;padding: 0 30px;line-height: 2em;text-align: left;}
.lnb .leftMenu a{display: block;font-size:14px;}
.lnb .leftMenu .depth01{padding:5px 0;border-bottom:1px solid #f2f2f2;font-family:'RobotoM','NotoSansM', sans-serif;color:#333;}
.lnb .leftMenu .depth01 .toggle{float:right;display: inline-block;width:12px;height:8px;margin-top:12px;background:url('../images/ico_lnb.png')}
.lnb .leftMenu .depth02{display: none;padding:10px 0;border-bottom:1px solid #f2f2f2;}
.lnb .leftMenu .depth02 a{padding:0 10px;font-family:'RobotoR','NotoSansR', sans-serif;color:#666;}
.lnb .leftMenu .depth02 b{color:#bdcb6b;}
.lnb .btnLog{overflow: hidden;display: inline-block;margin:52px auto;padding:10px 30px;border-radius:15px;background: #999;color: #fff;font-family:'RobotoR','NotoSansR', sans-serif;}
.login .lnb .in{display: none;} 
.logout .lnb .out{display: none;}

.container{padding-bottom:200px;max-width: 1500px;margin:0 auto;padding-top: 90px;position: relative;z-index: 1;}

.arrayWrap{clear: both}
.arrayWrap .arrayDrop{position: relative;overflow: hidden;display: inline-block;height: 37px;border-radius: 10px;background:#fff;box-shadow:0px 3px rgba(0,0,0,0.12)}
.arrayWrap .arrayDrop:after{content:'';position: absolute;top: 15px;right: 10px;width:12px;height:8px;background:url('../images/ico_lnb.png') no-repeat;}
.arrayWrap .arrayDrop li{width: 100%;height:100%;}
.arrayWrap .arrayDrop li a{display: block;padding:12px 40px 12px 15px;font-family:'RobotoR','NotoSansR', sans-serif;color:#666;font-size: 13px;}
.arrayWrap .arrayDrop.arrayCount{float: right;}

.cardWrap{overflow: hidden;margin:40px -20px 0 0;}
.cardWrap > li{overflow: hidden;float: left;width:285px;margin-bottom: 10px;background-color:#fff;text-align: center;color:#fefefe;background-size: 100%;background-position: center}

.cardWrap .cardCon{position: relative;display: block;width:265px;padding:80px 10px;color:#fefefe;}
.cardWrap .cardTop{position: absolute;top:0;left:0;z-index: 1}
.cardWrap .cardBtm{position: absolute;bottom:0;left:0;z-index: 1}
.cardWrap .cardCon .hoverCon{display: none;}
/*.cardWrap .cardCon:hover .hoverCon{display: block;}*/
/*.cardWrap .cardCon:hover .hoverOff{display: none;}*/
.cardWrap .cardEnter{position: absolute;left:50%;bottom:30px;margin-left: -32px;z-index: 2}
.cardWrap .cardEnter img{display: block;}
.cardWrap .cardRemove{position: absolute;top:20px;left: 50%;display: block;width: 30px;height: 30px;margin-left:-15px;background:url('../images/btn_close.png') no-repeat center;z-index: 2}
.cardWrap .cardTit{font-family:'RobotoR','NotoSansR', sans-serif;font-size: 34px;line-height: 1.2em;}
.cardWrap .cardSub{font-family:'RobotoM','NotoSansM', sans-serif;font-size: 14px;line-height: 1.2em;}
.cardWrap .cardIntro{font-family:'RobotoR','NotoSansR', sans-serif;font-size: 14px;line-height: 1.2em;}
.cardWrap .cardInfo{font-family:'RobotoR','NotoSansR', sans-serif;font-size: 20px;line-height: 1.2em;}
.cardWrap .cardThumb{overflow: hidden;width: 180px;height:180px;border-radius:50%;margin:15px auto;}
.cardWrap .cardThumb img{display: block;width: 100%;}
.cardWrap .cardIntro:before{content:'';display:block;width: 25px;height: 1px;margin:18px auto;background: #fff}
.cardWrap .cardCat{position: relative;top:-30px;margin-bottom:10px;font-family:'RobotoR','NotoSansR', sans-serif;font-size: 14px;}
.cardWrap .cardCat:before{content: '';display: block;width: 28px;height:28px;margin:0 auto;background: url('/images/ico_card_type.png') no-repeat;}
.cardWrap .cardType01 .cardCat:before{background-position:0 0}
.cardWrap .cardType02 .cardCat:before{background-position:-28px 0}
.cardWrap .cardType03 .cardCat:before{background-position:-56px 0}
.cardWrap .cardType11 .cardCat:before{background-position:-84px 0}
.cardWrap .cardDetail{position: absolute;left:0;bottom:13px;width:100%;height:130px}
.cardWrap .cardDetail:before{content:'';display: inline-block;width:0;height: 100%;vertical-align: middle;}
.cardWrap .cardDetailWrap{display: inline-block;margin-left: -5px;vertical-align: middle;}
.cardWrap .cardAuthorPic{overflow: hidden;width:63px;height:64px;border-radius:50%;margin:10px auto 0;}
.cardWrap .cardAuthorPic img{display: block;width: 100%;}
.cardWrap .cardAuthorInfo{padding-bottom:20px;font-family:'RobotoR','NotoSansR', sans-serif;font-size: 14px;line-height: 1.2em;color:#ccc;}
.cardWrap .cardAuthorInfo b{color:#fff}
.cardWrap .cardDetail span:before{content:'';display: inline-block;width: 12px;height: 13px;margin:0 7px;background:url('../images/ico_card_popular.png') no-repeat;}
.cardWrap .cardDetail .comt:before{background-position:-11px 0}
.cardWrap .cardDetail .scrap:before{background-position:-25px -10px}
.cardWrap .cardCollect {overflow: hidden;width:148px;margin:10px auto 0;}
.cardWrap .cardCollect li{overflow: hidden;float: left;width:64px;height: 64px;margin:5px;font-size: 0;}
.cardWrap .cardCollect label{display: block;width: 100%;height: 100%;cursor: pointer}
.cardWrap .cardCollect input{position: absolute;top: -100px;left: -100px}
.cardWrap .cardCollect .collect01 label{background-position:0 0}
.cardWrap .cardCollect .collect01 label:hover, .cardWrap .cardCollect .collect01.on label{background-position:0 -64px;}
.cardWrap .cardCollect .collect02 label{background-position:-64px 0}
.cardWrap .cardCollect .collect02 label:hover, .cardWrap .cardCollect .collect02.on label{background-position:-64px -64px}
.cardWrap .cardCollect .collect03 label{background-position:-128px 0}
.cardWrap .cardCollect .collect03 label:hover, .cardWrap .cardCollect .collect03.on label{background-position:-128px -64px}
.cardWrap .cardCollect .collect04 label{background-position:-192px 0}
.cardWrap .cardCollect .collect04 label:hover, .cardWrap .cardCollect .collect04.on label{background-position:-192px -64px}

.cardWrap .cardCollect.pet label{background-image: url('../images/btn_card_pet.png')} 
.cardWrap .cardCollect.fam label{background-image: url('../images/btn_card_fam.png')} 

.cardWrap .tag{margin-top:15px;}
.cardWrap .tag li{display: inline-block;font-size:14px;font-family:'RobotoR','NotoSansR', sans-serif;color: #c3d656}

.cardWrap .cardSize01 .cardCon{height:160px;}
.cardWrap .cardSize02 .cardCon{height:330px;}
.cardWrap .cardSize03 .cardCon{height:500px;}
.cardWrap .cardSize04{width:590px;}
.cardWrap .cardSize04 .cardCon{width:570px;height:585px;}
.cardWrap .cardSize04.cardType06 {background-color: #fff;}
.cardWrap .cardSize04.cardType06 .cardCon, .cardWrap .cardType11 .cardCon {color:#000;}

.cardWrap .cardType04 .cardTit{font-size: 20px;}
.cardWrap .cardType04 .cardSub{margin-top:10px;font-family:'RobotoL','NotoSansL', sans-serif; }
.cardWrap .cardType04 .cardIntro{font-size: 20px;}
.cardWrap .cardType04 .cardIntro b{font-size: 40px;}
.cardWrap .cardType04 a.cardCon:hover, .cardWrap .cardType05 a.cardCon:hover{background: url('../images/bg_dim.png')}

.cardWrap .cardType05 .cardCon{color: #000;}
.cardWrap .cardType05 .cardTit02{float: left;width:102px;padding:50px 10px 0 20px;font-size: 14px;font-family:'RobotoM','NotoSansM', sans-serif;text-align: left;word-break: keep-all}
.cardWrap .cardType05 .cardAuthorInfo {float: left;width:100px;padding-left: 20px;color: #666;}
.cardWrap .cardType05 .cardAuthorInfo b{color: #000;}
.cardWrap .cardType05 .cardSub{display: none;font-family: 'RobotoL','NotoSansL', sans-serif;}
.cardWrap .cardType05 .union{margin:-20px auto 160px;font-family:'RobotoM','NotoSansM', sans-serif;font-size: 14px;color: #fff;}
.cardWrap .cardType05 .union span{display: inline-block;padding:7px 20px;border:1px solid #fff;border-radius: 20px;}
.cardWrap .cardType05 .cardDetail span:before{background-position:0 -13px}
.cardWrap .cardType05 .cardDetail .comt:before{background-position:-12px -12px}
.cardWrap .cardType05 .cardIntro{color: #666;font-size: 20px;margin-bottom:10px}
.cardWrap .cardType05 .cardIntro b{font-size:40px;}
.cardWrap .cardType05 .cardIntro:before{display: none;}

.cardWrap .cardType05 .cardCon:hover{color: #fff;}
.cardWrap .cardType05 .cardCon:hover .cardTit02{float: none;width:auto;padding:0 10px;margin:0px auto 5px;font-family:'RobotoR','NotoSansR', sans-serif;font-size: 20px;text-align: center;}
.cardWrap .cardType05 .cardCon:hover .cardAuthorInfo{width: 100%;padding: 0;color: #ccc}
.cardWrap .cardType05 .cardCon:hover .cardAuthorInfo b{color: #fff}

.cardWrap .cardType06{background-color: #f1645c;}
.cardWrap .cardType06 .cardDate{display: inline-block;margin-bottom:20px;padding:7px 20px;border:1px solid #b2b2b2;border-radius:15px;font-family:'RobotoM', sans-serif;font-size: 16px;color: #b2b2b2;}
.cardWrap .cardType06 .cardThum{margin-top: 15px;font-family:'RobotoR','NotoSansR', sans-serif;font-size: 14px;line-height: 1.3em;}
.cardWrap .cardType06 .cardThum img{display: block;margin: 0 auto 15px;}

.cardWrap .cardType07{background: #f0f0f0;}
.cardWrap .cardType07 .cardTit{color: #000;}
.cardWrap .cardType07 .cardIntro{color: #666}
.cardWrap .cardType07 .cardIntro:before{background:#666;}
.cardWrap .cardType07 .cardEnter{bottom:40px;margin-left:-38px;padding:10px 25px;background:#999;color: #fff;font-size:14px;font-family:'RobotoR','NotoSansR', sans-serif;border:0;outline:0;border-radius: 20px;cursor: pointer;}

.cardWrap .cardType08{background-color: #f1645c;}

.cardWrap .cardType10{background: #f0f0f0;}
.cardWrap .cardType10 .cardRemove{background-image: url('../images/btn_closeG.png');}
.cardWrap .cardType10 .cardCon a{display: inline-block;width:64px;height: 64px;margin:20px 5px 0;position: relative;z-index: 2}
.cardWrap .cardType10 .cardCon .btn02{background-position:-64px 0 }
.cardWrap .cardType10 .cardCon a:hover{background-position:0 -64px; }
.cardWrap .cardType10 .cardCon .btn02:hover{background-position:-64px -64px; }
.cardWrap .cardType10 .share a{background: url('../images/btn_card_fb.png');}
.cardWrap .cardType10 .share {color: #4862a3;}
.cardWrap .cardType10 .share .cardSub span{color: #808080;font-family: 'RobotoR','NotoSansR', sans-serif;}
.cardWrap .cardType10 .app {color: #333;}
.cardWrap .cardType10 .app a{background: url('../images/btn_card_app.jpg');}
.cardWrap .cardType10 .app .cardSub{color: #808080;}
.cardWrap .cardType10 .tag{color: #000}
.cardWrap .cardType10 .tag .cardIntro{color: #666;}
.cardWrap .cardType10 .tag .cardIntro:before{background: #666}
.cardWrap .cardType10 .tag ul{margin-top:20px;}
.cardWrap .cardType10 .tag a{overflow: hidden;width:auto;height: auto;padding: 10px 15px;margin:3px;border:1px solid #f3918b;color: #f1645c;border-radius: 17px;}

.cardWrap .cardType11 .cardIntro:before{;background:#000;}
.cardWrap .expert .cardSub{margin-top:5px;color: #f1645c;}
.cardWrap .expert .cardIntro{color: #666;}
.cardWrap .expert .cardIntro:before{display: none;}


