body{margin:0;line-height:1;font-family:'RobotoL','NotoSansL', sans-serif}
a{text-decoration:none;}
a:link, a:visited, a:hover, a:active, a:focus {text-decoration:none;}
ul, ol, li{list-style:none;padding:0;margin:0;}
fieldset{border:0;padding:0;margin:0;}
h1, h2, h3, h4, h5, h6, p{margin:0;font-weight:normal;}
input, textarea, button, select, option, {line-height:1;font-family:'RobotoL','NotoSansL', sans-serif;border:0;outline:0;background:none}
b,strong{font-weight:normal;}
table{border-collapse:collapse;border-spacing:0;}
img{border:none}
textarea{resize: none;}
caption{visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0;}
.hide{overflow: hidden; position:absolute; width:0; height:0; margin:0 !important; padding:0 !important; font-size: 0 !important;}

.wrapper{min-width:1240px;background:#fff center top no-repeat;letter-spacing:-0.5px;}
.wrap{max-width:1180px;margin:0 auto;padding: 0 10px}

.topBanner{display: none;}
.main .topBanner{display: block;}

.topMenu{position: fixed;left: 0;top: 0;right: 0;height: 60px;min-width: 1200px;z-index: 1;box-shadow: 0px 2px rgba(0,0,0,0.1)}
.topMenu .topL{float: left;width:55%;height: 100%;background: #fff;}
.topMenu .topL .btnLnb{float: left;width: 80px;height:60px;background:url('../images/btn_menu.png') no-repeat center;}
.topMenu .topL .logo{float: left;vertical-align: top;}
.topMenu .topL .logo a{display: block;padding: 15px 0;}
.topMenu .topL .menu{overflow: hidden;margin-left: 25%;}
.topMenu .topL .menu li{float: left;width:20%;text-align: center;}
.topMenu .topL .menu li a{display: block;padding: 22px 0;font-family:'RobotoM','NotoSansB', sans-serif;color:#333;font-size:16px;}

.topMenu .topR{float: left;width:45%;height: 100%;text-align: center;background: #fff;font-size: 14px;}
.topMenu .topR #searchOpen{overflow: hidden;display: inline-block;float: right;width: 40px;height: 40px;margin-top:10px;background: #f1645c url('../images/ico_search.png') no-repeat top;border-radius: 50%;}
.topMenu .topR #searchOpen.opened{background-position: bottom;}

#top .searchWrap{position: absolute;top: -60px;left: 0;width: 100%;background: #fff;text-align: left;box-shadow:0px 2px #c9c9c9;z-index: -1}
#top .searchWrap .keyWrap{overflow: hidden;padding:10px 30px;font-size:14px;}
#top .searchWrap .wrap{max-width:1500px;}
#top .searchWrap .keyTit{float: left;margin-top:14px;font-family:'RobotoM','NotoSansM', sans-serif;font-size: 14px;}
#top .searchWrap .keyword{overflow: hidden;margin-left: 90px;}
#top .searchWrap .keyword li{display: inline-block;margin-left: 10px;}
#top .searchWrap .keyword li:nth-child(2){margin:0;}
#top .searchWrap .keyword li a{font-family:'RobotoM','NotoSansM', sans-serif;vertical-align: middle;}
#top .searchWrap .keyword .del{display: inline-block;width: 30px;height: 30px;background: url('../images/btn_closeS.png') no-repeat center;vertical-align: middle;cursor: pointer;}
#top .searchWrap .keyword .delAll{float: right;background: #999;border:0;}
#top .searchWrap .keyword .delAll a{color: #fff;}
#top .searchWrap .keyword .delAll .del{background:url('../images/btn_closeW.png') no-repeat center;}

#top .searchWrap .searchSet{position: relative;float: right;width: 35%;padding:5px 40px 5px 20px;background: #fff;border-radius:20px;}
#top .searchWrap #searchTxt{width: 100%;border:0;height: 28px;line-height: 28px;}
#top .searchWrap button{position: absolute;top:6px;right: 3px;width:40px;height:30px;font-size:0;background: url('../images/btn_search.png') no-repeat center;border:0;vertical-align: middle;}

#top .searchWrap .recomand{background: #f1645c;}
#top .searchWrap .recomand .keyTit {color: #fff;}
#top .searchWrap .recomand a{color: #fff}
#top .searchWrap .recomand .keyword{height: 15px;padding-top: 14px;line-height: 1.2em;}
#top .searchWrap .recently .keyword{height: 40px;}
#top .searchWrap .recently .keyTit {color: #333;}
#top .searchWrap .recently li{border-radius: 20px;border:1px solid #d9d9d9;}
#top .searchWrap .recently a{display: inline-block;padding: 12px 14px;color: #666;}

.topMenu .topR .member{float:right;margin-right:30px;padding: 10px 0;}
.login .topMenu .topR .member{display: block;}
.topMenu .topR .member a{display: inline-block;vertical-align: middle;}
.topMenu .topR .member .name{font-family:'RobotoR','NotoSansR', sans-serif;color: #737373;}
.topMenu .topR .member .pic{overflow:hidden;width: 40px;height: 40px;border-radius:50%;}
.topMenu .topR .member .pic img{width: 100%;}
.topMenu .topR .member .btnAlarm{overflow: hidden;display: inline-block;width: 40px;height: 40px;margin-left:10px;background: #a9c700 url('../images/ico_alarm.png') no-repeat center;border-radius: 50%;}
.topMenu .topR .btnLogin{float:right;display: inline-block;margin:12px 30px 12px 10px;padding:11px 20px 9px;border-radius: 20px;background:#a9c700;color: #fff;font-family:'RobotoR','NotoSansR', sans-serif;font-size:14px;}


.lnbWrapper {overflow: hidden;position: fixed;top: 0;bottom: 0;left: -285px;width:285px;height: 100%;background:#fff;z-index:2;box-shadow:0px 6px 6px rgba(0,0,0,0.12);}
.lnb {overflow: auto;background:#fff;text-align: center;}
.lnb .profile{position: relative;min-height:340px;padding-bottom:70px;background: #f1645c url('../images/bg_lnb.jpg') no-repeat bottom;}
.lnb .profile .count{border-radius:10px;padding:4px 7px;color:#fff;font-size:13px;font-family:'RobotoM',sans-serif;}
.lnb .profile .close{float: left;display: block;width: 80px;height:60px;background: url('../images/btn_close.png') no-repeat center}
.lnb .profile .setting{float: right;display: block;width: 80px;height:60px;background: url('../images/btn_set.png') no-repeat center}
.lnb .profile .logoL{display: block;margin:0 80px;padding:17px 0;text-align: center;}
.lnb .profile .pic{overflow: hidden;width:100px;height:100px;border-radius: 50%;margin:20px auto;}
.lnb .profile .pic img{display: block;width: 100%;}
.lnb .profile .profileInfo{color:#fff;font-size:13px;line-height: 1.3em}
.lnb .profile .profileInfo span{font-size:16px;}
.lnb .profile .btnList{margin-top:10px;font-size: 0;}
.lnb .profile .btnList.log{opacity: 0.5;}
.lnb .profile .btnList li{position: relative;display: inline-block;width:22px;height: 22px;margin:0 7px;background-image: url('../images/btn_profile.png');}
.lnb .profile .btnList li a{display: block;width: 100%;height: 100%;}
.lnb .profile .btnList .btnList01{background-position: 0 0;}
.lnb .profile .btnList .btnList02{background-position: -22px 0;}
.lnb .profile .btnList .btnList03{background-position: -44px 0;}
.lnb .profile .btnList .btnList04{background-position: -66px 0;}
.lnb .profile .btnList .count{position: absolute;top:-10px;right:-20px;background:#a11b13;}
.lnb .profile .btnMy{display: inline-block;margin-top:20px;padding:0 30px;background:#fff;border-radius:20px;font-size:13px;font-family:'RobotoM','NotoSansM', sans-serif;text-align: center;color: #000;line-height: 40px;}
.lnb .profile .btnMypage:after{content:'';display: inline-block;width: 20px;height: 18px;margin-left:5px;background: url('../images/ico_home.png') no-repeat;vertical-align: sub; }
.lnb .profile .myMenu{display: none;margin-top:18px;padding:0 30px;text-align: left;}
.lnb .profile .myMenu li{position: relative;border-top:1px solid #f4837d;}
.lnb .profile .myMenu li:first-child{border:0;}
.lnb .profile .myMenu li a{display:block; padding:10px 0 10px 10px;color: #fff;font-size:14px;}
.lnb .profile .myMenu .count{float: right;margin-top: -2px;background: #d64e48;}
.lnb .profile .menuToggle{position: absolute;bottom: 20px;left: 50%; width:40px;height: 40px;margin-left: -20px;background: #D64E48 url('../images/ico_toggleW.png') no-repeat center;border-radius: 50%;
	-webkit-transition: all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;}
.lnb .profile .menuToggle.opened{-ms-transform: rotate(180deg);-webkit-transform: rotate(180deg);transform: rotate(180deg);}
.lnb .leftMenu{margin-top:13px;padding: 0 30px;line-height: 2em;text-align: left;}
.lnb .leftMenu a{display: block;font-size:14px;}
.lnb .leftMenu .depth01{padding:5px 0;border-bottom:1px solid #f2f2f2;font-family:'RobotoM','NotoSansM', sans-serif;color:#333;}
.lnb .leftMenu .depth01 .toggle{float:right;display: inline-block;width:12px;height:8px;margin-top:12px;background:url('../images/ico_lnb.png')}
.lnb .leftMenu .depth02{display: none;padding:10px 0;border-bottom:1px solid #f2f2f2;}
.lnb .leftMenu .depth02 a{padding:0 10px;font-family:'RobotoR','NotoSansR', sans-serif;color:#666;}
.lnb .leftMenu .depth02 b{color:#bdcb6b;}
.lnb .btnLog{margin:52px auto;}
.lnb .btnLog:after{content:'';display: inline-block;width: 17px;height: 17px;margin-left: 5px;background: url('../images/ico_log.png') no-repeat;vertical-align: sub;}
.login .lnb .in{display: inline-block;} 
.lnb .out{display: none;}

.floating{position: fixed;bottom: 70px;right: 40px;z-index:2;}
.floating a{display: block;box-shadow: 1px 1px 5px rgba(0,0,0,0.15);border-radius: 50%;}

#floatingMenu{position: relative;}
#floatingMenu li{position: absolute;top:0;left: 5px;}
#floatingMenu li a{position: relative;width: 50px;height: 50px;margin:0 auto;background: #fff url('../images/ico_cs.png') no-repeat;}
#floatingMenu li.floating01 a{background-position: 0 0;}
#floatingMenu li.floating02 a{background-position: -50px 0;}
#floatingMenu li.floating03 a{background-position: -100px 0;}
#floatingMenu li.floating04 a{background-position: -150px 0;}
#floatingMenu li .menuTit{position: absolute;top:18px;right: 3px;width: 50px; color: #404040;font-size: 13px;font-family:'RobotoM','NotoSansM', sans-serif;text-align: right;z-index: -1;}
#floatingMenu li .pointer{display: none;position: absolute;top:10px;right: 84px;width: 17px;height: 30px;background: url('../images/pop_pointer.png') no-repeat; z-index: -1;}
#floatingToggle{position: relative;z-index: 5;display: block;width: 60px;height: 60px;background: #a9c700 url('../images/btn_floating.png') no-repeat center;
-webkit-transition: all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;-ms-transition:all 0.4s ease-in-out;}
#floatingToggle.opened{-ms-transform: rotate(315deg);-webkit-transform: rotate(315deg);transform: rotate(315deg);}
#goTop{width:60px;height: 34px;margin-top:10px;padding:13px 0;background: #fff;font-family:'RobotoM','NotoSansM', sans-serif;color:#999;font-size: 14px;text-align: center;}
#goTop:before{content: '';display: block;width: 25px;height:15px;margin:0 auto 2px;background:url('../images/ico_top.png') no-repeat;}

.flPop{position: fixed;bottom:140px;right: 128px; width: 285px;}

#dim{display: none;position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 1;background: rgba(0,0,0,0.2);}

.floating .flPop{overflow: hidden;bottom:-100%;text-align: center;font-family:'RobotoR','NotoSansR', sans-serif;font-size: 14px;}
.floating .flPop .cardCon{height: auto;padding-top: 50px;max-height: 280px;}
.floating .flPop a{box-shadow: none;}
.floating .closePop{position: absolute;top:25px;left:126px;z-index: 4 ;width: 32px;height: 32px;background: url('../images/btn_closeG.png') no-repeat center;}
.floating .flPop .popIco{position:absolute;top: 80px;left: 0;width: 100%;color: #000;z-index: 3}
.floating .flPop .popIco:after{content: '';display: block;width: 25px;height: 1px;margin:17px auto 0;background: #000;}
.floating .flPop .popTit{color: #000;font-size: 20px;line-height: 1.1em;font-family:'RobotoM','NotoSansM', sans-serif;}
.floating .flPop .popTit.italicNum{font-size: 34px;}
.floating .flPop .popSub{margin-top:10px;color: #000;line-height: 1.3em}
.floating .flPop .popCon .productInfo{margin-bottom:15px;color: #666;line-height: 1.1em}
.floating .flPop .popCon .productInfo b{color: #f1645c;text-decoration: underline;}
.floating .flPop .popCon .phoneWrp{margin-bottom: 10px;}
.floating .flPop .popCon .phoneWrp select{width: 65px;padding: 8px;}
.floating .flPop .popCon .phoneWrp input[type="text"]{width: 45px;margin:0 5px 0 3px;padding:8px 7px;vertical-align: middle;}
.floating .flPop .popSubmit{width:130px;padding: 10px 20px;border-radius: 20px;background: #f1645c;font-family:'RobotoR','NotoSansR', sans-serif;color: #fff;font-size: 14px;border:0;outline: 0;cursor: pointer;}
.floating .flPop .note{margin-top:18px;color: #999;line-height: 1.3em}
.floating .flPop .note b{color: #f1645c}

#flAsk .popCon{margin-top:30px;}
#flAsk .popCon:before{display: none;}
#flAsk .bx-wrapper{margin:0 auto;}
#flAsk .bx-controls{margin-top:15px;}
#flAsk .bx-pager-item{display: inline-block;}
#flAsk .bx-pager-item a{display: block;width: 10px;height: 10px;background: #ccc;font-size: 0;margin:2px;}
#flAsk .bx-pager-item .active{background: #f1645c}
#slideIn{overflow: hidden}
#slideIn .inPic{overflow: hidden;width: 64px;height: 64px;margin: 0 auto;border-radius: 50%;}
#slideIn .inPic img{display: block;width: 100%;}
#slideIn .inTit{margin-top:5px;font-family:'RobotoR','NotoSansR', sans-serif;font-size: 14px;line-height: 1.2em;color: #666;}
#slideIn .inTit b{font-family:'RobotoM','NotoSansM', sans-serif;color: #000;}

#flShare .popCon{margin: 30px 0;}
#flShare li{display: inline-block;margin:3px;}
#flShare li a{display: block;width: 64px;height: 64px;background: url('../images/btn_sns.png') no-repeat;}
#flShare li.sns01 a{background-position: 0 0}
#flShare li.sns02 a{background-position: -64px 0}
#flShare li.sns03 a{background-position: -128px 0}
#flShare .shareLink p{border:1px solid #000;padding:5px;display: inline-block;border-radius: 5px;}
#flShare .shareLink input{margin:0;background: none;border:0;width:137px;height: 25px;padding:0 5px;font-family:'RobotoM','NotoSansM', sans-serif;color:#666;}
#flShare .shareLink button{margin:0;padding: 0;background: none;border:0;font-family:'RobotoM','NotoSansM', sans-serif;color:#f1645c;}

#flQna .popIco:after{display: none;}
#flQna .cardCon{max-height: 230px;padding-top: 90px;}
#flQna .searchQna{position: absolute;top:110px;left: 30px;padding:5px;border:1px solid #f1645c;font-size: 14px;z-index: 3}
#flQna .searchQna input{width: 130px;height: 20px;padding: 0 10px;vertical-align: middle;border:0;font-family:'RobotoR','NotoSansR', sans-serif;}
#flQna .searchQna label{display: inline-block;font-size: 0;width:1px;height: 15px;background: #d5d5d5;vertical-align: middle;}
#flQna .searchQna button{width: 35px;height: 25px;font-size: 0;background:url('../images/btn_search.png') no-repeat center;border:0;outline: 0;border-radius: 0;vertical-align: middle;}
#flQna .resultQna {overflow-y: auto;max-height: 275px;text-align: left;}
#flQna .resultQna .resultTit{padding-left: 10px;font-family:'RobotoM','NotoSansM', sans-serif;font-size: 14px;color: #000;}
#flQna .resultQna ul{margin-top:10px;}
#flQna .resultQna li{border-top:1px solid #ccc;}
#flQna .resultQna li a{display: block;padding: 15px 10px;color: #666;box-shadow:none;}
#flQna .resultQna li:first-child{border:0;}

.container {position: relative;padding:60px 0 200px;}
.container .wrap{overflow: hidden;position: relative;max-width: 1200px;margin:0 auto;padding:62px 10px 0;}
.main .container .wrap{max-width: 1500px;padding:30px 20px 0;}
.container .sWrap{max-width: 780px;margin: 0 auto;}

