.w70 {width:70px;}
.w84 {width:84px;}
.w90 {width:90px;}
.w92 {width:92px;}
.w160 {width:160px !important;}
.w298 {width:298px !important;}
.w502{width:502px !important;}
.w558{width:558px !important;}
.w593{width:593px !important;}
.w734{width:734px !important;}
.w752{width:752px !important;}
.w795{width:795px;}

.mt5 {margin-top:5px !important;;}
.mt10 {margin-top:10px !important;;}
.mt15 {margin-top:15px !important;;}
.mt20 {margin-top:20px !important;;}
.mt30 {margin-top:30px !important;;}
.mt40 {margin-top:40px !important;;}

.ml15 {margin-left:15px;}

.t_r {text-align:right !important;}
.t_l {text-align:left !important;}
.t_c {text-align:center !important;}

.fl_left {float:left;}
.fl_right {float:right;}

.italicNum{font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif !important;font-style: italic;font-weight: 900;}

.checkAgree label{display:inline-block;font-family:'NotoSansR', sans-serif;font-size: 16px;color: #000;}
.checkAgree input[type="checkbox"] {position: absolute;opacity: 0;width:24px;height:24px;margin:0;padding:0;z-index:-1}
.checkAgree label:before{content: '';display: inline-block;width: 24px;height: 24px;background: #ccc url('../images/ico_check.png') no-repeat center;border-radius: 50%;vertical-align: middle;}
.checkAgree label.on:before{background-color: #465f8d}

.arrayWrap{max-width:1520px;height: 40px; overflow:hidden; margin:0 auto;}
.formList .arrayWrap{ overflow:visible; }
@media (max-width:1520px){.arrayWrap {max-width:1220px;}}
.arrayWrap .arrayDrop{position: relative;overflow: hidden;display: inline-block;height: 37px;border-radius: 10px;background:#fff;box-shadow:0px 3px rgba(0,0,0,0.12)}
.arrayWrap .arrayDrop:after{content:'';position: absolute;top: 15px;right: 10px;width:12px;height:8px;background:url('../images/ico_lnb.png') no-repeat;}
.arrayWrap .arrayDrop li{width: 100%;height:100%;}
.arrayWrap .arrayDrop li a{display: block;padding:12px 40px 12px 15px;font-family:'NotoSansR', sans-serif;color:#666;font-size: 13px;}
.arrayWrap .arrayDrop.arrayCount{float: right;}

.bx-wrapper .bx-controls-direction a{position: absolute;top:50%;margin-top:-29px;width:30px;height: 58px;background: url('../images/ico_slide_nav.png') no-repeat;font-size: 0;}
.bx-wrapper .bx-controls-direction .bx-next{background-position: -32px 0}


/* popup order */
.lyPop .subTit .subAddr {color:#999;}
.lyPop .popRecord {text-align:right;width:90px;padding:20px 10px 20px 20px;}
.lyPop .popRecord.recordInfo {text-align:left;width:auto;padding:20px 20px 20px 0;}
.lyPop .reasonCancel {padding:25px 22px 33px;margin-bottom:30px;border-bottom:1px solid #e1e1e1;}
.lyPop .reasonCancel h5 {margin-bottom:18px;font-size:15px;color:#333;}
.lyPop .reasonCancel select {width:310px;margin-right:8px;}
.lyPop .reasonCancel input[type="text"] {width:425px;padding:10px 20px;font-family:'NotoSansM', sans-serif;color:#999;}
.lyPop .table03Wrap {overflow:hidden;margin-bottom:30px;}
.lyPop .table03Wrap .record {position:relative;float:left;width:32.66%;height:210px;margin-left:1%;border-left:1px solid #e1e1e1;border-right:1px solid #e1e1e1;border-bottom:none;}
.lyPop .table03Wrap .record:first-child {margin-left:0;}
.lyPop .table03Wrap .record:first-child:after {background: url('../images/ico_order.png') 0 0px no-repeat;}
.lyPop .table03Wrap .record:last-child:after {background:none;}
.lyPop .table03Wrap .record:after {content:'';display:block;position:absolute;width:40px;height:40px;top:50%;right:-25px;margin-top:-20px;background: url('../images/ico_order.png') 0 -40px no-repeat;z-index:3;}
.lyPop .table03Wrap .record th, .lyPop .table03Wrap .record td {padding:0 15px;color:#333;}
.lyPop .table03Wrap .record th.h50, .lyPop .table03Wrap .record td.h50 {height:50px;}
.lyPop .table03Wrap .record td.t_c {text-align:center;}
.lyPop .table03Wrap .record td {text-align:left}
.lyPop .table03Wrap .record td span {display:block;margin-left:10px;}
.lyPop .table03Wrap .record td b {display:block;color:#999;}
.infoOrder {margin-bottom:50px;font-size:14px;font-family:'NotoSansM', sans-serif;color:#999;}
.infoOrder li {line-height:21px;letter-spacing:-0.5px}
.btnCenter {text-align:center}
.btnCenter button {margin-left:5px;}
.btnCenter button:first-child {margin-left:0;}

.lyPop .record.record02 {color:#333;}
.lyPop .record.record02 td {text-align:left;}
.lyPop .record.record02 strong {font-weight:normal;color:#333;font-family:'NotoSansR', sans-serif;}
.lyPop .record.record02 b {font-weight:normal;color:#999;}

.lyPop .tbSet th, .lyPop .tbSet td {color:#333;}
.lyPop .tbSet td {text-align:right;padding:15px 40px 15px 15px;}
/* 레이어팝업 탭 버튼 */
.lyPop .tabBox {overflow:hidden;}
.lyPop .tabBox li {text-align:center;float:left;width:20%;}
.lyPop .tabBox li a {display:block;height:30px;font-size:16px;color:#000;font-family:'NotoSansL', sans-serif;}
.lyPop .tabBox li a.on {font-family:'NotoSansR', sans-serif;border-bottom:2px solid #000;}
/* 레이어팝업 컨텐츠 영역 */
.lyPop .tabCont {display:none;min-height:475px;}
.lyPop .tabCont.on {display:block;}

.record.record03 th, .my .record.record03 td {padding:20px 0;}
.record.record03 td.recordInfo {padding:20px 0 20px 10px;}
.record.record03 td.rowBox {border-left:1px solid #e1e1e1;border-right:1px solid #e1e1e1}
.record.record03 td.rowBox ul {overflow:hidden;}
.record.record03 td.rowBox li {float:left;margin-top:15px;}
.record.record03 td.rowBox li:last-child {margin-top:0;}
.record.record03 .recordThumb {float:right;}
.record.record03 .checkbox {margin-top:0;}
.my .record.record03 .orderState {padding:0 6px}
.my .record.record03 a.btnIcoMore {position:relative;text-align:left;margin-top:6px;width:45px;padding:0 20px 0 15px;font-size:13px;}
.my .record.record03 a.btnIcoMore .close{display: none;}
.my .record.record03 a.btnIcoMore:after {content:'';display:block;position:absolute;top:50%;right:7px;width:15px;height:10px;margin-top:-5px;background:url(../images/btn_more_ico.png) 0 0 no-repeat}
.my .record.record03 a.btnIcoMore.active {background:#b08967;text-align:center;padding:0 25px 0 10px}
.my .record.record03 a.btnIcoMore.active:after {background-position:0 -10px;right:10px;}
.my .record.record03 a.btnIcoMore.active .close{display: block;}
.my .record.record03 a.btnIcoMore.active .open{display: none;}

.record.record04 td{border-bottom: 0;border-top: 1px solid #e1e1e1;}
.record.record04 .total td{border-top:1px solid #000;color: #000; }
.record.record04 .total .sum{color: #f2655c}

.tag{height: 36px;overflow: hidden;}
.tag li{display: inline-block;margin-left: 5px;}
.tag li:first-child{margin:0;}
.tag a{display: block;padding:0 20px;line-height: 34px;border-radius: 17px;border:1px solid #d1d1d1;color: #666;}
.tag a.active {background:#f1645c;color:#fff;}

.reviewObj {padding:24px;border:1px solid #e8e8e8;overflow:hidden;}
.reviewObj .objBox {overflow:hidden;float:left;width:90px;height:90px;}
.reviewObj .objBox img {width:100%;}
.reviewObj .objTxt {float:left;margin:20px 0 0 65px;font-size:20px;color:#000;font-family:'NotoSansR', sans-serif;line-height:1.4}
.pointColor01 {display:block;font-size:14px;color:#999;}

textarea.pullSize {height:144px;}
ul.tbList4 > li {width:97%; padding-left:11px; background:url('../images/bul_dot2.png') 0 8px no-repeat; text-align:left; display:inline-block; color:#666; letter-spacing:-0.5px; line-height:1.2em;font-family:'NotoSansL', sans-serif;}
ul.tbList4 a{color: #333;}
ul.tbList3 {margin-bottom:50px}
ul.tbList3 li {width:97%; padding-left:11px; background:url('../images/bul_dot2.png') 0 8px no-repeat; text-align:left; display:inline-block; color:#999; letter-spacing:-0.5px; line-height:21px; margin-top:5px;}
ul.tbList3 li:first-child {margin-top:0;}
.tag.tag02 {height:auto;}
.tag.tag02 li {margin:0 5px 5px 0;}

.grade{display: inline-block;position: relative;width: 140px;height: 27px;background: url('../images/ico_star.png') no-repeat 0 -27px;}
.grade span{position: absolute;top:0;left: 0;display: block;height: 100%;background: url('../images/ico_star.png') no-repeat}
.grade span.grade01{right: 112px}
.grade span.grade02{right: 84px}
.grade span.grade03{right: 56px}
.grade span.grade04{right: 28px}
.grade span.grade05{right: 0}
.grade span.grade15{right: 126px}
.grade span.grade25{right: 98px}
.grade span.grade35{right: 70px}
.grade span.grade45{right: 42px}


a.pointLink {color:#f1645c;text-decoration:underline;font-family:'NotoSansR', sans-serif;}
/* tab */
.tabType01{width:100%;}
.tabType01 ul{text-align:center;padding-top:25px;}
.tabType01 li{display:inline-block;margin-left:10px;}
.tabType01 li:first-child {margin-left:0;}
.tabType01 a{position: relative;display: block;padding:0 15px;color: #000;font-family:'NotoSansM', sans-serif;font-size: 20px;}
.tabType01 .on a{background: url('../images/myList_on.gif') 0 50% repeat-x;}

.tabType02{overflow: hidden;margin:0 auto;text-align: center;border-bottom: 1px solid #000;}
.tabType02 li{position: relative;display: inline-block;text-align: center;}
.tabType02 .on{border-bottom: 2px solid #333;}
.tabType02 a{display: block;padding:15px 50px;color: #000;font-family:'NotoSansL', sans-serif;font-size: 20px;}
.tabType02 .on a{color: #333;font-family:'NotoSansM', sans-serif;}

.tabType02 + .contentCard{margin-top: 60px;}

/* button */
.btnWrap{text-align: center;clear:both;}
a[class^="btnSize"], .btn{display: inline-block;color: #fff;outline: 0;border: 0;font-family: 'NotoSansR', sans-serif;text-align: center;}

.btnSizeS{height:30px;padding:0 20px;font-size: 14px;border-radius: 15px;line-height: 30px;}
.btnSizeM{height:40px;min-width:140px;font-size: 14px;border-radius: 20px;line-height: 40px;}
.btnSizeM2 {height:40px; padding:0 20px; font-size: 14px;border-radius: 20px;line-height: 40px;}
.btnSizeL{height:60px;font-size: 20px;border-radius: 30px;line-height: 60px;}

.btnColor01{background:#465f8d} /*green*/
.btnColor01:hover{background:#3b5c9a} /*green*/
.btnColor02{background:#f1645c} /*red*/
.btnColor02:hover{background:#f05149} /*red*/
.btnColor03{background:#999} /*light grey*/
.btnColor03:hover{background:#686868} /*light grey*/
.btnColor04{background:#666} /*dark grey*/
.btnColor04:hover{background:#464646} /*dark grey*/
.btnColor05{background:#1a1a1a} /*black*/
.btnColor05:hover{background:#454545} /*black*/
.btnColor06{background:#b08967} /* brown */
.btnColor06:hover{background:#b27947}

.btnborder01{border:1px solid #e3e3e3;color: #666;} /*border*/
.btnborder02{border:1px solid #000;color: #000;} /*border black*/
.btnShadow{box-shadow: 0px 2px rgba(0,0,0,0.1);}

.loginSns{font-family:'NotoSansR', sans-serif;color: #666;border:1px solid #e3e3e3;}
.loginSns:before{content: '';display: inline-block;width: 35px;height: 18px;border-right: 1px solid #c2c2c2;margin-right:20px;background: url('../images/ico_login.png') no-repeat;vertical-align: middle;}
.loginSns.naver:before{background-position: -35px 0}
.loginSns.kakao:before{background-position: -70px 0}

/* form */
.formWrap{width: 890px;margin:60px auto 0;font-size: 14px;font-family:'NotoSansM', sans-serif;color: #999;}
.formWrap b{color: #f1645c}
.formWrap .alert{/*display: none;*/color: #f1645c}
.formWrap .subTxt{display: block;width: 100%;}
.inputWrap{line-height: 60px;} 
.inputWrap01{margin-top:10px;}
.inputWrap label{display: inline-block;min-width: 70px;text-align: left;margin-right: 20px;color: #000;font-size: 16px;}
.inputWrap label strong{color: #999;}
.inputWrap .btn{min-width: 114px;}

.formList > li{overflow: hidden;border-bottom:1px solid #e8e8e8;}
.formList .inputTit{display: inline-block;width: 100px;margin-right: 25px;padding: 25px 40px;vertical-align: middle;background: #f7f7f7;font-family:'NotoSansR', sans-serif;font-size: 16px;color: #000}
.formList #joinId{width:360px; }
.formList  select{width:80px;padding: 10px 10px;border:1px solid #d6d6d6; /*border-radius: 7px;*/color: #999;}
.formList .joinBirth{margin-right:15px;}
.formList .birth .inputTit{float: left;padding: 25px 40px 50px;}
.formList .birth > div{float: left;margin:10px 0;}
.formList .birth .note{display: block;margin-top:15px;}
.formList fieldset legend.hide {width:0; height:0; overflow:hidden; position:absolute; top:-999; left:-999; line-height:100%; visibility:hidden;}

.container input[type="checkbox"]{position: absolute;opacity: 0;top:0;left: -20px;}
.container input[type="text"], .container input[type="password"], .container input[type="email"]
{width:230px;margin-right:10px;padding: 10px 20px;border:1px solid #d1d1d1;font-family:'NotoSansM', sans-serif;color: #999;}
.container input.inputL{width: 357px;}

.container input[type="text"].pullSize,
.container input[type="password"].pullSize,
.container input[type="email"].pullSize{padding:10px 20px;border:1px solid #d6d6d6;margin-right:0;}
.container textarea.pullSize{padding:10px 20px;border: 1px solid #d6d6d6;font-family: 'NotoSansM', sans-serif;color: #999;}
.container select.pullSize{padding:9px 20px;border:1px solid #d6d6d6;font-family:'NotoSansM', sans-serif;color:#999;}

.paper-nav{text-align:center;}
.paper-nav a{width:10px;height:11px;display:inline-block;background:url('../images/bul_hexagon.png') 0 -11px no-repeat;margin-left:4px;}
.paper-nav a:first-child{margin-left:0;}
.paper-nav a.active{background-position:0 0;}
.paper-nav a span{position:absolute;left:-99990em;top:-99990em;z-index:-1;display:inline-block;}

.radioBox{position: relative;line-height: 30px;}
.radioBox input{position: absolute;opacity: 0;left: 0;}
.radioBox label:before{content: '';display: inline-block;width: 18px;height: 18px;margin-right:5px;background: url('../images/ico_radio.png') 0 -18px no-repeat;vertical-align: middle;}
.radioBox label.on:before{background-position: 0 0;}
.radioBox label {color:#000;}

.checkWrap{padding: 10px 0 35px;border-bottom: 1px solid #e8e8e8;}
.checkbox {position: relative;margin-top:18px;}
.checkbox label{font-family:'NotoSansR', sans-serif;font-size: 16px;color: #000;cursor:pointer}
.checkbox label:before{content: '';display: inline-block;width: 24px;height: 24px;margin-right: 10px;background: #ccc url('../images/ico_check.png') no-repeat center;border-radius: 50%;vertical-align: middle;}
.checkbox label.on:before{background-color: #465f8d}


.listSquare{font-family:'NotoSansM', sans-serif;font-size: 14px;}
.listSquare li{position: relative;margin-top:8px;padding-left: 10px;line-height: 1.3em;}
.listSquare > li:first-child{margin:0;}
.listSquare > li:before{content: '';position: absolute;top: 5px;left: 0;width: 2px;height: 2px;background: #999;}

/* board */
table tr th.txtR,
table tr td.txtR {text-align:right !important;}
table tr th.txtL,
table tr td.txtL {text-align:left !important;}

.tbSet {width:100%; display:inline-block; border-top:1px solid #545454;}
.tbSet table{width: 100%; border-bottom:1px solid #ccc;font-family:'NotoSansR', sans-serif;font-size: 14px;text-align: center;line-height: 1.2em}
.tbSet table.borderBtm0{border-bottom:0 !important;}
.tbSet table a {color:#666;}
.tbSet table .btn, 
.tbSet table a[class^=btnSize] {color:#fff;}
.tbSet table.tbL tr th,
.tbSet table.tbL tr td {text-align:left;}
.tbSet table.tbLThC tr th {text-align:center;}
.tbSet table.tbLThC tr td {text-align:left; color:#333;}
.tbSet table th{table-layout: fixed;padding: 15px;background: #f8f8f8;color: #333; font-family:'NotoSansR', sans-serif;}
.tbSet table tbody tr + tr th {border-top:1px solid #e8e8e8;}
.tbSet table td{padding:15px;}
.tbSet table tr + tr td {border-top:1px solid #e8e8e8;}
.tbSet table tr td.borderLeft1,
.tbSet table tr th.borderLeft1{border-left:1px solid #e8e8e8;}

.tbSet table td b{font-family:'NotoSansM', sans-serif;}
.tbSet table.lineN {border-bottom:0;}
.tbSBg {width:100%; overflow:hidden; border-top:1px solid #e8e8e8; margin-top:-1px !important;}
.tbSBg table {border-bottom:1px solid #e8e8e8;}
.tbSBg table th {background:#f2f4f4;}
.tbSBg table td {background:#fafafa; font-family:'NotoSansR', sans-serif; color:#666;}
.tbSBg table td span.price {color:#333}

.tbSet02{position:relative;padding:0 20px;border-left:1px solid #e8e8e8;border-right:1px solid #e8e8e8;}
.tbSet02:before,
.tbSet02:after{position:absolute;left:0;width:100%;height:1px;display:block;background:#e8e8e8;content:"";}
.tbSet02:before{top:0;}
.tbSet02:after{bottom:0;}
.tbSet02 table{width:100%;font-size:14px;}
.tbSet02 table tbody tr th{height:42px;text-align:center;padding:15px;border-top:1px solid #e8e8e8;color:#333;font-family: 'NotoSansR',sans-serif;text-align:left;}
.tbSet02 table tbody tr td{text-align:right;padding:15px 15px 15px 0;border-top:1px solid #e8e8e8;}
.tbSet02 table tbody tr.dotted th,
.tbSet02 table tbody tr.dotted td{border-top:1px dashed #000;}
.tbSet02 table tbody tr:first-child th,
.tbSet02 table tbody tr:first-child td{border-top:0;}

table tr td .photoList {width:100%; height:90px; display:inline-block; position:relative; display:table-cell; vertical-align:middle;}
table tr td .photoList span.thumb,
table tr td .photoList span.thumb img{width:90px; height:90px;}
table tr td .photoList span.thumb {display:inline-block; position:absolute; top:0; left:0;}
table tr td .photoList span.thumb + span.cartInfo {margin-left:9px;}
table tr td .photoList span.cartInfo {padding-left:95px; display:inline-block; text-align:left;}
table tr td .photoList span.cartInfo span {width:100%;}
table tr td .photoList span.cartInfo em {padding:5px 8px; margin-bottom:9px; border:1px solid #333; border-radius:15px; text-align:center; color:#333; font-style:normal; display:inline-block; line-height:98%;}
table tr td .photoList span.cartInfo span {width:100%; font-size:14px; color:#999; display:inline-block; font-family:'NotoSansL', sans-serif;}
table tr td .photoList span.cartInfo span.cartTit {color:#000; font-family:'NotoSansR', sans-serif;}

.optList {width:100%; overflow:hidden; margin-top:15px; text-align:left;}
.optList .option {width:90%; padding:5px 30px 0 0; position:relative; display:inline-block;}
.optList .option + .option {border-top:1px solid #d9d9d9; margin-top:5px; }
.optList .option p {float:left; }
.optList .option p.optionTit {width:126px; padding:5px 0; text-align:left;}
.optList .option p.optionPrice {width:93px; padding:5px 0; text-align:right;}
.optList .option p.optionNum {width:97px; position:relative; float:right;}
.optList .option p.optionNum a,
.optList .option p.optionNum span {display:inline-block; float:left;}
.optList .option p.optionNum a {width:0; height:0; margin:0; padding:25px 25px 0 0; position:absolute; top:0; overflow:hidden;}
.optList .option p.optionNum a.btnMinus {left:0; background:url(../images/ico_option.png) 0 0 no-repeat;}
.optList .option p.optionNum a.btnPlus {right:0; background:url(../images/ico_option.png) -25px 0 no-repeat;}
.optList .option p.optionNum span.num {width:91px; height:16px; padding:4px 0; border:1px solid #ccc; border-radius:13px; text-align:center;}
.optList .option a.btnDel {width:0; height:0; margin:0; padding:25px 25px 0 0; position:absolute; top:5px; right:0; overflow:hidden; background:url(../images/ico_option.png) 100% 0 no-repeat;}

.adrArea dl {width:100%; margin:0; overflow:hidden;}
.adrArea dl + dl {border-top:1px solid #e8e8e8;}
.adrArea dl dt,
.adrArea dl dd {float:left; font-size:14px; font-family:'NotoSansR', sans-serif; text-align:left;}
.adrArea dl dt {padding:13px 13px 13px 0;}
.adrArea dl dd {margin:0;}
.adrArea dl dd + dd {padding-left:32px;}
.adrArea dl dd select + input[type="text"] {margin-left:14px;}
.adrArea dl dd.adrInfo {width:311px;}
.adrArea dl dd.adrInfo select + a {margin-left:12px;}
.adrArea dl dd.adrCon {width:583px; text-align:left;}
.adrArea dl dd.adrCon p + p {margin-top:6px;}
.adrArea dl dd.adrCon p {line-height:130%; font-family: 'NotoSansL', sans-serif;}
.adrArea dl dd.adrCon p span + span {margin-left:19px;}
.adrArea dl dd.adrCon p b {padding-right:5px; margin-right:5px; background:url('../images/bul_bar.png') 100% 50% no-repeat; font-family:'NotoSansR', sans-serif;}
.compt .adrArea dl dd {width:85%; font-family: 'NotoSansL', sans-serif;}
.compt .adrArea dl dd div {height:42px; display:table-cell; vertical-align:middle;}

.calendar {width:215px; padding:9px 20px; margin-right:11px; border:1px solid #d6d6d6; /*border-radius:7px;*/ display:inline;}
.calendar span.calInp {position:relative;display:inline-block;}
.calendar span.calInp input[type="text"] {width:200px; border:0; padding:0; font-family:'NotoSansM', sans-serif; color: #999; margin-right:16px;}
.calendar a.calBtn {width:0; height:0; padding:16px 16px 0 0; background:url('../images/ico_calendar.png') 0 0 no-repeat; display:inline-block; overflow:hidden; position:absolute; top:1px; right:0;border:none;border-radius:0;}
.calendar.cal2 {background:url('../images/ico_calendar_bar.png') 50% 50% no-repeat;}
.calendar.cal2 span.calInp + span.calInp {margin-left:24px;}
.calendar.cal2 span.calInp input[type="text"] {width:80px;}

table.ui-datepicker-calendar th, table.ui-datepicker-calendar td {background:#fff !important;border:none !important;text-align:center !important;padding:0 !important;width:28px !important;height:28px !important;}
table.ui-datepicker-calendar th.ui-datepicker-week-end, table.ui-datepicker-calendar td.ui-datepicker-week-end a {color:#f1645c !important;}
table.ui-datepicker-calendar td.ui-datepicker-week-end a.ui-state-active {color:#fff !important;}

/* dropBox */
.drop {overflow:hidden;height:38px;border:1px solid #ccc;}
.drop li {display:block ;width:138px;height:38px;border-top:1px solid #ccc;}
.drop li:first-child {color:#666;border-top:none}
.drop li:first-child a:after {content:'';display:block;position:absolute;top:7px;right:15px;width:20px;height:20px;background:url(../images/ico_lnb.png) no-repeat;background-position:0 0;}
.drop li a {display:block;line-height:38px;padding:0 15px;font-size:13px;color:#666;background:#fff;border:none;border-radius:0;font-family:'NotoSansR', sans-serif;}
.drop li a.on {position: relative;background:#fff;color:#465f8d;}
.drop li a.on:after{content: '';display: inline-block;width: 20px;height: 20px;border: none;position: absolute;top: 10px;right: 10px;background: url(../images/ico_lnb.png) no-repeat;background-position: 0 -40px;}
/* dropBox on 되었었을 시 dropOn class 추가 */
.drop.dropOn {height:auto;}
.drop.dropOn li:first-child a:after {top:10px;background-position:0 -20px;}
/* dropBox check 기능 있을 시 dropChk class 추가 */
.drop.dropChk li:first-child {width:138px;padding:0;}
.drop.dropChk li {position:relative;width:108px;padding:0 15px;background:#fff;}
.drop.dropChk li label {display:block;width:100%;font-size:13px;color:#999;}
.drop.dropChk .checkbox {display:block;height:40px;margin-top:0;}
.drop.dropChk .checkbox label:before {content:'';display:inline-block;width:20px;height:20px;border:none;border-radius:0;margin-right:0;visibility:hidden;position:absolute;top:10px;right:0;}
.drop.dropChk .checkbox label.on {color:#465f8d;}
.drop.dropChk .checkbox label.on:before {visibility:visible;background:url('../images/ico_lnb.png') no-repeat;background-position:0 -40px;}
/* dropBox check 기능 있으면서 on되었을 시 dropChk class 추가 */
.drop.dropChk.dropOn li:first-child a:after {top:8px;background-position:0 -60px;} 

/* myPage order.html 제목줄 옆 dropBox 레이아웃 */
.alignBox {position:relative;line-height:40px;z-index: 2}
.alignBox .drop {position:absolute;top:0;right:0;z-index:1;background: #fff;}
.alignBox .drop.dropOn{z-index: 3}
.alignBox .leftBox {min-width:140px; height:40px; float:left; position:relative; display:inline-block;}/* drop밖에 감싸서 정렬 */
.alignBox .rightBox {min-width:140px; height:40px; float:right; position:relative; display:inline-block;}

.liBox{padding: 15px;text-align: center;border:1px solid #000;color: #000;}
.liBox li:before{content: '';display: inline-block;width: 3px;height:3px;background: #000;margin-right: 7px;vertical-align: middle;}
.liBox b{font-family:'NotoSansM', sans-serif;}

.dropScroll{position: relative;width: 140px;height: 40px;}
.dropScroll .dropToggle{display: block;padding: 0 15px;border:1px solid #ccc;font-size: 13px;color: #000;background: #fff;font-family: 'NotoSansR',sans-serif;line-height: 38px;}
.dropScroll .dropToggle:after{content: '';display: block;position: absolute;top: 7px;right: 15px;width: 20px;height: 20px;background: url('../images/ico_lnb.png') no-repeat;background-position: 0 0;}
.dropScroll .drop{top: 40px;height: auto;border-top: 0;}
.dropScroll .drop li:first-child a:after{display: none;}
.dropScroll .scrollWrap{height: 314px}

.alignBox .dropExpand{overflow: visible;width: 290px;width: 140px;height:0;border-width: 0;}
.alignBox .dropExpand li{display: none;float: left;border:0;height: 41px;background: none}
.alignBox .dropExpand li:first-child{display: block;position: absolute;top: 0;right: -1px;height: 38px;border:1px solid #ccc;}
.alignBox .dropExpand li:nth-child(2){float: none}
.alignBox .dropExpand a{background: none;line-height: 40px;}
.alignBox .dropExpand.dropOn{top:39px;display: block;width: 414px;height: auto;background: url('../images/bg_drop.jpg') repeat;border-width: 1px;border-bottom: 0;}
.alignBox .dropExpand.dropOn li{display: block;}
.alignBox .dropExpand.dropOn li:first-child{top: -40px;right: -2px;}

/* font color */
.color01{color: #000 !important;}
.color02{color: #333 !important;}
.color03{color: #666 !important;}
.color04{color: #999 !important;}
.color05{color: #f2655c !important;}/* red */
.color06{color: #b08967 !important;}/* brown */


.dlBasic{position: relative;text-align: left;}
.dlBasic dt{position: absolute;}
.dlBasic dd{margin-left: 70px;}
.dlBasic dt:first-child, .dlBasic dd:first-child{margin:0;}
.dlBasic dt{clear: left;}
.dlBasic dt:after{content:'';display: inline-block;width: 1px;height: 10px;margin-left: 10px;background: #ccc;vertical-align: middle;}


.scrapImageWrapper { display:inline-block;position:relative; }
.scrapImageWrapper a.scrapButton { position:absolute;bottom:10px;right:10px;width:120px;height:41px;background:url('../images/imgScrapBtn.png');text-indent:-9999px; }
