.w90 {width:90px;}
.w502{width:502px !important;}
.w558{width:558px !important;}
.w593{width:593px !important;}
.w752{width:752px !important;}
.w795{width:795px;}

.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mt30 {margin-top:30px;}
.mt40 {margin-top:40px;}

.t_r {text-align:right}
.t_l {text-align:left;}

.fl_left {float:left;}
.fl_right {float:right;}

.italicNum{font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif !important;font-style: italic;font-weight: 900;}

.checkAgree label{display:inline-block;font-family:'RobotoR','NotoSansR', sans-serif;font-size: 16px;color: #000;}
.checkAgree input[type="checkbox"] {position: absolute;opacity: 0;width:24px;height:24px;margin:0;padding:0;z-index:-1}
.checkAgree label:before{content: '';display: inline-block;width: 24px;height: 24px;background: #ccc url('../images/ico_check.png') no-repeat center;border-radius: 50%;vertical-align: middle;}
.checkAgree label.on:before{background-color: #a9c700}

.arrayWrap{clear: both;height: 37px;}
.arrayWrap .arrayDrop{position: relative;overflow: hidden;display: inline-block;height: 37px;border-radius: 10px;background:#fff;box-shadow:0px 3px rgba(0,0,0,0.12)}
.arrayWrap .arrayDrop:after{content:'';position: absolute;top: 15px;right: 10px;width:12px;height:8px;background:url('../images/ico_lnb.png') no-repeat;}
.arrayWrap .arrayDrop li{width: 100%;height:100%;}
.arrayWrap .arrayDrop li a{display: block;padding:12px 40px 12px 15px;font-family:'RobotoR','NotoSansR', sans-serif;color:#666;font-size: 13px;}
.arrayWrap .arrayDrop.arrayCount{float: right;}

.bx-wrapper .bx-controls-direction a{position: absolute;top:50%;margin-top:-29px;width:30px;height: 58px;background: url('../images/ico_slide_nav.png') no-repeat;font-size: 0;}
.bx-wrapper .bx-controls-direction .bx-next{background-position: -32px 0}


/* popup order */
.lyPop .subTit .subAddr {color:#999;}
.lyPop .popRecord {text-align:right;width:90px;padding:20px 10px 20px 20px;}
.lyPop .popRecord.recordInfo {text-align:left;width:auto;padding:20px 20px 20px 0;}
.lyPop .reasonCancel {padding:25px 22px 33px;margin-bottom:30px;border-bottom:1px solid #e1e1e1;}
.lyPop .reasonCancel h5 {margin-bottom:18px;font-size:15px;color:#333;}
.lyPop .reasonCancel select {width:310px;margin-right:8px;padding:9px 10px;border:1px solid #d6d6d6;border-radius:7px;color:#999;}
.lyPop .reasonCancel input[type="text"] {width:426px;padding:10px 20px;border:1px solid #d6d6d6;border-radius:7px;font-family:'RobotoM','NotoSansM', sans-serif;color:#999;}
.lyPop .table03Wrap {overflow:hidden;margin-bottom:30px;}
.lyPop .table03Wrap .record {position:relative;float:left;width:32.66%;height:210px;margin-left:1%;border-left:1px solid #e1e1e1;border-right:1px solid #e1e1e1;border-bottom:none;}
.lyPop .table03Wrap .record:first-child {margin-left:0;}
.lyPop .table03Wrap .record:first-child:after {background: url('../images/ico_order.png') 0 0px no-repeat;}
.lyPop .table03Wrap .record:last-child:after {background:none;}
.lyPop .table03Wrap .record:after {content:'';display:block;position:absolute;width:40px;height:40px;top:50%;right:-25px;margin-top:-20px;background: url('../images/ico_order.png') 0 -40px no-repeat;z-index:3;}
.lyPop .table03Wrap .record th, .lyPop .table03Wrap .record td {padding:0 15px;color:#333;}
.lyPop .table03Wrap .record th.h50, .lyPop .table03Wrap .record td.h50 {height:50px;}
.lyPop .table03Wrap .record td.t_c {text-align:center;}
.lyPop .table03Wrap .record td {text-align:left}
.lyPop .table03Wrap .record td span {display:block;margin-left:10px;}
.lyPop .table03Wrap .record td b {display:block;color:#999;}
.infoOrder {margin-bottom:50px;font-size:14px;font-family:'RobotoM','NotoSansM', sans-serif;color:#999;}
.infoOrder li {line-height:21px;letter-spacing:-0.5px}
.btnCenter {text-align:center}
.btnCenter button {margin-left:5px;}
.btnCenter button:first-child {margin-left:0;}

.lyPop .record.record02 {font-family:'RobotoL','NotoSansL', sans-serif;color:#333;}
.lyPop .record.record02 td {text-align:left;}
.lyPop .record.record02 strong {font-weight:normal;color:#333;font-family:'RobotoR','NotoSansR', sans-serif;}
.lyPop .record.record02 b {font-weight:normal;color:#999;}
.record.record03 th, .my .record.record03 td {padding:20px 0;}
.record.record03 td.recordInfo {padding:20px 0 20px 10px;}
.record.record03 .recordThumb {float:right;}
.record.record03 .orderState {padding:20px}
.tag{height: 36px;overflow: hidden;}
.tag li{display: inline-block;margin-left: 5px;}
.tag li:first-child{margin:0;}
.tag a{display: block;padding:0 20px;line-height: 34px;border-radius: 17px;border:1px solid #d1d1d1;color: #666;}
.tag a.active {background:#f1645c;color:#fff;}

.reviewObj {padding:24px;border:1px solid #e8e8e8;overflow:hidden;}
.reviewObj .objBox {overflow:hidden;float:left;width:90px;height:90px;}
.reviewObj .objBox img {width:100%;}
.reviewObj .objTxt {float:left;margin:20px 0 0 65px;font-size:20px;color:#000;font-family:'RobotoR','NotoSansR', sans-serif;line-height:1.4}
.pointColor01 {display:block;font-size:14px;color:#999;}

textarea.pullSize {border:1px solid #d6d6d6;height:144px;padding:10px 20px;border-radius:7px;font-family:'RobotoM','NotoSansM', sans-serif;color: #999;}
ul.tbList3 {margin-bottom:50px}
ul.tbList3 li {width:97%; padding-left:11px; background:url('../images/bul_dot2.png') 0 8px no-repeat; text-align:left; display:inline-block; color:#999; letter-spacing:-0.5px; line-height:21px; margin-top:5px;}
ul.tbList3 li:first-child {margin-top:0;}
.tag.tag02 {height:auto;}
.tag.tag02 li {margin:0 5px 5px 0;}

.grade{display: inline-block;position: relative;width: 140px;height: 27px;background: url('../images/ico_star.png') no-repeat 0 -27px;}
.grade span{position: absolute;top:0;left: 0;display: block;height: 100%;background: url('../images/ico_star.png') no-repeat}
.grade span.grade01{right: 112px}
.grade span.grade02{right: 84px}
.grade span.grade03{right: 56px}
.grade span.grade04{right: 28px}
.grade span.grade05{right: 0}
.grade span.grade15{right: 126px}
.grade span.grade25{right: 98px}
.grade span.grade35{right: 70px}
.grade span.grade45{right: 42px}


a.pointLink {color:#f1645c;text-decoration:underline;font-family:'RobotoR','NotoSansR', sans-serif;}
/* tab */
.tabType01{width:100%;background: #f6f6f6;box-shadow: 0px 3px 5px rgba(0,0,0,0.1);}
.tabType01 ul{height: 80px;}
.tabType01 li{float: left;width: 50%;text-align: center;}
.tabType01 a{position: relative;display: block;padding: 30px 0;color: #333;font-family:'RobotoL','NotoSansL', sans-serif;font-size: 20px;}
.tabType01 .on a{color: #000;font-family:'RobotoR','NotoSansR', sans-serif;}
.tabType01 .on a:after{content: '';position: absolute;bottom: -2px;left: 50%;width: 240px;margin-left: -120px;height: 3px;background: #a9c700}

.tabType02{overflow: hidden;width:600px;margin:0 auto;border-radius: 10px 10px 0 0;border:1px solid #e3e3e3;border-bottom: 0;}
.tabType02 li{position: relative;float: left;width: 50%;background: #f7f7f7;text-align: center;border-bottom: 2px solid #333;}
.tabType02 .on{background: #fff;border-bottom:0;}
.tabType02 a{display: block;width:100%;padding:15px 0;color: #666;font-family:'RobotoM','NotoSansM', sans-serif;font-size: 20px;}
.tabType02 .on:before{content: '';position: absolute;top: 0;left: 0;right:0;height: 100%;border:2px solid #333;border-radius: 0 10px 0 0}
.tabType02 .on:first-child:before{border-radius: 10px 0 0 0}
.tabType02 .on a{color: #333;}

/* button */
.btnWrap{text-align: center;}
a[class^="btnSize"], .btn{display: inline-block;color: #fff;outline: 0;border: 0;font-family: 'RobotoM','NotoSansM', sans-serif;text-align: center;}

.btnSizeS{height:30px;padding:0 20px;font-size: 14px;border-radius: 15px;line-height: 30px;}
.btnSizeM{height:40px;min-width:140px;font-size: 14px;border-radius: 20px;line-height: 40px;}
.btnSizeM2 {height:40px; padding:0 20px; font-size: 14px;border-radius: 20px;line-height: 40px;}
.btnSizeL{height:60px;font-size: 20px;border-radius: 30px;line-height: 60px;}

.btnColor01{background:#a9c700} /*green*/
.btnColor02{background:#f1645c} /*red*/
.btnColor03{background:#999} /*light grey*/
.btnColor04{background:#666} /*dark grey*/

.btnborder01{border:1px solid #e3e3e3;color: #666;} /*border*/
.btnShadow{box-shadow: 0px 2px rgba(0,0,0,0.1);}

.loginSns{font-family:'RobotoR','NotoSansR', sans-serif;color: #666;border:1px solid #e3e3e3;}
.loginSns:before{content: '';display: inline-block;width: 35px;height: 18px;border-right: 1px solid #c2c2c2;margin-right:20px;background: url('../images/ico_login.png') no-repeat;vertical-align: middle;}
.loginSns.naver:before{background-position: -35px 0}
.loginSns.kakao:before{background-position: -70px 0}

/* form */
.formWrap{width: 890px;margin:60px auto 0;font-size: 14px;font-family:'RobotoM','NotoSansM', sans-serif;color: #999;}
.formWrap b{color: #f1645c}
.formWrap .alert{/*display: none;*/color: #f1645c}
.formWrap .subTxt{display: block;width: 100%;}
.inputWrap{line-height: 60px;} 
.inputWrap01{margin-top:30px;}
.inputWrap label{display: inline-block;min-width: 70px;text-align: left;margin-right: 20px;color: #000;font-size: 16px;}
.inputWrap label strong{color: #999;}
.inputWrap .btn{min-width: 114px;}

.formList > li{overflow: hidden;border-bottom:1px solid #e8e8e8;}
.formList .inputTit{display: inline-block;width: 100px;margin-right: 25px;padding: 25px 40px;vertical-align: middle;background: #f7f7f7;font-family:'RobotoR','NotoSansR', sans-serif;font-size: 16px;color: #000}
.formList #joinId{width:360px; }
.formList  select{width:80px;padding: 10px 10px;border:1px solid #d6d6d6; border-radius: 7px;color: #999;}
.formList .joinBirth{margin-right:15px;}
.formList .birth .inputTit{float: left;padding: 25px 40px 50px;}
.formList .birth > div{float: left;margin:10px 0;}
.formList .birth .note{display: block;margin-top:15px;}
.formList fieldset legend.hide {width:0; height:0; overflow:hidden; position:absolute; top:-999; left:-999; line-height:100%; visibility:hidden;}

.container input[type="checkbox"]{position: absolute;opacity: 0;top:0;left: -20px;}
.container input[type="text"], .container input[type="password"], .container input[type="email"]
{width:230px;margin-right:10px;padding: 10px 20px;border:1px solid #999;font-family:'RobotoM','NotoSansM', sans-serif;color: #999;}
.container input.inputL{width: 357px;}

.container input[type="text"].pullSize,
.container input[type="password"].pullSize,
.container input[type="email"].pullSize{padding:10px 20px;border:1px solid #d6d6d6;border-radius:7px;color:#999;margin-right:0;}
.container textarea.pullSize{padding:10px 20px;border: 1px solid #d6d6d6;border-radius:7px;font-family: 'RobotoM','NotoSansM', sans-serif;color: #999;}
.container select.pullSize{padding:9px 20px;border:1px solid #d6d6d6;border-radius:7px;font-family:'RobotoM','NotoSansM', sans-serif;color:#999;}

.paper-nav{text-align:center;}
.paper-nav a{width:10px;height:10px;display:inline-block;background:#ccc;border-radius:100%;margin-left:4px;}
.paper-nav a:first-child{margin-left:0;}
.paper-nav a.active{background:#f1655d;}
.paper-nav a span{position:absolute;left:-99990em;top:-99990em;z-index:-1;display:inline-block;}

.radioBox{position: relative;line-height: 30px;}
.radioBox input{position: absolute;opacity: 0;left: 0;}
.radioBox label:before{content: '';display: inline-block;width: 18px;height: 18px;margin-right:5px;background: url('../images/ico_radio.png') 0 -18px no-repeat;vertical-align: middle;}
.radioBox label.on:before{background-position: 0 0;}
.radioBox label {color:#000;}

.checkWrap{padding: 10px 0 35px;border-bottom: 1px solid #e8e8e8;}
.checkbox {position: relative;margin-top:18px;}
.checkbox label{font-family:'RobotoR','NotoSansR', sans-serif;font-size: 16px;color: #000;}
.checkbox label:before{content: '';display: inline-block;width: 24px;height: 24px;margin-right: 10px;background: #ccc url('../images/ico_check.png') no-repeat center;border-radius: 50%;vertical-align: middle;}
.checkbox label.on:before{background-color: #a9c700}


.listSquare{font-family:'RobotoM','NotoSansM', sans-serif;font-size: 14px;}
.listSquare li{position: relative;margin-top:8px;padding-left: 10px;line-height: 1.3em;}
.listSquare li:first-child{margin:0;}
.listSquare li:before{content: '';position: absolute;top: 5px;left: 0;width: 2px;height: 2px;background: #999;}

/* board */
table tr th.txtR,
table tr td.txtR {text-align:right !important;}
table tr th.txtL,
table tr td.txtL {text-align:left !important;}

.tbSet {width:100%; display:inline-block; border-top:1px solid #545454;}
.tbSet table{width: 100%; border-bottom:1px solid #ccc;font-family:'RobotoR','NotoSansR', sans-serif;font-size: 14px;text-align: center;line-height: 1.2em}
.tbSet table.tbL tr th,
.tbSet table.tbL tr td {text-align:left;}
.tbSet table.tbLThC tr th {text-align:center;}
.tbSet table.tbLThC tr td {text-align:left; color:#333;}
.tbSet table th{padding: 15px;background: #f8f8f8;color: #333; font-family:'NotoSansR','RobotoR', sans-serif;}
.tbSet table tbody tr + tr th {border-top:1px solid #e8e8e8;}
.tbSet table td{padding:15px;}
.tbSet table tr + tr td {border-top:1px solid #e8e8e8;}
.tbSet table td b{font-family:'RobotoM','NotoSansM', sans-serif;}
.tbSet table.lineN {border-bottom:0;}
.tbSBg {width:100%; overflow:hidden; border-top:1px solid #e8e8e8; margin-top:-1px !important;}
.tbSBg table {border-bottom:1px solid #e8e8e8;}
.tbSBg table th {background:#f2f4f4;}
.tbSBg table td {background:#fafafa; font-family:'NotoSansR','RobotoR', sans-serif; color:#666;}
.tbSBg table td span.price {color:#333}

table tr td .photoList {width:100%; height:90px; display:inline-block; position:relative; display:table-cell; vertical-align:middle;}
table tr td .photoList span.thumb,
table tr td .photoList span.thumb img{width:90px; height:90px;}
table tr td .photoList span.thumb {display:inline-block; position:absolute; top:0; left:0;}
table tr td .photoList span.thumb + span.cartInfo {margin-left:9px;}
table tr td .photoList span.cartInfo {padding-left:95px; display:inline-block; text-align:left;}
table tr td .photoList span.cartInfo span {width:100%;}
table tr td .photoList span.cartInfo em {padding:5px 8px; margin-bottom:9px; border:1px solid #333; border-radius:15px; text-align:center; color:#333; font-style:normal; display:inline-block; line-height:98%;}
table tr td .photoList span.cartInfo span {width:100%; font-size:14px; color:#999; display:inline-block; font-family:'RobotoL','NotoSansL', sans-serif;}
table tr td .photoList span.cartInfo span.cartTit {color:#000; font-family:'NotoSansR','RobotoR', sans-serif;}

table .optList {width:100%; overflow:hidden; margin-top:15px; text-align:left;}
table .optList .option {width:90%; padding:5px 30px 0 0; position:relative; display:inline-block;}
table .optList .option + .option {border-top:1px solid #d9d9d9;}
table .optList .option p {float:left; }
table .optList .option p.optionTit {width:126px; padding:5px 0; text-align:left;}
table .optList .option p.optionPrice {width:93px; padding:5px 0; text-align:right;}
table .optList .option p.optionNum {width:97px; position:relative; float:right;}
table .optList .option p.optionNum a,
table .optList .option p.optionNum span {display:inline-block; float:left;}
table .optList .option p.optionNum a {width:0; height:0; padding:25px 25px 0 0; position:absolute; top:0; overflow:hidden;}
table .optList .option p.optionNum a.btnMinus {left:0; background:url(../images/ico_option.png) 0 0 no-repeat;}
table .optList .option p.optionNum a.btnPlus {right:0; background:url(../images/ico_option.png) -25px 0 no-repeat;}
table .optList .option p.optionNum span.num {width:91px; height:16px; padding:4px 0; border:1px solid #ccc; border-radius:13px; text-align:center;}
table .optList .option a.btnDel {width:0; height:0; padding:25px 25px 0 0; position:absolute; top:5px; right:0; overflow:hidden; background:url(../images/ico_option.png) 100% 0 no-repeat;}

.adrArea dl {width:100%; margin:0; overflow:hidden;}
.adrArea dl + dl {border-top:1px solid #e8e8e8;}
.adrArea dl dt,
.adrArea dl dd {float:left; font-size:14px; font-family:'RobotoR','NotoSansR', sans-serif; text-align:left;}
.adrArea dl dt {padding:13px 13px 13px 0;}
.adrArea dl dd {margin:0;}
.adrArea dl dd + dd {padding-left:32px;}
.adrArea dl dd select + input[type="text"] {margin-left:14px;}
.adrArea dl dd.adrInfo {width:311px;}
.adrArea dl dd.adrInfo select + a {margin-left:12px;}
.adrArea dl dd.adrCon {width:583px; text-align:left;}
.adrArea dl dd.adrCon p + p {margin-top:6px; color:#;}
.adrArea dl dd.adrCon p {line-height:130%; font-family:'RobotoL', 'NotoSansL', sans-serif;}
.adrArea dl dd.adrCon p span + span {margin-left:19px;}
.adrArea dl dd.adrCon p b {padding-right:5px; margin-right:5px; background:url('../images/bul_bar.png') 100% 50% no-repeat; font-family:'NotoSansR','RobotoR', sans-serif;}
.compt .adrArea dl dd {width:85%; font-family:'RobotoL', 'NotoSansL', sans-serif;}
.compt .adrArea dl dd div {height:42px; display:table-cell; vertical-align:middle;}

.calendar {width:215px; padding:10px 20px; margin-right:11px; border:1px solid #d6d6d6; border-radius:7px; display:inline;}
.calendar span.calInp {width:; position:relative;}
.calendar span.calInp input[type="text"] {width:200px; border:0; padding:0; font-family:'RobotoM','NotoSansM', sans-serif; color: #999; margin-right:16px;}
.calendar a.calBtn {width:0; height:0; padding:16px 16px 0 0; background:url('../images/ico_calendar.png') 0 0 no-repeat; display:inline-block; overflow:hidden; position:absolute; top:1px; right:0;}
.calendar.cal2 {background:url('../images/ico_calendar_bar.png') 50% 50% no-repeat;}
.calendar.cal2 span.calInp + span.calInp {margin-left:20px;}
.calendar.cal2 span.calInp input[type="text"] {width:80px;}

