.cardWrap{overflow: hidden;min-width:1220px;margin:40px -20px 0 0;z-index: 0}
.cardWrap > li{overflow: hidden;float: left;width:285px;padding-top:84px; margin-top:-83px;margin-bottom: 10px;text-align: center;color:#fefefe;background-size: 100%;background-position: center;}
.cardWrap {padding-top:83px;}

.cardLayer {width:100%; height:754px; padding:0 20px; position:absolute; top:0; left:0; z-index:90;}
.cardLayer .cardWrap {width:1500px; margin:0 auto; position:relative; }
.cardLayer .cardWrap li {position:relative; background:none;}
.cardLayer .cardWrap li + li {margin-left:10px;}

/* hexagon css */
.hexagon{position: absolute;top:85px;left: 0;width: 100%;background-position: center;background-repeat: no-repeat;margin: 82.27px 0;}
.hexTop, .hexBottom {overflow: hidden;position: absolute;z-index: 1;background: inherit;left: 41.7373px;width: 201.525px;height: 201.525px;transform: scaleY(0.57735) rotate(-45deg);}
.hexTop{top: -101.76px}
.hexBottom{bottom: -101.76px;}
.hexTop span,.hexBottom span {position: absolute;left: 0;width: 285px;height: 164.545px;transform: rotate(45deg) scaleY(1.73205) translateY(-82.2724px);-webkit-transform-origin: 0 0;-ms-transform-origin: 0 0;transform-origin: 0 0;background: inherit; }
.hexTop span {background-position: center top;}
.hexBottom span {background-position: center bottom;}
.hexagon:after {content:'';position: absolute;top: 0px;left: 0;width: 100%;height: 100%; z-index: 2;background: inherit;}

.cardLine {width:163px; height:20px; padding-left:15px; transform:rotate(-29.65deg); position:absolute; top:126.5px; left:-19px; z-index:5; text-align:left;}
.cardLine:after {content:''; width:0; position:absolute; top:4.5px; right:-15.1px; border-bottom:21.7px solid; border-right:12.7px solid transparent; border-left:12.5px solid transparent; transform:rotate(120deg);}
.cardLine p {font-size:14px; font-style:italic; color:#fff; line-height:130%;}

.cardCon{position:relative; z-index:4;top:0;display: block;width:265px;padding:81px 10px;color:#000;}
.cardTop{position: absolute;top:0;left:0;z-index: 1}
.cardBtm{position: absolute;bottom:0;left:0;z-index: 1}
.cardCon:after {content:''; width:164px; height:73px; transform:rotate(-29.65deg) skewx(-30deg); position:absolute; bottom:47px; right:-11px; opacity:0.5; z-index:-1;}

.cardCon .cardEnter{position: absolute;left:50%;bottom:30px;margin-left: -32px;z-index: 2; width:auto; height:auto;}
.cardCon .cardEnter img{display: block;}
.cardRemove{position: absolute;top:119px;left: 50%;display: block;width: 30px;height: 30px;margin-left:-15px;background:url('../images/btn_close.png') no-repeat center;z-index: 2}
.cardTit{min-height:48px; font-family:'RobotoR','NotoSansR', sans-serif;font-size: 34px;line-height: 1.2em;}
.cardWrap .cardCat + .cardTit {margin-top:10px;;}
.cardWrap .cardCat{position: relative; font-family:TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, sans-serif; font-size: 14px; padding-top:31px; height:18px; margin-top:-22px; font-style:italic;}
.cardWrap .cardCat:before{content: ''; display: block;width: 28px;height:31px;margin:0 auto;background: url('/images/ico_card_type.png') 0 100% no-repeat; position:absolute; bottom:24px; left:50%; margin-left:-14px;}
.cardWrap .cardSub{font-family:'RobotoM','NotoSansM', sans-serif;font-size: 20px;line-height: 1.2em;}
.cardTit,.cardWrap .cardSub {margin-top:25px;}
.cardWrap .cardIntro{font-family:'RobotoR','NotoSansR', sans-serif;font-size: 14px;line-height: 1.2em;}
.cardWrap .cardInfo{font-family:'RobotoR','NotoSansR', sans-serif;font-size: 20px;line-height: 1.2em;}
.cardWrap .cardThumb{overflow: hidden;width: 180px;height:180px;border-radius:50%;margin:15px auto;}
.cardWrap .cardThumb img{display: block;width: 100%;}
.cardWrap .cardIntro:before{content:'';display:block;width: 25px;height: 1px;margin:14px auto;background: #fff}
.cardWrap p.cardPrice {padding:10px 0; font-size:40px; font-style:italic; position:relative; display:inline-block; font-family:TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, sans-serif;}
.cardWrap p.cardPrice span {font-size:14px; position:absolute; right:0;}
.cardWrap p.cardPrice span.priceTop {top:0px;}
.cardWrap p.cardPrice span.priceBottom {bottom:0px;}

/* card iusse */
.cardCon .upTo {width:144px; height:165px; background:url('../images/card_point.png') 0 0 no-repeat; position:absolute; top:-81px; left:0; z-index:4;}
.cardCon .upTo p {padding:53px 0 0 15px; color:#fff; font-family:TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, sans-serif; font-style:italic; text-align:left; letter-spacing:-1px;}
.cardCon .upTo p em{display:block;}
.cardCon .upTo p b {font-size:50px;}
.cardCon .issue {width:96px; height:96px; background:url('../images/card_point.png') -144px 0 no-repeat; position:absolute; top:10px; right:20px; z-index:4;}
.cardCon .issue p {padding:32px 0 0 10px; font-family:TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, sans-serif; font-style:italic; color:#700000; font-size:20px; font-weight:bold; text-align:left;}
.cardCon .celeb {width:72px; height:82px; background:url('../images/card_point.png') -244px 0 no-repeat; position:absolute; top:4px; right:30px; z-index:4;}
.cardCon .celeb p {width:39px; padding:22px 0; color:#fff; margin:0 auto; text-align:right; font-size:16px; line-height:120%; font-family:'RobotoM','NotoSansM', sans-serif;}
.cardCon .celeb p b {display:block; color:#864e05; text-align:left;}
.cardCon .md {width:72px; height:82px; background:url('../images/card_point.png') -321px 0 no-repeat; position:absolute; top:4px; right:30px; z-index:4;}
.cardCon .md p {width:39px; padding:22px 0; color:#fff; margin:0 auto; text-align:right; font-size:16px; line-height:120%; font-family:'RobotoM','NotoSansM', sans-serif;}
.cardCon .md p b {display:block; color:#8b2100; text-align:left; font-family:TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, sans-serif; font-weight:bold; font-style:italic; font-size:20px;}
/* card size 01~04 */
.cardSize01{height:330px;}
.cardSize01 .cardCon{height:170px;}
.cardSize01 .hexagon{height: 163.545px;}
.cardSize01 .hexagon,
.cardSize01 .hexagon .hexTop
.cardSize01 .hexagon .hexBottom {background-size:285px 330px;}

.cardSize02{height:503px;}
.cardSize02 .cardCon{height:340px;}
.cardSize02 .hexagon{height:335.55px;}
.cardSize02 .hexagon,
.cardSize02 .hexagon .hexTop
.cardSize02 .hexagon .hexBottom {background-size:285px 490px;}

.cardSize03{height:679px;}
.cardSize03 .cardCon{height:514px;}
.cardSize03 .hexagon{height: 515.55px;}
.cardSize03 .hexagon,
.cardSize03 .hexagon .hexTop
.cardSize03 .hexagon .hexBottom {background-size:285px 683px;}

.cardSize04{width:590px;height:745px;}
.cardSize04 .cardCon{height: 585px;}
.cardSize04 .hexagon{height: 412.455px;background-color: #fff;}
.cardSize04.cardType06 .cardCon{width: 570px;}
.cardSize04.cardType06 .cardCon, .cardType11 .cardCon {color:#000;}
.cardSize04.cardType06 .hexagon{margin: 167px 0;background-color: transparent;}
.cardSize04.cardType06 .hexTop, .cardSize04.cardType06 .hexBottom{width: 417.19px;height: 417.19px;left: 86.40px;}
.cardSize04.cardType06 .hexTop span, .cardSize04.cardType06 .hexBottom span{width: 590.0000px;height: 250.6366588218792px;}
.cardSize04.cardType06 .hexTop {top: -206.5965px;}
.cardSize04.cardType06 .hexBottom {bottom: -206.5965px;}


/* card hover */
.cardCon .cardHover {display:none;}
.cardCon.cHover .cardHover {display:block; position:absolute; top:0; left:0; z-index:4;}
.cardHover .cardCon ul.card_icon {width:100%; position:absolute; top:275px; left:0;}
.cardHover .cardCon ul.card_icon li {width:50%; height:95px; float:left; font-size:0;}
.cardHover .cardCon ul.card_icon li a {width:100%; height:100%; display:inline-block; position:relative;}
.cardHover .cardCon ul.card_icon li a:after {content:''; width:31px; height:32px; margin-top:-16px; background:url(../images/card_icon.png) 0 0 no-repeat; display:inline-block; position:absolute; top:50%;}
.cardHover .cardCon ul.card_icon li:first-child a:after {left:32px;}
.cardHover .cardCon ul.card_icon li:last-child {float:right;}
.cardHover .cardCon ul.card_icon li:last-child a:after {background-position:-33px 0; right:32px;}
.cardHover .worker {width:285px; margin-left:-142.5px; position:absolute; bottom:127px; left:50%;}
.cardHover .worker .cardAuthorLike {width:100%; text-align:center;}
.cardHover .worker .cardAuthorLike .star {}
.cardHover .worker .cardAuthorLike .star:before{background-position:0 0}
.cardHover .worker .cardAuthorLike span:before{content:'';display: inline-block;width: 12px;height: 13px;margin-right:7px;background:url('../images/ico_card_popular.png') no-repeat;}
.cardHover .worker .cardAuthorLike span + span {margin-left:10px;}
.cardHover .worker .cardAuthorLike .comt:before{background-position:-12px 0}
.cardHover .worker .cardAuthorLike .scrap:before{background-position:-25px -10px}
.cardHover .worker .cardAuthorPic{overflow: hidden;width:63px;height:64px;border-radius:50%;margin:10px auto 0;}
.cardHover .worker .cardAuthorPic img{display: block;width: 100%;}
.cardHover .worker .cardAuthorInfo{padding:15px 0 20px;font-family:'RobotoR','NotoSansR', sans-serif;font-size: 14px;line-height: 1.2em;color:#fff; line-height:130%;}
.cardHover .worker .cardAuthorInfo b{color:#fff}

.cardCon ul.check_icon {width:164px; height:71px; transform: rotate(-29.65deg); position:absolute; bottom:44px; right:-7px; z-index:5; text-align:right;}
.cardCon ul.check_icon li {width:47px; display:inline-block;}
.cardCon ul.check_icon li a {width:100%; padding:45px 0 15px; color:#000; font-size:11px; display:inline-block; position:relative; font-family:TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, sans-serif; font-style:italic; font-weight:bold; text-align:center;}
.cardCon ul.check_icon li a:after {content:''; width:19px; height:20px; margin:-10px 0 0 2px; background:url(../images/check_icon.png) 0 0 no-repeat; position:absolute; top:22px; left:15px; display:inline-block;transform: rotate(0deg);}
.cardCon ul.check_icon li.like a:after {background-position:0 1px;}
.cardCon ul.check_icon li.share a:after {background-position:-20px 0;}
ul.cardWrap > li .cardCon > a.cardTxt {padding-bottom:45px;}
ul.cardWrap > li .cardCon.cHover > a.cardTxt {display:inline-block;}
ul.cardWrap > li .cardCon ul.check_icon li.text {position:relative;}
ul.cardWrap > li .cardCon ul.check_icon li.text a span {width:39px; height:35px; margin:-16px 0 0 -19.5px; position:absolute; top:50%; left:50%; display:inline-block;}
ul.cardWrap > li .cardCon ul.check_icon li.text a:after {display:none;}

/* 첫번째 hover */
ul.cardWrap > li .cardCon.cHover {position:relative;}
ul.cardWrap > li .cardCon.cHover > a.cardTxt {width:285px; display:inline-block; margin-left:-142.5px; position:absolute; top:81px; left:50%; z-index :5;}
ul.cardWrap > li .cardCon.cHover > a.cardTxt p,
ul.cardWrap > li .cardCon.cHover > a.cardTxt h2 {color:#fff;}
ul.cardWrap > li .cardCon.cHover .cardCon {color:#fff;}
ul.cardWrap > li .cardCon.cHover .cardCon:after {display:none;}
ul.cardWrap > li .cardCon span.cardMore {display:none;}
ul.cardWrap > li .cardCon.cHover .cardCon {}
ul.cardWrap > li .cardCon.cHover ul.check_icon li a {color:#fff;}
ul.cardWrap > li .cardCon.cHover ul.check_icon li.like a:after {background-position:0 -21px;}
ul.cardWrap > li .cardCon.cHover ul.check_icon li.share a:after {background-position:-20px -20px;}
ul.cardWrap > li .cardCon .cardTxt span.cardMore {display:none; padding:8px 31px 9px 15px; color:#5e5c74; background:#fff; border-radius:15px; overflow:hidden; font-size:14px; position:absolute; bottom:0; left:50%; margin-left:-50px; z-index :5;}
ul.cardWrap > li .cardCon .cardTxt span.cardMore:after {content:''; width:14px; height:10px; margin-top:-5px; background:url(../images/cardMore_arrow.png) -14px 0 no-repeat; position:absolute; top:50%; right:13px; display:inline-block;}
ul.cardWrap > li.cardType07 .cardCon.cHover .cardTxt {}
ul.cardWrap > li.cardType07 .cardCon.cHover .cardTxt .cardCat,
ul.cardWrap > li.cardType07 .cardCon.cHover .cardTxt .cardTit {display:none;}
ul.cardWrap > li.cardType07 .cardCon.cHover .cardTxt .cardMore {display:inline-block;}
ul.cardWrap > li.cardType07 .cardCon.cHover .cardTxt {top:220px;}
ul.cardWrap > li.cardType07 .cardCon.cHover .specialist {width:127px; padding-left:15px; position:absolute; top:265px; left:0; text-align:left;}
ul.cardWrap > li.cardType07 .cardCon.cHover .specialist .specialistPic {width:64px; height:64px; margin-top:-30px; border-radius:50%; overflow:hidden;}
ul.cardWrap > li.cardType07 .cardCon.cHover .specialist .specialistPic img {width:64px; height:64px;}
ul.cardWrap > li.cardType07 .cardCon.cHover .specialist .specialistInfo {margin-top:16px;}
ul.cardWrap > li.cardType07 .cardCon.cHover .specialist .specialistInfo span {width:100%; display:inline-block;}
ul.cardWrap > li.cardType07 .cardCon.cHover .specialist .specialistInfo span.tit {font-size:14px; font-family:'RobotoL','NotoSansL', sans-serif;}
ul.cardWrap > li.cardType07 .cardCon.cHover .specialist .specialistInfo span.tit b {font-size:24px; line-height:29px; display:inline-block;}
ul.cardWrap > li.cardType07 .cardCon.cHover .specialist .specialistInfo span.adr {padding-left:12px; margin-top:15px; font-size:14px; font-family:'RobotoL','NotoSansL', sans-serif; position:relative;}
ul.cardWrap > li.cardType07 .cardCon.cHover .specialist .specialistInfo span.adr:before {content:''; width:8px; height:12px; margin-top:-4px; background:url(../images/ico_card_popular.png) -36px 0 no-repeat; position:absolute; top:50%; left:0;}
ul.cardWrap > li.cardType07 .cardCon.cHover ul.card_icon {width:142px; left:142px; top:270px;}
ul.cardWrap > li.cardType07 .cardCon.cHover ul.card_icon li:first-child {margin-top:30px;}
ul.cardWrap > li.cardType05 .cardCon.cHover .cardTxt p,
ul.cardWrap > li.cardType05 .cardCon.cHover .cardTxt h2,
ul.cardWrap > li.cardType06 .cardCon.cHover .cardTxt p,
ul.cardWrap > li.cardType06 .cardCon.cHover .cardTxt h2 {color:#000;}

/* 두번째 hover */
ul.cardWrap > li .cardCon .cardTxt.sHover span.cardMore {display:inline-block;}
ul.cardWrap > li.cardType01 .cardCon .cardTxt.sHover span.cardMore {color:#f87067;}
ul.cardWrap > li.cardType01 .cardCon .cardTxt.sHover span.cardMore:after {background-position:0 0;}
ul.cardWrap > li.cardType02 .cardCon .cardTxt.sHover span.cardMore {color:#f87067;}
ul.cardWrap > li.cardType02 .cardCon .cardTxt.sHover span.cardMore:after {background-position:0 0;}
ul.cardWrap > li.cardType03 .cardCon .cardTxt.sHover span.cardMore {color:#f9930a;}
ul.cardWrap > li.cardType03 .cardCon .cardTxt.sHover span.cardMore:after {background-position:0 0;}
ul.cardWrap > li.cardType05 .cardCon .cardTxt.sHover span.cardMore {color:#f87067;}
ul.cardWrap > li.cardType05 .cardCon .cardTxt.sHover span.cardMore:after {background-position:0 0;}
ul.cardWrap > li.cardType06 .cardCon .cardTxt.sHover span.cardMore {color:#f87067;}
ul.cardWrap > li.cardType06 .cardCon .cardTxt.sHover span.cardMore:after {background-position:0 0;}
.cardHover .cardCon ul.card_icon li.sHover {background:red;}
.cardCon ul.check_icon li.sHover a {background:red;}

.hoverStyle01 {background:url(../images/card_hover01.png) 0 0 no-repeat;}
.hoverStyle02 {background:url(../images/card_hover02.png) 0 0 no-repeat;}
.hoverStyle03 {background:url(../images/card_hover03.png) 0 0 no-repeat;}
.hoverStyle04 {width:285px; height:502px; background:url(../images/card_hover04.png) 0 100% no-repeat;}

/* card type 01~10 */
.cardWrap .cardType01 {}
.cardWrap .cardType01 .cardLine { background:#cde1d5;}
.cardWrap .cardType01 .cardLine p {font-size:14px; color:#000;}
.cardWrap .cardType01 .cardLine p span {color:#fd665d;}
.cardWrap .cardType01 .cardLine:after {border-bottom-color:#ff6460;}
.cardWrap .cardType01 .cardCat {color:#ff6460; font-style:italic; font-size:20px;}
.cardWrap .cardType01 h2.cardTit {font-size:20px;}
.cardWrap .cardType01 h2.cardTit b {display:block;}
.cardWrap .cardType01 .cardCat:before {display:none;}
.cardWrap .cardType01 .cardCon:after {background:#efe7da;}
.cardWrap .cardType01 a {color:#000;}

.cardWrap .cardType02 .cardLine { background:#f9b5b5;}
.cardWrap .cardType02 .cardLine:after {border-bottom-color:#4e4c66;}
.cardWrap .cardType02 a {color:#000;}
.cardWrap .cardType02 .cardCat {color:#c2504f; font-style:italic; font-size:20px;}
.cardWrap .cardType02 h2.cardTit {font-size:20px;}
.cardWrap .cardType02 h2.cardTit b {display:block;}
.cardWrap .cardType02 .cardCat:before {display:none;}
.cardWrap .cardType02 a {color:#000;}
.cardWrap .cardType02 .cardCon:after {background:#95d2cd;}

.cardWrap .cardType03 .cardLine { background:#8feddd;}
.cardWrap .cardType03 .cardLine:after {border-bottom-color:#ff9504;}
.cardWrap .cardType03 h2.cardTit{font-size:20px;}
.cardWrap .cardType03 .cardCon:after {background:#ffff79;}
.cardWrap .cardType03 a {color:#000;}

.cardWrap .cardType04 .cardLine { background:#b94b4a;}
.cardWrap .cardType04 .cardLine:after {border-bottom-color:#5e5c74;}
.cardWrap .cardType04 h2.cardTit {font-size:20px;}
.cardWrap .cardType04 h2.cardTit b {display:block;}
.cardWrap .cardType04 .cardCon:after {background:#95d2cd;}
.cardWrap .cardType04 a {color:#000;}

.cardWrap .cardType05 .cardLine { background:#fdeed1;}
.cardWrap .cardType05 .cardLine:after {border-bottom-color:#3a4c62;}
.cardWrap .cardType05 .cardCon{color: #000;}
.cardWrap .cardType05 .cardCat:before {background-position:-29px 0;}
.cardWrap .cardType05 .cardCon:after {background:#9ab6c4;}
.cardWrap .cardType05 a {color:#000;}
/*.cardWrap .cardType05 .cardTit02{float: left;width:102px;padding:50px 10px 0 20px;font-size: 14px;font-family:'RobotoM','NotoSansM', sans-serif;text-align: left;word-break: keep-all}
.cardWrap .cardType05 .cardAuthorInfo {float: left;width:100px;padding-left: 20px;color: #666;}
.cardWrap .cardType05 .cardAuthorInfo b{color: #000;}
.cardWrap .cardType05 .cardSub{display: none;font-family: 'RobotoL','NotoSansL', sans-serif;}
.cardWrap .cardType05 .union{margin:-20px auto 160px;font-family:'RobotoM','NotoSansM', sans-serif;font-size: 14px;color: #fff;}
.cardWrap .cardType05 .union span{display: inline-block;padding:7px 20px;border:1px solid #fff;border-radius: 20px;}
.cardWrap .cardType05 .cardDetail{color: #999;font-size: 14px;}
.cardWrap .cardType05 .cardDetail .like:before{background-position:0 -13px}
.cardWrap .cardType05 .cardDetail .comt:before{background-position:-12px -12px}
.cardWrap .cardType05 .cardIntro{color: #666;font-size: 20px;margin-bottom:10px}
.cardWrap .cardType05 .cardIntro b{font-size:40px;}
.cardWrap .cardType05 .cardIntro:before{display: none;}
*/

.cardWrap .cardType06{}
.cardWrap .cardType06 .cardLine {background:#f0fafc;}
.cardWrap .cardType06 .cardLine:after {border-bottom-color:#00a7d3;}
.cardWrap .cardType06 .cardCat {color:#fff; background-position:0 0;}
.cardWrap .cardType06 .cardCat + h2.cardTit {margin-top:35px;}
.cardWrap .cardType06 h2.cardTit {color:#fff;}
.cardWrap .cardType06 h2.cardTit b {display:block;}
.cardWrap .cardType06 .cardCon:after {background-color:#77c5d9;}
.cardWrap .cardType06 a {color:#fff;}

.cardWrap .cardType07{}
.cardWrap .cardType07 .cardCon:after {background-color:#9a9a9c;}
.cardWrap .cardType07 .cardLine {background:#fae6bd;}
.cardWrap .cardType07 .cardLine:after {border-bottom-color:#705a54;}
.cardWrap .cardType07 .cardLine p {color:#000;}
.cardWrap .cardType07 .cardCat:before {width:12px; margin-top:-10px; background-position:-141px 0; margin-left:-5.5px;}
.cardWrap .cardType07 h2.cardTit{color: #000; font-size:14px; text-align:left;}
.cardWrap .cardType07 h2.cardTit b{font-size:34px; display:block; line-height:40px;}
.cardWrap .cardType07 h2.cardTit span {margin-top:17px;color:#fff; display:inline-block;}
.cardWrap .cardType07 .cardCat + h2.cardTit {margin-top:50px;}
.cardWrap .cardType07 a {color:#000;}

/*.cardWrap .cardType07 .cardIntro{color: #666}
.cardWrap .cardType07 .cardIntro:before{background:#666;}
.cardWrap .cardType07 .cardEnter{bottom:40px;margin-left:-38px;padding:10px 25px;background:#999;color: #fff;font-size:14px;font-family:'RobotoR','NotoSansR', sans-serif;border:0;outline:0;border-radius: 20px;cursor: pointer;}*/

.cardWrap .cardType08{}
.cardWrap .cardType08 .hexagon.bg:after {background: url('/images/card_bg.png') 0 100% no-repeat #f17992; background-size:261px 148px;}
.cardWrap .cardType08 .cardCon:after {display:none;}
.cardWrap .cardType08 h2.cardTit {color:#fff; margin-top:0;}
.cardWrap .cardType08 h2.cardTit + .cardSub {margin-top:8px;}
.cardWrap .cardType08 p {font-family:'RobotoM', sans-serif;color: #fff;}
.cardWrap .cardType08 .cardDate{display: inline-block;margin-bottom:20px;padding:7px 20px;border:1px solid #b2b2b2;border-radius:15px;font-size: 16px;}
.cardWrap .cardType08 .cardThum{margin-top: 15px;font-family:'RobotoR','NotoSansR', sans-serif;font-size: 14px;line-height: 1.3em;}
.cardWrap .cardType08 .cardThum img{display: block;margin: 0 auto 15px;}
.cardWrap .cardType08 a {color:#fff;}

.cardWrap .cardType09 .cardCon:after {display:none;}
.cardWrap .cardType09 .hexagon {width:283px; border-left:1px solid #e5e5e5; border-right:1px solid #e5e5e5;}
.cardWrap .cardType09 .hexagon .hexTop {border-top:1px solid #e5e5e5; border-right:1px solid #e5e5e5;}
.cardWrap .cardType09 .hexagon .hexBottom {border-left:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5;}
.cardWrap .cardType09 a {color:#000;}
.cardWrap .cardType09 h2.cardTit {margin-top:0;}
.cardWrap .cardType09 h2.cardTit + .cardSub {margin-top:10px;}
.cardWrap .cardType09 .cardIntro{color: #666}
.cardWrap .cardType09 .cardIntro:before{background:#666;}
.cardWrap .cardType09 .cardIntro2{color: #666; margin-top:10px;}
.cardWrap .cardType09 .cardEnter{bottom:40px;margin-left:-38px;padding:10px 25px;background:#999;color: #fff;font-size:14px;font-family:'RobotoR','NotoSansR', sans-serif;border:0;outline:0;border-radius: 20px;cursor: pointer;}
.cardWrap .cardType09 .cardRemove{background-image: url('../images/btn_closeG.png');}
/*.cardWrap .cardType09 .cardCon a{display: inline-block;width:64px;height: 64px;margin:20px 5px 0;position: relative;z-index: 2; border-radius:50%;}*/
.cardWrap .cardType09 .cardCon .btn01{display:inline-block;}
.cardWrap .cardType09 .cardCon .btn02{background-position:-64px 0; display:inline-block;}
.cardWrap .cardType09 .cardCon a:hover{background-position:0 -64px; }
.cardWrap .cardType09 .cardCon .btn02:hover{background-position:-64px -64px; }
.cardWrap .cardType09 .share a{border:1px solid #4862a3; border-radius:50%; width:64px; height:64px; margin-top:20px; background: url('../images/btn_card_fb.png') no-repeat;}
.cardWrap .cardType09 .share a + a{margin-left:10px;}
.cardWrap .cardType09 .share {color: #4862a3;}
.cardWrap .cardType09 .share .cardSub span{color: #808080;font-family: 'RobotoR','NotoSansR', sans-serif;}
.cardWrap .cardType09 .app {color: #333;}
.cardWrap .cardType09 .app a{background: url('../images/btn_card_app.jpg'); width:64px; height:64px; margin-top:20px;}
.cardWrap .cardType09 .app a + a{margin-left:10px;}
.cardWrap .cardType09 .app .cardSub{color: #808080;}
.cardWrap .cardType09 .tag{color: #000}
.cardWrap .cardType09 .tag .cardIntro{color: #666;}
.cardWrap .cardType09 .tag .cardIntro:before{background: #666}
.cardWrap .cardType09 .tag ul{margin-top:20px;}
.cardWrap .cardType09 .tag a{overflow: hidden;width:auto;height: auto;padding: 0 15px;margin:3px;border:1px solid #f3918b;color: #f1645c;border-radius: 17px;}

.cardWrap .cardType10 .hexagon {width:283px; border-left:1px solid #e5e5e5; border-right:1px solid #e5e5e5;}
.cardWrap .cardType10 .hexagon .hexTop {border-top:1px solid #e5e5e5; border-right:1px solid #e5e5e5;}
.cardWrap .cardType10 .hexagon .hexBottom {border-left:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5;}
.cardWrap .cardType10 .cardIntro:before{background:#000;}
.cardWrap .cardType10 .cardCat:before{background-position:-84px 0}
.cardWrap .cardType10 a {color:#000;}

/*
.cardWrap .cardDetail{position: absolute;left:0;bottom:13px;width:100%;height:130px;z-index:1;}
.cardWrap .cardDetail:before{content:'';display: inline-block;width:0;height: 100%;vertical-align: middle;}
.cardWrap .cardDetailWrap{display: inline-block;margin-left: -5px;vertical-align: middle;}
*/

/*
.cardWrap .cardDetail span:before{content:'';display: inline-block;width: 12px;height: 13px;margin:0 7px;background:url('../images/ico_card_popular.png') no-repeat;}
.cardWrap .cardDetail .comt:before{background-position:-12px 0}
.cardWrap .cardDetail .scrap:before{background-position:-25px -10px}
*/
.cardWrap .cardCollect {overflow: hidden;width:148px;margin:10px auto 0;}
.cardWrap .cardCollect li{overflow: hidden;position: relative;float: left;width:64px;height: 64px;margin:5px;font-size: 0;}
.cardWrap .cardCollect label{display: block;width: 100%;height: 100%;cursor: pointer;background-color: #eee;border-radius: 50%;}
.cardWrap .cardCollect input{position: absolute;top: -100px;left: -100px}
.cardWrap .cardCollect label:hover, .cardWrap .cardCollect .on label{background-color: #a9c700}
.cardWrap .cardCollect .collect01 label{background-position:0 0}
.cardWrap .cardCollect .collect01 label:hover, .cardWrap .cardCollect .collect01.on label{background-position:0 -64px;}
.cardWrap .cardCollect .collect02 label{background-position:-64px 0}
.cardWrap .cardCollect .collect02 label:hover, .cardWrap .cardCollect .collect02.on label{background-position:-64px -64px}
.cardWrap .cardCollect .collect03 label{background-position:-128px 0}
.cardWrap .cardCollect .collect03 label:hover, .cardWrap .cardCollect .collect03.on label{background-position:-128px -64px}
.cardWrap .cardCollect .collect04 label{background-position:-192px 0}
.cardWrap .cardCollect .collect04 label:hover, .cardWrap .cardCollect .collect04.on label{background-position:-192px -64px}

.cardWrap .cardCollect.pet label{background-image: url('../images/btn_card_pet.png')} 
.cardWrap .cardCollect.fam label{background-image: url('../images/btn_card_fam.png')} 

.cardWrap .cardCollect02{width: 228px;}
.cardWrap .cardCollect02 li{font-size:14px;font-family:'RobotoM','NotoSansM', sans-serif;color: #a9c700;}
.cardWrap .cardCollect02 li:hover, .cardWrap .cardCollect02 li.on{color: #fff;}
.cardWrap .cardCollect02 label:before{content: '';display: inline-block;width:0;height: 100%;margin-right: -5px;vertical-align: middle;}
.cardWrap .cardCollect02 label span{display: inline-block;vertical-align: middle;}


.cardWrap .tag li{display: inline-block;font-size:14px;font-family:'RobotoR','NotoSansR', sans-serif;color: #c3d656}


.cardWrap .expert .cardSub{margin-top:5px;color: #f1645c;}
.cardWrap .expert .cardIntro{color: #666;}
.cardWrap .expert .cardIntro:before{display: none;}

.cardCon .removeScrap {position:absolute; top:42px; right:20px;width:40px; height:40px; background: #b3b3b3 url('../images/btn_remove.png') center no-repeat; border-radius: 50%; z-index:4;font-size: 0;}

/*  */
.cardBgWrap {position:absolute;top:0;left:0;right:0;bottom:0;}
.cardBgWrap p {position:absolute;top:0;left:0;opacity:0}
