.subTop{position: relative;background: #fff;text-align: center;}
.subTop .wrap{padding:50px 10px;}
.pageTit{font-family:'RobotoL','NotoSansL', sans-serif;color: #000;font-size: 40px;}
.pageTit:before, .pageTit:after{content: '';display: inline-block;width: 70px;height: 1px;background: #d9d9d9;vertical-align: middle;}
.pageTit:before{margin-right: 20px;}
.pageTit:after{margin-left: 20px;}
.subTop .subTit{margin-top:15px;font-family:'RobotoR','NotoSansR', sans-serif;color: #999;}
.subTop .subTit b{color: #f1645c}
.subTop .tagList{overflow: hidden;height: 40px;margin-top:40px;}
.subTop .tagList li{display: inline-block;margin:0 3px;}
.subTop .tagList li a{display: block;padding: 12px 20px;border-radius: 20px;border:1px solid #f3918b;font-family:'RobotoM','NotoSansM', sans-serif;color: #f1645c;font-size: 14px;}

.infoTop{position: relative;background: #fff;color: #666;}
.infoTop .infoPic{display: inline-block;overflow: hidden;width: 178px;height: 178px;border-radius: 50%;border:1px solid #d9d9d9;vertical-align: middle;}
.infoTop .infoPic img{display: block;width: 100%;}
.infoTop .infoWrap{display: inline-block;width:375px;margin-left:40px;vertical-align: middle;}
.infoTop .infoTit{font-family:'RobotoR','NotoSansR', sans-serif;color: #000;font-size: 30px;line-height: 1.1em}
.infoTop .infoId{margin-top:10px;font-family:'RobotoL','NotoSansL', sans-serif;color: #666;font-size: 16px;}
.infoTop .infoDetail{font-family:'RobotoL','NotoSansL', sans-serif;font-size: 14px;}
.infoTop .infoDetail:before{content: '';display: block;width: 50px;height: 1px;background: #c7c7c7;margin:24px 0 15px;}
.infoTop .infoDetail span:before{content: '';display: inline-block;width: 12px;height: 12px;margin-right: 3px;background: url('../images/ico_card_popular.png');vertical-align: middle;}
.infoTop .infoDetail span.area:before{background-position: -35px -14px;}
.infoTop .infoDetail span.star{margin-left: 10px;}
.infoTop .infoDetail span.star:before{background-position: 0 -14px;}
.infoTop .infoSub{margin-top:15px;font-family:'RobotoR','NotoSansR', sans-serif;font-size: 14px;line-height: 1.4em}

.infoTop .colR{text-align: right;}
.infoTop #sharePage{display: inline-block;width: 40px;height: 40px;margin: 20px 0 60px;font-size: 0;background: url('../images/ico_share.png') no-repeat center;}
.infoTop .infoBtn{position: absolute;bottom: 40px;left: 0;width: 100%;}
.myRate{display: inline-block;margin-right: 25px;color: #666;font-family:'RobotoR','NotoSansR', sans-serif;vertical-align: middle;text-align: center;line-height: 1.3em;font-size: 16px;}
.myRate b{display: block;color: #000;font-family:'RobotoM','NotoSansM', sans-serif;}
.infoTop .infoBtn a{width: 170px;font-family:'RobotoR','NotoSansR', sans-serif;}
.infoTop .infoBtn #btnFollow{margin-right: 10px;background:#f1645c}
.infoTop .infoBtn #btnMsg{background: #706a69}

.colWrap{overflow: hidden;}
.col{width:50%;float: left;}
.singleCard{overflow: hidden;position: relative;padding-bottom: 80px;}
.doubleCard{width:510px;float: left;}
.doubleCard:first-child{margin-right: 60px;}

/* brand */
.singleCard .bx-wrapper{overflow: hidden;position: relative;padding: 0 210px;border-radius: 10px 10px 0 0;z-index: 1}
.singleCard .bx-viewport{overflow: visible !important;}
.singleCard #infoSlider img{display: block;width: 100%;}
.singleCard .bx-wrapper .bx-controls-direction .bx-prev{left: 80px;}
.singleCard .bx-wrapper .bx-controls-direction .bx-next{right: 80px;}

.singleCard #content{margin-top:50px;padding-bottom:20px;}
.singleCard #content p{font-size: 16px;color: #000;line-height: 1.6em;}
.singleCard .conTit{clear:both;margin-top:80px;font-family:'RobotoM','NotoSansM', sans-serif;color: #000;font-size: 20px;}
.singleCard .url{display: block;margin-top:30px;font-size: 14px;font-family:'RobotoL','NotoSansL', sans-serif;color:#a9c700;}

.contentCard .secTit{margin-top:60px;padding-left: 10px;font-size: 30px;color: #000;font-family:'RobotoR','NotoSansR', sans-serif;}
.contentCard .relateTag{margin-top:25px;}
.contentCard .relateTag li{display: inline-block;margin:6px 5px;}
.contentCard .relateTag li a{display: inline-block;padding: 20px 35px;background: #fff;border-radius: 30px;box-shadow: 0px 3px rgba(0,0,0,0.1);font-size: 20px;font-family:'RobotoR','NotoSansR', sans-serif;color: #333;}

/* expert */
.expertList{background:#000 url('../images/bgB.jpg');}
.expert .subTop{background: url('../images/top_expert.jpg') no-repeat;background-size: cover;}
.expert .bx-wrapper{position: relative;margin:35px auto 19px; }
.expert .singleCard .bx-wrapper{margin-top:0;}
.expert .bx-wrapper .bx-controls-direction a{margin-top: -70px}
.expert .bx-wrapper .bx-controls-direction .bx-prev{left: -120px;}
.expert .bx-wrapper .bx-controls-direction .bx-next{right: -120px;}
.expert .pageTit{color: #fff;}
.expert .pageTit:before, .expert .pageTit:after{background: #fff;}
.expert .subTit b{color: #d1a181}
#expertList li a{display: block;font-size: 14px;}
#expertList .expertPic{position: relative;width:200px;height: 200px;border-radius: 50%;overflow: hidden;background: #000;}
#expertList .expertPic img{display: block;width: 100%;}
#expertList .expertName{margin-top:20px;color: #fff;}
#expertList .subTit{margin-top:7px;color: #999;line-height: 1.2em;}
#expertList .hoverTct{opacity: 0;position: absolute;top: 70px;left: 0;width: 100%;font-family:'RobotoR','NotoSansR', sans-serif;color: #bea48d;line-height: 1.4em;font-size: 20px;}
#expertList .hoverTct:after{content: '';display: block;width: 18px;height: 17px;margin:13px auto;background: url('../images/ico_arrowb.png') no-repeat;}
#expertList li a:hover .expertPic img{opacity: 0.2;}
#expertList li a:hover .hoverTct{opacity: 1}

#searchExpert .cardCon{height: 410px;padding: 40px 10px}
#searchExpert .expertTit:after{content: '';display: block;width: 50px;height: 1px;margin:25px auto 30px;background: #fff;}
#searchExpert .cardTit:before{content: '';display: block;width: 25px;height: 25px;margin: 0 auto 10px;background: url('../images/ico_card_type.png') no-repeat -115px 0;}
#searchExpert .cardIntro{margin-top:20px;}
#searchExpert .cardIntro:before{display: none;}
#searchExpert{background: #bea187;}
#searchExpert .expertSearchWrap{margin:40px 20px 0;padding: 5px 15px;background: #fff;border-radius: 10px;}
#searchExpert input[type="text"]{width: 100%;height: 30px;padding: 0;margin:0;border:0;text-align: left;line-height: 30px;font-size: 13px;color: #999;font-family:'RobotoR','NotoSansR', sans-serif;}
#searchExpert button{margin-top: 20px;background: #000;}

/* search */
.search .subTop{padding-bottom: 80px;}
.search .subTop > .wrap{padding:40px 0 0}
.search .catSorting{top:172px;}
.catList{width: 100%;border-bottom: 4px solid #f26c64}
.catList ul{max-width:1200px;margin:0 auto;}
.catList ul li{position: relative;display: inline-block;margin:10px 0;}
.catList ul li.on:after{content: '';position: absolute;bottom: -10px;left: 50%;width: 19px;height: 10px;margin-left: -10px;background: url('../images/bg_search.png') no-repeat;}
.catList ul li a{display: block;font-family:'RobotoB','NotoSansB', sans-serif;font-size: 16px;padding:10px 30px;color: #000;}
.catList ul li.on a{color: #f26c64;}

.searchTop{display: inline-block;margin:0 auto;padding: 10px 20px;border:1px solid #f1645c; border-radius: 35px;}
.searchTop #searchTxt02{width:600px;height: 50px;padding: 0;border:0;font-family:'RobotoL','NotoSansL', sans-serif;color: #000;font-size: 40px;text-align: center;vertical-align: middle;}
.searchTop button{width: 50px;height: 50px;background: url('../images/btn_searchL.png') no-repeat center;font-size: 0;border:0;vertical-align: middle;}
.search .searhResult{display: inline-block;margin-top: 10px;font-family:'RobotoR','NotoSansR', sans-serif;color: #666;font-size: 16px;}
.search .searhResult b{color: #f1645c;}

.contentCard #btnMap{display: inline-block;margin-left: 15px;padding:9px 17px;background: #999;border-radius: 15px;color: #fff;font-family:'RobotoR','NotoSansR', sans-serif;font-size: 13px;vertical-align: middle;}
.contentCard .areaNote{margin-top: 25px;font-size: 14px;color: #000;line-height: 1.4em;}


/* magazine */
.magazineCard .subTop .wrap{padding-bottom: 22px;}
.magazineCard.cardWrap{min-width: auto;margin:0;margin-top:30px;}
.magazineCard .magazineL, .magazine .magazineR{width:595px;height: 320px;}
.magazineCard .magazineL{margin-right: 8px;border-radius: 10px 0 0 10px;}
.magazineCard .magazineR{float: right;width: 295px;border-radius: 0 10px 10px 0}
.magazineCard .magazineC{height: 156px;margin-bottom:8px;border-radius: 0;}
.magazineCard .magazineC .cardTit{font-size: 20px;}
.magazineCard li{position: relative;margin-bottom: 0;}
.magazineCard li a{display: block;height: 100%;color: #fff;padding: 0 30px;}
.magazineCard .magazineCon{display: inline-block;vertical-align: middle;}
.magazineCard li a:before{content: '';display: inline-block;width: 0;height: 100%;margin:-5px;vertical-align: middle;}

.magazineCard .cardIntro{margin-top:20px;}
.magazineCard .cardIntro:before{display: none;}
.magazineCard .cardInfo{position: absolute;left: 0;bottom: 30px;width: 100%;text-align: center;font-size: 14px;}
.magazineCard .magazineC .cardInfo{bottom: 20px;}
.magazineCard .cardInfo li{display: inline-block;margin-left: 5px;}
.magazineCard .cardInfo li:first-child{margin:0;}
.magazineCard .cardInfo li:before{content: '';display: inline-block;width: 13px;height: 13px;margin-right: 5px;vertical-align: middle;background: url('../images/ico_card_popular.png') no-repeat;}
.magazineCard .cardInfo li.like:before{background-position: -46px -1px;}
.magazineCard .cardInfo li.comment:before{background-position: -12px -1px;}
.magazineCard .cardInfo li.scrap:before{background-position: -24px 0px;}

#bestKey .cardCon{color: #000;}
#bestKey .cardDate{display: inline-block;margin-top: 15px;padding: 7px 20px;border: 1px solid #b2b2b2;border-radius: 15px;font-family: 'RobotoM', sans-serif;font-size: 16px;color: #b2b2b2;}
#bestKey ul{margin-top:30px;padding:0 20px;}
#bestKey li{position: relative;}
#bestKey a{overflow: hidden;display: block;padding:10px 20px 10px 0;font-family:'RobotoR','NotoSansR', sans-serif;color: #000;text-overflow: ellipsis;white-space: nowrap;}
#bestKey b{color: #808080;}
#bestKey .key13 b{color: #f1645c}
#bestKey .key46 b{color: #a9c700}
#bestKey span{position: absolute;top: 6px;right: 0;width: 0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;vertical-align: middle;}
#bestKey .up span{border-bottom: 9px solid #f1645c }
#bestKey .down span{border-bottom: 9px solid #a9c700 }
#bestKey .even span{top: 9px;width: 2px;height: 2px;background: #b1b1b1}

/* category */
.category .subTop {}
.catSorting{width:100%; text-align: center;}
.catSorting .wrap{width:100%; overflow: hidden;padding:32px 0; max-width:1150px;}
.catSorting .catSort {width:25%; float:left;}
.catSorting .catSort .sortCont {padding:0 15px; overflow:hidden; margin-top:20px;}
.catSorting .catSort +.catSort .sortCont {border-left:1px solid #d9d9d9;}
.catSorting .catSort h3.sortTit{color: #666;font-size: 16px;}
.catSorting .catSort h3.sortTit span{color:#f1645c; }
.catSorting .catSort .sortCont ul{width:100%; overflow: hidden; font-family:'RobotoR','NotoSansR', sans-serif;}
.catSorting .catSort .sortCont ul li{float: left;width:50%;margin-bottom:10px;}
.catSorting .catSort .sortCont ul li a{width:113px; display:inline-block; position: relative; margin: 0 5px;padding: 9px 0px;background:#f2f2f2; border-radius: 20px;color: #666;font-size: 14px; border:4px solid #f2f2f2; text-align:center;}
.catSorting .catSort .sortCont ul li a.on{color: #f1645c;border:4px solid #f1645c; background:#fff; }
.catSorting .catSort .sortCont ul li a:before{content: ''; width:15px; height:15px; position: absolute; left:10px; top:12px; border-radius: 50%;}
.catSorting .catSort .sortCont ul li #colorAll:before{background:url(../images/all_color.png) 0 0 no-repeat;}
.catSorting .catSort .sortCont ul li #color01:before{width:13px; height:13px; border:1px solid #999; background:#fff; overflow:hidden;}
.catSorting .catSort .sortCont ul li #color02:before{background:#999;}
.catSorting .catSort .sortCont ul li #color03:before{background:#4d4d4d;}
.catSorting .catSort .sortCont ul li #color04:before{background:#825f52;}
.catSorting .catSort .sortCont ul li #color05:before{background:#eac294;}
.catSorting .catSort .sortCont ul li #color06:before{background:#92278f;}
.catSorting .catSort .sortCont ul li #color07:before{background:#ff80ab;}
.catSorting .catSort .sortCont ul li #color08:before{background:#e1594b;}
.catSorting .catSort .sortCont ul li #color09:before{background:#f68c0b;}
.catSorting .catSort .sortCont ul li #color10:before{background:#ffc814;}
.catSorting .catSort .sortCont ul li #color11:before{background:#9ccc66;}
.catSorting .catSort .sortCont ul li #color12:before{background:#48c7ff;}
.catSorting.catSortH02 .catSort .sortCont {height:377px;}
.catSorting.catSortH01 {position: absolute;top:171px;left: 0;width:100%;background:#f7f7f7;text-align: center;z-index: 1;box-shadow: 0px 2px 5px rgba(0,0,0,0.1)}
.catSorting.catSortH01 .catSort {position: relative;float: left;width: 25%;font-family:'RobotoR','NotoSansR', sans-serif;}
.catSorting.catSortH01 .catSort:before{content: '';position: absolute;top: 0;left: 0;width: 1px;height: 100%;background: #d2d2d2;}
.catSorting.catSortH01 .catSort:first-child:before{display: none;}
.catSorting.catSortH01 .catSort h3.sortTit{color: #666;font-size: 16px;}
.catSorting.catSortH01 .catSort hr.sortTit span{color:#f1645c; }
.catSorting.catSortH01 .catSort .sortCont {display:none; height:314px;}
.catSorting.catSortH01 .catSort .sortCont ul li {float: left;width:50%;margin-top:10px;}
.catSorting.catSortH01 .catSort .sortCont ul li a{display: block;position: relative;margin: 0 5px;padding: 9px 0px;background: #fff;border-radius: 20px;color: #666;font-size: 14px;border:4px solid #fff;}
.catSorting.catSortH01 .catSort .sortCont ul li a.on{color: #f1645c;border:4px solid #f1645c;}
.catSorting.catSortH01 .catSort .sortCont ul li a:before{content: '';position: absolute;left: 10px;top:8px;width: 15px;height: 15px;border-radius: 50%;}
.catSorting .btnSort{width:100%; overflow:hidden; text-align:center;}
.catSorting.catSortH01 .btnSort {clear: both;display: none;}
.catSorting .btnSort a{display: inline-block;width: 140px;margin:30px 8px 0;padding:12px 0;color: #fff;font-family:'RobotoM','NotoSansM', sans-serif;border-radius: 20px;}
.catSorting .btnSort #btnReset{background:#666; }
.catSorting .btnSort #btnConfirm{background: #f1645c;}
.catSorting #sortToggle{position: absolute;left: 50%;bottom:-20px;width: 40px;height: 40px;margin-left: -20px;background: #bfbfbf;border-radius: 50%;box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
	-webkit-transition: all 0.1s ease-in-out;-moz-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;-ms-transition:all 0.1s ease-in-out;}
.catSorting #sortToggle:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 1;background: url('../images/ico_toggleW.png') no-repeat center}
.catSorting #sortToggle.opened:after{-ms-transform: rotate(180deg);-webkit-transform: rotate(180deg);transform: rotate(180deg);}

.catSorting .catSort .sortCont .sortGraph {width:100%; height:12px; margin:54px 0 59px; display:inline-block; border-radius:5px; background:#e1e1e1;}
.catSorting .catSort .sortCont .sortGraph .won {width:100%; overflow:hidden; margin-top:15px;}
.catSorting .catSort .sortCont .sortGraph .won span {width:50%; float:left; display:inline-block; letter-spacing:-1px;}
.catSorting .catSort .sortCont .sortGraph .won span.wonL {text-align:left;}
.catSorting .catSort .sortCont .sortGraph .won span.wonR {text-align:right;}
.catSorting .catSort .sortCont ul + h3.sortTit {margin-top:20px;}

/* homeService index */
.container.homeWrap {padding:0 0 200px;}
.homeWrap .section0 {background:url('../images/hm_section00.jpg') center no-repeat;background-size:auto 100%;}
.homeWrap .section1 {background:url('../images/hm_section01.jpg') center no-repeat;background-size:auto 100%;}
.homeWrap .section2 {background:url('../images/hm_section02.jpg') center no-repeat;background-size:auto 100%;}
.homeWrap .section3 {background:url('../images/hm_section03.jpg') center no-repeat;background-size:auto 100%;}

.homeWrap #hmNav {position:fixed;top:0;bottom:0;left:50%;z-index:2;width:70px;margin-left:-35px;}
.homeWrap #hmNav ul {text-align:center;position:absolute;bottom:30px;left:0;z-index:3;-webkit-transition: all 1s;-moz-transition:all 1s;-o-transition:all 1s;-ms-transition:all 1s;}
.homeWrap #hmNav ul.moveCenter {margin-bottom:-130px;bottom:50%;}
.homeWrap #hmNav ul:before {content:'';display:block;position:absolute;bottom:260px;left:50%;width:2px;background:#000;opacity:.2;padding-top:1500px;margin-left:-1px;}
.homeWrap #hmNav ul:after {content:'';display:block;position:absolute;top:260px;bottom:0;left:50%;width:2px;background:#000;opacity:.2;padding-bottom:1500px;margin-left:-1px;}
.homeWrap #hmNav ul li {position:relative;}
.homeWrap #hmNav ul li + li {margin-top:10px;}
.homeWrap #hmNav ul li + li:before {content:'';display:block;position:absolute;bottom:80px;left:50%;width:2px;height:10px;background:#000;opacity:.2;margin-left:-1px;}
.homeWrap #hmNav ul li a {display:inline-block;width:70px;height:80px;background:url('../images/hm_nav_bg.png') 0 0 no-repeat;line-height:80px;font-size:20px;color:#000;font-family:'RobotoM','NotoSansM', sans-serif;}
.homeWrap #hmNav ul li a.on {background-position:0 -80px;color:#fff;}

.homeWrap .fp-tableCell {display:inline-block;float:right;width:50%;vertical-align:middle}
.homeWrap .fp-tableCell:after {content:'';display:inline-block;width:0;height:100%;vertical-align:middle}
.homeWrap .textBox {display:inline-block;margin-left:97px;vertical-align:middle;}
.homeWrap .textBox h1 {font-size:60px;line-height:66px;font-family:'RobotoT','NotoSansT', sans-serif;}
.homeWrap .textBox h1 span {display:block;font-family:'RobotoM','NotoSansM', sans-serif;}
.homeWrap .textBox p {margin-top:20px}
.homeWrap .textBox ul {overflow:hidden;margin-top:55px}
.homeWrap .textBox li {float:left;width:25%;font-size:14px;line-height:22px}
.homeWrap .textBox li b {display:block;margin-bottom:5px;font-size:16px;font-family:'RobotoM','NotoSansM', sans-serif;}
.homeWrap .textBox .hmStep {margin-top:60px;}
.homeWrap .textBox p.hmNotice {font-size:14px;}
.homeWrap .textBox button {margin-top:43px;width:200px;}
