.subTop{position: relative;}
.subTop .wrap{padding:50px 10px;}
.pageTit{background:url('../images/sub_title.png') no-repeat;font-size:0;}
.subTop .mask{overflow: hidden;position: absolute;top: 0;left: 0;z-index: 0;width: 100%;min-width: 1220px;}
.subTop .subTit{margin-top:15px;font-family:'NotoSansL', sans-serif;color: #000;}
.subTop .subTit b{color: #f1645c}
.subTop .tagList{overflow: hidden;height: 40px;margin-top:40px;}
.subTop .topTit + .tagList{padding: 0 25px;}
.subTop .tagList li{display: inline-block;margin:0 3px;}
.subTop .tagList li a{display: block;padding: 12px 20px;border-radius: 20px;border:1px solid #000;font-family:'NotoSansM', sans-serif;color: #000;font-size: 14px;}

.infoTop{position: relative;background: #fff;color: #666;}
.infoTop .area a{color: #666}
.infoTop .infoPic{display: inline-block;overflow: hidden;width: 178px;height: 178px;border-radius: 50%;border:1px solid #d9d9d9;vertical-align: middle;}
.infoTop .infoPic img{display: block;width: 100%;}
.infoTop .infoWrap{display: inline-block;width:375px;margin-left:40px;vertical-align: middle;}
.infoTop .infoTit{font-family:'NotoSansR', sans-serif;color: #000;font-size: 30px;line-height: 1.1em}
.infoTop .infoId{margin-top:10px;font-family:'NotoSansL', sans-serif;color: #666;font-size: 16px;}
.infoTop .infoDetail{font-family:'NotoSansL', sans-serif;font-size: 14px;}
.infoTop .infoDetail:before{content: '';display: block;width: 50px;height: 1px;background: #c7c7c7;margin:24px 0 15px;}
.infoTop .infoDetail span:before{content: '';display: inline-block;width: 12px;height: 12px;margin-right: 3px;background: url('../images/ico_card_popular.png');vertical-align: middle;}
.infoTop .infoDetail span.area:before{background-position: -35px -14px;}
.infoTop .infoDetail span.star{margin-left: 10px;}
.infoTop .infoDetail span.star:before{background-position: 0 -14px;}
.infoTop .infoSub{margin-top:15px;font-family:'NotoSansR', sans-serif;font-size: 14px;line-height: 1.4em}

.infoTop .colR{text-align: right;}
.infoTop #sharePage{display: inline-block;width: 40px;height: 40px;margin: 20px 0 60px;font-size: 0;background: url('../images/ico_share.png') no-repeat center;}
.infoTop .infoBtn{position: absolute;bottom: 40px;left: 0;width: 100%;}
.myRate{display: inline-block;margin-right: 25px;color: #666;font-family:'NotoSansR', sans-serif;vertical-align: middle;text-align: center;line-height: 1.3em;font-size: 16px;}
.myRate b{display: block;color: #000;font-family:'NotoSansM', sans-serif;}
.infoTop .infoBtn a{width: 170px;font-family:'NotoSansR', sans-serif;}
.infoTop .infoBtn #btnFollow{margin-right: 10px;}

/* myPage top change */
.container.bgTop .infoTop .infoPic {width:177px;height:177px;border:3px solid #fef200;}
.container.bgTop .infoTop .infoPic a{display: block;width: 100%;height: 100%;}
.container.bgTop .infoTop .infoTit { font-family:'Times New Roman', sans-serif;color:#000;font-size:35px;line-height:normal;font-style:italic;font-weight:bold;}
.container.bgTop .infoTop .infoDetail:before {display:none;}
.container.bgTop .user.infoTop .myRate a {display:table-cell;width:116px;height:110px;background: url('../images/bg_info_top.png') no-repeat 0 0;color:#fff;font-size:14px;vertical-align:middle}
.container.bgTop .user.infoTop .myRate.on a {background-position:0 -110px;color:#00efff;}
.container.bgTop .user.infoTop .myRate a b {color:#fff;font-size:30px;margin-bottom:8px;}
.container.bgTop .user.infoTop .myRate.on a b {color:#00efff;}
.container.bgTop .user.infoTop .myRate .my {width:35px;height:35px;background-image:url('../images/ico_homeB_top.png')}
.container.bgTop .user.infoTop .myRate.on .my {width:35px;height:35px;background-image:url('../images/ico_homeR_top.png')}
.container.bgTop .user.infoTop .myRate.myRate02 a b {position:relative;}
.container.bgTop .user.infoTop .myRate a b .newBox {position:relative;display:inline-block;}
.container.bgTop .user.infoTop .myRate a b .new {display:block;width:16px;height:16px;line-height:16px;position:absolute;top:50%;right:0;margin:-14px -8px 0 0;background:#fff;font-size:11px;color:#eb5f79;border-radius:50%;}
.container.bgTop .user.infoTop .myRate a b .newBox:before, .container.bgTop .user.infoTop .myRate a b .new:before {display:none;}
.container.bgTop .user.infoTop .myRate.myRate06 a b {font-size:22px;}
.container.bgTop .user.infoTop .myRate {margin:0;position:absolute;}
.container.bgTop .user.infoTop .myRate.myRate01 {top:185px;left:518px;}
.container.bgTop .user.infoTop .myRate.myRate02 {top:120px;left:598px;}
.container.bgTop .user.infoTop .myRate.myRate03 {top:157px;left:693px;}
.container.bgTop .user.infoTop .myRate.myRate04 {top:194px;left:788px;}
.container.bgTop .user.infoTop .myRate.myRate05 {top:130px;left:868px;}
.container.bgTop .user.infoTop .myRate.myRate06 {top:167px;left:963px;}
.container.bgTop .user.infoTop .myRate.myRate07 {top:103px;left:1043px;}

.colWrap{overflow: hidden;}
.col{width:50%;float: left;}
.singleCard{overflow: hidden;position: relative;padding-bottom: 80px;}
.doubleCard{width:510px;float: left;}
.doubleCard:first-child{margin-right: 60px;}

/* search */
.search .container{padding-top: 265px;}
.search .subTop{position: fixed;top: 60px;width: 100%;min-width: 1240px;z-index: 4;background: #fff}
.search .catSorting.catSortH01{top:205px;}
.catList{width: 100%;margin-top: 18px;border-bottom: 1px solid #000}
.catList ul{overflow: hidden;max-width:1200px;margin:0 auto;text-align: center;}
.catList ul li{position: relative;float: left;}
.catList ul li.on:after{content: '';position: absolute;bottom: 0;left:0;width:100%;height: 4px;background: #000;}
.catList ul li a{display: block;padding:20px 0;font-family:'NotoSansL', sans-serif;font-size: 20px;color: #000;}
.catList ul li.on a{font-family:'NotoSansR', sans-serif;}

.searchTop{display: inline-block;margin:0 auto;padding: 10px 20px;border-radius: 35px;background: #fff;}
.searchTop #searchTxt02{width:600px;height: 50px;padding: 0;border:0;font-family:'NotoSansL', sans-serif;color: #000;font-size: 40px;text-align: center;vertical-align: middle;}
.searchTop button{width: 50px;height: 50px;background: url('../images/btn_searchL.png') no-repeat center;font-size: 0;border:0;vertical-align: middle;}
.search .searhResult{margin-top: 10px;font-family:'NotoSansR', sans-serif;color: #666;font-size: 16px;}
.search .searhResult b{color: #f1645c;}
.search .btnDetail{float: left;margin-right: 20px;position: relative;z-index: 1;}

.contentCard #btnMap{display: inline-block;margin-left: 15px;padding:9px 17px;background: #999;border-radius: 15px;color: #fff;font-family:'NotoSansR', sans-serif;font-size: 13px;vertical-align: middle;}
.contentCard .areaNote{margin-top: 25px;font-size: 14px;color: #000;line-height: 1.4em;}

.search .reSearch{background: #333;}
.search .reSearch .wrap{padding: 28px 0;text-align: center;}
.search .alignBox {float: right;width: 150px;height: 40px;}
.search .alignBox .drop{right: auto;}

/* category */
.category .subTop {}
.catSorting{width:100%; text-align: center;}
.catSorting .wrap{width:100%; overflow: hidden;padding:32px 0; max-width:1150px;}
.catSorting .catSort {width:278px; float:left;}
.catSorting .catSort .sortCont {padding:0 15px; overflow:hidden; margin-top:20px;}
.catSorting .catSort h3.sortTit{color: #666;font-size: 16px;}
.catSorting .catSort h3.sortTit span{color:#f1645c; }
.catSorting .catSort .sortCont ul{width:100%; overflow: hidden; font-family:'NotoSansR', sans-serif;}
.catSorting .catSort .sortCont ul li{float: left;width:50%;margin-bottom:10px;}
.catSorting .catSort .sortCont ul li a{width:116px; display:inline-block; position: relative; margin: 0 5px;padding: 10px 0px;background:#fff; border-radius: 20px;color: #666;font-size: 14px; border:1px solid #d9d9d9; text-align:center;}
.catSorting .catSort .sortCont ul li a.on{color: #f1645c;border:1px solid #f1645c; background:#fff;}
.catSorting .catSort .sortCont ul li a:before{content: ''; width:15px; height:15px; position: absolute; left:10px; top:12px; border-radius: 50%;}
.catSorting .catSort .sortCont ul li #colorAll:before{background:url('../images/all_color.png') 0 0 no-repeat;}
.catSorting .catSort .sortCont ul li #color01:before{width:13px; height:13px; border:1px solid #999; background:#fff; overflow:hidden;}
.catSorting .catSort .sortCont ul li #color02:before{background:#999;}
.catSorting .catSort .sortCont ul li #color03:before{background:#4d4d4d;}
.catSorting .catSort .sortCont ul li #color04:before{background:#825f52;}
.catSorting .catSort .sortCont ul li #color05:before{background:#eac294;}
.catSorting .catSort .sortCont ul li #color06:before{background:#92278f;}
.catSorting .catSort .sortCont ul li #color07:before{background:#ff80ab;}
.catSorting .catSort .sortCont ul li #color08:before{background:#e1594b;}
.catSorting .catSort .sortCont ul li #color09:before{background:#f68c0b;}
.catSorting .catSort .sortCont ul li #color10:before{background:#ffc814;}
.catSorting .catSort .sortCont ul li #color11:before{background:#9ccc66;}
.catSorting .catSort .sortCont ul li #color12:before{background:#48c7ff;}
.catSorting.catSortH02 .catSort {width:292px;}
.catSorting.catSortH02 .wrap {width:876px; overflow:hidden; position:relative;min-height: 550px;padding:0; margin:-42px 0 0 -21px;}
.catSorting.catSortH02 .wrap:before,
.catSorting.catSortH02 .wrap:after {content:''; width:1px; height:100%; position:absolute; top:80px; background:#d9d9d9;}
.catSorting.catSortH02 .wrap:before {left:292px;}
.catSorting.catSortH02 .wrap:after {right:292px;}
.catSorting.catSortH02 h3.sortTit {margin-top:42px; font-size:20px; color:#000; line-height:110%;}
.catSorting.catSortH02 .catSort#catSort05 .sortCont {padding:0 25px;}
.catSorting.catSortH02 .catSort .sortCont ul li a {width:118px;}
.catSorting.catSortH01 {position: absolute;top:171px;left: 0;width:100%;background:#f7f7f7;text-align: center;z-index: 1;box-shadow: 0px 2px 5px rgba(0,0,0,0.1)}
.catSorting.catSortH01 .catSort {position: relative;float: left;width: 25%;font-family:'NotoSansR', sans-serif;}
.catSorting.catSortH01 .catSort:before{content: '';position: absolute;top: 0;left: 0;width: 1px;height: 100%;background: #d2d2d2;}
.catSorting.catSortH01 .catSort:first-child:before{display: none;}
.catSorting.catSortH01 .catSort h3.sortTit{color: #666;font-size: 16px;}
.catSorting.catSortH01 .catSort hr.sortTit span{color:#f1645c; }
.catSorting.catSortH01 .catSort .sortCont {display:none; height:314px;}
.catSorting.catSortH01 .catSort .sortCont ul li {float: left;width:50%;margin-top:10px;}
.catSorting.catSortH01 .catSort .sortCont ul li a{display: block;position: relative;margin: 0 5px;padding: 9px 0px;background: #fff;border-radius: 20px;color: #666;font-size: 14px;border:4px solid #fff;}
.catSorting.catSortH01 .catSort .sortCont ul li a.on{color: #f1645c;border:4px solid #f1645c;}
.catSorting.catSortH01 .catSort .sortCont ul li a:before{content: '';position: absolute;left: 10px;top:8px;width: 15px;height: 15px;border-radius: 50%;}
#cboxLoadedContent .catSorting p.btnSort{width:100%; overflow:hidden; text-align:center; margin-top:0;}
.catSorting.catSortH01 .btnSort {clear: both;display: none;}
.catSorting .btnSort a{display: inline-block;width: 140px;margin:30px 8px 0;padding:12px 0;color: #fff;font-family:'NotoSansM', sans-serif;border-radius: 20px;}
.catSorting #sortToggle{position: absolute;left: 50%;bottom:-20px;width: 40px;height: 40px;margin-left: -20px;background: #bfbfbf;border-radius: 50%;box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
	-webkit-transition: all 0.1s ease-in-out;-moz-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;-ms-transition:all 0.1s ease-in-out;}
.catSorting #sortToggle:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 1;background: url('../images/ico_toggleW.png') no-repeat center}
.catSorting #sortToggle.opened:after{-ms-transform: rotate(180deg);-webkit-transform: rotate(180deg);transform: rotate(180deg);}

.catSorting .catSort .sortGraph {width:100%; height:12px; margin:45px 0 44px; display:inline-block; border-radius:5px; background:#e1e1e1;}
.catSorting .catSort .sortGraph .won {width:100%; overflow:hidden; margin-top:15px;}
.catSorting .catSort .sortGraph .won span {width:50%; float:left; display:inline-block; letter-spacing:-1px;}
.catSorting .catSort .sortGraph .won span b {font-weight:normal;}
.catSorting .catSort .sortGraph .won span.wonL {text-align:left;}
.catSorting .catSort .sortGraph .won span.wonR {text-align:right;}
.catSorting .catSort ul + h3.sortTit {margin-top:20px;}


