.subTop{position: relative;text-align: center;}
.subTop .wrap{padding:50px 10px;}
.pageTit{background:url('../images/sub_title.png') no-repeat;font-size:0;}
.subTop .mask{overflow: hidden;position: absolute;top: 0;left: 0;z-index: 2;width: 100%;min-width: 1220px;}
.subTop .subTit{margin-top:15px;font-family:'RobotoR','NotoSansR', sans-serif;color: #999;}
.subTop .subTit b{color: #f1645c}
.subTop .tagList{overflow: hidden;height: 40px;margin-top:40px;}
.subTop .tagList li{display: inline-block;margin:0 3px;}
.subTop .tagList li a{display: block;padding: 12px 20px;border-radius: 20px;border:1px solid #f3918b;font-family:'RobotoM','NotoSansM', sans-serif;color: #f1645c;font-size: 14px;}

.infoTop{position: relative;background: #fff;color: #666;}
.infoTop .infoPic{display: inline-block;overflow: hidden;width: 178px;height: 178px;border-radius: 50%;border:1px solid #d9d9d9;vertical-align: middle;}
.infoTop .infoPic img{display: block;width: 100%;}
.infoTop .infoWrap{display: inline-block;width:375px;margin-left:40px;vertical-align: middle;}
.infoTop .infoTit{font-family:'RobotoR','NotoSansR', sans-serif;color: #000;font-size: 30px;line-height: 1.1em}
.infoTop .infoId{margin-top:10px;font-family:'RobotoL','NotoSansL', sans-serif;color: #666;font-size: 16px;}
.infoTop .infoDetail{font-family:'RobotoL','NotoSansL', sans-serif;font-size: 14px;}
.infoTop .infoDetail:before{content: '';display: block;width: 50px;height: 1px;background: #c7c7c7;margin:24px 0 15px;}
.infoTop .infoDetail span:before{content: '';display: inline-block;width: 12px;height: 12px;margin-right: 3px;background: url('../images/ico_card_popular.png');vertical-align: middle;}
.infoTop .infoDetail span.area:before{background-position: -35px -14px;}
.infoTop .infoDetail span.star{margin-left: 10px;}
.infoTop .infoDetail span.star:before{background-position: 0 -14px;}
.infoTop .infoSub{margin-top:15px;font-family:'RobotoR','NotoSansR', sans-serif;font-size: 14px;line-height: 1.4em}

.infoTop .colR{text-align: right;}
.infoTop #sharePage{display: inline-block;width: 40px;height: 40px;margin: 20px 0 60px;font-size: 0;background: url('../images/ico_share.png') no-repeat center;}
.infoTop .infoBtn{position: absolute;bottom: 40px;left: 0;width: 100%;}
.myRate{display: inline-block;margin-right: 25px;color: #666;font-family:'RobotoR','NotoSansR', sans-serif;vertical-align: middle;text-align: center;line-height: 1.3em;font-size: 16px;}
.myRate b{display: block;color: #000;font-family:'RobotoM','NotoSansM', sans-serif;}
.infoTop .infoBtn a{width: 170px;font-family:'RobotoR','NotoSansR', sans-serif;}
.infoTop .infoBtn #btnFollow{margin-right: 10px;background:#f1645c}
.infoTop .infoBtn #btnMsg{background: #706a69}

/* myPage top change */
.container.bgTop .infoTop .infoPic {width:177px;height:177px;border:3px solid #fef200;}
.container.bgTop .infoTop .infoTit { font-family:'Times New Roman', sans-serif;color:#000;font-size:35px;line-height:normal;font-style:italic;font-weight:bold;}
.container.bgTop .infoTop .infoDetail:before {display:none;}
.container.bgTop .user.infoTop .myRate a {display:table-cell;width:116px;height:110px;background: url('../images/bg_info_top.png') no-repeat 0 0;color:#fff;font-size:14px;vertical-align:middle}
.container.bgTop .user.infoTop .myRate.on a {background-position:0 -110px;color:#00efff;}
.container.bgTop .user.infoTop .myRate a b {color:#fff;font-size:30px;margin-bottom:8px;}
.container.bgTop .user.infoTop .myRate.on a b {color:#00efff;}
.container.bgTop .user.infoTop .myRate .my {width:35px;height:35px;background-image:url('../images/ico_homeB_top.png')}
.container.bgTop .user.infoTop .myRate.on .my {width:35px;height:35px;background-image:url('../images/ico_homeR_top.png')}
.container.bgTop .user.infoTop .myRate.myRate02 a b {position:relative;}
.container.bgTop .user.infoTop .myRate a b .newBox {position:relative;display:inline-block;}
.container.bgTop .user.infoTop .myRate a b .new {display:block;width:16px;height:16px;line-height:16px;position:absolute;top:50%;right:0;margin:-14px -8px 0 0;background:#fff;font-size:11px;color:#eb5f79;border-radius:50%;}
.container.bgTop .user.infoTop .myRate a b .newBox:before, .container.bgTop .user.infoTop .myRate a b .new:before {display:none;}
.container.bgTop .user.infoTop .myRate.myRate06 a b {font-size:22px;}
.container.bgTop .user.infoTop .myRate {margin:0;position:absolute;}
.container.bgTop .user.infoTop .myRate.myRate01 {top:185px;left:518px;}
.container.bgTop .user.infoTop .myRate.myRate02 {top:120px;left:598px;}
.container.bgTop .user.infoTop .myRate.myRate03 {top:157px;left:693px;}
.container.bgTop .user.infoTop .myRate.myRate04 {top:194px;left:788px;}
.container.bgTop .user.infoTop .myRate.myRate05 {top:130px;left:868px;}
.container.bgTop .user.infoTop .myRate.myRate06 {top:167px;left:963px;}
.container.bgTop .user.infoTop .myRate.myRate07 {top:103px;left:1043px;}


.colWrap{overflow: hidden;}
.col{width:50%;float: left;}
.singleCard{overflow: hidden;position: relative;padding-bottom: 80px;}
.doubleCard{width:510px;float: left;}
.doubleCard:first-child{margin-right: 60px;}

/* brand */
.singleCard .bx-wrapper{overflow: hidden;position: relative;padding: 0 210px;border-radius: 10px 10px 0 0;z-index: 1}
.singleCard .bx-viewport{overflow: visible !important;}
.singleCard #infoSlider img{display: block;width: 100%;}
.singleCard .bx-wrapper .bx-controls-direction .bx-prev{left: 80px;}
.singleCard .bx-wrapper .bx-controls-direction .bx-next{right: 80px;}

.singleCard #content{margin-top:50px;padding-bottom:20px;}
.singleCard #content p{font-size: 16px;color: #000;line-height: 1.6em;}
.singleCard .conTit{clear:both;margin-top:80px;font-family:'RobotoM','NotoSansM', sans-serif;color: #000;font-size: 20px;}
.singleCard .url{display: block;margin-top:30px;font-size: 14px;font-family:'RobotoL','NotoSansL', sans-serif;color:#a9c700;}

.contentCard .secTit{margin-top:60px;padding-left: 10px;font-size: 30px;color: #000;font-family:'RobotoR','NotoSansR', sans-serif;}
.contentCard .relateTag{margin-top:25px;}
.contentCard .relateTag li{display: inline-block;margin:6px 5px;}
.contentCard .relateTag li a{display: inline-block;padding: 20px 35px;background: #fff;border-radius: 30px;box-shadow: 0px 3px rgba(0,0,0,0.1);font-size: 20px;font-family:'RobotoR','NotoSansR', sans-serif;color: #333;}

/* manager */



.managerList{background: #48484a;}
.managerList .topMenu{background: #fff !important;}
.managerList .topTit{position: absolute;top: 400px;width:100%;background:none;text-align: right;z-index: 4;}
.managerList .subTop .wrap{overflow: visible;padding: 0;}
.managerList .subTit{margin-right: 60px;}
.managerList .subTit b{color: #977369;}
.managerList .pageTit{height: 120px;background-position:680px 0;}
.managerList .bx-wrapper{width: 100%;min-height: 662px;}
.managerList .bx-wrapper li{overflow: hidden;min-height: 662px;}
.managerList .bx-wrapper img{display: block;height: 100%;}
.managerList .slideCon{position: absolute;top:0;left: 50%;width: 600px;height: 430px;margin:120px 0 0 -460px;z-index: 5}
.managerList .slideCon a{display: none;color: #fff;padding: 90px 0 0 300px;height: 100%;text-align: left;}
.managerList #slideCon00{display: block;}
.managerList .slideCon a .italicNum{font-size: 50px;}
.managerList .slideCon a .subTxt{margin-top: 15px;color: #aa7d71;font-family:'RobotoL','NotoSansL', sans-serif;}
.managerList .slideCon a .name{margin-top: 5px;font-family:'RobotoT','NotoSansT', sans-serif;font-size: 66px;}

.managerList .managerPager{position: relative;width: 1220px;margin:0 auto;z-index: 3}
.managerList .managerPager a{position: absolute;display: block;width: 174px;height: 201px;background: url('../images/manager_thumb.png') no-repeat;font-size: 0;}
.managerList .managerPager .bx-prev{top: 70px;right: 180px;background-position: -348px 0;}
.managerList .managerPager .bx-next{top: 233px;right: 81px;background-position: -174px 0;}

.managerList .tabType01 a{color: #fff;}
.managerList .tabType01 .on a{background: none}
.managerList .tabType01 .on a:before{content:'';position: absolute;top: 5px;left: 0;width: 100%;height: 13px;background: rgba(170,125,113,.3)}

/* search */
.search .container{padding-top: 265px;}
.search .subTop{position: fixed;top: 60px;width: 100%;min-width: 1240px;z-index: 4}
.search .catSorting.catSortH01{top:205px;}
.catList{width: 100%;margin-top: 18px;border-bottom: 1px solid #000}
.catList ul{overflow: hidden;max-width:1200px;margin:0 auto;}
.catList ul li{position: relative;float: left;}
.catList ul li.on:after{content: '';position: absolute;bottom: 0;left:0;width:100%;height: 4px;background: #000;}
.catList ul li a{display: block;padding:20px 0;font-family:'RobotoL','NotoSansL', sans-serif;font-size: 20px;color: #000;}
.catList ul li.on a{font-family:'RobotoR','NotoSansR', sans-serif;}

.searchTop{display: inline-block;margin:0 auto;padding: 10px 20px;border-radius: 35px;background: #fff;}
.searchTop #searchTxt02{width:600px;height: 50px;padding: 0;border:0;font-family:'RobotoL','NotoSansL', sans-serif;color: #000;font-size: 40px;text-align: center;vertical-align: middle;}
.searchTop button{width: 50px;height: 50px;background: url('../images/btn_searchL.png') no-repeat center;font-size: 0;border:0;vertical-align: middle;}
.search .searhResult{display: inline-block;margin-top: 10px;font-family:'RobotoR','NotoSansR', sans-serif;color: #666;font-size: 16px;}
.search .searhResult b{color: #f1645c;}

.contentCard #btnMap{display: inline-block;margin-left: 15px;padding:9px 17px;background: #999;border-radius: 15px;color: #fff;font-family:'RobotoR','NotoSansR', sans-serif;font-size: 13px;vertical-align: middle;}
.contentCard .areaNote{margin-top: 25px;font-size: 14px;color: #000;line-height: 1.4em;}

.search .reSearch{background: #333;}
.search .reSearch .wrap{padding: 28px 0}


/* magazine */
.magazine{background: url('../images/bg_magazine.jpg') no-repeat center top;}
.magazine .subTop .wrap{overflow: visible;padding: 0;}
.magazine #popularList{padding: 0;margin:0;}
.magazine .pageTit{float: right;width: 550px;height: 140px;background-position: 0 -124px;}
.magazine .subTop .subTit{float: right;width: 550px;text-align: left;font-size: 25px;font-family:'RobotoL','NotoSansL', sans-serif;}
.magazine .subTop .subTit b{font-family:'RobotoM','NotoSansM', sans-serif;color: #000;}
.magazine #popularList li{position: relative;margin-left: 20px;margin-top: 48px;padding: 0}
.magazine .cardCon:after{display: none;}
.magazine #popularList .hexagon{top: 0;}
.magazine #popularList .cardSize01 .cardLine{top: 42px;}
.magazine #popularList .cardSize04{height: 513px;height: 681px;margin-left:0;margin-top: 0;}
.magazine .cardSize04 .cardCon:before{content:'';display: inline-block;width: 0;height: 100%;vertical-align: middle; }
.magazine .cardSize04 .cardDetail{display: inline-block;vertical-align: middle;} 
.magazine .cardSize04 .cardTit{font-size: 60px}
.magazine .cardTit b{font-family:'RobotoM','NotoSansM', sans-serif;}
.magazine #popularList .cardLine{background: rgba(168,217,226,.8)}
.magazine #popularList .num{display:block;width: 48px;height: 26px;margin: 10px auto;padding: 15px 0;background: url('../images/bg_magazine_num.png') no-repeat;background-position: -102px -30px;text-align: center;font-size: 26px;}
.magazine .cardWrap .recommend{font-size: 14px;}
.magazine .cardSize04 .num{width: 98px;height: 50px;margin: 20px auto;padding: 31px 0;font-size: 50px;background-position: 0 0}
.magazine .cardSize04 .recommend{font-size: 20px;}
.magazine #popularList li:last-child{position: absolute;top: 610px;left: 0;margin: 0;}
.magazine .wrap{clear: both;}


.magazine .island{width: 590px;height: 160px;}
.magazine .bestKey .cardTit{margin-top: 0;}
.magazine .bestKey .cardTit span{display: block;font-size: 16px;color: #b2b2b2;line-height: 1em;}
.magazine .bestKey li{position: relative;}
.magazine .bestKey li:first-child b,
.magazine .bestKey li:nth-child(2)  b,
.magazine .bestKey li:nth-child(3)  b{color: #f1645c;}
.magazine .bestKey li b{color: #a9c700;}
.magazine .bestKey li:after{content:'';position: absolute;right: 0;top: 11px;}
.magazine .bestKey li.up:after{width: 0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 8px solid #f1645c;}
.magazine .bestKey li.down:after{width: 0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 8px solid #a9c700;}
.magazine .bestKey li.even:after{top: 15px;width: 10px;height: 2px;background: #b1b1b1;}
.magazine .bestKey li a{display: block;}
.magazine .bestKey .bx-wrapper{margin-top: 40px;padding:0 10px 0 20px;}
.magazine .bestKey .keyword{text-align: left;font-size: 16px;color: #000;line-height: 2em}
.magazine .bestKey .bx-controls{margin-top: 20px;}
.magazine .bestKey .bx-pager-item{display: inline-block;width: 20px;height: 20px;font-size: 0;}
.magazine .bestKey .bx-pager-item a{display: block;width: 100%;height: 100%;background: url('../images/bg_keyword_pager.png') center bottom;}
.magazine .bestKey .bx-pager-item a.active{background-position: center top}

/* category */
.category .subTop {}
.catSorting{width:100%; text-align: center;}
.catSorting .wrap{width:100%; overflow: hidden;padding:32px 0; max-width:1150px;}
.catSorting .catSort {width:278px; float:left;}
.catSorting .catSort .sortCont {padding:0 15px; overflow:hidden; margin-top:20px;}
.catSorting .catSort h3.sortTit{color: #666;font-size: 16px;}
.catSorting .catSort h3.sortTit span{color:#f1645c; }
.catSorting .catSort .sortCont ul{width:100%; overflow: hidden; font-family:'RobotoR','NotoSansR', sans-serif;}
.catSorting .catSort .sortCont ul li{float: left;width:50%;margin-bottom:10px;}
.catSorting .catSort .sortCont ul li a{width:116px; display:inline-block; position: relative; margin: 0 5px;padding: 10px 0px;background:#fff; border-radius: 20px;color: #666;font-size: 14px; border:1px solid #d9d9d9; text-align:center;}
.catSorting .catSort .sortCont ul li a.on{color: #f1645c;border:1px solid #f1645c; background:#fff;}
.catSorting .catSort .sortCont ul li a:before{content: ''; width:15px; height:15px; position: absolute; left:10px; top:12px; border-radius: 50%;}
.catSorting .catSort .sortCont ul li #colorAll:before{background:url(../images/all_color.png) 0 0 no-repeat;}
.catSorting .catSort .sortCont ul li #color01:before{width:13px; height:13px; border:1px solid #999; background:#fff; overflow:hidden;}
.catSorting .catSort .sortCont ul li #color02:before{background:#999;}
.catSorting .catSort .sortCont ul li #color03:before{background:#4d4d4d;}
.catSorting .catSort .sortCont ul li #color04:before{background:#825f52;}
.catSorting .catSort .sortCont ul li #color05:before{background:#eac294;}
.catSorting .catSort .sortCont ul li #color06:before{background:#92278f;}
.catSorting .catSort .sortCont ul li #color07:before{background:#ff80ab;}
.catSorting .catSort .sortCont ul li #color08:before{background:#e1594b;}
.catSorting .catSort .sortCont ul li #color09:before{background:#f68c0b;}
.catSorting .catSort .sortCont ul li #color10:before{background:#ffc814;}
.catSorting .catSort .sortCont ul li #color11:before{background:#9ccc66;}
.catSorting .catSort .sortCont ul li #color12:before{background:#48c7ff;}
.catSorting.catSortH02 {overflow:hidden;}
.catSorting.catSortH02 .catSort {width:292px;}
.catSorting.catSortH02 .wrap {width:876px; overflow:hidden; position:relative; padding:0; margin:-42px 0 0 -21px;}
.catSorting.catSortH02 .wrap:before,
.catSorting.catSortH02 .wrap:after {content:''; width:1px; height:100%; position:absolute; top:80px; background:#d9d9d9;}
.catSorting.catSortH02 .wrap:before {left:292px;}
.catSorting.catSortH02 .wrap:after {right:292px;}
.catSorting.catSortH02 h3.sortTit {margin-top:42px; font-size:20px; color:#000; line-height:110%;}
.catSorting.catSortH02 .catSort#catSort05 .sortCont {padding:0 25px;}
.catSorting.catSortH02 .catSort .sortCont ul li a {width:118px;}
.catSorting.catSortH01 {position: absolute;top:171px;left: 0;width:100%;background:#f7f7f7;text-align: center;z-index: 1;box-shadow: 0px 2px 5px rgba(0,0,0,0.1)}
.catSorting.catSortH01 .catSort {position: relative;float: left;width: 25%;font-family:'RobotoR','NotoSansR', sans-serif;}
.catSorting.catSortH01 .catSort:before{content: '';position: absolute;top: 0;left: 0;width: 1px;height: 100%;background: #d2d2d2;}
.catSorting.catSortH01 .catSort:first-child:before{display: none;}
.catSorting.catSortH01 .catSort h3.sortTit{color: #666;font-size: 16px;}
.catSorting.catSortH01 .catSort hr.sortTit span{color:#f1645c; }
.catSorting.catSortH01 .catSort .sortCont {display:none; height:314px;}
.catSorting.catSortH01 .catSort .sortCont ul li {float: left;width:50%;margin-top:10px;}
.catSorting.catSortH01 .catSort .sortCont ul li a{display: block;position: relative;margin: 0 5px;padding: 9px 0px;background: #fff;border-radius: 20px;color: #666;font-size: 14px;border:4px solid #fff;}
.catSorting.catSortH01 .catSort .sortCont ul li a.on{color: #f1645c;border:4px solid #f1645c;}
.catSorting.catSortH01 .catSort .sortCont ul li a:before{content: '';position: absolute;left: 10px;top:8px;width: 15px;height: 15px;border-radius: 50%;}
#cboxLoadedContent .catSorting p.btnSort{width:100%; overflow:hidden; text-align:center; margin-top:0;}
.catSorting.catSortH01 .btnSort {clear: both;display: none;}
.catSorting .btnSort a{display: inline-block;width: 140px;margin:30px 8px 0;padding:12px 0;color: #fff;font-family:'RobotoM','NotoSansM', sans-serif;border-radius: 20px;}
.catSorting .btnSort #btnReset{background:#666; }
.catSorting .btnSort #btnConfirm{background: #f1645c;}
.catSorting #sortToggle{position: absolute;left: 50%;bottom:-20px;width: 40px;height: 40px;margin-left: -20px;background: #bfbfbf;border-radius: 50%;box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
	-webkit-transition: all 0.1s ease-in-out;-moz-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;-ms-transition:all 0.1s ease-in-out;}
.catSorting #sortToggle:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 1;background: url('../images/ico_toggleW.png') no-repeat center}
.catSorting #sortToggle.opened:after{-ms-transform: rotate(180deg);-webkit-transform: rotate(180deg);transform: rotate(180deg);}

.catSorting .catSort .sortGraph {width:100%; height:12px; margin:45px 0 44px; display:inline-block; border-radius:5px; background:#e1e1e1;}
.catSorting .catSort .sortGraph .won {width:100%; overflow:hidden; margin-top:15px;}
.catSorting .catSort .sortGraph .won span {width:50%; float:left; display:inline-block; letter-spacing:-1px;}
.catSorting .catSort .sortGraph .won span b {font-weight:normal;}
.catSorting .catSort .sortGraph .won span.wonL {text-align:left;}
.catSorting .catSort .sortGraph .won span.wonR {text-align:right;}
.catSorting .catSort ul + h3.sortTit {margin-top:20px;}

/* homeService index */
body[data-page-id=homeService] {overflow-y:hidden !important;}
.container.homeWrap {padding:0 0 200px;}
.homeWrap .section0 {background:url('../images/hm_section00.jpg') center no-repeat;background-size:cover}
.homeWrap .section1 {background:url('../images/hm_section01.jpg') center no-repeat;background-size:cover}
.homeWrap .section2 {background:url('../images/hm_section02.jpg') center no-repeat;background-size:cover}
.homeWrap .section3 {background:url('../images/hm_section03.jpg') center no-repeat;background-size:cover}

.homeWrap #hmNav {position:fixed;top:0;bottom:0;left:50%;z-index:2;width:70px;margin-left:-35px;}
.homeWrap #hmNav ul {text-align:center;position:absolute;bottom:30px;left:0;z-index:3;-webkit-transition: all 1s;-moz-transition:all 1s;-o-transition:all 1s;-ms-transition:all 1s;}
.homeWrap #hmNav ul.moveCenter {margin-bottom:-130px;bottom:50%;}
.homeWrap #hmNav ul:before {content:'';display:block;position:absolute;bottom:260px;left:50%;width:2px;background:#000;opacity:.2;padding-top:1500px;margin-left:-1px;}
.homeWrap #hmNav ul:after {content:'';display:block;position:absolute;top:260px;bottom:0;left:50%;width:2px;background:#000;opacity:.2;padding-bottom:1500px;margin-left:-1px;}
.homeWrap #hmNav ul li {position:relative;}
.homeWrap #hmNav ul li + li {margin-top:10px;}
.homeWrap #hmNav ul li + li:before {content:'';display:block;position:absolute;bottom:80px;left:50%;width:2px;height:10px;background:#000;opacity:.2;margin-left:-1px;}
.homeWrap #hmNav ul li a {display:inline-block;width:70px;height:80px;background:url('../images/hm_nav_bg.png') 0 0 no-repeat;line-height:80px;font-size:20px;color:#000;font-family:'RobotoM','NotoSansM', sans-serif;}
.homeWrap #hmNav ul li.active a {background-position:0 -80px;color:#fff;}

.homeWrap .fp-tableCell {position:relative;}
.homeWrap .textBoxWrap {position:absolute;top:50%;left:50%;margin-left:85px;margin-top:-275px;}
.homeWrap .textBoxWrap .textBox {display:none;}
.homeWrap .textBox h1 {font-size:55px;line-height:66px;font-family:'RobotoT','NotoSansT', sans-serif;}
.homeWrap .section3 .textBox h1 {letter-spacing:-10px}
.homeWrap .textBox h1 span {display:block;font-family:'RobotoB','NotoSansB', sans-serif;text-shadow:3px 4px 1px #fff}
.homeWrap .textBox p {margin-top:20px;line-height:20px;}
.homeWrap .textBox ul {overflow:hidden;margin-top:40px}
.homeWrap .textBox li {float:left;font-size:14px;line-height:18px}
.homeWrap .textBox li span {display:block;padding-left:5px;}
.homeWrap .textBox li b {display:inline-block;margin-bottom:5px;height:22px;line-height:22px;padding:0 5px;background:#000;color:#fff;font-size:16px;font-family:'RobotoM','NotoSansM', sans-serif;}

.homeWrap .textBox ul.gird4 li {width:25%;}
.homeWrap .textBox ul.gird4 li b {width:85px;}

.homeWrap .textBox ul.gird3 {width:520px;margin-top:10px;}
.homeWrap .textBox ul.gird3 li {width:185px;margin-top:30px;}
.homeWrap .textBox ul.gird3 li:nth-child(3n+0) {width:150px;}
.homeWrap .textBox ul.gird3 li:nth-child(3n+0) b {width:140px;}
.homeWrap .textBox ul.gird3 li b {width:150px;}

.homeWrap .textBox ul.gird3_2 {width:520px;}
.homeWrap .textBox ul.gird3_2 li {width:175px;}
.homeWrap .textBox ul.gird3_2 li:nth-child(3n+0) {width:160px;}
.homeWrap .textBox ul.gird3_2 li:nth-child(3n+0) b {width:150px;font-size:14px;text-indent:-3px;}
.homeWrap .textBox ul.gird3_2 li b {width:150px;}

.homeWrap .textBox .hmStep {margin-top:30px;}
.homeWrap .textBox p.hmNotice {font-size:14px;line-height:18px;}
.homeWrap .textBox button {margin-top:50px;width:200px;}
