.members .pageTit{padding:40px 0;color: #fff;text-align: center;background: #f1645c}
.members .pageTit:before, .members .pageTit:after{background: #fff;}
.members .container .subTit{width:100%;font-family:'RobotoR','NotoSansR', sans-serif;color: #000;font-size: 30px;}
.members .singleCard .subTit{padding-bottom:25px;border-bottom:1px solid #545454; text-align: center;}
.members .container .subTit .note{margin-top:8px;text-align: center;font-size: 14px;color: #666;}
.members .container .subTxt{font-size: 16px;color: #000;}
.members .container .subTxt02{margin-top:25px;font-size: 16px;color: #000;font-family:'RobotoR','NotoSansR', sans-serif;}

.members .formWrap{width: 890px;margin:60px auto 0;font-size: 14px;font-family:'RobotoM','NotoSansM', sans-serif;color: #999;}
.members .formWrap b{color: #f1645c}
.members .formWrap .alert{/*display: none;*/color: #f1645c}
.members .formWrap .subTxt{display: block;width: 100%;}
.members .container input[type="checkbox"]{position: absolute;opacity: 0;}
.members .container input[type="text"],
.members .container input[type="email"],
.members .container input[type="password"]{width:230px;margin-right:10px;padding: 10px 20px;border:1px solid #d6d6d6; border-radius: 7px;font-family:'RobotoM','NotoSansM', sans-serif;color: #999;}
.members .inputWrap{line-height: 60px;} 
.members .inputWrap01{margin-top:30px;}
.members .inputWrap label{display: inline-block;min-width: 70px;text-align: left;margin-right: 20px;color: #000;}
.members .inputWrap label strong{color: #999;}
.members .inputWrap .btn{min-width: 114px;}

.members .formList li{overflow: hidden;border-bottom:1px solid #e8e8e8;}
.members .formList .inputTit{display: inline-block;width: 100px;margin-right: 25px;padding: 25px 40px;vertical-align: middle;background: #f7f7f7;font-family:'RobotoR','NotoSansR', sans-serif;font-size: 16px;color: #000}
.members .formList #joinId{width:360px; }
.members .formList  select{width:80px;padding: 10px 10px;border:1px solid #d6d6d6; border-radius: 7px;color: #999;}
.members .formList .joinBirth{margin-right:15px;}
.members .formList .birth .inputTit{float: left;padding: 25px 40px 50px;}
.members .formList .birth div{float: left;margin:10px 0;}
.members .formList .birth .note{display: block;margin-top:15px;}

.members .checkWrap{padding: 10px 0 35px;border-bottom: 1px solid #e8e8e8;}
.members .checkAgree {margin-top:18px;}
.members .checkAgree label{font-family:'RobotoR','NotoSansR', sans-serif;font-size: 16px;color: #000;}
.members .checkAgree label:before{content: '';display: inline-block;width: 24px;height: 24px;margin-right: 10px;background: #ccc url('../images/ico_check.png') no-repeat center;border-radius: 50%;vertical-align: middle;}
.members .checkAgree label.on:before{background-color: #a9c700}
.members .btnPop{display: inline-block;margin:0 10px;padding: 5px 20px;border-radius: 12px;background: #999;font-family:'RobotoR','NotoSansR', sans-serif;font-size: 13px;color: #fff;}
.members .btnSizeL{display: block;width: 290px;margin:40px auto 0;}
.members .btnSelect{margin:40px 3px 0;}
.members .btnDefault{margin:40px 3px 0;padding: 0 25px;}

.members .conWrap{width: 600px;margin:60px auto 0;padding-bottom: 40px;border-bottom:1px solid #e8e8e8;text-align: center;}
.members .inform{margin-top:40px;font-family:'RobotoR','NotoSansR', sans-serif;font-size: 20px;color: #000;line-height: 1.2em;}
.members .inform b{font-family:'RobotoM','NotoSansM', sans-serif;color: #a9c700}
.members .inform strong{font-family:'RobotoM','NotoSansM', sans-serif;}
.members .subInform{margin-top:10px;font-family:'RobotoM','NotoSansM', sans-serif;color: #666;font-size: 14px;line-height: 1.4em;}

.members .membershipInfo{width:540px;margin:80px auto 0;padding:30px 25px;border:0;background: #f5f5f5 url('../images/bg_join.jpg') no-repeat right center;text-align: left;font-family:'RobotoM','NotoSansM', sans-serif;}
.members .membershipInfo .infoTit{font-size: 16px;color: #333;}
.members .membershipInfo p{margin-top:10px;font-size: 14px;color: #666;line-height: 1.4em;}
.members .membershipInfo p a{color: #f1645c;text-decoration: underline;}

.members #findPW .inputWrap01 input{width:286px;margin-right: 0;}
.members #findPW .inputWrap02 input{width:160px;}
.members #findPW .inputWrap03 input{width:160px;}
#findPW .btnPhone{width:114px;padding: 10px 0;border-radius: 20px;color: #fff;font-size: 14px;font-family:'RobotoM','NotoSansM', sans-serif;outline: 0;border: 0;}
#findPW .inputWrap02 .btnPhone{background: #999;}
#findPW .inputWrap03 .btnPhone{background: #a9c700;}

.members .doubleCard.login{width:590px;padding: 0;background: none;}
.members .doubleCard.login #addMV{border:10px solid #000;border-radius: 10px;box-shadow: 0px 2px rgba(0,0,0,0.1);}
.members .doubleCard.login .subTit{display: inline-block;width:auto;margin-top:20px;padding:7px 5px;background: rgba(255,255,255,0.6);}
.members .doubleCard.login .inform{margin-top: 20px;color: #666;}

.members .formWrap02{width: 510px;margin-top: 0;text-align: left;}
.members .doubleCard .subTit{font-size: 20px;}
.members .doubleCard:first-child .subTit{font-size: 34px;}
.members .doubleCard > .subTit{margin-top:50px;}
.members .container .formWrap02 input[type="text"],
.members .container .formWrap02 input[type="email"],
.members .container .formWrap02 input[type="password"]{width: 470px;margin:15px 0 0 0;padding: 18px 20px;font-size: 16px;}
.members .doubleCard .btn{width: 510px;margin-top:30px;}
.members .doubleCard .loginSns{display: block;width:auto;margin-top:15px;padding:0 25px;}

.members .saveInfo{margin-top:10px;font-family:'RobotoR','NotoSansR', sans-serif;color: #666;}
.members .saveInfo label:before{content: '';display: inline-block;width: 26px;height: 26px;margin-right: 10px;border:1px solid #c8ccd6;border-radius: 6px;vertical-align: middle;}
.members .saveInfo label.on:before{background: url('../images/ico_checkG.png') no-repeat center;}
.members .saveInfo a{float: right;margin-top: 5px;color: #666}

.members .methodWrap{border:0;}
.members .method01{overflow: hidden;margin-top:25px;font-family:'RobotoM','NotoSansM', sans-serif;font-size: 14px;color: #333;text-align: center;}
.members .method01 li{overflow: hidden;float: left;width: 283px;border-radius: 10px;border:1px solid #e3e3e3;}
.members .method01 li:first-child{margin-right: 20px;}
.members .method01 .methodTit{margin-bottom: 20px;padding: 20px;background: #f7f7f7;}
.members .method01 p{color:#999; line-height: 1.3em;}
.members .method01 p b{font-size: 16px;color: #333;}
.members .method01 a{margin:25px 0;}

.members .accountList{margin-top: 30px;font-family:'RobotoM','NotoSansM', sans-serif;}
.members .accountList li{position: relative;overflow: hidden;border-radius: 10px;margin-top:10px;border:1px solid #e3e3e3;}
.members .accountList li:first-child{margin:0;}
.members .accountList .methodTit{position: absolute;top: 0;left: 0;width: 140px;background: #f7f7f7;height: 100%;color: #666;} 
.members .accountList .methodTit:before{content: '';display: inline-block;width: 0;height: 100%;vertical-align: middle;}
.members .accountList .accountSummary{overflow: hidden;margin:0 30px 0 170px;padding: 30px 0;text-align: left;border-top: 1px solid #e8e8e8;}
.members .accountList .accountSummary:first-child{border:0;}
.members .accountList .accountSummary p{display: inline-block;line-height: 1.4em;color: #999;}
.members .accountList .accountSummary p b{color: #333}
.members .accountList .btn{float: right;width:160px;}
.members .accountList .loginSns:before{width:25px;margin-right: 10px;}