.my .container .wrap{width: 100%;padding-top: 50px;}
.user + .tabType01 ul{width: 1200px;margin:0 auto;}

.user.infoTop .infoWrap{width:auto;}
.user.infoTop .myRate a{color: #666}
.user.infoTop .myRate .my{width:20px;height: 18px;margin:0 auto 2px;background: url('../images/ico_homeB.png') no-repeat;}
.user.infoTop .myRate.on a{color: #f1645c;}
.user.infoTop .myRate.on a b{color: #f1645c;}
.user.infoTop .myRate.on .my{background-image:url('../images/ico_homeR.png'); }
.user.infoTop .infoSet{position: absolute;right: 10px;bottom: 50px;;display: block;font-size: 14px;color: #666;font-family:'RobotoR','NotoSansR', sans-serif;}
.user.infoTop .infoSet:before{content: '';display: inline-block;width: 16px;height: 16px;margin-right: 10px;vertical-align: middle;background: url('../images/ico_set.png') no-repeat;}

.my .myMenu{float: left;width:225px;min-height: 182px;padding: 15px 30px 60px;background: #f1645c;border-radius: 10px;margin-right: 10px;}
.my .myMenu li{border-bottom: 1px solid #f1807a;}
.my .myMenu a{display: block;padding: 14px 0;;color: #fff;}
.my .myMenu li.on a{font-family:'RobotoM','NotoSansM', sans-serif;}
.my .myMenu li.on a:before{content: '';display: inline-block;min-width: 7px;height: 13px;background: url('../images/ico_active.png') no-repeat center; margin-right:5px;vertical-align: middle;}

.my .singleCard{padding: 50px;}
.my .cardWrap02{float: left;width: 910px;min-width: 0;margin-top:0;}
.my .secTit{font-family:'RobotoR','NotoSansR', sans-serif;font-size: 30px;color: #000;}
.secTit02 {padding-bottom: 25px;border-bottom: 1px solid #000;}

.timeCard .recordWrap{padding-bottom: 20px;}
.timeCard .recordWrap > ul > li{margin-top: 20px;text-align: left;}
.timeCard .recordWrap > ul > li:first-child{margin-top: 0;}
.timeCard .recordDate{display: inline-block;padding: 0 15px;background: #999;color: #fff;font-family:'RobotoR','NotoSansR', sans-serif;font-size: 14px;line-height: 30px;border-radius: 15px;}
.timeCard .recordTime{display: inline-block;vertical-align: middle;font-family:'RobotoR','NotoSansR', sans-serif;color: #333;font-size: 20px;}
.timeCard .recordTime b{color: #f1645c}
.timeCard .recordIco{position: relative;display: inline-block;width: 96px;height: 96px;margin:0 11px 0 23px;border-radius: 50%;background: url('../images/ico_timeline.png') no-repeat;font-size: 0;vertical-align: middle;}
.timeCard .recordWrap > ul > li > a{display: block;overflow: hidden;height: 155px;padding-left:30px;background: #fff;border-radius: 10px;vertical-align: middle;box-shadow: 0px 3px rgba(0,0,0,0.1);}
.timeCard .recordCon{display: inline-block;width: 735px;margin-right: -4px;padding-right: 30px;vertical-align: middle;}
.timeCard .recordCon .recordTxt{font-family:'RobotoR','NotoSansR', sans-serif;font-size: 16px;color: #666;line-height: 1.2em}
.timeCard .recordCon b{font-family:'RobotoM','NotoSansM', sans-serif;color:#000;}
.timeCard .recordThumb{position: relative;display: inline-block;width: 285px;height: 100%;vertical-align: middle;color: #fff;font-family:'RobotoR','NotoSansR', sans-serif;text-align: center;}
.timeCard .recordThumb:before{content: '';display: inline-block;width: 0;height: 100%;vertical-align: middle;}
.timeCard .recordThumb img{position: absolute;top: 0;left: 0;display: block;width: 100%;z-index: 0}
.timeCard .recordThumb p{position: relative;z-index: 1; display: inline-block;vertical-align: middle;font-size: 14px;line-height: 1.4em;}
.timeCard .recordThumb p b{display: block;font-size: 40px;font-family:'NotoSansM', sans-serif;}
.timeCard .recordThumb p:before{display: block;width:25px;height: 26px;margin: 0 auto 7px;background: url('../images/ico_timeline.png') no-repeat;}
.timeCard .recordCat{display: inline-block;margin-bottom: 10px;padding: 0 10px;border-radius: 10px;font-family:'RobotoM','NotoSansM', sans-serif;font-size: 13px;color: #000;line-height: 20px;border:1px solid #000;}
.timeCard .recordPic{overflow: hidden;display: inline-block;width: 96px;height: 96px;margin-right:20px;border-radius: 50%;vertical-align: middle;}
.timeCard .recordPic img{display: block;width: 100%;}

.timeCard .innerWrap{padding: 20px 30px;background: #fff;border-radius: 10px;box-shadow: 0px 3px rgba(0,0,0,0.1);}
.timeCard .innerWrap .name{width: 140px;font-family:'RobotoR','NotoSansR', sans-serif;color: #000;font-size: 14px;line-height: 1.4em;letter-spacing: 0;}
.timeCard .innerWrap .name b{font-family:'RobotoM','NotoSansM', sans-serif;}
.timeCard .innerWrap .myRateWrap{width: 190px;text-align: center;}
.timeCard .innerWrap .myRate{color: #666;margin-right:10px;}
.timeCard .innerWrap .myRate b{color: #666;}
.timeCard .innerWrap .btnFollow{width: 175px;text-align: center;margin-right: 19px}
.timeCard .innerWrap .btnFollow a{min-width: 110px;}
.timeCard .innerWrap .btnFollow a:after{content: '';display: inline-block;width: 17px;height: 16px;margin-left: 10px;background: url('../images/ico_checkL.png') no-repeat center;vertical-align: sub;}
.timeCard .innerWrap .btnFollow a.dismiss{border:1px solid #a9c700;color: #a9c700}
.timeCard .innerWrap .btnFollow a.dismiss:after{background-image:url('../images/ico_plusG.png');}
.timeCard .innerWrap li{display: inline-block;vertical-align: middle;}
.timeCard .innerWrap .imgWrap{overflow: hidden;font-family:'RobotoM','NotoSansM', sans-serif;}
.timeCard .innerWrap .imgWrap li{position: relative;float: left;width: 114px;height: 114px;margin-left: 10px;}
.timeCard .innerWrap .imgWrap li:first-child{margin:0;}
.timeCard .innerWrap .imgWrap .hoverCon{position: absolute;top: 0;left: 0;right: 0;bottom: 0;padding: 20px;background: rgba(0,0,0,0.5);color: #fff;z-index: 1;font-size: 14px;text-align: center;opacity: 0;}
.timeCard .innerWrap .imgWrap .hoverCon:hover{opacity: 1;transition: opacity .4s ease-in-out;-moz-transition: opacity .4s ease-in-out;-webkit-transition: opacity .4s ease-in-out;}
.timeCard .innerWrap .imgWrap .imgTit{margin-bottom: 10px;text-decoration: underline;font-family:'RobotoR','NotoSansR', sans-serif;}
.timeCard .innerWrap .imgWrap p{line-height: 1.3em;word-break: keep-all;}
.timeCard .innerWrap .imgWrap a{position: absolute;top:25px;left: 25px;width:64px;height: 64px;border-radius: 50%;text-align: center;color: #fff;font-size: 14px;}
.timeCard .innerWrap .imgWrap a:before{content:'';display: block;width:17px;height: 17px;margin:13px auto 2px; background: url('../images/ico_plusM.png') no-repeat;}

.timeCard .innerWrap .imgWrap img{display: block;width: 100%;}

#myTimeline .recordDate{margin:0 auto 15px 190px;}
#myTimeline .recordWrap{background: url('../images/bg_my.png') repeat-y left;}
#myTimeline li a{display: inline-block;width: 865px;}
#myTimeline .recordCon{width: 550px;}

#myTimeline .recordType01 .recordIco{background-position: -96px 0;background-color: #65bfe5} 
#myTimeline .recordType02 .recordIco{background-position: 0 -96px;background-color: #f1be4f}
#myTimeline .recordType03 .recordIco{background-position: 0 -198px;background-color: #8176d2}
#myTimeline .recordType04 .recordIco{background-position: -288px 0;background-color: #adc427}
#myTimeline .recordType04 .recordThumb{background: #a9c700;}
#myTimeline .recordType05 .recordIco{background-position: -288px -96px;background-color: #a5abb5}
#myTimeline .recordType05 .recordThumb{background: #a5abb5;}
#myTimeline .recordType05 .recordThumb p:before{content: '';background-position: -429px -261px;}
#myTimeline .recordType05 .recordThumb p strong{font-size: 20px;font-family:'RobotoM', sans-serif;}
#myTimeline .recordType06 .recordIco{background-position: -384px -96px;background-color: #f1645c}
#myTimeline .recordType06 .recordThumb{background: #f1645c;}
#myTimeline .recordType06 .recordThumb p:before{content: '';background-position: -456px -261px;}
#myTimeline .recordType07 .recordIco{background-position: -288px 0;background-color: #adc427}
#myTimeline .recordType07 .recordThumb{background: #a9c700;}
#myTimeline .recordType08 .recordIco{background-position: 0 0;background-color: #f8f8f8}
#myTimeline .recordType08 .recordIco:after{content: '';position: absolute;top:96px;left: 0;width: 100px;height: 50px;background: #e0e0e0}

#myNotice .recordWrap{margin-bottom:20px;text-align: center;}
#myNotice .recordDate{margin-bottom: 20px;}
#myNotice .recordThumb{background: #a9c700;}
#myNotice .coupon a{height: 157px;padding: 0;background:none;box-shadow: none}
#myNotice .coupon a img{display: block;width: 100%;}
#myNotice #delteAll{position: absolute;top:25px;right: 20px}

#myMsg.timeCard .recordWrap{float: left;width: 865px;}
#myMsg .sender{display: inline-block;vertical-align: middle;width: 275px;}
#myMsg .sender p{display: inline-block;font-size: 13px;color: #666;line-height: 1.4em;vertical-align: middle;}
#myMsg .sender p span{display: block;font-family:'RobotoM','NotoSansM', sans-serif;font-size: 16px;}
#myMsg .sender p b{color: #f1645c}
#myMsg.timeCard .recordCon{position: relative;width: 507px;height: 100%;padding:0 25px;background: #f8f8f8;color: #000;}
#myMsg .recordCon p{display: inline-block;width: 400px;padding-right:100px;vertical-align: middle;font-size: 14px;line-height: 1.3em;font-family:'RobotoR','NotoSansR', sans-serif;}
#myMsg .recordCon .newMsg{position: relative;display: inline-block;height: 100%;vertical-align: middle;}
#myMsg .recordCon .newMsg span{position: absolute;top:50%;right: 0;min-width: 20px;margin-top:-15px;padding:0 10px;background: #f37972;color: #fff;line-height: 30px;border-radius: 15px;text-align: center;font-family:'RobotoR','NotoSansR', sans-serif;}
#myMsg .recordCon .date{position: absolute;right: 30px;bottom: 20px;color: #999;font-size: 14px;}

#fallowing fieldset{width:100%;margin-bottom: 30px;background: #fff;border-radius: 20px;box-shadow: 0px 3px rgba(0,0,0,0.1);}
#fallowing #fallowSearch{width: 1070px;margin:0 20px;;border:0;vertical-align: middle;}
#fallowing button{display: inline-block;width: 40px;height: 40px;border:0;background: url('../images/btn_search.png') no-repeat center;font-size: 0;vertical-align: middle;}

.recordSort{width: 100%;border-top:1px solid #545454;border-bottom:1px solid #ccc;;font-family:'RobotoR','NotoSansR', sans-serif;font-size: 14px;text-align: center;line-height: 1.2em}
.recordSort th{padding: 20px;background: #f8f8f8;color: #333;}
.recordSort td{padding: 20px;}
.recordSort{margin:30px 0;text-align: left;}
.recordSort tr:first-child td{padding-bottom: 0;}
.sortTerm{display: inline-block;}
.recordSort li{display: inline-block;margin-left: 5px;}
.recordSort li:first-child{margin:0;}
.recordSort a{display: inline-block;padding:0 20px;border-radius: 20px;border:1px solid #d1d1d1;font-size: 14px;line-height: 40px;color: #666;}
.recordSort a.on{background: #a9c700;border:0;color: #fff;}
.recordSearch{display: inline-block;padding: 5px;border:1px solid #d1d1d1;border-radius: 10px;}
.recordSearch #recordInput{width: 190px;height: 28px;padding: 0;line-height: 28px;font-size:13px;color: #666;border:0;} 
.recordSearch button{width:36px;height:28px;font-size: 0;background: url('../images/btn_searchG.png') no-repeat center;border:0;outline: 0;vertical-align: middle;}
.sortTermSet{display: inline-block;margin-left: 15px;}

.my .subTit{font-size: 20px;font-family:'RobotoR','NotoSansR', sans-serif;color: #000;}
.my .subTxt {font-size: 14px;font-family:'RobotoR','NotoSansR', sans-serif;color: #666;}

.my .record{width: 100%;margin-top: 20px;border-top:1px solid #545454;border-bottom:1px solid #ccc;;font-family:'RobotoR','NotoSansR', sans-serif;font-size: 14px;text-align: center;line-height: 1.2em}
.my .record th, .my .record td{border-bottom: 1px solid #e1e1e1}
.my .record th{padding: 20px;background: #f8f8f8;color: #333;}
.my .record td{padding: 20px;}
.my .record .recordDate{border-right: 1px solid #e1e1e1}
.my .record .date b{color: #f1645c;}
.my .record .date a{color: #f1645c;text-decoration: underline;}
.my .record .total{margin-top:20px;} 
.my .record .total b{color: #999;}
.my .record .recordThumb{overflow: hidden;width: 90px;height: 90px;background: #f8f8f8;}
.my .record .recordThumb img{display: block;width: 100%;}
.my .record .recordInfo{text-align: left;}
.my .record .recordInfo span{display: block;}
.my .record .recordInfo .producOption{color: #999}
.my .record .recordInfo .productPrice{font-family:'RobotoB','NotoSansB', sans-serif;}
.my .record .orderState{position: relative;}
.my .record .orderState a{display: block;margin-top:6px;}
.my .record .orderState .stateTxt{position: relative;}
.my .record .orderState .stateIcor{display: inline-block;width: 14px;height: 14px;margin-left: 3px;background: url('../images/ico_info.png') no-repeat;vertical-align: top;}
.my .record .orderState .stateEnd {display:block;color:#f1645c;}
.my .record .orderState .stateTxt:hover .popState{display: block;}
.my .record .orderState .cancleDate{color: #f1645c;}
.my .record .arraySide {overflow:hidden;}
.my .record .arraySide p .my .record .arraySide p span {float:left;}
.my .record .arraySide p span {display:block;float:right;}
.my .record .fontM {font-family:'RobotoM','NotoSansM', sans-serif;}
.my .record .btnBox {overflow:hidden;text-align:center;}
.my .record .btnBox .btnSizeS {float:left;width:80px;padding:0;margin-left:5px;}
.my .record .btnBox .btnSizeS:first-child {margin-left:0;}

.my .record.record02 {font-family:'RobotoL','NotoSansL', sans-serif;}
.my .record.record02 th {font-family:'RobotoR','NotoSansR', sans-serif;}
.my .record .rowspan{padding: 10px 20px}
.my .record .rowspan li{line-height: 1.6em;}
.my .record .require{color: #f1645c}

.my .record .noList {height:52px;color:#999;}

.my .record.record04 {margin-top:30px;}
.my .record.record04 th, .my .record.record04 td {font-size:16px;}
.my .record.record04 .recordDate b {margin-left:5px;text-decoration:initial;}

.my .record.recordBg {margin-top:0;border-top:none;}
.my .record.recordBg th, .my .record.recordBg td {text-align:left;}
.my .record.recordBg th {background:#f2f4f4;}
.my .record.recordBg td {background:#fafafa;font-family:'RobotoL','NotoSansL', sans-serif;color: #333;}

.my .popState{display: none;position: absolute;right: 0;bottom:30px;width: 495px;padding: 38px 20px 38px;background: #fff;border:1px solid #999;z-index: 2;}
.my .popState:after{content: '';position: absolute;bottom: -18px;right: 40px;width: 18px;height: 18px;background: url('../images/ico_pointer.png') no-repeat;}
.my .popState li{display: inline-block;width:16%;color: #666;}
.my .popState li.on{font-family:'RobotoM','NotoSansM', sans-serif;color: #000;}
.my .popState .stepImg{width: 440px;height:30px;margin:0 auto 14px;background: url('../images/ico_step.png') no-repeat;}
.my .popState .stepImg span{display: block;height: 100%;background: url('../images/ico_step_on.png') no-repeat;}

.my .popState.popState02{right:-20px;}
.my .popState.popState02:after{right:80px;}
.my .popState.popState02{padding:40px 5px;width:793px;}
.my .popState.popState02 li{vertical-align:top;width:10%;}
.my .popState.popState02 .stepImg {width:686px;background: url('../images/ico_step02.png') no-repeat;}
.my .popState.popState02 .stepImg span{background: url('../images/ico_step02_on.png') no-repeat;}
.my .popState .step01 span{width: 82px;}
.my .popState .step02 span{width: 164px;}
.my .popState .step03 span{width: 246px;}
.my .popState .step04 span{width: 328px;}
.my .popState .step05 span{width: 410px;}
.my .popState .step06 span{width: 440px;}
.my .popState.popState02 .step06 span{width: 492px;}
.my .popState .step07 span{width: 574px;}
.my .popState .step08 span{width: 656px;}
.my .popState .step09 span{width: 686px;}

.btnSideArray {overflow:hidden;line-height:40px;margin:20px 20px 30px 0;}
.btnSideArray label {font-size:16px;color:#666;}
.btnSideArray label span {color:#f1645c;}

.my .scrapTit{margin-bottom:20px;color:#000;font-size: 20px;font-family:'RobotoR','NotoSansR', sans-serif;}
.my .scrapTit b{color:#f1645c}
/*.scrap .delScrap{position: absolute;right: 0;width: 54px;height: 54px;background: #fff;}
.scrap .scrapPack li{overflow: hidden;position: relative;width: 285px;margin:10px;border-radius: 10px;}
.scrap .scrapPack .scrapTit{height: 160px;margin:0;padding:0 40px;text-align: center;color: #fff;line-height: 1.4em;}
.scrap .scrapPack .scrapTit h3{display: inline-block;vertical-align: middle;}
.scrap .scrapPack .scrapTit:before{content: '';display: inline-block;width: 0;height: 100%;margin-right: -5px;vertical-align: middle;}
.scrap .scrapPack .scrapTit .count{display: block;}
.scrap .scrapPack .scrapTit .count:before{content: '';display: inline-block;width: 20px;height: 20px;margin-right: 5px;background: url('../images/btn_profile.png') -132px 0;}
.scrap .scrapPack .wrapScrap{overflow: hidden; padding:23px;background: #fff;}
.scrap .scrapPack .wrapScrap span{overflow: hidden;display: block;float: left;width: 114px;height: 114px;}
.scrap .scrapPack .wrapScrap span:first-child{margin-right: 10px;}
.scrap .scrapPack .wrapScrap span img{width: 100%;}
*/
.orderDetail .checkAgree label:before {display:inline-block;margin:0 20px;}

#myInfo .reward{position: absolute;left: 0;bottom:50px;width: 100%;color: #666 ;font-size: 13px;font-family:'RobotoR','NotoSansR', sans-serif;}
#myInfo .reward:before{content: '';display: inline-block;width: 14px;height: 14px;margin-right: 5px;background: url('../images/ico_point.png') no-repeat;vertical-align: middle;}
#myInfo #myIntro{background: #a9c700;color: #fff;}
#myInfo .cardWrap #myIntro.cardType07 .cardTit, #myInfo .cardWrap #myIntro.cardType07 .cardIntro{color: #fff;}
#myInfo .cardWrap #myIntro.cardType07 .cardIntro:before{background: #fff;}
#myInfo #myIntro .cardCollect li{width: 64px;height: 64px;margin-top:45px;border-radius: 50%;background: #98b300 url('../images/btn_card_my.png');}
#myInfo #myIntro .cardCollect .collect02{background-position:-64px 0}
#myInfo .formList li{width: 210px;margin-top: 10px;}
#myInfo .formList li:first-child{margin-top:0;}
#myInfo .formList select{width: 100%;}
#myInfo button{display: block;width: 290px;margin:40px auto 0;}

#editPassword .subTit{margin-top:30px;}
#editPassword .subTxt{display: initial;}
#editPassword .btnWrap{margin-top: 40px;}
#editPassword .btn{width: 200px}

#myInfoEdit .profileInfo{margin-top: 35px;}
.my table.formList{text-align: left;}
.my table.formList td, .my table.formList th{padding: 15px 20px;}
.my table.formList .birth > div{margin:0;}
#myInfoEdit input[type="text"]:disabled{background: #f7f7f7;}
#myInfoEdit td{color: #666}
#myInfoEdit .account a{border:0;color: #fff;background: #a9c700;}
#myInfoEdit .account .active a{border:1px solid #a9c700;color: #a9c700;background: none}
#myInfoEdit .account td{color: #999}
#myInfoEdit .account td:first-child{font-size: 0;}
#myInfoEdit .account td:first-child span{display: block;margin:0 auto;width: 65px;height: 14px;background: url('../images/logo_sns.jpg') no-repeat;}
#myInfoEdit .account td.account02 span{background-position: 0 -14px;}
#myInfoEdit .account td.account03 span{background-position: 0 -28px;}
#myInfoEdit .account .active td{color: #000}
#myInfoEdit .inputWrap{line-height: 50px;color: #666;font-family:'RobotoM','NotoSansM', sans-serif;}
#myInfoEdit .inputWrap p{display: inline-block;width: 290px;font-size: 16px;}
#myInfoEdit .inputWrap label{min-width: 20px;font-family:'RobotoR','NotoSansR', sans-serif;color: #666;}
#myInfoEdit .inputWrap.radiobox{line-height: 30px;}
#myInfoEdit .listSquare{margin-bottom: 20px;}
#myInfoEdit .profileNote{height: 90px;margin-top:20px;padding: 0 45px;background: #f7f7f7;border-top:1px solid #666;border-bottom:1px solid #666;;text-align:right;font-family:'RobotoR','NotoSansR', sans-serif;color: #000;}
#myInfoEdit .profileNote:before{content: '';display: inline-block;width: 0;height: 100%;margin-right: -5px;vertical-align: middle;}
#myInfoEdit .profileNote p{display: inline-block;width: 80%;vertical-align: middle;text-align: center;}
#myInfoEdit .profileNote b{color: #f1645c}
#myInfoEdit .th02{color: #000;}
#myInfoEdit .btnWrap{margin-top: 40px;}
#myInfoEdit .btnWrap .btn{width: 200px;margin:0 10px;}

#myResign .subTit{margin-top: 35px;}
#myResign .listTit{margin-top: 20px;padding: 0 20px;background: #f7f7f7;border-top: 1px solid #333;border-bottom: 1px solid #e8e8e8;line-height: 70px;font-size: 16px;color: #000;font-family:'RobotoM','NotoSansM', sans-serif;}
#myResign .listTit a{float: right;margin:15px 5px;}
#myResign .listBox{padding:25px;border-bottom: 1px solid #e8e8e8; color: #666;font-family:'RobotoR','NotoSansR', sans-serif;}
#myResign .checkbox.listBox{overflow: hidden;border-top: 1px solid #666;}
#myResign .checkbox li{float: left;width: 25%;margin: 10px 0}
#myResign .subTxt{margin-top: 10px;}
#myResign textarea{width: 1060px;height: 150px;margin: 20px 10px;padding:20px;border-radius: 10px;border:1px solid #d6d6d6;font-size: 14px;font-family:'RobotoR','NotoSansR', sans-serif;}
#myResign .btn{width: 200px;margin:0 auto;}
#myResign .btnWrap{margin-top: 40px;}

#serviceDetail .record th{width: 60px;}
#serviceDetail .btnWrapR{position: relative;height: 30px;}
#serviceDetail .btnWrapR a{position: absolute;right: 0;top:15px;}
#serviceDetail .popState{display: block;position: static;width: auto;border:0;padding:30px 0;text-align: center;font-size: 14px;}
#serviceDetail .popState .stepImg{width: 750px;background:url('../images/ico_step03.png') no-repeat; }
#serviceDetail .popState .stepImg span{background: url('../images/ico_step03_on.png') no-repeat; }
#serviceDetail .popState li{width: 10.7%;vertical-align: middle;}
#serviceDetail .popState .step01 span{width: 90px;}
#serviceDetail .popState .step02 span{width: 180px;}
#serviceDetail .popState .step03 span{width: 270px;}
#serviceDetail .popState .step04 span{width: 360px;}
#serviceDetail .popState .step05 span{width: 450px;}
#serviceDetail .popState .step06 span{width: 540px;}
#serviceDetail .popState .step07 span{width: 630px;}
#serviceDetail .popState .step08 span{width: 720px;}
#serviceDetail .popState .step09 span{width: 750px;}

.shareCon{float: right;}
.shareCon li{display: inline-block;margin: 0 3px;}
.shareCon a{display:block;width: 40px;height: 40px;border-radius: 50%;border:1px solid #ccc;background: url('../images/ico_sns.png') no-repeat;}
.shareCon .tw{background-position: -40px 0;}
.shareCon .ks{background-position: -80px 0;}

.conCard{position: relative;float: left;width: 350px;height: 205px;padding: 20px;margin:5px;border:1px solid #e3e3e3;border-bottom-width: 4px;font-family:'RobotoR','NotoSansR', sans-serif;}
.conCard.product{color: #fff;background-size: cover;}
.conCard .cardTit{font-size: 20px;}
.conCard .cardTxt{font-size: 14px;margin-top: 10px;}
.conCard.product .union{display: inline-block;margin-bottom: 20px;padding: 5px 10px;border-radius: 12px;border:1px solid #fff;font-size: 13px;}
.conCard.product a{position: absolute;right: 0;bottom: 0;padding: 15px 20px;color: #fff;font-family:'RobotoM','NotoSansM', sans-serif;font-size: 13px;}
.conCard.product a:after{content: '';display: inline-block;width: 11px;height: 11px;margin-left: 4px;background: url('../images/ico_plusW.png') no-repeat;}
.conCard.designer .pic{overflow: hidden;display: inline-block;width: 60px;height: 60px;margin-right: 15px;border-radius: 50%;vertical-align: middle;}
.conCard.designer .pic img{display: block;width: 100%;}
.conCard.designer .cardTit{display: inline-block;vertical-align: middle;}
.conCard.designer .cardTit b{color: #666;}
.conCard.designer .group{display: block;margin-bottom: 5px;color: #f1645c;font-family:'RobotoM','NotoSansM', sans-serif;font-size: 13px;}
.conCard.designer .cardTxt{padding-left: 4px;margin-bottom: 30px;color: #666;}
.conCard.designer .cardTxt:before{content: '';display: block;width: 50px;height: 1px;margin:20px 0;background: #c7c7c7;}
.conCard.designer a{width: 170px;}
.conCard.designer a.btnColor01{margin-right: 10px;}
.conCard.designer .area:before{content: '';display: inline-block;width: 10px;height: 12px;margin-left: 3px;background: url('../images/ico_card_popular.png') no-repeat -35px -14px;vertical-align: top;}

.cardWrap .formListWrap{height: 210px;}
.cardWrap .formListWrap01{height: 170px;}
.cardWrap .formListWrap:before{content: '';display: inline-block;width: 0;height: 100%;margin-right: -5px;vertical-align: middle;}
.cardWrap .formListWrap .cardCollect, .cardWrap .formListWrap .formList{display: inline-block;vertical-align: middle;margin: 0;}

.my .cartCont {width:100%; overflow:hidden;}
.my h2.secTit + .cartCont {margin-top:20px;}
.my .tbSet table.chkTb tr td {}
.my .cartChk {width:89%; min-height:30px; padding-left:40px; position:relative; overflow:hidden;}
.my .cartChk p.chk {width:30px; height:30px; background:url('../images/ico_check.png') center no-repeat #ccc; border-radius:50%; margin-top:-15px; vertical-align:middle; position:absolute; top:50%; left:0; display:inline-block; z-index:1;}
.my .cartChk p.chk.on {background-color:#2ecc71;}
.my .cartChk input[type="checkbox"] {position:absolute; opacity:0; width:30px; height:30px; margin:0; padding:0; z-index:-1;}
.my .cartChk label {min-width:200px; padding:8px 0 7px 40px; display:inline-block;}
.my .tbSet table .optList {width:100%; overflow:hidden; margin-top:15px;}
.my .tbSet table .optList .option {width:330px; padding:5px 30px 0 0; position:relative; display:inline-block;}
.my .tbSet table .optList .option + .option {border-top:1px solid #d9d9d9;}
.my .tbSet table .optList .option p {float:left; }
.my .tbSet table .optList .option p.optionTit {width:126px; padding:5px 0; text-align:left;}
.my .tbSet table .optList .option p.optionPrice {width:93px; padding:5px 0; text-align:right;}
.my .tbSet table .optList .option p.optionNum {width:97px; position:relative; float:right;}
.my .tbSet table .optList .option p.optionNum a,
.my .tbSet table .optList .option p.optionNum span {display:inline-block; float:left;}
.my .tbSet table .optList .option p.optionNum a {width:0; height:0; padding:25px 25px 0 0; position:absolute; top:0; overflow:hidden;}
.my .tbSet table .optList .option p.optionNum a.btnMinus {left:0; background:url(../images/ico_option.png) 0 0 no-repeat;}
.my .tbSet table .optList .option p.optionNum a.btnPlus {right:0; background:url(../images/ico_option.png) -25px 0 no-repeat;}
.my .tbSet table .optList .option p.optionNum span.num {width:91px; height:16px; padding:4px 0; border:1px solid #ccc; border-radius:13px;}
.my .tbSet table .optList .option a.btnDel {width:0; height:0; padding:25px 25px 0 0; position:absolute; top:5px; right:0; overflow:hidden; background:url(../images/ico_option.png) 100% 0 no-repeat;}
.my .btnG .chkAll {width:60%; overflow:hidden; float:left;}
.my .tbSet + .btnG {margin-top:20px;}
