.my .container .wrap{width: 100%;padding-top: 50px;}
.user + .tabType01 ul{width: 1200px;margin:0 auto;}

.user.infoTop .infoWrap{width:auto;}
.user.infoTop .myRate a{color: #666}
.user.infoTop .myRate .my{width:20px;height: 18px;margin:0 auto 2px;background: url('../images/ico_homeB.png') no-repeat;}
.user.infoTop .myRate.on a{color: #f1645c;}
.user.infoTop .myRate.on a b{color: #f1645c;}
.user.infoTop .myRate.on .my{background-image:url('../images/ico_homeR.png'); }
.user.infoTop .infoSet{position: absolute;right: 10px;bottom: 50px;;display: block;font-size: 14px;color: #666;font-family:'RobotoR','NotoSansR', sans-serif;}
.user.infoTop .infoSet:before{content: '';display: inline-block;width: 16px;height: 16px;margin-right: 10px;vertical-align: middle;background: url('../images/ico_set.png') no-repeat;}

.my .myMenu{float: left;width:230px;min-height: 145px;padding:0 30px;background: #f65677; margin-top:60px; position:relative;}
.my .myMenu:before {content:''; border-left:30px solid transparent; border-bottom:60px solid #f65677; position:absolute; top:-60px; left:0; z-index:0;}
.my .myMenu:after {content:''; width:260px; height:60px; background:#f65677; position:absolute; top:-60px; right:0; z-index:0;}
.my .myMenu ul:before {content:''; width:260px; height:60px; background:#f65677; position:absolute; bottom:-60px; left:0; z-index:0;}
.my .myMenu ul:after {content:''; border-right:30px solid transparent; border-top:60px solid #f65677; position:absolute; bottom:-60px; right:0; z-index:0;}
.my .myMenu li{border-bottom: 1px solid #f1807a;}
.my .myMenu li:first-child{position: relative;z-index: 1;margin-top: -25px;}
.my .myMenu li a{display: block;padding:15px 0;color: #fff;}
.my .myMenu li.on a{font-family:'RobotoM','NotoSansM', sans-serif;}
.my .myMenu li.on a:before{content: '';display: inline-block;min-width: 7px;height: 13px;background: url('../images/ico_active.png') no-repeat center; margin-right:5px;vertical-align: middle;}

.my .singleCard{padding: 50px;}
.my .cardWrap02{float: left;width: 910px;min-width: 0;margin-top:0;}
.my .secTit{font-family:'RobotoR','NotoSansR', sans-serif;font-size: 30px;color: #000;}
.secTit02 {padding-bottom: 25px;border-bottom: 1px solid #000;}

.timeCard .recordWrap{padding-bottom: 20px;}
.timeCard .recordWrap.recordFirst {padding-bottom:0;}
.timeCard .recordWrap.recordFirst > ul {height:157px;}
.timeCard .recordWrap > ul > li{margin-top: 20px;text-align: left;}
.timeCard .recordWrap > ul > li:first-child{margin-top: 0;}
.timeCard .recordDate{display: inline-block;padding: 0 15px;background: #999;color: #fff;font-family:'RobotoR','NotoSansR', sans-serif;font-size: 14px;line-height: 30px;border-radius: 15px;}
.timeCard .recordTime{display: inline-block;vertical-align: middle;font-family:'RobotoR','NotoSansR', sans-serif;color: #333;font-size: 20px;}
.timeCard .recordTime b{color: #f1645c}

.timeCard .recordIco {position:relative; display:inline-block; z-index:4; margin:0 10px;}
.timeCard .recordFirst .recordIco {vertical-align:middle}
.timeCard .recordFirst .recordIco:before, .timeCard .recordFirst .recordIco:after {display:none;}
.timeCard .recordIco .recordIcoCon {width:96px; height:55px; margin:28px 0; padding:0; background:url(../images/ico_timeline.png) no-repeat;text-indent:-9999px;font-size:0;display:inline-block;vertical-align:middle}
.timeCard .recordIco:before {content:''; width:0; border-right:48px solid transparent; border-left:48px solid transparent; position:absolute; top:0px; left:0; overflow:hidden;}
.timeCard .recordIco:after {content:''; width:0; border-right:48px solid transparent; border-left:48px solid transparent; position:absolute; bottom:0px; left:0; overflow:hidden;}
.timeCard .recordType01 .recordIcoCon {background-position: -96px -20px;background-color: #65bfe5}
.timeCard .recordType01 .recordIco:before {border-bottom:28px solid #65bfe5;}
.timeCard .recordType01 .recordIco:after {border-top:28px solid #65bfe5;}
.timeCard .recordType02 .recordIcoCon {background-position: 0 -116px;background-color: #f1be4f}
.timeCard .recordType02 .recordIco:before {border-bottom:28px solid #f1be4f;}
.timeCard .recordType02 .recordIco:after {border-top:28px solid #f1be4f;}
.timeCard .recordType03 .recordIcoCon {background-position: 0 -213px;background-color: #8176d2}
.timeCard .recordType03 .recordIco:before {border-bottom:28px solid #8176d2;}
.timeCard .recordType03 .recordIco:after {border-top:28px solid #8176d2;}
.timeCard .recordType04 .recordIcoCon {background-position: -288px -23px;background-color: #adc427}
.timeCard .recordType04 .recordIco:before {border-bottom:28px solid #adc427;}
.timeCard .recordType04 .recordIco:after {border-top:28px solid #adc427;}
.timeCard .recordType04 .recordThumb{background: #a9c700;}
.timeCard .recordType05 .recordIcoCon {background-position: -290px -115px;background-color: #a5abb5}
.timeCard .recordType05 .recordIco:before {border-bottom:28px solid #a5abb5;}
.timeCard .recordType05 .recordIco:after {border-top:28px solid #a5abb5;}
.timeCard .recordType05 .recordThumb{background: #a5abb5;}
.timeCard .recordType05 .recordThumb p:before{content: '';background-position: -429px -261px;}
.timeCard .recordType05 .recordThumb p strong{font-size: 20px;font-family:'RobotoM', sans-serif;}
.timeCard .recordType06 .recordIcoCon {background-position: -382px -115px;background-color: #f1645c}
.timeCard .recordType06 .recordIco:before {border-bottom:28px solid #f1645c;}
.timeCard .recordType06 .recordIco:after {border-top:28px solid #f1645c;}
.timeCard .recordType06 .recordThumb{background: #f1645c;}
.timeCard .recordType06 .recordThumb p:before{content: '';background-position: -456px -261px;}
.timeCard .recordType07 .recordIcoCon {background-position: -288px -23px;background-color: #adc427}
.timeCard .recordType07 .recordIco:before {border-bottom:28px solid #adc427;}
.timeCard .recordType07 .recordIco:after {border-top:28px solid #adc427;}
.timeCard .recordType07 .recordThumb{background: #a9c700;}
.timeCard .recordType08 .recordIcoCon {background-position: 0 -20px;background-color: #f8f8f8}
.timeCard .recordType08 .recordIco:before {border-bottom:28px solid #f8f8f8;}
.timeCard .recordType08 .recordIco:after {border-top:28px solid #f8f8f8;}
.timeCard .recordType08 .recordIcoCon :after{content: '';position: absolute;top:96px;left: 0;width: 100px;height: 50px;background: #e0e0e0}
.timeCard .recordType09 .recordIcoCon {background-position: -190px -20px;background-color: #62b3bd}
.timeCard .recordType09 .recordIco:before {border-bottom:28px solid #62b3bd;}
.timeCard .recordType09 .recordIco:after {border-top:28px solid #62b3bd;}
.timeCard .recordType10 .recordIcoCon {background-position: -385px -20px;background-color: #65bfe5}
.timeCard .recordType10 .recordIco:before {border-bottom:28px solid #65bfe5;}
.timeCard .recordType10 .recordIco:after {border-top:28px solid #65bfe5;}
.timeCard .recordType11 .recordIcoCon {background-position: -95px -120px;background-color: #f5814e}
.timeCard .recordType11 .recordIco:before {border-bottom:28px solid #f5814e;}
.timeCard .recordType11 .recordIco:after {border-top:28px solid #f5814e;}
.timeCard .recordType12 .recordIcoCon {background-position: -192px -115px;background-color: #f5814e}
.timeCard .recordType12 .recordIco:before {border-bottom:28px solid #f5814e;}
.timeCard .recordType12 .recordIco:after {border-top:28px solid #f5814e;}



.timeCard .recordWrap > ul > li > a{display: block;overflow: hidden;height: 155px;padding-left:30px;background: #fff;border:1px solid #e5e5e5;vertical-align: middle;}
.timeCard .recordCon{display: inline-block;width: 735px;margin-right: -3px;padding-right: 30px;vertical-align: middle;}
.timeCard .recordCon .recordTxt{font-family:'RobotoR','NotoSansR', sans-serif;font-size: 16px;color: #666;line-height: 1.2em}
.timeCard .recordCon b{font-family:'RobotoM','NotoSansM', sans-serif;color:#000;}
.timeCard .recordThumb{position: relative;display: inline-block;width: 285px;height: 100%;vertical-align: middle;color: #fff;font-family:'RobotoR','NotoSansR', sans-serif;text-align: center;}
.timeCard .recordThumb:before{content: '';display: inline-block;width: 0;height: 100%;vertical-align: middle;}
.timeCard .recordThumb img{position: absolute;top: 0;left: 0;display: block;width: 100%;z-index: 0}
.timeCard .recordThumb p{position: relative;z-index: 1; display: inline-block;vertical-align: middle;font-size: 14px;line-height: 1.4em;}
.timeCard .recordThumb p b{display: block;font-size: 40px;font-family:'NotoSansM', sans-serif;}
.timeCard .recordThumb p:before{display: block;width:25px;height: 26px;margin: 0 auto 7px;background: url('../images/ico_timeline.png') no-repeat;}
.timeCard .recordCat{display: inline-block;margin-bottom: 10px;padding: 0 10px;border-radius: 10px;font-family:'RobotoM','NotoSansM', sans-serif;font-size: 13px;color: #000;line-height: 20px;border:1px solid #000;}
.timeCard .recordPic{overflow: hidden;display: inline-block;width: 96px;height: 96px;margin-right:20px;border-radius: 50%;vertical-align: middle;}
.timeCard .recordPic img{display: block;width: 100%;}

.timeCard .innerWrap{overflow: hidden;padding: 20px 30px;border:1px solid #e6e6e6;}
.timeCard .innerWrap .name{width: 140px;font-family:'RobotoR','NotoSansR', sans-serif;color: #000;font-size: 14px;line-height: 1.4em;letter-spacing: 0;}
.timeCard .innerWrap .name b{font-family:'RobotoM','NotoSansM', sans-serif;}
.timeCard .innerWrap .myRateWrap{width: 190px;text-align: center;}
.timeCard .innerWrap .myRate{color: #666;margin-right:10px;}
.timeCard .innerWrap .myRate b{color: #666;}
.timeCard .innerWrap .btnFollow{width: 175px;text-align: center;margin-right: 19px}
.timeCard .innerWrap .btnFollow a{min-width: 110px;}
.timeCard .innerWrap .btnFollow a:after{content: '';display: inline-block;width: 17px;height: 16px;margin-left: 10px;background: url('../images/ico_checkL.png') no-repeat center;vertical-align: sub;}
.timeCard .innerWrap .btnFollow a.dismiss{border:1px solid #a9c700;color: #a9c700}
.timeCard .innerWrap .btnFollow a.dismiss:after{background-image:url('../images/ico_plusG.png');}
.timeCard .innerWrap li{display: inline-block;vertical-align: middle;}
.timeCard .innerWrap .imgWrap{overflow: hidden;margin-left:-10px;font-family:'RobotoM','NotoSansM', sans-serif;}
.timeCard .innerWrap .imgWrap li{position: relative;float: left;width: 114px;height: 114px;margin-left: 10px;}
.timeCard .innerWrap .imgWrap li:first-child{margin:0;}
.timeCard .innerWrap .imgWrap .hoverCon{position: absolute;top: 0;left: 0;right: 0;bottom: 0;padding: 20px;background: rgba(0,0,0,0.5);color: #fff;z-index: 1;font-size: 14px;text-align: center;opacity: 0;}
.timeCard .innerWrap .imgWrap .hoverCon:hover{opacity: 1;transition: opacity .4s ease-in-out;-moz-transition: opacity .4s ease-in-out;-webkit-transition: opacity .4s ease-in-out;}
.timeCard .innerWrap .imgWrap .imgTit{margin-bottom: 10px;text-decoration: underline;font-family:'RobotoR','NotoSansR', sans-serif;}
.timeCard .innerWrap .imgWrap p{line-height: 1.3em;word-break: keep-all;}
.timeCard .innerWrap .imgWrap a{position: absolute;top:25px;left: 25px;width:64px;height: 64px;border-radius: 50%;text-align: center;color: #fff;font-size: 14px;}
.timeCard .innerWrap .imgWrap a:before{content:'';display: block;width:17px;height: 17px;margin:13px auto 2px; background: url('../images/ico_plusM.png') no-repeat;}

.timeCard .innerWrap .imgWrap img{display: block;width: 100%;}

#myTimeline .recordDate{margin:0 auto 15px 190px;}
#myTimeline .recordWrap{background: url('../images/bg_my.png') repeat-y left;}
#myTimeline li a{display: inline-block;width: 868px;}
#myTimeline .recordCon{width: 550px;}



#myNotice .recordWrap{margin-bottom:20px;text-align: center;}
#myNotice .recordDate{margin-bottom: 20px;}
#myNotice .recordThumb{background: #a9c700;}
#myNotice .coupon a{height: 157px;padding: 0;background:none;box-shadow: none}
#myNotice .coupon a img{display: block;width: 100%;}
#myNotice #delteAll{position: absolute;top:25px;right: 20px}

#myMsg.timeCard .recordWrap{float: left;width: 865px;}
#myMsg .sender{display: inline-block;vertical-align: middle;width: 275px;}
#myMsg .sender p{display: inline-block;font-size: 13px;color: #666;line-height: 1.4em;vertical-align: middle;}
#myMsg .sender p span{display: block;font-family:'RobotoM','NotoSansM', sans-serif;font-size: 16px;}
#myMsg .sender p b{color: #f1645c}
#myMsg.timeCard .recordCon{position: relative;width: 507px;height: 100%;padding:0 25px;background: #f8f8f8;color: #000;}
#myMsg .recordCon p{display: inline-block;width: 400px;padding-right:100px;vertical-align: middle;font-size: 14px;line-height: 1.3em;font-family:'RobotoR','NotoSansR', sans-serif;}
#myMsg .recordCon .newMsg{position: relative;display: inline-block;height: 100%;vertical-align: middle;}
#myMsg .recordCon .newMsg span{position: absolute;top:50%;right: 0;min-width: 20px;margin-top:-15px;padding:0 10px;background: #f37972;color: #fff;line-height: 30px;border-radius: 15px;text-align: center;font-family:'RobotoR','NotoSansR', sans-serif;}
#myMsg .recordCon .date{position: absolute;right: 30px;bottom: 20px;color: #999;font-size: 14px;}

#fallowing fieldset{width:100%;margin-bottom: 30px;background: #fff;border:1px solid #e6e6e6;color: #404040;display: block;font-family:'RobotoM','NotoSansM', sans-serif}
#fallowing #fallowSearch{width: 1070px;margin:0 20px;;border:0;vertical-align: middle;}
#fallowing button{display: inline-block;width: 40px;height: 40px;border:0;background: url('../images/btn_search.png') no-repeat center;font-size: 0;vertical-align: middle;}

.recordSort{width: 100%;border-top:1px solid #545454;border-bottom:1px solid #ccc;;font-family:'RobotoR','NotoSansR', sans-serif;font-size: 14px;text-align: center;line-height: 1.2em}
.recordSort th{padding: 15px;background: #f8f8f8;color: #333;}
.recordSort td{padding:15px 0 15px 15px;}
.recordSort{margin:30px 0;text-align: left;}
.recordSort tr:first-child td{padding-bottom: 0;}
.sortTerm{display: inline-block;}
.recordSort li{display: inline-block;margin-left:2px;}
.recordSort li:first-child{margin:0;}
.recordSort a{display: inline-block;padding:0 20px;border-radius: 20px;border:1px solid #d1d1d1;font-size: 14px;line-height: 40px;color: #666;}
.recordSort a.on{background: #a9c700;border:0;color: #fff;}
.recordSearch{display: inline-block;padding: 5px;border:1px solid #ccc;}
.recordSearch #recordInput{width: 597px;height: 28px;padding: 0;line-height: 28px;font-size:13px;color: #666;border:0;} 
.recordSearch button{width:36px;height:14px;font-size: 0; background: url('../images/btn_searchG.png') no-repeat center;border:0;outline: 0;vertical-align: middle; border-left:1px solid #d5d5d5;}
.sortTermSet{display: inline-block;margin-left: 10px;}
.sortTermSet .calendar {margin-right:0;padding:10px 18px;border:1px solid #ccc;}
.sortTermSet .calendar.cal2 span.calInp input[type=text] {width:73px;}
.sortTermSet .cal-container {z-index:3}

.my .subTit{font-size: 20px;font-family:'RobotoR','NotoSansR', sans-serif;color: #000;}
.my .subTit b{color:#f1645c;}
.my .subTxt {font-size: 14px;font-family:'RobotoR','NotoSansR', sans-serif;color: #666;}

.my .record{width: 100%;margin-top: 20px;border-top:1px solid #545454;border-bottom:1px solid #ccc;;font-family:'RobotoR','NotoSansR', sans-serif;font-size: 14px;text-align: center;line-height: 1.2em;letter-spacing:-0.5px}
.my .record th, .my .record td{border-bottom: 1px solid #e1e1e1}
.my .record th{padding: 15px;background: #f8f8f8;color: #333;}
.my .record td{padding: 15px;}
.my .record td a{margin-top: 6px;}
.my .record .recordDate{border-right: 1px solid #e1e1e1}
.my .record .date b{color: #f1645c;}
.my .record .date a{color: #f1645c;text-decoration: underline;font-family:'RobotoM','NotoSansM', sans-serif;}
.my .record .total{margin-top:20px;} 
.my .record .total b{color: #999;}
.my .record .recordThumb{overflow: hidden;width: 90px;height: 90px;background: #f8f8f8;}
.my .record .recordThumb img{display: block;width: 100%;}
.my .record .recordInfo{text-align: left;}
.my .record .recordInfo span{display: block;}
.my .record .recordInfo .producOption{color: #999}
.my .record .recordInfo .productPrice{font-family:'RobotoB','NotoSansB', sans-serif;}
.my .record .orderState{position: relative;}
.my .record .orderState a{display: block;}
.my .record .orderState .stateTxt{position: relative;}
.my .record .orderState .stateIcor{display: inline-block;width: 14px;height: 14px;margin-left: 3px;background: url('../images/ico_info.png') no-repeat;vertical-align: top;}
.my .record .orderState .stateEnd {display:block;color:#f1645c;}
.my .record .orderState .stateTxt:hover .popState{display: block;}
.my .record .orderState .cancleDate{color: #f1645c;}
.my .record .arraySide {overflow:hidden;}
.my .record .arraySide p .my .record .arraySide p span {float:left;}
.my .record .arraySide p span {display:block;float:right;}
.my .record .fontM {font-family:'RobotoM','NotoSansM', sans-serif;}
.my .record .btnBox {overflow:hidden;text-align:center;}
.my .record .btnBox .btnSizeS {float:left;width:80px;padding:0;margin-left:5px;}
.my .record .btnBox .btnSizeS:first-child {margin-left:0;}

.my .record.record02 {font-family:'RobotoL','NotoSansL', sans-serif;}
.my .record.record02 th {font-family:'RobotoR','NotoSansR', sans-serif;}
.my .record .rowspan{padding: 10px 20px}
.my .record .rowspan li{line-height: 1.6em;}
.my .record .require{color: #f1645c}

.my .record .noList {height:52px;color:#999;}

.my .record.record04 {margin-top:30px;}
.my .record.record04 th, .my .record.record04 td {font-size:16px;}
.my .record.record04 .recordDate b {margin-left:5px;text-decoration:initial;}

.my .record.recordBg {margin-top:0;border-top:none;}
.my .record.recordBg th, .my .record.recordBg td {text-align:left;}
.my .record.recordBg th {background:#f2f4f4;}
.my .record.recordBg td {background:#fafafa;font-family:'RobotoL','NotoSansL', sans-serif;color: #333;}

.my .popState{display: none;position: absolute;right: 0;bottom:30px;width: 495px;padding: 38px 20px 38px;background: #fff;border:1px solid #999;z-index: 2;}
.my .popState:after{content: '';position: absolute;bottom: -18px;right: 40px;width: 18px;height: 18px;background: url('../images/ico_pointer.png') no-repeat;}
.my .popState li{display: inline-block;width:16%;color: #666;}
.my .popState li.on{font-family:'RobotoM','NotoSansM', sans-serif;color: #000;}
.my .popState .stepImg{width: 440px;height:30px;margin:0 auto 14px;background: url('../images/ico_step.png') no-repeat;}
.my .popState .stepImg span{display: block;height: 100%;background: url('../images/ico_step_on.png') no-repeat;}

.my .popState.popState02{right:0;}
.my .popState.popState02:after{right:60px;}
.my .popState.popState02{padding:40px 5px;width:793px;}
.my .popState.popState02 li{vertical-align:top;width:8.3%;}
.my .popState.popState02 .stepImg {width:730px;background: url('../images/ico_step02.png') no-repeat;}
.my .popState.popState02 .stepImg span{background: url('../images/ico_step02_on.png') no-repeat;}

.my .popState .step01 span{width: 82px;}
.my .popState .step02 span{width: 164px;}
.my .popState .step03 span{width: 246px;}
.my .popState .step04 span{width: 328px;}
.my .popState .step05 span{width: 410px;}
.my .popState .step06 span{width: 440px;}
.my .popState .step07 span{width: 574px;}
.my .popState .step08 span{width: 656px;}
.my .popState .step09 span{width: 686px;}

.my .popState.popState02 .step01 span{width: 70px;}
.my .popState.popState02 .step02 span{width: 140px;}
.my .popState.popState02 .step03 span{width: 210px;}
.my .popState.popState02 .step04 span{width: 280px;}
.my .popState.popState02 .step05 span{width: 350px;}
.my .popState.popState02 .step06 span{width: 420px;}
.my .popState.popState02 .step07 span{width: 490px;}
.my .popState.popState02 .step08 span{width: 560px;}
.my .popState.popState02 .step09 span{width: 630px;}
.my .popState.popState02 .step10 span{width: 700px;}
.my .popState.popState02 .step11 span{width: 730px;}

.btnSideArray {overflow:hidden;line-height:40px;margin:20px 20px 30px 0;}
.btnSideArray label {font-size:16px;color:#666;}
.btnSideArray label span {color:#f1645c;}

.my .scrapTit{margin-bottom:20px;color:#000;font-size: 20px;font-family:'RobotoR','NotoSansR', sans-serif;}
.my .scrapTit b{color:#f1645c}
/*.scrap .delScrap{position: absolute;right: 0;width: 54px;height: 54px;background: #fff;}
.scrap .scrapPack li{overflow: hidden;position: relative;width: 285px;margin:10px;border-radius: 10px;}
.scrap .scrapPack .scrapTit{height: 160px;margin:0;padding:0 40px;text-align: center;color: #fff;line-height: 1.4em;}
.scrap .scrapPack .scrapTit h3{display: inline-block;vertical-align: middle;}
.scrap .scrapPack .scrapTit:before{content: '';display: inline-block;width: 0;height: 100%;margin-right: -5px;vertical-align: middle;}
.scrap .scrapPack .scrapTit .count{display: block;}
.scrap .scrapPack .scrapTit .count:before{content: '';display: inline-block;width: 20px;height: 20px;margin-right: 5px;background: url('../images/btn_profile.png') -132px 0;}
.scrap .scrapPack .wrapScrap{overflow: hidden; padding:23px;background: #fff;}
.scrap .scrapPack .wrapScrap span{overflow: hidden;display: block;float: left;width: 114px;height: 114px;}
.scrap .scrapPack .wrapScrap span:first-child{margin-right: 10px;}
.scrap .scrapPack .wrapScrap span img{width: 100%;}
*/
.orderDetail .checkAgree label:before {display:inline-block;margin:0 20px;}

#myInfo .reward{position: absolute;left: 0;bottom:50px;width: 100%;color: #666 ;font-size: 13px;font-family:'RobotoR','NotoSansR', sans-serif;}
#myInfo .reward:before{content: '';display: inline-block;width: 14px;height: 14px;margin-right: 5px;background: url('../images/ico_point.png') no-repeat;vertical-align: middle;}
#myInfo #myIntro{background: #a9c700;color: #fff;}
#myInfo .cardWrap #myIntro.cardType07 .cardTit, #myInfo .cardWrap #myIntro.cardType07 .cardIntro{color: #fff;}
#myInfo .cardWrap #myIntro.cardType07 .cardIntro:before{background: #fff;}
#myInfo #myIntro .cardCollect li{width: 64px;height: 64px;margin-top:45px;border-radius: 50%;background: #98b300 url('../images/btn_card_my.png');}
#myInfo #myIntro .cardCollect .collect02{background-position:-64px 0}
#myInfo .formList li{width: 210px;margin-top: 10px;}
#myInfo .formList li:first-child{margin-top:0;}
#myInfo .formList select{width: 100%;}
#myInfo button{display: block;width: 290px;margin:40px auto 0;}

#editPassword .subTit{margin-top:30px;}
#editPassword .subTxt{display: initial;}
#editPassword .btnWrap{margin-top: 40px;}
#editPassword .btn{width: 200px}

#myInfoEdit .profileInfo{margin-top: 35px;}
.my table.formList{text-align: left;}
.my table.formList td, .my table.formList th{padding: 15px 15px;}
.my table.formList .birth > div{margin:0;}
#myInfoEdit input[type="text"]:disabled{background: #f7f7f7;}
#myInfoEdit td{color: #666}
#myInfoEdit .account a{border:0;color: #fff;background: #a9c700;}
#myInfoEdit .account .active a{border:1px solid #a9c700;color: #a9c700;background: none}
#myInfoEdit .account td{color: #999}
#myInfoEdit .account td:first-child{font-size: 0;}
#myInfoEdit .account td:first-child span{display: block;margin:0 auto;width: 65px;height: 14px;background: url('../images/logo_sns.jpg') no-repeat;}
#myInfoEdit .account td.account02 span{background-position: 0 -14px;}
#myInfoEdit .account td.account03 span{background-position: 0 -28px;}
#myInfoEdit .account .active td{color: #000}
#myInfoEdit .inputWrap{line-height: 50px;color: #666;font-family:'RobotoM','NotoSansM', sans-serif;}
#myInfoEdit .inputWrap p{display: inline-block;width: 290px;font-size: 16px;}
#myInfoEdit .inputWrap label{min-width: 20px;font-family:'RobotoR','NotoSansR', sans-serif;color: #666;}
#myInfoEdit .inputWrap.radiobox{line-height: 30px;}
#myInfoEdit .listSquare{margin-bottom: 20px;}
#myInfoEdit .profileNote{height: 90px;margin-top:20px;padding: 0 45px;background: #f7f7f7;border-top:1px solid #666;border-bottom:1px solid #666;;text-align:right;font-family:'RobotoR','NotoSansR', sans-serif;color: #000;}
#myInfoEdit .profileNote:before{content: '';display: inline-block;width: 0;height: 100%;margin-right: -5px;vertical-align: middle;}
#myInfoEdit .profileNote p{display: inline-block;width: 80%;vertical-align: middle;text-align: center;}
#myInfoEdit .profileNote b{color: #f1645c}
#myInfoEdit .th02{color: #000;}
#myInfoEdit .btnWrap{margin-top: 40px;}
#myInfoEdit .btnWrap .btn{width: 200px;margin:0 10px;}

#myResign .subTit{margin-top: 35px;}
#myResign .listTit{margin-top: 20px;padding: 0 20px;background: #f7f7f7;border-top: 1px solid #333;border-bottom: 1px solid #e8e8e8;line-height: 70px;font-size: 16px;color: #000;font-family:'RobotoM','NotoSansM', sans-serif;}
#myResign .listTit a{float: right;margin:15px 5px;}
#myResign .listBox{padding:25px;border-bottom: 1px solid #e8e8e8; color: #666;font-family:'RobotoR','NotoSansR', sans-serif;}
#myResign .checkbox.listBox{overflow: hidden;border-top: 1px solid #666;}
#myResign .checkbox li{float: left;width: 25%;margin: 10px 0}
#myResign .subTxt{margin-top: 10px;}
#myResign textarea{width: 1060px;height: 150px;margin: 20px 10px;padding:20px;border-radius: 10px;border:1px solid #d6d6d6;font-size: 14px;font-family:'RobotoR','NotoSansR', sans-serif;}
#myResign .btn{width: 200px;margin:0 auto;}
#myResign .btnWrap{margin-top: 40px;}

#serviceDetail .record th{width: 60px;}
#serviceDetail .btnWrapR{position: relative;height: 30px;}
#serviceDetail .btnWrapR a{position: absolute;right: 0;top:15px;}
#serviceDetail .popState{display: block;position: static;width: auto;border:0;padding:30px 0;text-align: center;font-size: 14px;}
#serviceDetail .popState .stepImg{width: 750px;background:url('../images/ico_step03.png') no-repeat; }
#serviceDetail .popState .stepImg span{background: url('../images/ico_step03_on.png') no-repeat; }
#serviceDetail .popState ul {}
#serviceDetail .popState li{width:85px;vertical-align: middle;}
#serviceDetail .popState .step01 span{width: 90px;}
#serviceDetail .popState .step02 span{width: 180px;}
#serviceDetail .popState .step03 span{width: 270px;}
#serviceDetail .popState .step04 span{width: 360px;}
#serviceDetail .popState .step05 span{width: 450px;}
#serviceDetail .popState .step06 span{width: 540px;}
#serviceDetail .popState .step07 span{width: 630px;}
#serviceDetail .popState .step08 span{width: 720px;}
#serviceDetail .popState .step09 span{width: 750px;}

.shareCon{float: right;}
.shareCon li{display: inline-block;margin: 0 3px;}
.shareCon a{display:block;width: 40px;height: 40px;border-radius: 50%;border:1px solid #ccc;background: url('../images/ico_sns.png') no-repeat;}
.shareCon .tw{background-position: -40px 0;}
.shareCon .ks{background-position: -80px 0;}

.conCard{position: relative;float: left;height: 205px;width:764px; padding: 20px; margin-top:39px; font-family:'RobotoR','NotoSansR', sans-serif; background-size: 100% 100%;;}
.conCard + .conCard {width:762px; border:1px solid #e3e3e3; margin-top:10px;}
.conCard .cardTit{font-size: 20px;}
.conCard .cardTxt{font-size: 14px;margin-top: 10px;}
.conCard .product {overflow:hidden; color: #fff;}
.conCard .product .union{display: inline-block;padding: 5px 10px;border-radius: 12px;border:1px solid #fff;font-size: 13px; float:left;}
.conCard .product h3.cardTit {width:684px; min-height:25px; float:left; margin:0 0 0 6px;}
.conCard .product p.cardTxt {width:100%; line-height:130%; margin-top:5px; float:left;}
.conCard.visualW,
.conCard.visualW .designer h3.cardTit,
.conCard.visualW .designer h3.cardTit b,
.conCard.visualW .designer .group {color: #fff;}
.conCard.visualW .designer:before {content: '';display: block;width: 50px;height: 1px;margin:20px 0;background: #c7c7c7;}
.conCard.visualW a.more{position: absolute;right: 0;bottom: 0;padding: 15px 20px;color: #fff;font-family:'RobotoM','NotoSansM', sans-serif;font-size: 13px; text-align:right; vertical-align:middle;}
.conCard.visualW a.more:after{content: '';display: inline-block;width: 11px;height: 11px;margin-left: 4px;background: url('../images/ico_plusW.png') no-repeat;}
.conCard .designer {width:100%; overflow:hidden;  color:#000;}
.conCard .designer .pic{overflow: hidden;display: inline-block;width: 60px;height: 60px;margin-right: 15px;border-radius: 50%;vertical-align: middle;}
.conCard .designer .pic img{display: block;width: 100%;}
.conCard .designer h3.cardTit{display: inline-block;vertical-align: middle; margin:0;}
.conCard .designer h3.cardTit b{color: #666;}
.conCard .designer .group{display: block;margin-bottom: 5px;color: #f1645c;font-family:'RobotoM','NotoSansM', sans-serif;font-size: 13px;}
.conCard .designer .cardTxt{padding-left: 4px;margin-bottom: 30px;color: #666;}
.conCard .designer .cardTxt:before{content: '';display: block;width: 50px;height: 1px;margin:20px 0;background: #c7c7c7;}
.conCard .designer + .btnL {margin-top:20px;}
.conCard a{width: 170px;}
.conCard a.btnColor01{margin-right: 10px;}
.conCard .designer .area:before{content: '';display: inline-block;width: 10px;height: 12px;margin-left: 3px;background: url('../images/ico_card_popular.png') no-repeat -35px -14px;vertical-align: top;}
.conCard.construction .graph,
.conCard.construction .designer {width:356px; float:left; margin-top:7px;}
.conCard.construction .designer .pic {margin:44px 15px 44px 0;}
.conCard.construction .graph + .designer {margin-left:50px;}


.cardWrap .formListWrap{height: 210px;}
.cardWrap .formListWrap01{height: 170px;}
.cardWrap .formListWrap:before{content: '';display: inline-block;width: 0;height: 100%;margin-right: -5px;vertical-align: middle;}
.cardWrap .formListWrap .cardCollect, .cardWrap .formListWrap .formList{display: inline-block;vertical-align: middle;margin: 0;}

.my .cartCont {width:100%; overflow:hidden;}
.my h2.secTit + .cartCont {margin-top:20px;}
.my .tbSet table.chkTb tr td {}
.my .cartChk {width:89%; min-height:30px; padding-left:40px; position:relative; overflow:hidden;}
.my .cartChk p.chk {margin-top:-12px; position:absolute; top:50%; left:0; display:inline-block; z-index:1;}
.my .chkAll {width:60%; margin-left:19px; float:left;}
.my .btnG .btnR {margin-right:30px;}
.my .btnG .btnR a + a {margin-left:5px;}
.my .tbSet + .btnG,
.my table + .btnG {margin-top:20px;}
.my .cartCont + h3.subTit {margin-top:20px;}
.my .record + .infoOrder {margin-top:31px;}
.my h2.secTit + .tbSet {margin-top:30px;}
.my .oderSearch select + .btnSizeM2 { height:40px; margin-left:15px; font-family:'NotoSansR','RobotoR', sans-serif; font-size:14px;}

.my .tableStyle02{text-align: left;font-family:'RobotoR','NotoSansR', sans-serif;border-top: 1px solid #e8e8e8}
.my .tableStyle02 th{width:90px;padding:15px 35px;background: #f7f7f7;border-bottom: 1px solid #e8e8e8;color: #000;}
.my .tableStyle02 td{padding:15px 20px;border-bottom: 1px solid #e8e8e8}
.my .tableStyle02 .wrapScroll{display: block;width: 690px;padding:30px 20px;}
.my .tableStyle02 .popScroll{max-height: 440px;margin-top:0;}
.my .tableStyle02 .popScroll img{display: block;max-width: 100%;}
.my .tableStyle02 .bar:before{content: '';display: inline-block;width: 1px;height: 10px;margin: 0 7px;background: #999;vertical-align: middle;}

.my .tableStyle03 {border-top:1px solid #e8e8e8;text-indent:-0.5px}
.my .tableStyle03 th {text-align:left;padding-left:40px;background:#f7f7f7;border-bottom:1px solid #e8e8e8;}
.my .tableStyle03 td {padding:14px 20px;border-bottom:1px solid #e8e8e8}
.my .tableStyle03 td.tagBox {padding:14px 20px 9px;}
.btnRoundM{height:38px;min-width:166px;font-size:14px;border-radius:20px;line-height: 40px;border:1px solid #e3e3e3;display:inline-block;font-family:'RobotoM','NotoSansM',sans-serif;text-align:center;color:#666;}
.btnRoundM span{padding-left:26px;display:inline-block;background:url("../images/ico_home_type02.png") no-repeat;}
.btnRoundM .home{background-position:0 13px;}
.btnRoundM .tell{background-position:0 -31px;}

.my .msgArea{width:895px;float:left;font-size:14px;}
.my .expertBox{height:154px;padding:0 50px;background:#fff;border-radius:10px;box-shadow:0 3px rgba(0,0,0,.1);}
.my .expertBox:after{content:"";display:block;clear:both;}
.my .expertBox .name{width:280px;overflow:hidden;float:left;margin-top:26px;}
.my .expertBox .name > span{display:inline-block;float: left;}
.my .expertBox .name > span:first-child{width:96px;height:96px;overflow:hidden;background:#fff;border-radius: 100%;}
.my .expertBox .name > span:first-child img{width:96px;}
.my .expertBox .name > span:first-child + span{width:162px;height:32px;margin:36px 0 0 20px;}
.my .expertBox .name > span > span{display:block;font-size:16px;}
.my .expertBox .name > span > span em{font-style:normal;color:#f1645c;text-transform:uppercase;}
.my .expertBox .name > span > span:first-child,
.my .expertBox .name > span > span:first-child + span{height:16px;padding:1px 0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;font-family:'RobotoR','NotoSansR',sans-serif;color:#666;}
.my .expertBox .name > span > span:first-child + span{font-size:13px;}
.my .expertBox .expertBtn{float:right;margin-top:55px;}
.my .expertBtn .btnSizeM{min-width:168px;}
.my .messageBox{background:#fff;border-radius:10px;box-shadow:0 3px rgba(0,0,0,.1);}
.my .messageBox .prevMessage{height:65px;display:block;text-align:center;border-bottom:1px solid #d9d9d9;color:#333;}
.my .messageBox .prevMessage span{display:inline-block;margin-top:26px;padding-right:21px;background:url("../images/ico_top02.png") no-repeat right center;font-family:'NotoSansR','RobotoR', sans-serif;}
.my .messageBox .inputField{height:70px;padding-top:30px;background:#f8f8f8;border-radius:0 0 10px 10px;text-align:center;}
.my .messageBox .inputField .inp{position:relative;width:672px;display:inline-block;background:#fff;padding-right:30px;border:1px solid #d5d5d5;border-radius:7px}
.my .messageBox .inputField .inp:after{position:absolute;right:0;top:1px;z-index:1;content:"";width:30px;height:40px;display:block;background:url("../images/ico_photo_upload.png") no-repeat 0 9px;
}
.my .messageBox .inputField .inp input[type="text"]{width:642px;margin:0;border:0;padding-left:10px;display:block;}
.my .messageBox .inputField .inp input[type="file"]{position:absolute;top:0;right:0;z-index:2;width:30px; height:40px;overflow:hidden;opacity:0;}
.my .messageBox .inputField button{width:86px;height:40px;background:#999;color:#fff;border:0;border-radius:9px;font-family:'RobotoR','NotoSansR',sans-serif;}
.my .talkList{height:690px;overflow:hidden;overflow-y:auto;padding:40px 50px;}
.my .talkList > ul > li{margin-top:25px;}
.my .talkList > ul > li *{vertical-align:top;}
.my .talkList > ul > li:first-child{margin-top:0;}
.my .talkList .txtbox > ul > li{margin-top:30px;}
.my .talkList .txtbox > ul > li:first-child{margin-top:0;}
.my .talkList .line{position:relative;text-align:center;color:#999;margin:66px 0;}
.my .talkList .line:before,
.my .talkList .line:after{position:absolute;top:10px;content:"";display:inline-block;width:315px;height:1px;background:#d9d9d9;}
.my .talkList .line:before{left:0;}
.my .talkList .line:after{right:0;}
.my .talkList .right:after,
.my .talkList .left:after{content:"";display:block;clear:both;}
.my .talkList .txtbox{width:600px;display:inline-block;}
.my .talkList em{display:block;font-style:normal;color:#999;}
.my .talkList .right .txt,
.my .talkList .left .txt{min-width:25px;max-width:560px;display:inline-block;margin-bottom:8px;padding:18px 20px;border-radius:10px;line-height:1.3em;font-family:'NotoSansR','RobotoR', sans-serif;}
.my .talkList .thumb{width:64px;height:64px;overflow:hidden;border-radius:100%;display:inline-block;}
.my .talkList .thumb img{width:64px;vertical-align:top;}
.my .talkList .right{text-align:right;}
.my .talkList .right .txt{color:#fff;background:#a9c700;text-align:left;}
.my .talkList .left{text-align:left;}
.my .talkList .left .txt{color:#000;background:#f2f2f2;}
.my .talkList .right .thumb{margin-left:15px;}
.my .talkList .left .thumb{margin-right:15px;}

.my h3.subTit + .tbMt {margin-top:20px;}
.my .tbSet + h3.subTit {margin-top:40px;}
.my .cashTbSet {width:100%;}
.my .cashTbSet p.tit {text-align:left; font-weight:bold; color:#000;}
.my .cashTbSet ul.csList {width:100%; overflow:hidden; margin:20px 0;}
.my .cashTbSet ul.csList li {width:100%; display:inline-block;}
.my .cashTbSet ul.csList li + li {margin-top:7px;}
.my .cashTbSet ul.csList li span{display:inline-block;}
.my .cashTbSet ul.csList li span.csTit{float:left;}
.my .cashTbSet ul.csList li span.csCont{float:right; text-align:right;}
.my .cashTbSet .csBtn {width:100%; overflow:hidden;}
.my .cashTbSet .csBtn a{min-width:48%; width:auto; float:left; display:inline-block; margin:0 4px 4px 0;}
