/* contents */
.myOpinion{float:right;width:895px;font-size:14px;}
.myOpinion .opinionArea{margin-top:0;}

.qna .container .wrap{padding-top: 50px;}

.qna .subTop{text-align: center;background: url('../images/top_expert.jpg') no-repeat;background-size: cover;color: #fff;}
.qna .subTxt{font-size: 34px;}
.qna .pageTit{margin-top: 10px;font-size: 40px;background:none;color: #fff;opacity: .60}
.qna .subTit{margin-top: 20px;font-size: 18px;color: #fff;line-height: 1.4em}
.qna .subTit b{color: #aa7d71}

.qna .expertList{margin-top: 30px;text-align: center;}
.qna .expertList li{position: relative;display: inline-block;width: 166px;padding-top: 180px;}
.qna .expertList li .hexagon{width: 166px; height: 95.84px;margin: 47.92px 0;;background-size: auto 191.6803px;}
.qna .expertList li .hexTop, .expertList li .hexBottom{width: 117.38px;height: 117.38px;left: 24.31px;}
.qna .expertList li .hexTop{top: -58.6899px;}
.qna .expertList li .hexBottom{bottom: -58.6899px;}
.qna .expertList li .hexTop span, .expertList li .hexBottom span{width: 166px;height: 95.84014468547788px;-webkit-transform:rotate(45deg) scaleY(1.7321) translateY(-47.9201px);-ms-transform:rotate(45deg) scaleY(1.7321) translateY(-47.9201px);transform:rotate(45deg) scaleY(1.7321) translateY(-47.9201px);}
.qna .expertList li .hexagon:after{width: 166.0000px;height: 95.8401px;}

.expertList .expertName{margin-top:20px;color: rgba(211,211,211,.8);}
.expertList .subTit{margin-top:7px;color: #999;line-height: 1.2em;}

.qna{font-size:14px;}
.qna .col-left{width:796px;float:left;}
.qna .col-right{width:285px;float:right;}
.qna .commonPeople {width:100%; height:430px; padding-top:60px; overflow:hidden; background:url("../images/top_expert.jpg") no-repeat 50% 0 #5b5b5b;}
.qna .commonPeople .title{text-align:center;color:#fff;font-family: 'NotoSansL', sans-serif;font-size:40px;}
.qna .commonPeople .title:before,
.qna .commonPeople .title:after{content: '';display:inline-block;width:70px;height:1px;background:#d9d9d9;vertical-align:middle;}
.qna .commonPeople .title:before{margin-right:20px;}
.qna .commonPeople .title:after{margin-left:20px;}
.qna .commonPeople p{text-align:center;color:#999;margin-top:20px;line-height:24px;font-size:16px;}
.qna .commonPeople p em{color:#d1a181;font-style:normal;}
.qna .commonPeople ul{overflow:hidden;text-align:center;margin-top:50px;}
.qna .commonPeople ul li{display:inline-block;margin-left:15px;}
.qna .commonPeople ul li:first-child{margin-left:0;}
.qna .commonPeople ul li a,
.qna .commonPeople ul li a em,
.qna .commonPeople ul li a strong,
.qna .commonPeople ul li a span{display:block;}
.qna .commonPeople ul li a em{width:140px;height:140px;overflow:hidden;display:block;background:#bcb6b4;border-radius:100%;}
.qna .commonPeople ul li a em img{min-width:142px;max-width:142px;vertical-align:top;}
.qna .commonPeople ul li a strong{color:#fff;font-family:'NotoSansR', sans-serif;margin-top:20px;}
.qna .commonPeople ul li a span{color:#9d9d9d;margin-top:14px;line-height:18px;}
.qna .commonPeopleCont {width:1151px; padding:0 24.5px; overflow:hidden;}
.qna .opinionwrite{min-height:65px;}
.qna .opinionwrite > a{position:relative;height:65px;display:block;text-align:center;color:#fff;background:#f65677;}
.qna .opinionwrite > a > span{height:20px;margin-top:23px;display:inline-block;padding:0 30px 0 0;background:url("../images/bg_opinion_arrow.png") no-repeat right 3px;font-family:'NotoSansR', sans-serif;font-size:20px;}
.qna .opinionwrite > a.active span{background-position:right -45px;}

.qna .opinionInput{padding-top:27px;display:none;}
.qna .opinionInput table.opinionTb{width:100%;}
.qna .opinionInput table.opinionTb tbody tr th,
.qna .opinionInput table.opinionTb tbody tr td{padding:10px 0; border-bottom:1px solid #d6d6d6;}
.qna .opinionInput table.opinionTb tbody tr:first-child td{padding-top:0;}
.qna .opinionInput table.opinionTb tbody tr th{font-weight:normal;font-family:'NotoSansR', sans-serif;font-size:14px;text-align:left; background:#f7f7f7; padding:0 14px;}
.qna .opinionInput table.opinionTb tbody tr th span{padding-top:3px;display:block;color:#999;font-family:'NotoSansL', sans-serif;font-size:14px;}
.qna .opinionInput table.opinionTb tbody tr th + td {padding:20px 14px 20px 20px;}
.qna .opinionInput textarea.pullSize{height:144px;}

.qna .scrapList ul{height:90px;overflow:hidden;}
.qna .scrapList ul li{width:90px;height:90px;overflow:hidden;float:left;margin-left:10px; position:relative;}
.qna .scrapList ul li:after {content:''; width:88px;height:88px; border:1px dashed #d1d1d1; position:absolute; top:0px; left:0px; z-index:1;}
.qna .scrapList ul li .scrapImg {width:88px;height:88px; border:1px solid #d1d1d1; position:absolute; top:0px; left:0px; z-index:2;}
.qna .scrapList ul li .scrapImg a.btnDel {width:19px; height:19px; font-size:0; background:url('../images/btn_closeBg.png') 0 0 no-repeat; position:absolute; top:0; right:0; z-index:2;}
.qna .scrapList ul li:first-child{width:88px;height:88px;border:1px solid #d6d6d6;margin-left:0;}
.qna .scrapList ul li:first-child:after {display:none;}
.qna .scrapList ul li:first-child a{display:block;height:88px;background:#fff url("../images/ico_plus.png") no-repeat center center;}
.qna .scrapList ul li img{width:88px; height:88px;}

.fileup{overflow:hidden;}
.fileup .inputs{float:left;}
.fileup .fileupList {width:100%;}
.fileup .fileupList > div {margin-top:10px; padding:0 11px 0 20px; background:url('../images/ico_image2.png') 0 50% no-repeat; color:#999; vertical-align:middle; line-height:130%;}
.fileup .fileupList > div a.btnDel {width:11px; height:11px; font-size:0; background:url('../images/btn_closeS.png') 0 0 no-repeat; display:inline-block; vertical-align:middle;}
.fileup a.btnFileup{width:111px;height:40px;display:block;float:right;background:#666;border-radius:20px;text-align:center;}
.fileup a.btnFileup span{line-height:40px;display:block;color:#fff;font-size:13px;}
.qna .arrayWrap{width:100%; margin-top:27px;}

.opinionArea{margin-top:20px; border-top:1px solid #ccc;}
.opinionArea > ul > li {border-bottom:1px solid #ccc;}
.opinionArea > ul > li:first-child{margin-top:0;}
.opinionArea > ul > li:last-child{border-bottom:0;}
.opinionArea.showCommentInput > ul > li {border-bottom:1px solid #ccc;}
.opinionbox .title{padding:0 20px;overflow:hidden;}
.opinionbox.no .title {background:#8e6edf;}
.opinionbox .title p{float:left;margin-top:29px;color:#666;}
.opinionbox .title p span{font-family:'NotoSansM',sans-serif; font-size:14px;}
.opinionbox .title p span:first-child + span{font-family:'NotoSansL',sans-serif;padding-left:5px;}

.opinionbox .conbox{padding:30px 20px;background:#fff; font-size:14px;}
.opinionbox .conbox.round{border-bottom:1px solid #545454;}
.opinionbox .conbox strong{font-size:20px;font-family:'NotoSansR',sans-serif;}
.opinionbox .conbox strong span.it {padding:6px 8px; border:2px solid #00aeb9; font-size:14px; color:#00aeb9; margin-right:10px;}
.opinionbox .conbox strong a{color:#000;}
.opinionbox .conbox .conboxTxt > p{height:72px; margin-top:20px;color:#666;line-height:1.3em;font-family:'NotoSansR',sans-serif; position:relative;}
.opinionbox .conbox .conboxTxt {padding-right:80px; position:relative; overflow:hidden;}
.opinionbox .conbox .more {position:absolute; bottom:0; right:-70px; padding-right:20px; font-size:14px; color:#999;}
.opinionbox .conbox .more:after {content:''; width:13px; height:8px; margin-top:-3px; background:url("../images/ico_more.png") no-repeat 0 0; position:absolute; top:50%; right:0; display:inline-block;}
.opinionbox .conbox .more a{display:inline-block;padding-right:22px;color:#666;}
.opinionbox .conbox .more a span{display:block;font-size:13px;font-family:'NotoSansR',sans-serif;}
.opinionbox .conbox .photoList{width:771px; overflow:hidden;margin:32px 0 0 -12px; white-space:nowrap;}
.opinionbox .conbox .photoList li{width:245px;height:163px;overflow:hidden;float:left;background:#f2f2f2;margin:0 0 12px 12px ;}
.opinionbox .conbox .photoList img{width:245px; height:163px;}

.opinionbox .commentCount{overflow:hidden;margin-top:12px;}
.opinionbox .commentCount p{float:left;color:#000;font-family:'NotoSansR',sans-serif;margin-top:7px;}
.opinionbox .commentCount p span{color:#999;}
.opinionbox .commentCount p span.pointRed{color:#f1645c;}
.opinionbox .commentCount p em {padding-left:10px; margin-left:8px; display:inline-block; color:#666; font-style:normal; position:relative;}
.opinionbox .commentCount p em:before {content:''; width:1px; height:13px; background:#e8e8e8; border-left:1px solid #f2f2f2; position:absolute; top:2px; left:0;}
.opinionbox .commentCount p em.pointBlue {color:#00aeb9;}
.opinionbox .commentCount .btnSizeS{float:right;}
.opinionbox.no .commentCount {margin-top:20px;}
.opinionbox.no .commentCount p {font-size:14px;}
.opinionbox.no .commentCount p span{color:#999;}

.opinionbox .commentArea{width:100%; overflow:hidden; background:#f8f8f8;}
.opinionbox .commentArea.noMoreBtn {padding-top:0}
.opinionbox .commentArea > p{text-align:center;}
.opinionbox .moreWrap {width:100%; text-align:center; margin-bottom:30px;}
.opinionbox .moreBtn{width:117px;height:30px;padding-left:23px;background:#fff;border-radius:14px;display:inline-block;text-align:left; position:relative;}
.opinionbox .moreBtn:after {content:''; width:13px; height:8px; margin-top:-4px; background:url("../images/ico_more.png") no-repeat 0 -8px; position:absolute; top:50%; right:15px; display:inline-block;}
.opinionbox .moreBtn span{padding-top:8px;display:block;color:#000;font-family:'NotoSansR',sans-serif;font-size:13px;}
.opinionbox .commentArea ul {padding:0 20px;}
.opinionbox .commentArea ul li{padding:30px 0 73px; overflow:hidden; position:relative;}
.opinionbox .commentArea ul li + li {border-top:1px solid #d9d9d9;}
.opinionbox .commentArea .date{text-align:right;color:#999; font-family:'NotoSansR',sans-serif; position:absolute; bottom:30px; right:30px; font-size:14px;}
.opinionbox p.opinionNum {width:100%; height:auto; overflow:hidden; font-size:14px; color:#000;}
.opinionbox p.opinionNum b {color:#999; font-weight:normal;}

.opinionbox .expert{position:relative;}
.opinionbox .expert:after{content:"";display:block;clear:both;}
.opinionbox i{min-width:16px;height:16px;display:inline-block;margin-left:10px; padding-right:23px;background:url("../images/ico_help.png") no-repeat right 0;font-style:normal; vertical-align:middle;}
.opinionbox i span{color:#f1645c;display:block;font-family:'NotoSansR',sans-serif; vertical-align:middle;}
.opinionbox i.on {background-position:right -16px;}
.opinionbox .commentName {width:236px;overflow:hidden;float:left;}
.opinionbox .name{width:100%; height:64px; display:table-cell; vertical-align:middle;}
.opinionbox .name > span{display:inline-block; vertical-align:middle;}
.opinionbox .name > span:first-child{width:64px;height:64px;overflow:hidden;background:#fff;border-radius:100%}
.opinionbox .name > span:first-child img{width:64px;}
.opinionbox .name > span:first-child + span{width:135px; margin:0 0 0 20px;}
.opinionbox .name span > em{font-style:normal;color:#f1645c;text-transform:uppercase;}
.opinionbox .name span > span{display:block;}
.opinionbox .name span > span:first-child{font-family:'NotoSansR',sans-serif;color:#000;font-size:16px;}
.opinionbox .name span > span:first-child,
.opinionbox .name span > span:first-child + span{font-family:'NotoSansR',sans-serif;}/*text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;*/
.opinionbox .name span > span:first-child + span{max-height:28px; margin-top:3px; font-size:14px; color:#666;}
.opinionbox .txt{width:480px;float:left;margin:14px 0 0 35px;line-height:1.3em;font-family:'NotoSansR',sans-serif;color:#333; font-size:14px;}
.opinionbox .txt a {color:#333;}

.opinionbox .commentInput{overflow:hidden; padding:20px; display:none; }
.opinionbox .showCommentInput .commentInput{ display:block; }
.opinionbox .commentInput .thumb{width:40px;float:left;}
.opinionbox .commentInput .thumb span{width:40px;height:40px;overflow:hidden;display:block;background:#fff;border-radius:100%;}
.opinionbox .commentInput .thumb span img{width:40px;}

.opinionbox .commentInput textarea.pullSize{width:562px;height:56px;float:left;margin-left:17px;}
.opinionbox .commentInput .confirmBtn{width:86px;height:30px;background:#999;color:#fff;float:right;border:0;border-radius:20px;font-family:'NotoSansR',sans-serif;}
.opinionbox .commentInput .commentTextarea {overflow:hidden; border:1px solid #d6d6d6; padding:18px 19px; background:#fff;}
.opinionbox .commentInput .commentTextarea textarea.pullSize {border:0; padding:0; margin:0;}
.opinionbox .commentInput .commentTextarea .commentBtn {width:100%; overflow:hidden;}
.opinionbox .commentInput .commentTextarea .commentBtn .thumb{float:left;}

.latelyOpinion{height:323px;padding:0 30px;background:#fff;border:1px solid #e6e6e6;display:none;}
.latelyOpinion ul li{padding:19px 0;border-top:1px solid #f2f2f2;}
.latelyOpinion ul li:first-child{border-top:0;}
.latelyOpinion ul li a{display:block;color:#333;}
.latelyOpinion ul li a > span{display:block;}
.latelyOpinion ul li a > span:first-child{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;font-size:16px;font-family:'NotoSansR',sans-serif;}
.latelyOpinion ul li a > span:first-child + span{margin-top:8px;}
.latelyOpinion ul li a > span > span{overflow:hidden;margin-left:10px;padding-left:10px;}
.latelyOpinion ul li a > span > span:first-child{position:relative;color:#999;margin-left:0;padding-left:0;}
.latelyOpinion ul li a > span > span:first-child:after{position:absolute;right:-13px;top:3px;content:"";display:block;width:1px;height:11px;background:#989898;}
.latelyOpinion ul li a > span > span em{color:#999;font-style:normal;}
.latelyOpinion ul li a > span > span em.pointRed{color:#f1645c;}

.expertHelp{height:490px;padding:0 30px;background:#fff;border:1px solid #e6e6e6;}
.expertHelp ul li{margin-top:20px;}
.expertHelp ul li a{display:block;overflow:hidden;color:#000;}
.expertHelp .thumb{width:96px;height:96px;overflow:hidden;background:#ccc;border-radius:100%;display:inline-block;float:left;}
.expertHelp .thumb img{width:96px;}
.expertHelp .info{width:120px;float:right;display:inline-block;margin-top:14px;font-family:'NotoSansR',sans-serif;}
.expertHelp .info strong,
.expertHelp .info span{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;line-height:1.2em;}
.expertHelp .info strong{font-size:13px;display:block;margin-bottom:12px;line-height:1.3em;}
.expertHelp .info span{display:block;letter-spacing:-1px;}
.expertHelp .info span em{color:#f1645c;font-style:normal;text-transform:uppercase;}
.expertHelp .info strong + span + span{color:#666;margin-top:4px;}

h2.optit{position:relative;height:68px;text-align:center;}
h2.optit:after{position:absolute;left:50%;bottom:0;content:"";display:block;width:25px;height:1px;background:#000;margin-left:-12px;}
h2.optit span{display:block;padding-top:30px;font-size:20px;font-family:'NotoSansR',sans-serif;color:#000;letter-spacing:-2px;}

.qna .btnWrap{border-top:1px solid #e8e8e8;padding-top:30px;margin-top:30px !important;}
.qna .picturesBox{height:302px;background:#f2f2f2 url("../images/ico_image.png") no-repeat center 82px;}
.qna .picturesBox > div{text-align:center;}
.qna .picturesBox > div:first-child{padding-top:152px;font-family:'NotoSansR',sans-serif;color:#999;}
.qna .picturesBox > div:first-child + div{margin-top:30px;}

.scrapBox{margin-top:20px;}
.scrapBox .scroll{height:244px;overflow-y:auto;}
.scrapBox ul{margin-top:20px;}
.scrapBox ul:first-child{margin-top:0;}
.scrapBox ul:after{content:"";display:block;clear:both;}
.scrapBox ul li{position:relative;width:91px;height:91px;overflow:hidden;float:left;background:#e5e5e5;margin-left:11px;cursor:pointer;}
.scrapBox ul li:first-child{margin-left:0;}
.scrapBox ul li img{width:91px;vertical-align:top;}
.scrapBox ul li i{position:absolute;top:10px;right:10px;width:24px;height:24px;display:inline-block;background:#ccc url("../images/ico_check.png") no-repeat 50%;border-radius:50%;text-align:center;font-style:normal;}
.scrapBox ul li i span{display:block;padding-top:2px;}
.scrapBox ul li.active{width:83px;height:83px;border:4px solid #f1645c;}
.scrapBox ul li.active i{background:#f1645c;color:#fff;}

.detailBox{position:relative;height:626px;background:#ccc;}
.detailBox a.prev,
.detailBox a.next{position:absolute;top:300px;width:30px;height:58px;display:block;overflow:hidden;background:url("../images/ico_slide_nav.png") no-repeat;}
.detailBox a.prev{left:30px;background-position:0 0;}
.detailBox a.next{right:30px;background-position:-34px 0;}
select.scrapSelect{width:530px;padding:9px 20px;border:1px solid #d6d6d6;border-radius:7px;font-family:'NotoSansM', sans-serif;color:#666;}

.paging {width:511px; margin:0 auto; padding:50px 0; }
.paging a {display:inline-block; color:#666; vertical-align:top;}
.paging > a { line-height:14px;}
.paging > a:first-child:before,
.paging > a:last-child:after {content:''; width:7px; height:14px; background:url('../images/btn_paging.png') 0 2px no-repeat; display:inline-block;}
.paging > a:first-child:before {margin-right:10px;}
.paging > a:last-child:after {margin-left:10px; background-position:-9px 2px;}
.paging span {margin:0 20px; padding:0 12px; position:relative; display:inline-block;}
.paging span:before,
.paging span:after {content:''; width:1px; height:14px; position:absolute; top:2px; background:#ccc;}
.paging span:before {left:0;}
.paging span:after {right:0;}
.paging span a {width:15px; padding:2px 8px; text-align:center; color:#999; line-height:1;}
.paging span a.on {color:#00aeb9;}