.btnG {width:100%; overflow:hidden;}
.pointRed {color:#f1645c;}
.btnG .cartChk.btnL + label {font-size:16px;}
.btnG .btnL {float:left;}
.btnG .btnR {float:right;}
.btnC {width:100%; margin-top:55px; text-align:center; overflow:hidden;}
.btnSizeL.btnColor02.btnWM {width:200px;}
.btnColor02.btnWL {width:300px;}

ul.tbList {width:100%; margin:0 auto; display:inline-block;}
ul.tbList li {width:97%; padding-left:11px; background:url('../images/bul_dot.png') 0 7px no-repeat; text-align:left; display:inline-block;}
ul.tbList li + li {margin-top:16px;}
ul.tbList li span {width:60%; text-align:right; float:right; display:inline-block;}
ul.tbList li span.tbListTit {width:40%; text-align:left; float:left;}
ul.tbList2 {width:528px; margin:0 auto;}
ul.tbList2 li span b {font-family:'RobotoB', 'NotoSansB', sans-serif;}
ul.tbList2 li {width:97%; padding-left:11px; background:url('../images/bul_dot2.png') 0 4px no-repeat; text-align:left; display:inline-block; color:#999;}
ul.tbList2 li + li {margin-top:10px;}

.payTb {margin-top:30px; font-family:'NotoSansB','RobotoB', sans-serif;}
.payTb ul.tbList {width:161px;}
.payTb ul.tbList li {width:148px;}
.payTb dl {border:1px solid #e5e5e5; border-top:1px solid #666; float:left; margin:0;}
.payTb dl.payS {width:358px;}
.payTb dl.payS dt {width:40%;}
.payTb dl.payS dd {width:60%;}
.payTb dl.payS2 dt div,
.payTb dl.payS2 dd div {height:57px;}
.payTb dl.payS2 dd div {width:186px; padding:0 30px;text-align:left;}
.payTb dl.payS2 + dl.payS2 {border-top:0;}
.payTb dl.payS2 + dl.payS2:after {content: ''; display:none;}
.payTb dl.payL {width:728px; margin:10px 0 0;}
.payTb dl.payL dd,
.payTb dl.payL dd div {width:588px;}
.payTb dl + dl {margin-left:10px;}
.payTb dl dt {width:140px; background:#f8f8f8; float:left; font-size:14px; font-family: 'RobotoR','NotoSansR', sans-serif; font-weight:bold;}
.payTb dl dd {width:216px; float:left; margin:0; font-family:'NotoSansR','RobotoR', sans-serif; font-size:14px;}
.payTb dl dt div,
.payTb dl dd div {width:100%; height:114px; display:table-cell; vertical-align:middle; margin:0; font-family:'RobotoR','NotoSansR', sans-serif; color:#333; text-align:center;}
.payTb dl dt div {width:140px; line-height:160%; padding:0 17px;}
.payTb dl dd div {width:216px;}
.payTb ul.pointBul {width:100%; overflow:hidden;}
.payTb ul.pointBul li {width:50%; float:left;}
.payTb ul.pointBul li p.tbBul { padding-left:11px; margin-left:30px; background:url('../images/bul_dot.png') 0 17px no-repeat; text-align:left; display:inline-block; font-size:14px;}
.payTb ul.pointBul li p.tbBul label + input[type=text] {margin:0 5px 0 10px;}
.payTb ul.pointBul li p.pointCk {margin:5px 0 0 20PX; text-align:left;}
.payTb p.underTxt {margin:15px 0 0 40px; text-align:left;}
.payTb dl.payHL div {height:156px;}
.payTb dl.payHL2 div {height:200px;}
.payTb ul.giveList {width:150px; overflow:hidden; margin:0 auto;}
.payTb ul.giveList li {width:50%; float:left; line-height:120%; text-align:left; font-family:'NotoSansR','RobotoR', sans-serif;}
.payTb ul.giveList li b {font-family:'NotoSansB','RobotoB', sans-serif;}
.payTb ul.giveList li.pc {float:right; text-align:right; padding-top:4px;}
.payTb {width:733px; float:left; display:inline-block; text-align:left; position:relative;}
.payTb dl.payS {position:relative;}
.payTb dl.payS:after {content: ''; width:40px; height:40px; position: absolute; top:38px; right:-26px; z-index:99;}
.payTbR {width:361px; float:right; overflow:hidden;}
.payTbR dl.payS + dl.payS {margin:10px 0 0;}
.payTb3 {width:100%;}
.payTb3 dl.payS {}
.payTb3 dl.payS dt{width:52%;}
.payTb3 dl.payS dd{width:48%;}
.payTb3 dl.payS dt div,
.payTb3 dl.payS dd div {height:62px;}
.payTb3 dl.payS:after {top:12px}
.payTb4 {width:100%; margin-bottom:10px;}
.payTb4 dl.payS {width:265px;}
.payTb4 dl.payS dt{width:42%;}
.payTb4 dl.payS dd{width:58%;}
.payTb4 dl.payS dd ul.tbList {width:124px;}
.payTb4 dl.payS dd ul.tbList li {width:124px; padding-left:6px;}
.payTb4 dl.payS dd div.txtL {text-align:left; padding-left:5px;}
.payTb4 {width:100%; margin-bottom:10px;}
.payTb dl.payS.equal:after {background:url('../images/ico_order.png') 0 -40px no-repeat;}
.payTb dl.payS.minus:after {background:url('../images/ico_order.png') 0 0 no-repeat;}
.payTb dl.payS.plus:after {background:url('../images/ico_order.png') 0 -80px no-repeat;}
span.price {font-size:20px; font-family:'NotoSansR','RobotoR', sans-serif;}
span.price b {font-family:'RobotoB','NotoSansB', sans-serif;}
span.price.pointRed {font-size:30px;}
span.price.fontL {font-size:22px;}
span.price.fontS {font-size:14px;}

.oder .secTit{font-family:'RobotoR','NotoSansR', sans-serif;font-size: 30px;color: #000;}

.oder .container .wrap{width: 100%; padding-top: 50px;}
.oder .singleCard{padding: 50px;}
.oder h2.secTit + h3.subTit {border-top:1px solid #666; margin-top:19px; padding-top:29px;}
.oder h3.subTit + .oderCont .tbSet {margin-top:20px;}
.oder h3.subTit + .oderCont .tbSet.lineN {margin-top:0;}
.oder .container input[type="text"]{width:230px; padding:10px 20px; border:1px solid #d6d6d6; border-radius:7px; font-family:'RobotoM','NotoSansM', sans-serif; color: #999; margin:0;}
.oder .container input[type="checkbox"]{position: absolute;opacity: 0;}
.oder .container textarea {width:743px; padding:10px 20px; border:1px solid #d6d6d6; border-radius:7px; font-family:'RobotoM','NotoSansM', sans-serif; color: #999;}
.oder .checkAgree {margin-top:18px;}
.oder .pointCk label {display:inline-block; text-align:left; font-family:'NotoSansR','RobotoR', sans-serif; font-size:14px;}
.oder .pointCk label:before{content: '';display: inline-block;width:26px; height:26px; margin-right: 10px;background: #fff url('../images/ico_checkG.png') no-repeat center;border:1px solid #d1d1d1; border-radius: 20%;vertical-align: middle;text-align:center;}
.oder .pointCk label.on:before{background:#fff url('../images/ico_checkR.png') center no-repeat;}
.oder .record{width: 100%;margin-top: 20px;border-top:1px solid #545454;border-bottom:1px solid #ccc;;font-family:'RobotoR','NotoSansR', sans-serif;font-size: 14px;text-align: center;line-height: 1.2em;letter-spacing:-0.5px}
.oder .record th, .oder .record td {border-bottom: 1px solid #e1e1e1}
.oder .record th{padding: 20px;background: #f8f8f8;color: #333;}
.oder .record td{padding: 15px;}

.oder .oderCont {width:100%; display:inline-block;}
.oder .oderCont .tbSet .tbSBg table td span.companyInfo + a.btnSizeS {margin-left:30px; font-family:'NotoSansR','RobotoR', sans-serif;}
.oder .oderCont table.lineS th {border-bottom:1px solid #e8e8e8;}
.oder .oderCont table.lineS td {padding:20px 30px; text-align:left; color:#666; font-family:'NotoSansR','RobotoR', sans-serif;}
.oder .oderCont table.lineS th.lineL,
.oder .oderCont table.lineS td.lineL {border-left:1px solid #e8e8e8;}
.oder .oderCont table.lineS ul.tbList2 {width:100%;}
.oder .oderCont table.lineS ul.tbList2 li {padding-left:8px; color:#666; line-height:23px; background-position:0 9px;}
.oder .oderCont table.lineS ul.tbList2 li + li {margin-top:0;}

.oder .oderCont select{padding:10px 10px; border:1px solid #d6d6d6; border-radius:7px;color: #999;}
.oder .oderCont .underTxt {font-size:14px; color:#999; font-family:'NotoSansR','RobotoR', sans-serif;}

.oder .oderCont + h3.subTit {margin-top:39px; }
.oder .oderCont .pay,
.oder .oderCont .oderTbW {width:100%; display:inline-block;}
.oder .oderCont .oderTb.lineN {border-top:0;}
.oder .oderCont .oderTb {width:100%; display:inline-block; border-top:1px solid #545454;}
.oder .oderCont .oderTb table tr th,
.oder .oderCont .oderTb table tr td {border:1px solid #e8e8e8;}
.oder .oderCont .oderTb table tr td {text-align:left;}
.oder .oderCont .oderTb table tr th {text-align:center;}
.oder .oderCont .oderTb + .adrArea {width:100%; overflow:hidden; border-bottom:1px solid #ccc;}
.oder .oderCont ul.pdLt,
.oder .oderCont p.pdLt {margin-left:20px;}
.oder .oderCont p.pdLt a + a {margin-left:10px;;}

.oder .oderCont .tbHf {width:542px; float:left; display:inline-block;}
.oder .oderCont .tbHf + .tbHf {float:right;}
.oder .oderCont .tbHf .oderTb table {width:99.8%;}
.oder .oderCont .tbHf .oderTb table tr th {height:42px;}
.oder .oderCont .oderTb table tr td ul.noBul {width:100%; overflow:hidden; margin:23px 0;}
.oder .oderCont .oderTb table tr td ul.noBul li {width:100%; font-family:'RobotoL','NotoSansL', sans-serif;}
.oder .oderCont .oderTb table tr td ul.noBul li b {font-family:'RobotoR','NotoSansR', sans-serif;}
.oder .oderCont .oderTb table tr td ul.noBul li + li {width:100%; margin-top:15px;}
.oder .oderCont .oderTb table tr td ul.noBul li p.inp4 {width:100%;}
.oder .oderCont .oderTb table tr td ul.noBul li select + p {margin-top:10px;}
.oder .oderCont .oderTb table tr td ul.noBul li span + span {margin-left:20px;;}
.oder .oderCont .oderTb table tr td ul.noBul li a.radioBtn {color:#666;}
.oder .oderCont .oderTb table tr td ul.noBul li .on a.radioBtn label {color:#000;}
.oder .oderCont .oderTb table tr td ul.noBul li a.radioBtn label:before{top:0;}
.oder .oderCont .oderTb table tr td ul.noBul li a.radioBtn label {padding:2px 0 2px 22px; }
.oder .oderCont .oderTb table tr td ul.noBul2 {width:100%; overflow:hidden; margin:45px 0;}
.oder .oderCont .oderTb table tr td ul.noBul2 li {width:100%; font-family:'RobotoR','NotoSansR', sans-serif; font-size:13px; color:#666; line-height:20px;}
.oder .oderCont .oderTb table tr td ul.noBul2 li b {color:#333;}
.oder .oderCont .oderTb table tr td ul.noBul2 li + li {width:100%; margin-top:15px;}
.oder .oderCont .oderTb table tr td ul.noBul2 li a.btnSizeS {font-family:'NotoSansR','RobotoR', sans-serif;}
.oder .oderCont .oderTb table tr td ul.noBul .tabWrap + div {margin-top:20px;}
.oder .oderCont .oderTb table tr.total td {height:118px;}
.oder .oderCont .oderTb table tr.total2 td {height:456px;}
.oder .oderCont .oderTb table tr.total3 td {height:89px;}
.oder .oderCont .oderTb table tr.total4 td {height:202px;}
.oder .oderCont .oderTb table tr.total5 td {height:539px;}
.oder .oderCont .oderTb table tr.total6 td {height:173px;}
.oder .oderCont .oderTb table tr td.cashH {height:216px;}
.oder .oderCont .oderTb table tr td.pointH {height:58px;}
.oder .oderCont .agreeBox { width:1019px; padding:40px 40px 32px; margin-top:20px; overflow:hidden; border-top:1px solid #545454; border-bottom:1px solid #e8e8e8; background:#fafafa;}
.oder .oderCont .agreeBox .agreeCont {width:942px; height:220px; padding:38px; border:1px solid #e1e1e1; background:#fff; overflow-y:scroll;}
.oder .oderCont .agreeBox .agreeCont p {color:#666;}
.oder .oderCont .agreeBox .agreeCont p + p {margin-top:30px; line-height:130%;}
.oder .oderCont .payTab {width:100%; margin-top:20px; padding:30px 0; border-top:1px solid #545454; overflow:hidden;}
.oder .oderCont .payTab fieldset legend {width:0; height:0; overflow:hidden; position:absolute; top:-999; left:-999; line-height:100%; visibility:hidden;}
.oder .oderCont .payTab a {margin-left:42px; display:inline-block; color:#666;}
.oder .oderCont .payTab a + a {margin-left:32px;}
.oder .oderCont .payTab + div div table {margin-top:0;}
.oder .oderCont .radioBtn {position:relative;}
.oder .oderCont .radioBtn input[type="radio"] {width:18px; height:18px; margin:0; opacity:0; line-height:100%; overflow:hidden; position:absolute;}
.oder .oderCont .radioBtn label {padding:2px 0 2px 23px; display:inline-block;}
.oder .oderCont .radioBtn label:before {content:''; width:18px; height:18px; background:url('../images/ico_radio.png') 0 -18px no-repeat; position:absolute; top:1px; left:0; display:inline-block;}
.oder .oderCont .on .radioBtn label {color:#000;}
.oder .oderCont .on .radioBtn label:before {background-position:0 0;}

.oder .oderCont ul.homeType {width:100%; overflow:hidden;}
.oder .oderCont ul.homeType li {width:64px; padding-top:78px; float:left; background:url('../images/ico_home_type.png') 0 0 no-repeat; color:#666; font-family:'NotoSansR', 'RobotoR', sans-serif; font-size:14px;}
.oder .oderCont ul.homeType li + li {margin-left:71px;}
.oder .oderCont ul.homeType li.hType01 {background-position:0 0;}
.oder .oderCont ul.homeType li.hType02 {background-position:0 0;}
.oder .oderCont ul.homeType li.hType03 {background-position:0 0;}
.oder .oderCont ul.homeType li.hType04 {background-position:0 0;}
.oder .oderCont ul.homeSize {width:100%; overflow:hidden;}
.oder .oderCont ul.homeSize li {width:124px; float:left; color:#666; font-family:'NotoSansR', 'RobotoR', sans-serif; font-size:14px;}
.oder .oderCont ul.homeSize li + li {margin-left:10px;}
.oder .oderCont ul.homeReason {width:100%; overflow:hidden;}
.oder .oderCont ul.homeReason li {float:left; color:#666; font-family:'NotoSansR', 'RobotoR', sans-serif; font-size:14px;}
.oder .oderCont ul.homeReason li + li {margin-left:30px;}
.oder .oderCont ul.homeReason + input[type="text"]{margin-top:20px;}

.oder h2.secTit.setTitC {width:100%; text-align:center;display:inline-block; font-size:30px;}
.oder .completeBox {width:100%; margin-top:22px; padding:65px 0; overflow:hidden; border-top:1px solid #666; border-bottom:1px solid #ccc; text-align:center;}
.oder .completeBox p {font-size:20px; color:#666; font-family:'NotoSansR', 'RobotoR', sans-serif; line-height:30px;}
.oder .completeBox p.tit {font-size:30px;}
.oder .completeBox p + p {margin-top:27px;}
.oder .completeBox p b {color:#000;}
.oder .completeBox p span.pointRed {text-decoration:underline;}
.oder .completeBox + h3.subTit {margin-top:57px;}

.icoTitle {display:inline-block;width:10px;height:18px;background:url(../images/ico_title.png) 0 0 no-repeat;margin:0 12px;}