/* manager */
.managerList .container .wrap{padding-top: 80px;}
.managerList{background: #48484a;}
.managerList .topMenu{background: #fff !important;}
.managerList .topTit{position: absolute;top: 400px;width:50%;right: 0;background:none;text-align: right;z-index: 4;}
.managerList .subTop .wrap{overflow: visible;padding: 0;}
.managerList .subTit{margin-right: 60px;color: #fff;}
.managerList .subTit b{color: #aa7d71;}
.managerList .pageTit{height: 120px;background-position:90px 0;}
.managerList .bx-wrapper{width: 100%;min-height: 662px;}
.managerList .bx-wrapper li{overflow: hidden;min-height: 662px;}
.managerList .bx-wrapper img{display: block;height: 100%;}
.managerList .slideCon{position: absolute;top:0;left: 50%;width: 600px;height: 430px;margin:120px 0 0 -460px;z-index: 5}
.managerList .slideCon a{display: none;color: #fff;padding: 90px 0 0 300px;height: 100%;text-align: left;}
.managerList #slideCon00{display: block;}
.managerList .slideCon a .italicNum{font-size: 50px;}
.managerList .slideCon a .subTxt{margin-top: 15px;color: #aa7d71;font-family:'NotoSansL', sans-serif;}
.managerList .slideCon a .name{margin-top: 5px;font-family:'NotoSansT', sans-serif;font-size: 66px;}

.managerList .managerPager{position: relative;width: 1220px;margin:0 auto;z-index: 3}
.managerList .managerPager a{position: absolute;display: block;width: 174px;height: 201px;background: url('../images/manager_thumb.png') no-repeat;font-size: 0;}
.managerList .managerPager .bx-prev{top: 70px;right: 180px;background-position: -348px 0;}
.managerList .managerPager .bx-next{top: 233px;right: 81px;background-position: -174px 0;}

.managerList .tabType01{padding-left:45px;width: auto; }
.managerList .tabType01 a{color: #fff;}
.managerList .tabType01 .on a{background: none}
.managerList .tabType01 .on a:before{content:'';position: absolute;top: 5px;left: 0;width: 100%;height: 13px;background: rgba(170,125,113,.3)}

.managerList .serchPro{;position:relative;width: 1220px;margin:0 auto;z-index: 2}
.managerList .serchPro li{position: absolute;left: 772px;top: -85px;}
.managerList .serchPro .hexagon{background: #aa7d71;}
.managerList .serchPro .cardCon{padding-top: 55px;}
.managerList .serchPro .cardCon:after{display: none;}
.managerList .serchPro p{position: relative;}
.managerList .serchPro h2{margin-top: 20px;color: #fff;font-size: 18px;font-family:'NotoSansL', sans-serif;line-height: 1.2em;}
.managerList .serchPro h2 b{font-family:'NotoSansM', sans-serif;}
.managerList .serchPro input{width: 175px;margin: 10px auto;padding-right: 30px;border:0;}
.managerList .serchPro label{position: absolute;top: 25px;right:30px;font-size: 0;width: 14px;height: 14px;background: url('../images/btn_searchB.png') no-repeat;}
.managerList .serchPro button{width: 225px;background: #000;color: #fff;font-family:'NotoSansL', sans-serif;line-height: 40px;border:0;outline: 0;}

.managerList #cardWrap{padding-top: 75px;}

/* brand */
.singleCard .bx-wrapper{overflow: visible !important;position: relative;width:795px;z-index: 1;margin: 0 auto;}
.singleCard .bx-viewport{overflow: visible !important;}
.singleCard #infoSlider img{display: block;width: 100%;}
.singleCard .bx-wrapper .bx-controls-direction .bx-prev{left: 80px;}
.singleCard .bx-wrapper .bx-controls-direction .bx-next{right: 80px;}

.singleCard #content{margin-top:50px;padding-bottom:20px;}
.singleCard #content p{font-size: 16px;color: #000;line-height: 1.6em;}
.singleCard .conTit{clear:both;margin-top:80px;font-family:'NotoSansM', sans-serif;color: #000;font-size: 20px;}
.singleCard .url{display: block;margin-top:30px;font-size: 14px;font-family:'NotoSansL', sans-serif;color:#a9c700;}

.contentCard .secTit{margin-top:60px;padding-left: 10px;font-size: 30px;color: #000;font-family:'NotoSansR', sans-serif;}
.contentCard .relateTag{margin-top:25px;}
.contentCard .relateTag li{display: inline-block;margin:6px 5px;}
.contentCard .relateTag li a{display: inline-block;padding: 20px 35px;background: #fff;border-radius: 30px;box-shadow: 0px 3px rgba(0,0,0,0.1);font-size: 20px;font-family:'NotoSansR', sans-serif;color: #333;}

