/* magazine */
.magazine .subTop{width: 100%;height: 960px;padding-top: 60px;background: url('../images/bg_magazine.jpg') no-repeat center top;}
.magazine .subTop .wrap{overflow: visible;padding: 0;}
.magazine .subTop + .wrap{margin-top: -275px;}
.magazine #popularList{padding: 0;margin:0;}
.magazine .pageTit{float: right;width: 550px;height: 135px;background-position: 0 -124px;}
.magazine .subTop .subTit{float: right;width: 550px;margin-top: 65px;text-align: left;font-size: 25px;font-family:'NotoSansL', sans-serif;}
.magazine .subTop .subTit b{font-family:'NotoSansM', sans-serif;color: #000;}

.magazine #popularList li{position: relative;margin-left: 20px;margin-top: 48px;padding: 0}
.magazine #popularList .hexagon{top: 0;}
.magazine #popularList .cardLine{background: rgba(168,217,226,.8)}
.magazine #popularList .cardSize04{overflow: visible;height: 681px;margin-left:0;margin-top: 0;}
.magazine #popularList .cardSize04 .cardLine{width: 326px;top: 83px;left: -15px;}
.magazine #popularList .cardSize04 .cardLine:before{left: -18px;content:'';position: absolute;width: 0;height: 0;border-top: 30px solid transparent;border-right: 18px solid rgba(168,217,226,.8);border-bottom: 0 solid transparent;}
.magazine #popularList .cardSize04 .hexagon{box-shadow: 0 0 30px rgba(0,0,0,0.4);}
.magazine #popularList .cardSize04 .hexTop, .magazine #popularList .cardSize04 .hexBottom {box-shadow: 0 0 30px rgba(0,0,0,0.4);}
.magazine #popularList .cardSize04 .cardCon:before{content:'';display: inline-block;width: 0;height: 100%;vertical-align: middle; }
.magazine #popularList .cardSize04 .cardDetail{display: inline-block;vertical-align: middle;} 
.magazine #popularList .cardSize04 .cardTit{font-size: 60px;}
.magazine #popularList .cardTit{font-family:'NotoSansL', sans-serif;}
.magazine #popularList .cardTit b{font-family:'NotoSansM', sans-serif;}
.magazine #popularList .num{display:block;width: 48px;height: 26px;margin: 10px auto;padding: 15px 0;background: url('../images/bg_magazine_num.png') no-repeat;background-position: -102px -30px;text-align: center;font-size: 26px;}
.magazine #popularList .recommend{font-size: 14px;}
.magazine #popularList .cardSize04 .recommend{font-size: 20px;}
.magazine #popularList .cardSize04 .num{width: 98px;height: 50px;margin: 20px auto;padding: 31px 0;font-size: 50px;background-position: 0 0}
.magazine #popularList li:last-child{position: absolute;top: 610px;left: 0;margin: 0;}
.magazine .wrap{clear: both;}

.magazine .cardWrap{padding-top: 80px;}
.magazine .cardCon:after{display: none;}
.magazine .cardTit b{font-family:'NotoSansM', sans-serif;}

.magazine .block{width: 590px;height: 160px;}
.magazine .bestKey .cardTit{margin-top: 0;}
.magazine .bestKey .cardTit span{display: block;font-size: 16px;color: #b2b2b2;line-height: 1em;}
.magazine .bestKey li{position: relative;}
.magazine .bestKey li:first-child b,
.magazine .bestKey li:nth-child(2)  b,
.magazine .bestKey li:nth-child(3)  b{color: #f1645c;}
.magazine .bestKey li b{color: #a9c700;}
.magazine .bestKey li:after{content:'';position: absolute;right: 0;top: 11px;}
.magazine .bestKey li.up:after{width: 0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 8px solid #f1645c;}
.magazine .bestKey li.down:after{width: 0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 8px solid #a9c700;}
.magazine .bestKey li.even:after{top: 15px;width: 10px;height: 2px;background: #b1b1b1;}
.magazine .bestKey li a{display: block;}
.magazine .bestKey .bx-wrapper{margin-top: 40px;padding:0 10px 0 20px;}
.magazine .bestKey .keyword{text-align: left;font-size: 16px;color: #000;line-height: 2em}
.magazine .bestKey .bx-controls{margin-top: 20px;}
.magazine .bestKey .bx-pager-item{display: inline-block;width: 20px;height: 20px;font-size: 0;}
.magazine .bestKey .bx-pager-item a{display: block;width: 100%;height: 100%;background: url('../images/bg_keyword_pager.png') center bottom;}
.magazine .bestKey .bx-pager-item a.active{background-position: center top}
